Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Add FXIOS-11119 [App Icon 2025] Upgrade our existing icons to use a more polished tinted version. (#25032)
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-tinted.png
Owners: @mozilla-mobile/fxios-eng

Bump iOS version for firebase test
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Update unit tests for telemetry changes.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/AppIconSelection/AppIconSelectionTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Update SPM to rust-components 137.0.0
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Replaced logins MZKeychainWrapper calls with RustKeychain calls
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/Rust/RustLogins.swift
  firefox-ios/Storage/RustKeychain.swift
  firefox-ios/nimbus-features/rustKeychainRefactor.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Bump - Update SPM to rust-components 137.0.0 (#25090)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

WIP
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayDiffableDataSource.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

WIP
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

feedback changes
  firefox-ios/Providers/Profile.swift
  firefox-ios/Storage/Rust/RustFirefoxSuggest.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10852 ⁃ [iPad] - Weird behavior of tabs after a specific scenario (#25002)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4340 - for bookmark and navigation tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Bump version number for stickers (#25080)
  firefox-ios/sticker/Info.plist
Owners: @mozilla-mobile/fxios-eng

Add build step to update sticker version number
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-11514 #25069 ⁃ Weird behavior when closing all tabs
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Refactor MTE-4328 Use m2 machine on Bitrise (#25053)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

[MOB-3253] TopSite Regression Fix (#861)
  BrowserKit/Sources/SiteImageView/Entities/SiteImageModel.swift
  firefox-ios/Client/Ecosia/Frontend/Home/TopSites/Cell/EcosiaTopSiteItemCell.swift
  firefox-ios/Client/Ecosia/UI/NTP/Impact/ClimateImpactInfo.swift
  firefox-ios/Client/Ecosia/UI/Onboarding/WelcomeTourRow.swift
  firefox-ios/Ecosia/UI/Common.xcassets/Contents.json
  firefox-ios/Ecosia/UI/Common.xcassets/financialReports.imageset/Contents.json
  firefox-ios/Ecosia/UI/Common.xcassets/financialReports.imageset/financialReports.pdf
  firefox-ios/Ecosia/UI/Common.xcassets/privacy.imageset/Contents.json
  firefox-ios/Ecosia/UI/Common.xcassets/privacy.imageset/privacy.pdf
  firefox-ios/Ecosia/UI/Common.xcassets/treesUpdate.imageset/Contents.json
  firefox-ios/Ecosia/UI/Common.xcassets/treesUpdate.imageset/treesUpdate.pdf
  firefox-ios/Storage/DefaultSuggestedSites.swift
  firefox-ios/WidgetKit/OpenTabs/OpenTabsWidget.swift
  firefox-ios/WidgetKit/TopSites/TopSitesWidget.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4340 - for bookmark and navigation tests (#25096)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Fixes MTE-4340 - for bookmark and navigation tests (#25096)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Implement AddressToolbarUXConfiguration
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarState.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/CompactBrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11532 [Sticker] Update sticker build number during Bitrise build (#25099)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11532 [Sticker] Update sticker build number during Bitrise build (#25099)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Address PR comments
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11454 [Toolbar UI Experiments] Update navigation toolbar redux (#25064)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Implement centering in LocationView
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

refactor
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Handle url text field placeholder when is not editing
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11426 #24868 [Settings] Create Autofills & passwords (#25009)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/AutoFillPasswordSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/GeneralSettingsDelegate.swift
  firefox-ios/Client/Frontend/Settings/Main/Privacy/AutofillPasswordSetting.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11426 #24868 [Settings] Create Autofills & passwords (#25009)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/AutoFillPasswordSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/GeneralSettingsDelegate.swift
  firefox-ios/Client/Frontend/Settings/Main/Privacy/AutofillPasswordSetting.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Remove FXIOS-11484 #24980 Toolbar Autocomplete URL from the list of top sites (#25040)
  firefox-ios/Client/Frontend/Browser/SearchLoader.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11484 #24980 Toolbar Autocomplete URL from the list of top sites (#25040)
  firefox-ios/Client/Frontend/Browser/SearchLoader.swift
Owners: @mozilla-mobile/fxios-eng

fix: ical blob url crash
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10741 #23449 ⁃ UI glitch when user scrolls in Data management - Website Data page (#25050)
  firefox-ios/Client/Frontend/Settings/WebsiteDataManagement/WebsiteDataManagementViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10741 #23449 ⁃ UI glitch when user scrolls in Data management - Website Data page (#25050)
  firefox-ios/Client/Frontend/Settings/WebsiteDataManagement/WebsiteDataManagementViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11518 [iOS Menu redesign] - Pdf saved as blank after a specific scenario
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Correct constraints in both version
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Use updated back/forward buttons
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Rename showQRPageAction to isEmptySearch
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Try version=18.0
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

mockProfile fix
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
Owners: @mozilla-mobile/fxios-eng

Refactor Robo tests on iOS 18.0 (#25112)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1
