Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Preliminary work
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Fixed any lint issues and is currently in the process of debugging.
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

completed lockscreen ui
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

added checkmark
  firefox-ios/WidgetKit/Assets.xcassets/checkmarkLarge.imageset/Contents.json
  firefox-ios/WidgetKit/Assets.xcassets/checkmarkLarge.imageset/checkmarkLarge.pdf
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

initial implementation
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

tweak icon
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

added mediaStop
  firefox-ios/WidgetKit/Assets.xcassets/mediaStop.imageset/Contents.json
  firefox-ios/WidgetKit/Assets.xcassets/mediaStop.imageset/mediaStop.pdf
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Added compact Dynamic Island view for compactLeading and compactTrailing
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11564 Avoid force unwrap for nil URL (#25172)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix comments for strings with placeables
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Pro Tips/TipManager.swift
  focus-ios/Blockzilla/UIComponents/UIConstants.swift
Owners: @mozilla-mobile/fxios-eng

Decrease warning and error threshold
  .swiftlint.yml
Owners: @mozilla-mobile/fxios-eng

Extract the label view
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show label
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Extract the logo view
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show logo
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Extract the icon view
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show icon
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Extract the background view
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show background
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Extract the title view
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show title
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Extract the subtitle view
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show subtitle
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Extract the top button view
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show top button
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Extract the bottom button view
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show bottom button
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Extract the close button view
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show close button
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Add access modifier
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Add access modifier
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Add access modifier
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Add access modifier
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
Owners: @mozilla-mobile/fxios-eng

Escape spaces in URL paths with default scheme
  firefox-ios/Client/Frontend/Browser/URIFixup.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  firefox-ios/Client/Frontend/Settings/Main/Support/SendDataSetting.swift
Owners: @mozilla-mobile/fxios-eng

Severl MTE-4375 - fixed for tests on iOS 17 and 15
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add MTE-4297 - activity shortcuts tests
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add string for cancel button
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add actionLabel / title for toolbar buttons
  BrowserKit/Sources/ToolbarKit/ToolbarElement.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarActionConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Show cancel button in browser actions in edit mode
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
