Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

fix buttons
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Just one title
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

We can use less buttons
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Report to sandbox channel
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Use fields again
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix log file upload
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Use swift strict concurrency warnings
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix upload
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

New pipeline just for new flag
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Do we have buttons?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12796 [Swift 6 Migration] removeTopSites warning
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSiteHistoryManager.swift
  firefox-ios/Storage/PinnedSites.swift
  firefox-ios/Storage/SQL/SQLitePinnedSites.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockTopSiteHistoryManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockTopSitesManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockablePinnedSites.swift
Owners: @mozilla-mobile/fxios-eng

clean up
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add TestRail link
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
Owners: @mozilla-mobile/fxios-automation-1

address feedback and add tests
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSiteHistoryManager.swift
  firefox-ios/Storage/SQL/SQLitePinnedSites.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockTopSitesManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

remove using non-Sendable Result type
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSiteHistoryManager.swift
  firefox-ios/Storage/PinnedSites.swift
  firefox-ios/Storage/SQL/SQLitePinnedSites.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockTopSiteHistoryManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockablePinnedSites.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12729 #27721 ⁃ Tab/Address bar autohide/autoreveal is incredibly annoying (#28069)
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Add main actor conformance to UIImage+extension method (#28107)
  firefox-ios/Client/Extensions/UIImage+Extension.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Add main actor conformance to Swipe Animator and TabDisplayView related Protocols (#28110)
  firefox-ios/Client/Frontend/Browser/SwipeAnimator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabPeekViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] removeTopSites warning (#28089)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSiteHistoryManager.swift
  firefox-ios/Storage/PinnedSites.swift
  firefox-ios/Storage/SQL/SQLitePinnedSites.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockTopSiteHistoryManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockTopSitesManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockablePinnedSites.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix build error
  firefox-ios/Client/Protocols/CanRemoveQuickActionBookmark.swift
Owners: @mozilla-mobile/fxios-eng

bvc round 1 and browser coordinator
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserDelegate.swift
  firefox-ios/Client/Coordinators/EnhancedTrackingProtectionCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BackForwardListViewController.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/QRCodeViewController.swift
  firefox-ios/Client/Frontend/Browser/Search/SearchViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Home/HomePanelDelegate.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/FxBookmarkNode.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/BookmarksSaver.swift
  firefox-ios/Client/Frontend/Settings/SearchBar/SearchBarSettingsViewModel.swift
  firefox-ios/Client/Protocols/CanRemoveQuickActionBookmark.swift
Owners: @mozilla-mobile/fxios-eng

better logic + comments
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix merge conflict issue
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12822] Additional fix, assume octet stream if no MIME type available
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Fix under-specified protocols for `LibraryPanel` (#28042)
  firefox-ios/Client/Frontend/Library/LibraryPanelHelper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/Legacy/LegacyBookmarksPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/DownloadsPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/HistoryPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/ReadingListPanelTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12822 Bugzilla #1976296 (Part 2) (#28071)
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

feat: add client for litellm
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

fix: lint
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

feat: add tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/LiteLLMClientTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: address feedback
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/LiteLLMClientTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove additional client
  firefox-ios/firefox-ios-tests/Tests/ClientTests/LiteLLMClientTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: split into different files
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMClientError.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMMessage.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMResponse.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMRole.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMStreamDelegate.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMStreamResponse.swift
Owners: @mozilla-mobile/fxios-eng

fix: move delegate inside class instead of extension
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

fix: struct rename
  firefox-ios/firefox-ios-tests/Tests/ClientTests/LiteLLMClientTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: use createSubject
  firefox-ios/firefox-ios-tests/Tests/ClientTests/LiteLLMClientTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: address feedback
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMClientError.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMRole.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/LiteLLMClientTests.swift
Owners: @mozilla-mobile/fxios-eng

fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/CanRemoveQuickActionBookmarkTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockFxBookmarkNode.swift
Owners: @mozilla-mobile/fxios-eng

Remove another batch
  firefox-ios/Client/Coordinators/Library/LibraryCoordinator.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/BookmarksSaver.swift
Owners: @mozilla-mobile/fxios-eng

Remove legacy bookmark files
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Bookmarks/LegacyBookmarksCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LegacyBookmarkDetailPanel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LegacyBookmarksPanel.swift
Owners: @mozilla-mobile/fxios-eng

Another batch
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
