Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Only run tests 10 times each
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix incorrect string
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

(WIP)(Local AS flow) Nightly auto-update (143.0.20250808050414)
  MozillaRustComponents/Package.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/Metrics/Metrics.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/tracing.swift
Owners: @mozilla-mobile/fxios-eng

Only run tests 3 times each
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

remove superfluous shortcuts library middleware
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Frontend/ShortcutsLibrary/ShortcutsLibraryAction.swift
  firefox-ios/Client/Frontend/ShortcutsLibrary/ShortcutsLibraryMiddleware.swift
  firefox-ios/Client/Frontend/ShortcutsLibrary/ShortcutsLibraryState.swift
Owners: @mozilla-mobile/fxios-eng

forgot to commit proj file
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

proj reorg
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/ShortcutsLibrary/ShortcutsLibraryViewController.swift
Owners: @mozilla-mobile/fxios-eng

Increase unit test threshold warnings by 2.
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

fix: bump warning count
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

[NO_TICKET] Bump warning count from 15 to 17 (#28561)
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

add shortcuts redux state
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Frontend/ShortcutsLibrary/ShortcutsLibraryAction.swift
  firefox-ios/Client/Frontend/ShortcutsLibrary/ShortcutsLibraryState.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenAction.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenState.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
Owners: @mozilla-mobile/fxios-eng

fix handling updated sites state
  firefox-ios/Client/Frontend/ShortcutsLibrary/ShortcutsLibraryState.swift
Owners: @mozilla-mobile/fxios-eng

add unit tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ShortcutsLibrary/ShortcutsLibraryStateTests.swift
Owners: @mozilla-mobile/fxios-eng

add tests and clean up
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Summarizer/SummarizerMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockSummarizationChecker.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-13118 [Shake to Summarize] remove shake animation when summarizer not available
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserNavigationType.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Summarizer/SummarizeAction.swift
  firefox-ios/Client/Frontend/Summarizer/SummarizeMiddleware.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
Owners: @mozilla-mobile/fxios-eng

update tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] ComponentLibrary - Fix actor isolation warnings in nonisolated `handleNotifications()` method (#28544)
  BrowserKit/Sources/ComponentLibrary/Buttons/CloseButton.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-13092 [StartAtHome] tab manager not found
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeAction.swift
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

add more logs
  firefox-ios/Client/Application/WindowManager.swift
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Update L10n tests for the current state of FF iOS
  firefox-ios/firefox-ios-tests/Tests/L10nSnapshotTests/L10nSuite1SnapshotTests.swift
  firefox-ios/firefox-ios-tests/Tests/L10nSnapshotTests/L10nSuite2SnapshotTests.swift
Owners: @mozilla-mobile/fxios-eng

Additional logs for missing tab manager issues
  firefox-ios/Client/Application/WindowManager.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

create diffable data source
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/ShortcutsLibrary/ShortcutsLibraryDiffableDataSource.swift
  firefox-ios/Client/Frontend/ShortcutsLibrary/ShortcutsLibraryViewController.swift
Owners: @mozilla-mobile/fxios-eng

fixing test for TabScrollHandler
  firefox-ios/Client/Frontend/Browser/TabScrollController/LegacyTabScrollController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollHandler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollHandlerTests.swift
Owners: @mozilla-mobile/fxios-eng

Revert flag and fix condition
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollHandler.swift
Owners: @mozilla-mobile/fxios-eng

Add constraint configuration for TabScrollHandler
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update LegacyTabScrollController constraints and remove constraints
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/LegacyTabScrollController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollHandler.swift
Owners: @mozilla-mobile/fxios-eng

Add common protocol to support both versions
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/LegacyTabScrollController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollHandler.swift
Owners: @mozilla-mobile/fxios-eng

make the test work for now, logic will continue to change
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollHandler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollHandlerTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove all view, offset and height properties and logic
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollHandler.swift
Owners: @mozilla-mobile/fxios-eng

Move configure toolbar views to legacy protocol and fix test
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/LegacyTabScrollController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/LegacyTabScrollControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

remove mainActor
  firefox-ios/Client/Frontend/Browser/TabScrollController/LegacyTabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

unit tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ShortcutsLibrary/ShortcutsLibraryDiffableDataSourceTests.swift
Owners: @mozilla-mobile/fxios-eng

Need to swipe to the top to see "Sync Now"
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Additional logs for BVC activation
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

disable
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Nimbus/TestData/homepageRedesignOff.json
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FeatureFlaggedTestBase.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

turn off homepage redesign for all ui tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FeatureFlaggedTestBase.swift
Owners: @mozilla-mobile/fxios-automation-1

Adding FIXMEs to suppress warnings that need larger refactors to fix.
  BrowserKit/Sources/Common/Constants/BrowserKitInformation.swift
  BrowserKit/Sources/Common/DependencyInjection/AppContainer.swift
Owners: @mozilla-mobile/fxios-eng

updated placeholder string
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix main actor isolation warnings in MenuHelper.
  BrowserKit/Sources/Common/Utilities/MenuHelper/MenuHelper.swift
Owners: @mozilla-mobile/fxios-eng

Isolate ThemeManager, DefaultThemeManager, ReaderModeStyle, and ReaderModeTheme to the main actor.
  BrowserKit/Sources/Common/ReaderMode/ReaderModeStyle.swift
  BrowserKit/Sources/Common/ReaderMode/ReaderModeTheme.swift
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
