Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Correctly cancel and complete record deeplink startup
  firefox-ios/Client/Application/SceneDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Scene/SceneCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Show different string when more than 99 tabs are open
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11405 [Toolbar] Show number of open tabs in large content viewer (#24836)
  BrowserKit/Sources/ToolbarKit/TabNumberButton.swift
  BrowserKit/Sources/ToolbarKit/ToolbarElement.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarActionConfiguration.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Adjusted and Added TabManagerTests
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Added comment
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Removed unused weak selfs
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Updated MTE-4277 - credit card tests (#24892)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Updated MTE-4277 - credit card tests (#24892)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-10415 #22808 ⁃ [Menu redesign] - Incorrect menu icon for zoomed out webpage
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Changed 1.0 to regularZoom
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
Owners: @mozilla-mobile/fxios-eng

Adjusted TabManagerImplementation to not retain self while running Task
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/SceneDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Scene/SceneCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Event Queue/AppEvent.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetry.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fixed pull refresh not showing up for deeplink tab
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Adjusted some failing tests
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11125 Direct Download Of Blob URLS Not Working (#24782)
  firefox-ios/Client/Frontend/TabContentsScripts/DownloadContentScript.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/DownloadHelper.js
Owners: @mozilla-mobile/fxios-eng

Add bundle version to into plist
  firefox-ios/sticker/Info.plist
Owners: @mozilla-mobile/fxios-eng

Try to add MainActor
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove test since TabManager needs refactor with correct concurrency
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

draft
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/EngineSessionDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  SampleBrowser/SampleBrowser.xcodeproj/project.pbxproj
  SampleBrowser/SampleBrowser.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  SampleBrowser/SampleBrowser/Info.plist
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Added MainActor for the whole Task
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11279 - [Toolbar Redesign] Selecting any search suggestion doesn't open google with new tab with custom URL (#24611)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11424 #24859 [Settings] Create browsing settings (#24862)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/Router/Route.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Browser/ClipboardBarDisplayHandler.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/BrowsingSetting.swift
  firefox-ios/Client/Frontend/Settings/Main/General/GeneralSettingsDelegate.swift
  firefox-ios/Client/Frontend/Settings/Main/General/OpenWithSetting.swift
  firefox-ios/Client/Frontend/Settings/TabsSettingsViewControler.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add main actor for Bitrise tests as per description
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Restore Pullrefresh constraints
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11402 [Tab tray] Increase tab cell rounded corner value (#24877)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
Owners: @mozilla-mobile/fxios-eng

Fix build warning
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Configuration/Common.xcconfig
  firefox-ios/sticker/Info.plist
Owners: @mozilla-mobile/fxios-eng

use non-edge stack
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix Use non-edge 16.2 Bitrise stack (#24944)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-9428 [Homepage] viewWillAppear gets called multiple times
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

add localization to stickers build phase
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Add flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Adding disclaimer
  firefox-ios/Client/Frontend/Settings/AutoplaySettingsViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fixed all conflicts
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/AutoplayAccessors.swift
  firefox-ios/Client/Frontend/Settings/AutoplaySettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/AutoplaySetting.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix todo
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/AutoplaySetting.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11457 #24926 [Tab tray UI experiments] Add tab tray UI experiments flag (#24945)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix Use non-edge 16.2 Bitrise stack (#24944)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Rename alt app icon asset.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Hug.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Hug.appiconset/appstore-icon-hug.png
Owners: @mozilla-mobile/fxios-eng

Move the App Icons to their own assets catalog. Add hug App Icon for App Store A/B test. Add support for alternate App Store icons.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-dark.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-dark.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-dark.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Hug.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Hug.appiconset/appstore-icon-hug.png
  firefox-ios/Client/Assets/AppIcons.xcassets/Contents.json
Owners: @mozilla-mobile/fxios-eng

add Nimbus ping and submit it on RecordedNimbusContext.record completion
  firefox-ios/Client/Experiments/RecordedNimbusContext.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/pings.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Nimbus/RecordedNimbusContextTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix the branch
  BrowserKit/Sources/Shared/NotificationConstants.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/AutoplaySettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/AutoplaySetting.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11402 [Tab tray] Increase tab cell rounded corner value (#24877)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
