Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Remove version 2
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Update buttons
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4327 Add Home page accessibility testing (#25060)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yHomePageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yUtils.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Use different button icons for back/forward depending on layout
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Remove share action
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Did some improvements
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/SendDataSetting.swift
Owners: @mozilla-mobile/fxios-eng

Add share button to navigation actions
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Added prefKey to super init Disabling Studies when Technical data is disabled
  firefox-ios/Client/Frontend/Settings/Main/Support/SendDataSetting.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 138.0
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
  version.txt
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Bugfix FXIOS-11369 ⁃ Tapping a setting's description text should not open the setting's "Learn More" link (#24856)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/SendDataSetting.swift
  firefox-ios/Client/Frontend/Settings/SettingsTableViewController.swift
  firefox-ios/Client/Frontend/Theme/ThemedTableViewCells/ThemedLearnMoreTableViewCell.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

[MOB-3261] Do not assing a color for the url border (#862)
  firefox-ios/Client/Frontend/Toolbar+URLBar/URLBarView.swift
Owners: @mozilla-mobile/fxios-eng

Remove QR code button from page actions
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4339 - crossLarge related failures (#25062)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Handle download PDF error
  BrowserKit/Sources/Shared/Extensions/URLExtensions.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Added back property
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
Owners: @mozilla-mobile/fxios-eng

Remove qrCodeScanAction
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 138.0 (#25068)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
  version.txt
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Fix MTE-4339 - crossLarge related failures (#25062)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11119 [App Icon 2025] Upgrade our existing icons to use a more polished tinted version. (#25032)
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-tinted.png
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11262 ⁃ Seach suggestions sometimes include the "Firefox Suggest" section even when there are no suggestions from Suggest (#25061)
  firefox-ios/Client/Frontend/Browser/Search/SearchViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Use large runner for now (does it work on unit tests?)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Update SettingsTelemetryTests to use the MockGleanWrapper.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SettingsTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Bump version number for stickers
  firefox-ios/sticker/Info.plist
Owners: @mozilla-mobile/fxios-eng

Update AppIconSelectionTelemetryTests to use the MockGleanWrapper. Additional refactoring in unit tests.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/AppIconSelection/AppIconSelectionTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SettingsTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: modify comment
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add [FXIOS-11508] SEC feature flag (#25051)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/searchEngineConsolidationFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add test case for special SVG which previously caused crashes in earlier version of SwiftDraw.
  BrowserKit/Package.swift
  BrowserKit/Tests/SiteImageViewTests/Resources/inf-nan.svg
  BrowserKit/Tests/SiteImageViewTests/SVGImageProcessorTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11361 Add unit test for special SVG case when processing favicons (#24816)
  BrowserKit/Package.swift
  BrowserKit/Tests/SiteImageViewTests/Resources/inf-nan.svg
  BrowserKit/Tests/SiteImageViewTests/SVGImageProcessorTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactored RustKeychain to reduce Data-String conversions
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

Added rust keychain wrapper logic for rust components
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Storage/KeychainWrapperExtensions.swift
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

Refactored getBaseKeychainQuery so return type matched MZKeychainWrapper.setupKeychainQueryDictionary
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

Changed data type for key parameter in getBaseKeychainQuery function
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

Refactored update and set key functions to upsert
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11463 #24932 [Tab Tray UI Experiments] Empty state (#24983)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentEmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentRemoteTabsEmptyView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsEmptyView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11463 #24932 [Tab Tray UI Experiments] Empty state (#24983)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentEmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentRemoteTabsEmptyView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsEmptyView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

up to date with main
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix empty space
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

fixed leading/trailing constraints
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11414 replacement keychain logic for RustLogins (#24844)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Storage/KeychainWrapperExtensions.swift
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

Add a new telemetry extra to the app icon selection telemetry.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIcon.swift
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconSelectionTelemetry.swift
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconSelectionView.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng
