Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Swiftlint
  SampleBrowser/SampleBrowser/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Add logger
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Update package
  SampleBrowser/SampleBrowser.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Write tests
  BrowserKit/Sources/Common/Utilities/DispatchSourceInterface.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockDispatchSourceTimerFactory.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWebServer.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  BrowserKit/Tests/WebEngineTests/WKWebServerUtilTests.swift
Owners: @mozilla-mobile/fxios-eng

Add tab tests
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWindowManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
Owners: @mozilla-mobile/fxios-eng

Fix bug around not switching to private mode right away
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
Owners: @mozilla-mobile/fxios-eng

feat: add strings for dark mode phase 2
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Adapt doneButton and newTabButton
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

feat: inject dr at start of document
  .gitignore
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentStart/DarkReader.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentStart/LegacyNightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentStart/NightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentStart/__firefox__.js
  webpack.config.js
Owners: @mozilla-mobile/fxios-eng

Refactor ui
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Correct as per code review
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests again
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DatabaseFixtureTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DomainAutocompleteTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PerformanceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

fix: update pbx file
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Add and adjust tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11401 #24879 [Tab Tray UI Experiments] Move doneButton and newTabButton (#24956)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Move segment control since otherwise it looks broken + add fade
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Clean up
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

initial impl
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKitTests/WidgetKitTests.swift
  firefox-ios/firefox-ios-tests/Tests/WidgetKitTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

update types
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

update tests to use factory method, clean up computed vars to not use return
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

add totalBytesExpected and totalBytesDownloaded computed vars
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

change total progress to computed var
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

add unit tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

change methods to computed values instead
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

fix whitespace
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKitTests/WidgetKitTests.swift
  firefox-ios/firefox-ios-tests/Tests/WidgetKitTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

Add import to fix Focus
  focus-ios/Blockzilla/GleanUsageReportingMetricsService.swift
Owners: @mozilla-mobile/fxios-eng

Update backgroundColor widget light mode
  firefox-ios/WidgetKit/Assets.xcassets/backgroundColor.colorset/Contents.json
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
  firefox-ios/WidgetKit/UIView+extension.swift
Owners: @mozilla-mobile/fxios-eng

Correct as per code review
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetry.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/UnitTest.xctestplan
  firefox-ios/nimbus-features/deeplinkOptimizationRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Conform DefaultWKEngineWebView to ThemeApplicable
  BrowserKit/Sources/Common/Extensions/UIColorExtensions.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11174 Add ActivityAttributes struct to define static and dynamic data for the Live Activity (#24867)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

Add feature flag for layout
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

fix: solve conflict between formautofill and passwordmgr
  firefox-ios/Client/Assets/CC_Script/FormAutofillChild.ios.sys.mjs
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/LoginsHelper.js
Owners: @nbhasin2, @issammani, @mozilla-mobile/fxios-eng

Add FXIOS-11355 [Tab Improvements] Add Tab Manager Tests (#24938)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWindowManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Move the App Icons to their own assets catalog. Add hug App Icon for App Store A/B test. Add support for alternate App Store icons.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Hug.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Hug.appiconset/appstore-icon-hug.png
Owners: @mozilla-mobile/fxios-eng

Resolve merge conflicts with main.
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add AppIconSelectionFeature feature flag.
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/appIconSelectionFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add AppIcon setting and show the AppIcon settings screen in settings when feature flag is enabled.
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/AppIconSetting.swift
  firefox-ios/Client/Frontend/Settings/Main/General/GeneralSettingsDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Add Placeholder for future SwiftUI view.
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
