Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Use a smaller close button for tabs when toolbar rapid experiment is enabled
  firefox-ios/Client/Frontend/Browser/TopTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11795 Bugzilla #1951558 (#25886)
  firefox-ios/Client/Coordinators/Router/DeeplinkInput.swift
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/RouteTests.swift
Owners: @mozilla-mobile/fxios-eng

Use button configuration
  firefox-ios/Client/Frontend/Browser/TopTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Increase timeout
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11819 [New Toolbar experiment] [iPad] - 'X' Button to close tab is too large (#25918)
  firefox-ios/Client/Frontend/Browser/TopTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4489 - login tests
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Continue if the test fails
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Continue if the test fails
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove useless test
  BrowserKit/Tests/WebEngineTests/EngineSessionScriptResponderTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix yaml
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11819 [New Toolbar experiment] [iPad] - 'X' Button to close tab is too large (#25918)
  firefox-ios/Client/Frontend/Browser/TopTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11818 [New Toolbar experiment] [iPad] Menu Button and Tab Tray Button Positions Should Be Interchanged (#25789)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11818 [New Toolbar experiment] [iPad] Menu Button and Tab Tray Button Positions Should Be Interchanged (#25789)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Fix issue number
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

This is the correct one
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11844 [Tab tray UI experiment] Fix tab selector view isSelected when moving to background (#25893)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11844 [Tab tray UI experiment] Fix tab selector view isSelected when moving to background (#25893)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11844 [Tab tray UI experiment] Fix tab selector view isSelected when moving to background (#25893)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-6837 AND FXIOS-8435 [Tabs Optimization] Hopefully fix sreenshots (#25174)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Extensions/UIView+Screenshot.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Components/ContentContainer.swift
  firefox-ios/Client/TabManagement/TabEventHandler.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabWebView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ScreenshotHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

fix backport compilation error
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4489 - login tests (#25919)
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Resolve merge conflicts
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Only force the toolbar to bottom on iPhones
  firefox-ios/Client/Nimbus/NimbusSearchBarLayer.swift
Owners: @mozilla-mobile/fxios-eng

Updated the save to report method
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yUtils.swift
Owners: @mozilla-mobile/fxios-automation-1

Optimize code
  firefox-ios/Client/Nimbus/NimbusSearchBarLayer.swift
Owners: @mozilla-mobile/fxios-eng

call completion handler
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Update bitrise yml
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Update the way to generate the file name for a11y results
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yHomePageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yUtils.swift
Owners: @mozilla-mobile/fxios-automation-1

Auto enable everywhere the App Icon Selection feature.
  firefox-ios/nimbus-features/appIconSelectionFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11847 [Tab Tray UI Experiment] Fix glitch when navigating from tab tray to webpage (#25901)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11847 [Tab Tray UI Experiment] Fix glitch when navigating from tab tray to webpage (#25901)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11847 [Tab Tray UI Experiment] Fix glitch when navigating from tab tray to webpage (#25901)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

fix conflicts
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11526 [Homepage] [Telemetry] event for tapping on items (#25297)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/NavigationBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11747-11659 [Tab tray UI experiment] Disable those toasts when experiment is turned ON (#25904)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11738 [Tab tray UI experiment] Make sure status bar is covered in remote tabs tray (#25905)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11747-11659 [Tab tray UI experiment] Disable those toasts when experiment is turned ON (#25904)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11747-11659 [Tab tray UI experiment] Disable those toasts when experiment is turned ON (#25904)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11738 [Tab tray UI experiment] Make sure status bar is covered in remote tabs tray (#25905)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11738 [Tab tray UI experiment] Make sure status bar is covered in remote tabs tray (#25905)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
