Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

[Add] FXIOS-12063 [Toolbars] Toolbar Translucency (#26514)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbarState.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BackForwardListViewController.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
  firefox-ios/Client/Frontend/Browser/TopTabCell.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeBarView.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Fixed MTE-4558 - syncuitests for ios 16
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add feature flag for address toolbar CFR
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12185 [Toolbar Redesign] For some long domain names, the domain name almost touches the reader view icon (#26567)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12185 [Toolbar Redesign] For some long domain names, the domain name almost touches the reader view icon (#26567)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12185 [Toolbar Redesign] For some long domain names, the domain name almost touches the reader view icon (#26567)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

update font size and colors
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11476 ⁃ Tab Toast Shows in the Middle of the Screen When Long Pressing (#26526)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix merge
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

comment
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/LegacyTopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

Clone the repo in the push step of promotion
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix merge
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

remove tab with completion remove
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12154 #26444 [Tab tray] trash can telemetry (#26584)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Glean/metrics.yaml
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/Telemetry/TabsPanelTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12154 #26444 [Tab tray] trash can telemetry (#26584)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/Telemetry/TabsPanelTelemetry.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Turn off swiping tabs in beta
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add [Toolbar experiment] FXIOS-12183 Tracking protection menu option for Legacy menu for Toolbar version 1/2 (#26604)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/shieldCheckmarkLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shieldCheckmarkLarge.imageset/shieldCheckmarkLarge.pdf
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarTelemetry.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Glean/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Add [Toolbar experiment] FXIOS-12183 Tracking protection menu option for Legacy menu for Toolbar version 1/2 (#26604)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/shieldCheckmarkLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shieldCheckmarkLarge.imageset/shieldCheckmarkLarge.pdf
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarTelemetry.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Add [Toolbar experiment] FXIOS-12183 Tracking protection menu option for Legacy menu for Toolbar version 1/2 (#26604)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/shieldCheckmarkLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shieldCheckmarkLarge.imageset/shieldCheckmarkLarge.pdf
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarTelemetry.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11614 [Tabs Optimization] Additional Tabs Panel Telemetry (#26131)
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/Telemetry/GleanWrapper.swift
  firefox-ios/Client/Telemetry/TabsPanelTelemetry.swift
  firefox-ios/Client/Telemetry/TabsTelemetry.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockGleanWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/Legacy/TabsTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryWrapperTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11614 [Tabs Optimization] Additional Tabs Panel Telemetry (#26131)
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/Telemetry/GleanWrapper.swift
  firefox-ios/Client/Telemetry/TabsPanelTelemetry.swift
  firefox-ios/Client/Telemetry/TabsTelemetry.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockGleanWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabsTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryWrapperTests.swift
Owners: @mozilla-mobile/fxios-eng

Commit this file
  BrowserKit/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Had some issues with launch arguments
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FeatureFlaggedTestBase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add HistoryTabTrayUIExperimentTests and adapt drag and drop tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Ensure we take the cells from the right collection view
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix waiting for nav bar to appear + private selector
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix actions
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix regular mode selector and test
  BrowserKit/Package.resolved
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor [Toolbar] Turn off swiping tabs in beta (#26614)
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Fix FXIOS-11506 [Release Automation] Clone the repo in the push step of promotion (#26609)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix FXIOS-11506 [Release Automation] Clone the repo in the push step of promotion (#26609)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bitrise need this capital letter?
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS [BrowserKit] package resolved (#26620)
  BrowserKit/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Make hit box bigger
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Better names
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Fix swiftlint
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Add a cap to scaled font
  BrowserKit/Sources/Common/Utilities/DynamicFontHelper.swift
  BrowserKit/Sources/Common/Utilities/TextStyling.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12180 [Top Sites Visual Refresh] Update top sites fonts (#26608)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/LegacyTopSiteCell.swift
  firefox-ios/nimbus-features/hntTopSitesVisualRefresh.yaml
Owners: @mozilla-mobile/fxios-eng

fix: pass in emptyOnly flag
  firefox-ios/Client/Application/BackgroundFirefoxSuggestIngestUtility.swift
  firefox-ios/Client/Frontend/Settings/FirefoxSuggestSettingsViewController.swift
  firefox-ios/Storage/Rust/RustFirefoxSuggest.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Search/MockRustFirefoxSuggest.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
