Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12813 [Toolbar] Update menu icon (#27909)
  firefox-ios/Client/Assets/Images.xcassets/moreHorizontalRoundLarge.imageset/moreHorizontalRoundLarge.pdf
Owners: @mozilla-mobile/fxios-eng

pipeline
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

update pipeline
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Update space between groups
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12497 [UI Tests] felt privacy tests with feature flag integration (#27894)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Nimbus/TestData/feltPrivacySimplifiedUIOff.json
  firefox-ios/Client/Nimbus/TestData/feltPrivacySimplifiedUIOn.json
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Correct thumbnail on new tab switch
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Added correct config
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12796 [Swift 6 Migration] HomepageRebuild - HomepageDiffableDatasource
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInTabConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketStoryConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Update shadow even if toolbar translucency is off
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Rename methods, propertiesa and simplify code.
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12308 #26806 Refactor Shaders code to our stadards
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Shaders/blurredPoints.metal
  BrowserKit/Sources/OnboardingKit/Views/AnimatedGradientRenderer.swift
  BrowserKit/Sources/OnboardingKit/Views/MilkyWayRenderer.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceRegularView.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Sources/OnboardingKit/Views/AnimatedGradientRenderer.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12725 [Homepage Redesign] new l10n strings
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12787 #27845 Move Onboarding tests to its own test target
  BrowserKit/Package.swift
  BrowserKit/Tests/OnboardingKitTests/Mocks/MockOnboardingType.swift
  BrowserKit/Tests/OnboardingKitTests/OnboardingFlowViewModelTests.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12499 [Toolbar] Shadow around address bar is cut off at the top and bottom (#27920)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12725 [Homepage Redesign] new l10n strings (#27921)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12499 [Toolbar] Shadow around address bar is cut off at the top and bottom (#27920)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

write test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix regex?
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

Easy one, Ill take it
  firefox-ios/Client/Protocols/UIDeviceInterface.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12821] Bugzilla 1976304
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
Owners: @mozilla-mobile/fxios-eng

Fixing a few more small unit test compilation errors xcode 26 beta is being reticent in showing...
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/RatingPromptManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Use log output from xcode-build-for-test
  bitrise.yml
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] SiteImageView package explicit Sendable conformance for multiple types (#27903)
  BrowserKit/Sources/Common/Logger/Logger.swift
  BrowserKit/Sources/Common/Logger/Wrapper/SwiftyBeaverWrapper.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/Cache/FaviconURLCache.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/FaviconURLHandler.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/URLFetcher/FaviconURLFetcher.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/URLFetcher/HTMLDataRequest.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/HeroImageFetcher/HeroImageFetcher.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/ImageHandler.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/LetterImageGenerator.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/SiteImageCache/DefaultImageCache.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/SiteImageCache/SiteImageCache.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/SiteImageFetcher/FaviconFetcher.swift
  BrowserKit/Sources/SiteImageView/SiteImageType.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/ImageHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/LetterImageGeneratorTests.swift
  firefox-ios/Client/Frontend/Autofill/LoginListViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/RatingPromptManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockLogger.swift
Owners: @mozilla-mobile/fxios-eng

Don't use the emoji
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Fix UIDeviceInterface warning (#27927)
  firefox-ios/Client/Protocols/UIDeviceInterface.swift
Owners: @mozilla-mobile/fxios-eng

Fix ThemeApplicable protocol conformance crossing main actor isolation in tab tray area
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorButtonModel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/EmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentEmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentRemoteTabsEmptyView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/InactiveTabs/InactiveTabsCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/InactiveTabs/InactiveTabsFooterView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/InactiveTabs/InactiveTabsHeaderView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsEmptyView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTitleSupplementaryView.swift
Owners: @mozilla-mobile/fxios-eng

Was not final
  firefox-ios/Client/Frontend/Browser/Tabs/Views/EmptyPrivateTabsView.swift
Owners: @mozilla-mobile/fxios-eng

Synchronize access to the global instance of requestQueue to protect mutable state. This works because the only method to set it (`getFaviconImage`) is already `@MainActor` synchronized as well.
  BrowserKit/Sources/SiteImageView/SiteImageHandler.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Refactor FXIOS-12520 [Tab tray UI experiment] Disable drag and drop (#27292)"
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabDisplayViewDragAndDropInteraction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabDisplayPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Make LoggerFileManager Sendable. Make most of the DefaultLoggerFileManager implementation also Sendable.
  BrowserKit/Sources/Common/Logger/LoggerFileManager.swift
Owners: @mozilla-mobile/fxios-eng

Detect warnings right after xcode-build-for-test
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Make FileManagerProtocol Sendable for DefaultLoggerFileManager implementation.
  BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Fix variable name
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Typo
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
Owners: @mozilla-mobile/fxios-eng

New pipeline just for new flag
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix log file upload
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix upload
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Report to sandbox channel
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

OpenQLPreviewHelper + WKNavigationDelegate warnings
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/OpenInHelper/OpenQLPreviewHelper.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
