Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12644 Re-add missing ad click telemetry callsite (#27569)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

shutdown profile on deinit
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
Owners: @mozilla-mobile/fxios-eng

Resolve merge conflicts.
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-7332 Bugzilla #1850240 (#27449)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/Utils/JSAlertThrottler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/JSAlertThrottlerTests.swift
Owners: @mozilla-mobile/fxios-eng

Improve shared_to documentation in preparation of adding an annotation via the glean-annotations repo. Remove expired extras.
  firefox-ios/Client/Glean/probes/share_sheet.yaml
Owners: @mozilla-mobile/fxios-eng

Delete code related to expired telemetry extras.
  firefox-ios/Client/Frontend/Share/ShareTelemetry.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetryActivityItemProvider.swift
Owners: @mozilla-mobile/fxios-eng

Decommission Sent from Firefox experiment YAML and related code.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/SentFromFirefoxSetting.swift
  firefox-ios/Client/Frontend/Share/ShareManager.swift
  firefox-ios/Client/Frontend/Share/TitleActivityItemProvider.swift
  firefox-ios/Client/Frontend/Share/URLActivityItemProvider.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/sentFromFirefoxFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Update unit tests for removed feature flag and experiment.
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryActivityItemProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/TitleActivityItemProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/URLActivityItemProviderTests.swift
Owners: @mozilla-mobile/fxios-eng

Add clarifying comment for future testing and changes
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Add comment
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

add swift tests from a-s to firefox-ios
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/Metrics/Metrics.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/logins.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/EventStoreTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/FxAccountManagerTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/FxAccountMocks.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/LoginsTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/NimbusArgumentProcessorTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/NimbusFeatureVariablesTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/NimbusMessagingTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/NimbusTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/OperationTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/PlacesTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/RustSyncTelemetryPingTests.swift
  MozillaRustComponents/Tests/MozillaRustComponentsTests/SyncManagerTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12135 Turn off experiments for sync integration tests (#27516)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Create testFxASyncTabsDesktop_tabTrayExperimentOn()
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Run test_sync_tabs_from_desktop with experiment on and off
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTests/test_integration.py
Owners: @mozilla-mobile/fxios-eng

Fix project file
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix the project file
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

First version of FxScreenGraph refactor
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DownloadsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxUserState.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationRegistry.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerCommonNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerContextMenuNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerFxAccountNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerHomePanelNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerLibraryPanelNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerMiscellanousActions.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerMiscellanousNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerMobileNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerOnboardingNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerSettingsNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabMenuNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabTrayNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerToolbarNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTrackingProtection.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerUrlBarNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerZoomNavigation.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix some linter issues
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerSettingsNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerToolbarNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerZoomNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix the Action class
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-automation-1

Update some screen graph selectors
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerSettingsNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabTrayNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix linter issue
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabTrayNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix FxScreenGraph
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update registerToolbarNavigation
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerToolbarNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

Fixes [MTE-4717] - for history and new tab settings tests on iPad
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Restore presentation timing to 0.3 sec
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

BugFix FXIOS-12488 stutter in the tab animation dismissal (#27592)
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

BugFix FXIOS-12488 stutter in the tab animation dismissal (#27592)
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

BugFix FXIOS-12488 stutter in the tab animation dismissal (#27592)
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Adjust WKUIdelegate Api
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12641 #27556 ⁃ [Menu Redesign] Handle Menu UI for different accessibility sizes
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12312 Integrate DefaultUIHandler into Firefox (#27379)
  BrowserKit/Sources/WebEngine/EngineSessionDependencies.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKSessionCreator.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/WKSessionCreatorTests.swift
  BrowserKit/Tests/WebEngineTests/WKUIHandlerTests.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Assets/Debug/testPopUp.html
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/WebEngineIntegration/BrowserWebUIDelegate.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/PopupHTMLSetting.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserWebUIDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWKUIHandler.swift
Owners: @mozilla-mobile/fxios-eng

Change blur to 85%
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
Owners: @mozilla-mobile/fxios-eng

Use alpha for location container
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Remove unneeded background color
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Fixes [MTE-4717] - for history and new tab settings tests on iPad (#27608)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StatusBarOverlayTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix tab tray test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabTrayNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

Fixes [MTE-4717] - for history and new tab settings tests on iPad (#27608)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix conflicts
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix region based warnings on LaunchScreenViewControllers and in LoginStorage
  firefox-ios/Client/Coordinators/LaunchView/LaunchScreenViewController.swift
  firefox-ios/Client/Coordinators/LaunchView/LaunchScreenViewModel.swift
  firefox-ios/Client/Frontend/Autofill/LoginStorage.swift
  firefox-ios/Client/Frontend/Onboarding/Models/UpdateViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/LaunchView/LaunchScreenViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/LaunchView/LaunchScreenViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockLaunchScreenManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/UpdateViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
