Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Remove nimbus bookmarks files
  firefox-ios/nimbus-features/bookmarkRefactorFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Remove more references to bookmarks refactor
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Extensions/ShareTo/ShareViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove another batch
  firefox-ios/Client/Coordinators/Library/LibraryCoordinator.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/BookmarksSaver.swift
Owners: @mozilla-mobile/fxios-eng

Remove legacy tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Library/BookmarksCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Add back legacy cell since it's for homepage
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Bookmarks/LegacyBookmarksCell.swift
  firefox-ios/Client/Frontend/Widgets/OneLineTableViewCell.swift
Owners: @mozilla-mobile/fxios-eng

remove extra arg
  firefox-ios/Client/Coordinators/Library/BookmarksCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Big remove of flags
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Home/HomepageContextMenuHelper.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/FolderHierarchyFetcher.swift
  firefox-ios/Client/Frontend/Library/LibraryViewController/LibraryViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update comment
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/BookmarksSaver.swift
Owners: @mozilla-mobile/fxios-eng

added back some variables for roots with notes to see which we actually need
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Another batch
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

remove unused strings
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
Owners: @mozilla-mobile/fxios-eng

Remove didSelect
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
Owners: @mozilla-mobile/fxios-eng

Update desktop folder strings
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
Owners: @mozilla-mobile/fxios-eng

fix share to not check refactor flag
  firefox-ios/Extensions/ShareTo/ShareViewController.swift
Owners: @mozilla-mobile/fxios-eng

remoooooove
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Library/BookmarksCoordinator.swift
  firefox-ios/Client/Coordinators/Library/LibraryCoordinator.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/BookmarksSaver.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Library/BookmarksCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove LegacyBookmarksPanelTests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/Legacy/LegacyBookmarksPanelTests.swift
Owners: @mozilla-mobile/fxios-eng

remove completion and edit showBookmarkDetail method
  firefox-ios/Client/Coordinators/Library/BookmarksCoordinator.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Client/Frontend/Widgets/OneLineTableViewCell.swift
Owners: @mozilla-mobile/fxios-eng

remove more flag checks
  firefox-ios/Client/Coordinators/Library/BookmarksCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Widgets/OneLineTableViewCell.swift
Owners: @mozilla-mobile/fxios-eng

Revert "remove unused strings"
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
Owners: @mozilla-mobile/fxios-eng

Add ticket.
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingService.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12452 [Telemetry Audit] unneeded preferences telemetry
  firefox-ios/Client/Glean/probes/settings.yaml
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Temp upgrade swiftlint.
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

debug
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor MTE Fix config
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
  test-fixtures/scheme-postbuild.sh
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

debug
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

debug
  bitrise.yml
  test-fixtures/scheme-postbuild.sh
Owners: @mozilla-mobile/fxios-automation-1

debug
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
Owners: @mozilla-mobile/fxios-eng

debug
  bitrise.yml
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

debug
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

debug
  bitrise.yml
  test-fixtures/scheme-postbuild.sh
Owners: @mozilla-mobile/fxios-automation-1

debug after build passes
  test-fixtures/scheme-postbuild.sh
Owners: @mozilla-mobile/fxios-automation-1

remove post script
  bitrise.yml
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

use build phase script
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

debug after build passes
  bitrise.yml
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

debug after build passes
  bitrise.yml
  test-fixtures/scheme-postbuild.sh
Owners: @mozilla-mobile/fxios-automation-1

clean up
  bitrise.yml
  test-fixtures/scheme-postbuild.sh
Owners: @mozilla-mobile/fxios-automation-1

remove post script
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Build error >:(
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

enable focus tests
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix unit tests for new API.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/DefaultBackgroundTabLoaderTests.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
