Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Correct color for pull refresh, Update padding browser address toolbar
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Browser/WebView/PullRefreshView.swift
Owners: @mozilla-mobile/fxios-eng

Remove SidebarEnabledView
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/SidebarEnabledView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockSidebarEnabledView.swift
Owners: @mozilla-mobile/fxios-eng

update tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Clean the slack notification
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix bitrise errors
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix bitrise errors
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-7301 - Remove 2 closure_body_length violation from DownloadLiveActivity.swift and TrackingProtectionViewController.swift, and decrease threshold (#25903)
  .swiftlint.yml
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  focus-ios/Blockzilla/Tracking Protection/TrackingProtectionViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix bitrise errors
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Disable swipipng behavior in specific cases.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [PDF Refactor] FXIOS Disable share button for toolbar when loading website (#25887)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabWebView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [PDF Refactor] FXIOS Disable share button for toolbar when loading website (#25887)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabWebView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix bitrise errors
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Change padding between top and bottom position
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11522 [Homepage] general homepage impression event (#25923)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11522 [Homepage] general homepage impression event (#25923)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [PDF Refactor] FXIOS Disable share button for toolbar when loading website (#25887)
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

Bugifx [Toolbar Experiment] FXIOS-11888 Correct color for pull refresh, Update padding browser address toolbar (#25960)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Browser/WebView/PullRefreshView.swift
Owners: @mozilla-mobile/fxios-eng

Bugifx [Toolbar Experiment] FXIOS-11888 Correct color for pull refresh, Update padding browser address toolbar (#25960)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Browser/WebView/PullRefreshView.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4498 - login tests
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

fix: bump glean_parser to 17.1 and glean to 64.1
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/bin/sdk_generator.sh
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/bin/sdk_generator.sh
Owners: @mozilla-mobile/fxios-eng

pr fix
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-6765 #15058 ⁃ [UX Fundamentals] previous to default page zoom setting Part 1 (#25870)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+ZoomPage.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageBar.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Fix some typo in bitrise.yml
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix indentation in bitrise.yml
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

fix context menu actions in iframes
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentEnd/ContextMenu.js
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11791 [Dark Reader] Use dark reader to handle reader mode theming (#25882)
  BrowserKit/Sources/Common/ReaderMode/ReaderModeFontType.swift
  BrowserKit/Sources/Common/ReaderMode/ReaderModeStyle.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  firefox-ios/Client/Frontend/Reader/ReaderModeHandlers.swift
  firefox-ios/Client/Frontend/Reader/Resources/Reader.css
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentEnd/FindInPage.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/ReaderMode.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/ReaderModeStyles.js
  focus-ios/Blockzilla/FindInPage.js
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11791 [Dark Reader] Use dark reader to handle reader mode theming (#25882)
  BrowserKit/Sources/Common/ReaderMode/ReaderModeFontType.swift
  BrowserKit/Sources/Common/ReaderMode/ReaderModeStyle.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  firefox-ios/Client/Frontend/Reader/Resources/Reader.css
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentEnd/FindInPage.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/ReaderMode.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/ReaderModeStyles.js
  focus-ios/Blockzilla/FindInPage.js
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11791 [Dark Reader] Use dark reader to handle reader mode theming (#25882)
  BrowserKit/Sources/Common/ReaderMode/ReaderModeFontType.swift
  BrowserKit/Sources/Common/ReaderMode/ReaderModeStyle.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  firefox-ios/Client/Frontend/Reader/Resources/Reader.css
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentEnd/FindInPage.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/ReaderMode.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/ReaderModeStyles.js
  focus-ios/Blockzilla/FindInPage.js
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11949 Web link context menus showing incorrect actions (#25996)
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentEnd/ContextMenu.js
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11949 Web link context menus showing incorrect actions (#25996)
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentEnd/ContextMenu.js
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11843 [Tab Tray UI Experiment] Fix Tab Tray Selector Options Not Centered (#25950)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11843 [Tab Tray UI Experiment] Fix Tab Tray Selector Options Not Centered (#25950)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11843 [Tab Tray UI Experiment] Fix Tab Tray Selector Options Not Centered (#25950)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

UIView should be ThemeApplicable, not Themeable
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflict
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Helping fix the conflicts
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

add new metrics to yml file
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11854 [Tab tray UI experiment] Selector view theming (#25864)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11854 [Tab tray UI experiment] Selector view theming (#25864)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Delete old probe names for renamed telemetry. Moved over data_reviews and bugs links. Added latest data review link.
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
