Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

try run_if
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

run_if for test workflows
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

try run_if
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

try run_if
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

try with 6
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

only run firefox and klar
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

update tests
  bitrise.yml
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

delete smoketests
  bitrise.yml
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

move address tests to shard 3
  firefox-ios/firefox-ios-tests/Tests/XCUITests/C_AddressesTests.swift
Owners: @mozilla-mobile/fxios-automation-1

update test after reanming test class
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
Owners: @mozilla-mobile/fxios-eng

rename variable
  bitrise.yml
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/C_AddressesTests.swift
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

try just with 4
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

rename smoketest
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
Owners: @mozilla-mobile/fxios-eng

try m4 for ui tests
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

update reference to smoketest1
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

[MOB-3352] Private tabs autoclosing follow-up (#898)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Ecosia/Extensions/AppSettingsTableViewController+Ecosia.swift
  firefox-ios/Client/Ecosia/Extensions/PrefsKeys+Ecosia.swift
  firefox-ios/Client/TabManagement/Legacy/LegacyTabManager.swift
Owners: @mozilla-mobile/fxios-eng

comment part of test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-automation-1

Add translucency to toolbars & status bar overlay
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarTranslucencyHelper.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Turn off translucency for developers
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Check if toolbar refactor is on
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarTranslucencyHelper.swift
Owners: @mozilla-mobile/fxios-eng

Version bump 11.1.0 (#902)
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng

Enable swiping for a specific scenario.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Move backgroundAlpha to ToolbarHelper
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarTranslucencyHelper.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Don't run the decision task on github release publication
  .taskcluster.yml
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-9666 [Accessibility] Add headings to homepage (#26222)
  firefox-ios/Client/Frontend/Components/LegacyLabelButtonHeaderView.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/HomepageMessageCardCell.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12046 [Bookmarks Evolution] Enable bookmarks refactor on all channels (#26241)
  firefox-ios/nimbus-features/bookmarkRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12046 [Bookmarks Evolution] Enable bookmarks refactor on all channels (#26241)
  firefox-ios/nimbus-features/bookmarkRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Update indentation
  firefox-ios/Client/Protocols/Presenter.swift
Owners: @mozilla-mobile/fxios-eng

Enable swiping tabs feature flag on dev.
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Revert FXIOS-11882 ⁃ Restore "Show Link Previews" setting (#26155)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix validation (again)
  BrowserKit/Sources/WebEngine/Utilities/URLFormatter.swift
Owners: @mozilla-mobile/fxios-eng

Avoid interrupting toast announcements
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12061] Minor cleanup, logging, etc
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12061] Typo
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Re-enable testOpenTabsInSearchSuggestions
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove https:// from URL label
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugix [Content Sharing opt] fix home page activity and File copy to clipboard message (#26167)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/ShareSheetCoordinator.swift
  firefox-ios/Client/Frontend/Share/HomePageActivity.swift
  firefox-ios/Client/Frontend/Share/ShareManager.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/HomePageActivityTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12045 Enable testOpenTabsInSearchSuggestions (#26270)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-automation-1

MTE-4460 Bitrise Test Sharding (#25662)
  bitrise.yml
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/C_AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Add MTE-4531 - bookmark toggle test
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
