Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Fix [Wallpapers] Clean up wallpaper redux (#24990)
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Home/Wallpaper/Redux/WallpaperState.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Interface/WallpaperManager.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/WallpaperSettings/v1/WallpaperSettingsViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/WallpaperSettingsViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Don't re-select the app icon.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconSelectionView.swift
Owners: @mozilla-mobile/fxios-eng

Improve error handling for failing to set the user's alternative app icon. Add strings for localization.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconSelectionView.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11494 Add tab UI experiment toggle to debug menu (#25019)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10534 [Nimbus] Studies should be toggled back on after re-enabling Telemetry (#24998)
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/StudiesToggleSetting.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10534 [Nimbus] Studies should be toggled back on after re-enabling Telemetry (#24998)
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/StudiesToggleSetting.swift
Owners: @mozilla-mobile/fxios-eng

Create a method with addNewTab logic and left a comment for the method
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-10980 - [Toolbar Redesign Phase 2] - Add sub-feature flag (#25020)
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11202 [Homepage] [JumpbackIn] CFR for section
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

add todo comment
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11202 [Homepage] [JumpbackIn] CFR for section (#25001)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 136.1
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Add FXIOS-11474 [App Icon 2025] Improve error handling for failing to set the user's alternative app … (#25034)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconSelectionView.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

remove followsCollectionEnabled and setEnabled based on PR feedback
  firefox-ios/Client/Experiments/RecordedNimbusContext.swift
  firefox-ios/Client/pings.yaml
Owners: @mozilla-mobile/fxios-eng

Remove top domains autocomplete on address bar
  firefox-ios/Client/Frontend/Browser/SearchLoader.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 136.1 (#25041)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Restructure if let instead of guard to fix upload error.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

update nimbus ping to send client_id
  firefox-ios/Client/pings.yaml
Owners: @mozilla-mobile/fxios-eng

clean up AppIconView
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Add - [ci] allow routes on staging repo
  .taskcluster.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix [App Icons] clean up AppIconView swiftui view logic flow (#25044)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11336 widget backgrounds to respond to Light and Dark system modes (iOS 18 home screen) (#24979)
  firefox-ios/WidgetKit/Assets.xcassets/backgroundColor.colorset/Contents.json
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
  firefox-ios/WidgetKit/UIView+extension.swift
Owners: @mozilla-mobile/fxios-eng

Add [DISCO-3211]Firefox Suggest to use new RS
  firefox-ios/Providers/Profile.swift
  firefox-ios/Storage/Rust/RustFirefoxSuggest.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11506 [ci] allow routes on staging repo (#25046)
  .taskcluster.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove tableview offset change and update behavior
  firefox-ios/Client/Frontend/Settings/WebsiteDataManagement/WebsiteDataManagementViewController.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11508] Adding initial feature flag for Search Engine Consolidation
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/searchEngineConsolidationFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

fix: modify downloading file display text
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Use m2 machine on Bitrise
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Use large m2 runner
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Let's try x-large!
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Constraint toast to safe area
  firefox-ios/Client/Frontend/Autofill/Address/AddressAutofillSettingsViewController.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/WallpaperSettings/v1/WallpaperSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios readme to reference info from repo root
  firefox-ios/README.md
Owners: @mozilla-mobile/fxios-eng

Update focus-ios readme to reference info from repo root
  focus-ios/README.md
Owners: @mozilla-mobile/fxios-eng

Update contributing links
  CONTRIBUTING.md
Owners: @mozilla-mobile/fxios-eng

Renamed addNewTab method
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Add Home page accessibility testing
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yHomePageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yUtils.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/Untitled.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Delete firefox-ios/firefox-ios-tests/Tests/XCUITests/Untitled.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/Untitled.swift
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-11262 #24494 ⁃ Seach suggestions sometimes include the "Firefox Suggest" section even when there are no suggestions from Suggest
  firefox-ios/Client/Frontend/Browser/Search/SearchViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Fix pdf download error
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4339 - crossLarge related failures
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1
