Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Added group a11y label
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
  BrowserKit/Sources/MenuKit/MenuSection.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fixed error about nimbus flag
  firefox-ios/nimbus-features/menuRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12744 Manually add strings for en_US (#27750)
  firefox-ios/Shared/Supporting Files/en-US.lproj/Onboarding.strings
  firefox-ios/nimbus-features/onboardingFrameworkFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12744 Manually add strings for en_US (#27750)
  firefox-ios/Shared/Supporting Files/en-US.lproj/Onboarding.strings
  firefox-ios/nimbus-features/onboardingFrameworkFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12641 ⁃ [Menu Redesign] Handle Menu UI for different accessibility sizes (#27611)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
  BrowserKit/Sources/MenuKit/MenuSection.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12662 [Toolbar] Translucency color updates (#27613)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StatusBarOverlayTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12650 [Suggest] Make sure that initial ingest call is not terminated when app goes to background quickly (#27599)
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Revert SWIFT_TREAT_WARNINGS_AS_ERRORS
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix inverted logic for adding swipe actions (should be Sites only, not history actionables).
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
Owners: @mozilla-mobile/fxios-eng

Move HistoryItem type to the view model. Clean up some unused code (?). Fix for swipe to delete action.
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryActionables.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanelViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Fix passing non-`Sendable` `self` across isolation boundaries in ContextMenuState.
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12673 #27612 ⁃ [Menu Redesign] Handle Menu banner UI for different accessibility sizes
  BrowserKit/Sources/MenuKit/MenuRedesign/HeaderBanner.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add ticket number to Pocket view model
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12674 ⁃ [Menu Redesign] Implement Menu CFR (#27753)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintCopyProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintPrefsKeysProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/nimbus-features/menuRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12673 ⁃ [Menu Redesign] Handle Menu banner UI for different accessibility sizes (#27771)
  BrowserKit/Sources/MenuKit/MenuRedesign/HeaderBanner.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12652 #27584 Onboarding card Toolbar Selection should be Bottom Default (Keep same selection as today)
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottom.imageset/toolbarBottom.pdf
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconBottom.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconBottom.imageset/toolbarbottom.pdf
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconTop.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconTop.imageset/toolbarTop.pdf
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconTop.imageset/toolbartop6.pdf
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingCardInfoModelProtocolExtension.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingMultipleChoiceActionExtension.swift
Owners: @mozilla-mobile/fxios-eng

Fix identation
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
Owners: @mozilla-mobile/fxios-eng

rebase
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/Client/Nimbus/TestData/homepageSearchBarOff.json
  firefox-ios/Client/Nimbus/TestData/homepageSearchBarOn.json
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

swifltint fix
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

move comment to correct place
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

add bottom toolbar
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Ensure tab placement works
  BrowserKit/Sources/OnboardingKit/Models/OnboardingFlowViewModel.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingService.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Sources/OnboardingKit/Models/OnboardingFlowViewModel.swift
Owners: @mozilla-mobile/fxios-eng

feat: add client for litellm
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

fix: lint
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

remove strings, use existing
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

fix tests
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/ContextMenu/ContextMenuConfigurationTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/ContextMenu/ContextMenuCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

add shorcuts header
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

remove header logo
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SectionHeader/LabelButtonHeaderView.swift
Owners: @mozilla-mobile/fxios-eng

Remove extension
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingCardInfoModelProtocolExtension.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingKitCardInfoModel.swift
Owners: @mozilla-mobile/fxios-eng

Remove extension
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingKitCardInfoModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingMultipleChoiceActionExtension.swift
Owners: @mozilla-mobile/fxios-eng

Use correct color for gradient
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Undo setting background color for icon container and lock icon
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

chore: add yaml files
  firefox-ios/nimbus-features/summarizerFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

chore: configure flag and add to debug menu
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

fix: default false for all
  firefox-ios/nimbus-features/summarizerFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add feature flag for minimal address bar.
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Fix Swiftlint.
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
Owners: @mozilla-mobile/fxios-eng

Fix Swiftlint 2.
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
Owners: @mozilla-mobile/fxios-eng

update tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
Owners: @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
