Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Save theme variable on setting
  firefox-ios/Client/Frontend/Settings/Main/General/AutoplaySetting.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11466 [App Icon 2025] Add hug App Icon to bundle for App Store A/B Experiment (#24941)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-dark.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Hug.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Hug.appiconset/appstore-icon-hug.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-dark.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-dark.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore.png
  firefox-ios/Client/Assets/AppIcons.xcassets/Contents.json
Owners: @mozilla-mobile/fxios-eng

Add telemetry and fix tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Settings/AutoplaySettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/AutoplaySetting.swift
  firefox-ios/Client/Telemetry/AutoplaySettingTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11466 [App Icon 2025] Add hug App Icon to bundle for App Store A/B Experiment (#24941)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-dark.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Hug.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Hug.appiconset/appstore-icon-hug.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-dark.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/Contents.json
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-dark.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore.png
  firefox-ios/Client/Assets/AppIcons.xcassets/Contents.json
Owners: @mozilla-mobile/fxios-eng

Use non-edge stack in other workflows
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Replaced logins MZKeychainWrapper calls with RustKeychain calls
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Storage/Rust/RustLogins.swift
  firefox-ios/Storage/RustKeychain.swift
  firefox-ios/nimbus-features/loginsRustKeychain.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

add tests for tab.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
Owners: @mozilla-mobile/fxios-eng

Add to MockTabWebView
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabWebView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
Owners: @mozilla-mobile/fxios-eng

Delete old Mock class
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-10990 [Tab Optimization Phase 1] Add Tests to Tab.swift (#24785)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabWebView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
Owners: @mozilla-mobile/fxios-eng

Create ExperimentTabCell and integrate in the tab tray
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Fixing layout
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Fixes
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Change interGroupSpacing
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10852 ⁃ [iPad] - Weird behavior of tabs after a specific scenario (#24506)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10415 ⁃ [Menu] - Incorrect menu icon for zoomed out webpage (#24914)
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Revert steps update for focus_release workflow
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix MTE-4299 Revert version numbers update for focus_release workflow (#24958)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fixes MTE-4296 - for settings failures related tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-11283 (Focus iOS) Update settings screen's "Your Rights" link
  focus-ios/Blockzilla/Settings/Controller/AboutViewController.swift
  focus-ios/Blockzilla/UIComponents/UIConstants.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4296 - for settings failures related tests (#24959)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add missing configs
  firefox-ios/sticker/Info.plist
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11446 [Stickers] Add bundle version to sticker extension (#24943)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Configuration/Common.xcconfig
  firefox-ios/sticker/Info.plist
Owners: @mozilla-mobile/fxios-eng

Fix failing smoke test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Update tests
  focus-ios/focus-ios-tests/XCUITest/SettingTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11283 (Focus iOS) Update settings screen's "Your Rights" link (#24960)
  focus-ios/Blockzilla/Settings/Controller/AboutViewController.swift
  focus-ios/Blockzilla/UIComponents/UIConstants.swift
  focus-ios/focus-ios-tests/XCUITest/SettingTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix MTE-4299 Revert version numbers update for focus_release workflow (#24958)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor KVO with new observe method, updated tests
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineKVOConstants.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebViewProperty.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebViewDelegate.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix Use non-edge stack in other workflows (#24954)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

fix: ical blob url crash
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Update bitrise.yml
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-9428 [Homepage] viewWillAppear gets called multiple times (#24940)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

remove localization framework
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4299 Update bitrise.yml for focus release workflow (#24962)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix MTE-4299 Update bitrise.yml for focus release workflow (#24962)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Create and setup webserver
  BrowserKit/Sources/Common/Constants/AppConstants.swift
  BrowserKit/Sources/Common/Constants/LaunchArguments.swift
  BrowserKit/Sources/Shared/AppConstants.swift
  BrowserKit/Sources/WebEngine/Engine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKEngineWebServer.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Tests/WebEngineTests/Mock/MockDispatchSourceTimerFactory.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWebServer.swift
Owners: @mozilla-mobile/fxios-eng

Integrate in SampleBrowser
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Add import
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DatabaseFixtureTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
Owners: @mozilla-mobile/fxios-automation-1

fix imports
  firefox-ios/Client/Application/main.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Telemetry/GleanUsageReporting.swift
Owners: @mozilla-mobile/fxios-eng
