Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

fix: move sse parser inside task
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

fix: compile time check only necessary bits
  firefox-ios/Client/Frontend/Summary/SummarizerError.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/FoundationModelsSummarizerTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove unnecessary public qualifiers
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMClientError.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMClientProtocol.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMSummarizer.swift
  firefox-ios/Client/Frontend/Summary/SSEDataParser.swift
  firefox-ios/Client/Frontend/Summary/SSEDataParserError.swift
Owners: @mozilla-mobile/fxios-eng

fix: update extractPayload to check for valid lines
  firefox-ios/Client/Frontend/Summary/SSEDataParser.swift
Owners: @mozilla-mobile/fxios-eng

chore: tiny comment about status codes
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

fix: address feedback
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMSummarizer.swift
  firefox-ios/Client/Protocols/URLSession/URLSessionProtocol.swift
Owners: @mozilla-mobile/fxios-eng

fix: missing return
  firefox-ios/Client/Frontend/Summary/SSEDataParser.swift
Owners: @mozilla-mobile/fxios-eng

fix: lint
  firefox-ios/Client/Protocols/URLSession/URLSessionProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12953 [HNT- Search Bar] Increase search bar shadow blur and opacity (#28307)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarCell.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12953 [HNT- Search Bar] Increase search bar shadow blur and opacity (#28307)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarCell.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12645 [Summarizer] strings for summarize content settings
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove unnecessary cast warning
  firefox-ios/Client/Frontend/Summary/LiteLLMSummarizer.swift
Owners: @mozilla-mobile/fxios-eng

update version
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12981] Bugzilla #1979499
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12963 [Summarizer] Add final summarizer for LiteLLM (#28284)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMClientError.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMClientProtocol.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMStreamDelegate.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMSummarizer.swift
  firefox-ios/Client/Frontend/Summary/MockLiteLLMClient.swift
  firefox-ios/Client/Frontend/Summary/SSEDataParser.swift
  firefox-ios/Client/Frontend/Summary/SSEDataParserError.swift
  firefox-ios/Client/Frontend/Summary/SummarizerError.swift
  firefox-ios/Client/Protocols/URLSession/URLSessionProtocol.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/FoundationModelsSummarizerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/LiteLLMSummarizerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SSEDataParserTests.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12982] Bugzilla #1979804
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12990 [Summarizer] Update nimbus for summarizer
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Summary/SummarizerNimbusUtils.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/appleSummarizerFeature.yaml
  firefox-ios/nimbus-features/hostedSummarizerFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Fix more deinits
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Microsurvey/Survey/View/MicrosurveyViewController.swift
  firefox-ios/Client/Frontend/NativeErrorPage/NativeErrorPageViewController.swift
  firefox-ios/Client/Frontend/PasswordGenerator/PasswordGeneratorViewController.swift
  firefox-ios/Client/Frontend/Settings/ContentBlockerSettingViewController.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheet.swift
  firefox-ios/Client/Frontend/Widgets/SiteTableViewController.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

new code is new
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Providers/Merino/MerinoProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/MerinoProviderTests.swift
Owners: @mozilla-mobile/fxios-eng

Check if branch first exits when updating pulling latest app-services (#28232)
  .github/workflows/update-appservices-nightly.yml
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

(WIP)(Local AS flow) Nightly auto-update (143.0.20250730050408)
  MozillaRustComponents/Package.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/FxAClient/FxAccountManager.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/FxAClient/PersistedFirefoxAccount.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/Metrics/Metrics.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/logins.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/merino.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/nimbus.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/search.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Logins/LoginsStorage.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Nimbus/NimbusCreate.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Nimbus/NimbusMessagingHelpers.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/SyncManager/SyncManagerTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

(WIP)(Local AS flow) Nightly auto-update (143.0.20250730050408)
  MozillaRustComponents/Package.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/FxAClient/FxAccountManager.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/FxAClient/PersistedFirefoxAccount.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/Metrics/Metrics.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/logins.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/merino.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/nimbus.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/search.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Logins/LoginsStorage.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Nimbus/NimbusCreate.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Nimbus/NimbusMessagingHelpers.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/SyncManager/SyncManagerTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Change base of new autonightly script to main
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12979 [Homepage Redesign - Stories] Add "Top Stories" strings for translations (#28331)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoState.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionType.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Change base of new autonightly script to main (#28342)
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-eng

(WIP)(Local AS flow) Nightly auto-update (143.0.20250730050408)
  MozillaRustComponents/Package.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/FxAClient/FxAccountManager.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/FxAClient/PersistedFirefoxAccount.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/Metrics/Metrics.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/logins.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/merino.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/nimbus.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/search.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Logins/LoginsStorage.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Nimbus/NimbusCreate.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Nimbus/NimbusMessagingHelpers.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/SyncManager/SyncManagerTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

feat: add public interface for initializing summarizers
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Summary/SummarizerService.swift
Owners: @mozilla-mobile/fxios-eng

feat: add unit tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Summary/MockSummarizationChecker.swift
  firefox-ios/Client/Frontend/Summary/MockSummarizer.swift
  firefox-ios/Client/Frontend/Summary/SummarizerService.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SummarizerServiceTests.swift
Owners: @mozilla-mobile/fxios-eng

refactor: add initializer to SummarizerError from SummarizationReason
  firefox-ios/Client/Frontend/Summary/SummarizerError.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove unnecessary public qualifiers
  firefox-ios/Client/Frontend/Summary/SummarizationChecker.swift
Owners: @mozilla-mobile/fxios-eng

refactor: make SummarizationChecker conform to a protocol
  firefox-ios/Client/Frontend/Summary/SummarizationChecker.swift
  firefox-ios/Client/Frontend/Summary/SummarizerCheckerProtocol.swift
Owners: @mozilla-mobile/fxios-eng

refactor: simplify summarize API by removing prompt from method calls
  firefox-ios/Client/Frontend/Summary/FoundationModelsSummarizer.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMSummarizer.swift
  firefox-ios/Client/Frontend/Summary/MockSummarizer.swift
  firefox-ios/Client/Frontend/Summary/SummarizerError.swift
  firefox-ios/Client/Frontend/Summary/SummarizerProtocol.swift
  firefox-ios/Client/Frontend/Summary/SummarizerService.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/FoundationModelsSummarizerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/LiteLLMSummarizerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SummarizerServiceTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove space from key
  firefox-ios/Client/Info.plist
Owners: @mozilla-mobile/fxios-eng

fix: make summary view read-only
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12998 [Summarizer] Make view read-only and fix typo in plist var (#28349)
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
  firefox-ios/Client/Info.plist
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12990 [Summarizer] Update nimbus configurations (#28334)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Summary/SummarizerNimbusUtils.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/appleSummarizerFeature.yaml
  firefox-ios/nimbus-features/hostedSummarizerFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Restore delegate
  BrowserKit/Tests/SummarizeKitTests/Mocks/MockBottomSheetDismissDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Fixed tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ZoomingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabMenuNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

Fixed SwiftLint warning
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabMenuNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

Added ErrorView
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
Owners: @mozilla-mobile/fxios-eng
