Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Fix UI test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Update CFR copy
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintCopyProvider.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12127 - [Toast audit] Update bookmark action toast (#26692)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Create nibus layer
  BrowserKit/Sources/OnboardingKit/Final/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Final/OnboardingSegmentedControl.swift
  BrowserKit/Sources/OnboardingKit/Final/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingButtons.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingInstructionsPopupInfoModel.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingCardInfoModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingKitViewModel.swift
  firefox-ios/Client/Nimbus/OnboardingFeatureLayer/NimbusOnboardingFeatureLayerProtocol.swift
  firefox-ios/Client/Nimbus/OnboardingFeatureLayer/NimbusOnboardingKitFeatureLayer.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12235 #26637 Refactor Onboarding card models for generic package usage (#26693)
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingButtonInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingButtons.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardType.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingInstructionsPopupInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingLinkInfoModel.swift
Owners: @mozilla-mobile/fxios-eng

Add migrator for search bar location
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/SearchBarLocationMigrator.swift
Owners: @mozilla-mobile/fxios-eng

Save default search bar position when onboarding gets closed
  firefox-ios/Client/Frontend/Onboarding/Models/IntroViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Views/IntroViewController.swift
Owners: @mozilla-mobile/fxios-eng

Restore NimbusSearchBarLayer to previous behaviour
  firefox-ios/Client/Nimbus/NimbusSearchBarLayer.swift
Owners: @mozilla-mobile/fxios-eng

Enable address bar animation when tab panel disappears.
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add UI
  BrowserKit/Sources/OnboardingKit/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12222 [Toolbar refactor] CFR to onboard existing users (#26650)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintCopyProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintPrefsKeysProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Interface/WallpaperManager.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContextualHints/ContextualHintEligibilityUtilityTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12222 [Toolbar refactor] CFR to onboard existing users (#26650)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintCopyProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintPrefsKeysProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Interface/WallpaperManager.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContextualHints/ContextualHintEligibilityUtilityTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12222 [Toolbar refactor] CFR to onboard existing users (#26650)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintCopyProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintPrefsKeysProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Interface/WallpaperManager.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContextualHints/ContextualHintEligibilityUtilityTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

lint
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

lint
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update build helper to support custom inits and write tests.
  BrowserKit/Sources/Common/Extensions/UIViewExtension.swift
  BrowserKit/Tests/CommonTests/Extensions/UIViewExtensionTests.swift
Owners: @mozilla-mobile/fxios-eng

don't change telemetry logging for tab loss
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Fix merge issues
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Assign different defaults keys for different events
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

[MOB-3410] Update translations. Add en-CA and en-GB (#911)
  .tx/release_notes_integration_config.yml
  fastlane/metadata/en-CA/release_notes.txt
  fastlane/metadata/en-GB/release_notes.txt
Owners: @mozilla-mobile/fxios-eng

Add tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SearchBarLocationMigratorTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix Swiftlint warnings
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SearchBarLocationMigratorTests.swift
Owners: @mozilla-mobile/fxios-eng

Organize and remove ProfileTest, attempt to fix flaky test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TestHistory.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12260 #26708 ⁃ Zoom bar should be closed after different actions (#26709)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12260 #26708 ⁃ Zoom bar should be closed after different actions (#26709)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Version bump to 11.1.1 (#912)
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng

Don't take screenshot if something is presented over the current tab
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

add test for screenshotting on app will resign active
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12201] WIP early attempt to fix sandbox escape
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/TabContentsScripts/UserScriptManager.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12201] Script
  firefox-ios/Client/Assets/SandboxUtility.js
Owners: @mozilla-mobile/fxios-eng

remove constant
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

constraints
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

fix unit test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

remove pic icon templating and adjust layout
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

fix constraint warning
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

constraints
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

pr review changes
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

scale pin icon and change layout with dynamic type
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

Fix FXIOS-11966 [Tab Tray UI] Fix blank screenshot when app goes in to the background (#26731)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix FXIOS-11966 [Tab Tray UI] Fix blank screenshot when app goes in to the background (#26731)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
