Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

fix linter error
  firefox-ios/Client/Utils/ContinuationsChecker.swift
Owners: @mozilla-mobile/fxios-eng

Change to use UX struct
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add EXP-5499: Update Experiment Integration tests for new menubar promo. (#26788)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ExperimentIntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Promote and push beta/release builds for prod releases
  taskcluster/ffios_taskgraph/build_types.py
  taskcluster/ffios_taskgraph/target_tasks.py
  taskcluster/ffios_taskgraph/transforms/relpro_promote.py
  taskcluster/ffios_taskgraph/transforms/relpro_push.py
  taskcluster/kinds/github-release/kind.yml
  taskcluster/kinds/promote/kind.yml
  taskcluster/kinds/push/kind.yml
Owners: @mozilla-mobile/fxios-automation-1

Force the staging scheme after deciding release/beta builds
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11259 Add accessibilityTraits to PhotonActionSheetView (#26689)
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetView.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ClipBoardTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DownloadsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareLongPressTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TrackingProtectionTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

switch back to just checking normal tabs and remove unneeded self
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

cache pixel count
  BrowserKit/Sources/Shared/Extensions/UIImageExtensions.swift
Owners: @mozilla-mobile/fxios-eng

Update layerAutofillText color
  BrowserKit/Sources/Common/Theming/LightTheme.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12303 #26791 ⁃ [Menu Redesign] Implement the logic for displaying items in horizontal options section
  BrowserKit/Sources/MenuKit/MenuCollectionView.swift
  BrowserKit/Sources/MenuKit/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuSection.swift
  BrowserKit/Sources/MenuKit/MenuTableView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fixed SwiftLint warnings
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Use the class name instead of init
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12236 Implement basic onboarding card UI component (#26773)
  BrowserKit/Sources/ComponentLibrary/SwiftUI/LinkButtonView.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/LinkInfoModel.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PrimaryButtonStyle.swift
  BrowserKit/Sources/OnboardingKit/Media.xcassets/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/syncWithIcons.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/syncWithIcons.imageset/syncWithIcons.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/toolbarBottom.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/toolbarBottom.imageset/toolbarBottom.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/toolbarBottomSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/toolbarBottomSelected.imageset/toolbarBottomSelected.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/toolbarTop.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/toolbarTop.imageset/toolbarTop.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/toolbarTopSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/toolbarTopSelected.imageset/toolbarTopSelected.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/trackers.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/trackers.imageset/trackers.pdf
  BrowserKit/Sources/OnboardingKit/Models/Buttons/LinkInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/MilkyWayRenderer.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView.swift
Owners: @mozilla-mobile/fxios-eng

Correct tests, organize a bit more Tab properties
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockDispatchQueue.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor as per code review and fix failing tests
  BrowserKit/Package.resolved
  BrowserKit/Sources/WebEngine/EngineSessionDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/AppLaunchPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/DataSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/HTTPSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/LocalRequestPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDeciderFactory.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockPolicyDecider.swift
  BrowserKit/Tests/WebEngineTests/Policy/AppLaunchPolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/DataSchemePolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/HTTPSchemePolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/LocalRequestPolicyDeciderTests.swift
Owners: @mozilla-mobile/fxios-eng

lint
  BrowserKit/Sources/WebEngine/EngineSessionDelegate.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12237 #26639 Implement Multiple-Selection Onboarding card component
  BrowserKit/Sources/ComponentLibrary/SwiftUI/.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/Image+Asset.swift
  BrowserKit/Sources/OnboardingKit/Media.xcassets/radioButtonNotSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/radioButtonNotSelected.imageset/radioButtonNotSelected.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/radioButtonSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/radioButtonSelected.imageset/radioButtonSelected.pdf
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
Owners: @mozilla-mobile/fxios-eng

Initial implementation
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Adjust logger level for document
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/TabManagement/Document/DocumentLogger.swift
Owners: @mozilla-mobile/fxios-eng

change tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DocumentLoggerTests.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint fix
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
Owners: @mozilla-mobile/fxios-eng

formatting and style
  BrowserKit/Sources/Shared/Extensions/UIImageExtensions.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint fix
  BrowserKit/Sources/ComponentLibrary/SwiftUI/Image+Asset.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12305 #26797 ⁃ [Unit test] Danger add names to PR warning to get notified for failure to create unit test (#26798)
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Reduce feature flag checks to use computed var
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Creating ThemeAnimator class
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabTrayThemeAnimator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Use safe:
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Turn off toolbar update CFR in nightly and for dev
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12276 [Tab tray UI experiment] Adjust gradient layer look and a11y (#26752)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12276 [Tab tray UI experiment] Adjust gradient layer look and a11y (#26752)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12179 [Top Sites Visual Refresh] Increase favicon size (#26734)
  BrowserKit/Sources/Shared/Extensions/UIImageExtensions.swift
  BrowserKit/Sources/SiteImageView/FaviconImageView.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

Fix merge conflict
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflict
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

Revert change
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Log all failure paths for tab loss
  BrowserKit/Sources/TabDataStore/TabDataStore.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

add even more logs
  BrowserKit/Sources/TabDataStore/TabDataStore.swift
  BrowserKit/Sources/TabDataStore/TabSessionStore.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

add back async
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11506 [Release Automation] notify release-signoff after shipping releases (#26651)
  taskcluster/ffios_taskgraph/transforms/release_notifications.py
  taskcluster/kinds/release-notify-ship/kind.yml
  taskcluster/test/params/release-ship-beta.yml
Owners: @mozilla-mobile/fxios-automation-1

Add FXiOS-12314 [Tab Loss] Log all failure paths for tab loss (#26818)
  BrowserKit/Sources/TabDataStore/TabDataStore.swift
  BrowserKit/Sources/TabDataStore/TabSessionStore.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Add FXiOS-12314 [Tab Loss] Log all failure paths for tab loss (#26818)
  BrowserKit/Sources/TabDataStore/TabDataStore.swift
  BrowserKit/Sources/TabDataStore/TabSessionStore.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
