Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Update based on pr feedback
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

wip
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/GleanPlumbContextProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Messaging/GleanPlumbMessageManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Microsurvey/MicrosurveyCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHome/StartAtHomeHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/WallpaperSettingsViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Use MainActor.assumeIsolated instead of spinning up a task
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

resolve merge conflicts
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Use notification protocol and update notifiable to not use main actor as part of this pr
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Storage/Rust/RustPlaces.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
Owners: @mozilla-mobile/fxios-eng

shutdown profile on deinit
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
Owners: @mozilla-mobile/fxios-eng

MainMenuActionHelper and friends regional based isolation
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetProtocol.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetView.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetViewModel.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/SingleActionViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Make RustFirefoxSuggest Sendable. Remove (unneeded?) @preconcurrency flag.
  firefox-ios/Storage/Rust/RustFirefoxSuggest.swift
Owners: @mozilla-mobile/fxios-eng

Add Sendable to Profile protocol. Add TODO.
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Rewrite loadFirefoxSuggestions to be async rather than return an unused Task. Update usage at call sites.
  firefox-ios/Client/Frontend/Browser/Search/SearchViewController.swift
  firefox-ios/Client/Frontend/Browser/Search/SearchViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Search/MockRustFirefoxSuggest.swift
Owners: @mozilla-mobile/fxios-eng

Update related unit tests and fix additional warnings.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Search/SearchViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

respond to pr feedback
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Storage/Sites/Site.swift
Owners: @mozilla-mobile/fxios-eng

Fix MockProfile.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
Owners: @mozilla-mobile/fxios-eng

Add image selection
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottom.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottom.imageset/toolbarBottom.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottomSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottomSelected.imageset/toolbarBottomSelected.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTop.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTop.imageset/toolbarTop.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTopSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTopSelected.imageset/toolbarTopSelected.pdf
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12679 #27625 ⁃ Bookmarks, Downloads and Passwords all open history panel
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
Owners: @mozilla-mobile/fxios-eng

Remove await
  firefox-ios/Client/Frontend/Settings/NotificationsSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12608 Add name to pdf file (#27655)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

fix whitespace
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12650 [Suggest] Make sure that initial ingest call is not terminated when app goes to background quickly (#27599)
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12650 [Suggest] Make sure that initial ingest call is not terminated when app goes to background quickly (#27599)
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

fix: merge conflicts
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Force address bar to the top when changing layout to landscape.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12679 ⁃ [Menu Redesign] Bookmarks, Downloads and Passwords all open history panel (#27689)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12679 ⁃ [Menu Redesign] Bookmarks, Downloads and Passwords all open history panel (#27689)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
Owners: @mozilla-mobile/fxios-eng

Fix [Release Automation] Strip `refs/heads` from the branch name passed to shipitscript (#27658)
  taskcluster/ffios_taskgraph/transforms/beta_releases.py
Owners: @mozilla-mobile/fxios-automation-1

fix test errors
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/Legacy/LegacyBookmarksPanelTests.swift
Owners: @mozilla-mobile/fxios-eng

Add automation to update nightly app-servcies
  .github/workflows/update-appservices-nightly.yml
  MozillaRustComponents/Package.swift
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

FXIOS-12680 #27626 ⁃ Don't display the Make Default Banner if the user has set up Firefox as default
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove unnecessary public accessors
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingRegularView.swift
Owners: @mozilla-mobile/fxios-eng

Reduce comments
  BrowserKit/Sources/ComponentLibrary/SwiftUI/CustomPageControl.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PagingCarousel.swift
Owners: @mozilla-mobile/fxios-eng

More descriptive naming
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
Owners: @mozilla-mobile/fxios-eng

Remove onlinktap
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingRegularView.swift
Owners: @mozilla-mobile/fxios-eng

Remove comma
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
Owners: @mozilla-mobile/fxios-eng

Isolate to Main Actor.
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/WebServerUtil.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Reader/ReaderModeHandlers.swift
Owners: @mozilla-mobile/fxios-eng

Use notification to update address bar.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12687 - [Toolbar UI Experiment] - Disable bottom toolbar on Landscape (#27691)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12687 - [Toolbar UI Experiment] - Disable bottom toolbar on Landscape (#27691)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Correct lag on gradient animations
  BrowserKit/Package.resolved
  BrowserKit/Package.swift
  BrowserKit/Sources/SummarizeKit/Test.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  SampleBrowser/SampleBrowser.xcodeproj/project.pbxproj
  SampleBrowser/SampleBrowser/SceneDelegate.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
  SampleBrowser/SampleBrowser/UI/Settings/SettingsDataSource.swift
  SampleBrowser/SampleBrowser/UI/Settings/SettingsDelegate.swift
  SampleBrowser/SampleBrowser/UI/Settings/SettingsType.swift
  SampleBrowser/SampleBrowser/UI/Settings/SettingsViewController.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
  firefox-ios/Client/Coordinators/Router/DefaultRouter.swift
  firefox-ios/Client/Coordinators/Router/Router.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Protocols/NavigationController.swift
Owners: @mozilla-mobile/fxios-eng

remove header logo
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SectionHeader/LabelButtonHeaderView.swift
Owners: @mozilla-mobile/fxios-eng
