Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

fix for TopTabsViewController is init on iPhone
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

feat: Add automatic .mobileconfig support for iOS configuration profiles
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/MIMEType.swift
  firefox-ios/Client/Frontend/Browser/OpenInHelper/OpenMobileConfigHelper.swift
  firefox-ios/Shared/Strings.swift
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
  focus-ios/Blockzilla/UIComponents/UIConstants.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-7332] Readability, minor fix
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Smoke tests should be ok now
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove experiment related full functional tests from smoke tests
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-27329 [TA 2025] Move history panel probes to its own YAML file (#27467)
  firefox-ios/Client/Glean/probes/library.history_panel.yaml
  firefox-ios/Client/Glean/probes/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12574 [Toolbar] Update toolbar background colors (#27385)
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/LightTheme.swift
  BrowserKit/Sources/Common/Theming/PrivateModeTheme.swift
  BrowserKit/Sources/Common/Theming/ThemeColourPalette.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/PlainSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabTrayPanelSwipePalette.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/Frontend/Browser/WebView/PullRefreshView.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeBarView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12574 [Toolbar] Update toolbar background colors (#27385)
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/LightTheme.swift
  BrowserKit/Sources/Common/Theming/PrivateModeTheme.swift
  BrowserKit/Sources/Common/Theming/ThemeColourPalette.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/PlainSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabTrayPanelSwipePalette.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/Frontend/Browser/WebView/PullRefreshView.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeBarView.swift
Owners: @mozilla-mobile/fxios-eng

Add iPad variant
  BrowserKit/Sources/Common/Protocols/DeviceTypeKey.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/CustomPageControl.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingViewiPhone.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceViewiPhone.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint fix
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceViewiPad.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint fix
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
Owners: @mozilla-mobile/fxios-eng

Title fix
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceViewiPhone.swift
Owners: @mozilla-mobile/fxios-eng

Fix FXIOS-1235 Full Functional Test Plan with experiment on/off (#27462)
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DesktopModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DownloadsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FindInPageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ToolbarTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ZoomingTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Remove [MTE-4708] - pocket test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Create action extension
  firefox-ios/ActionExtension/ActionViewController.swift
  firefox-ios/ActionExtension/Info.plist
  firefox-ios/ActionExtension/Media.xcassets/ActionExtensionIcons.appiconset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/ActionExtensionIcons.appiconset/appstore-tinted.png
  firefox-ios/ActionExtension/Media.xcassets/Contents.json
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Refactor
  firefox-ios/ActionExtension/ActionViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add share UI
  firefox-ios/ActionExtension/ActionViewController.swift
  firefox-ios/ActionExtension/EmbeddedNavController.swift
  firefox-ios/ActionExtension/Info.plist
  firefox-ios/ActionExtension/InitialViewController.swift
  firefox-ios/ActionExtension/Media.xcassets/ActionExtensionIcons.appiconset/ActionExtensionIcons.png
  firefox-ios/ActionExtension/Media.xcassets/ActionExtensionIcons.appiconset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/ActionExtensionIcons.appiconset/appstore-tinted.png
  firefox-ios/ActionExtension/Media.xcassets/Icon-Small.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/Icon-Small.imageset/icon-40.png
  firefox-ios/ActionExtension/Media.xcassets/Icon-Small.imageset/icon-40@2x.png
  firefox-ios/ActionExtension/Media.xcassets/Icon-Small.imageset/icon-40@3x.png
  firefox-ios/ActionExtension/Media.xcassets/bookmarkLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/bookmarkLarge.imageset/bookmarkLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/chevronRightLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/chevronRightLarge.imageset/chevronRightLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/cloudLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/cloudLarge.imageset/cloudLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/deviceDesktopLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/deviceDesktopLarge.imageset/deviceDesktopLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/deviceDesktopSendLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/deviceDesktopSendLarge.imageset/deviceDesktopSendLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/deviceMobileLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/deviceMobileLarge.imageset/deviceMobileLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/deviceTabletLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/deviceTabletLarge.imageset/deviceTabletLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/logoFirefoxLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/logoFirefoxLarge.imageset/logoFirefoxLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/readingListAddLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/readingListAddLarge.imageset/readingListAddLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/searchLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/searchLarge.imageset/searchLarge.pdf
  firefox-ios/ActionExtension/Media.xcassets/tabTrayLarge.imageset/Contents.json
  firefox-ios/ActionExtension/Media.xcassets/tabTrayLarge.imageset/tabTrayLarge.pdf
  firefox-ios/ActionExtension/SendToDevice.swift
  firefox-ios/ActionExtension/ShareViewController.swift
  firefox-ios/ActionExtension/UX.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Move common files to be used by both extensions
  firefox-ios/ActionExtension/InitialViewController.swift
  firefox-ios/ActionExtension/ShareViewController.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Utils/ExtensionsUtils/EmbeddedNavController.swift
  firefox-ios/Client/Utils/ExtensionsUtils/SendToDevice.swift
  firefox-ios/Client/Utils/ExtensionsUtils/ShareViewController.swift
  firefox-ios/Client/Utils/ExtensionsUtils/UXConstants.swift
  firefox-ios/Extensions/ShareTo/EmbeddedNavController.swift
  firefox-ios/Extensions/ShareTo/InitialViewController.swift
  firefox-ios/Extensions/ShareTo/SendToDevice.swift
  firefox-ios/Extensions/ShareTo/UXConstants.swift
Owners: @mozilla-mobile/fxios-eng

Fix localization export
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix sent to
  firefox-ios/ActionExtension/ActionViewController.swift
  firefox-ios/ActionExtension/Info.plist
  firefox-ios/ActionExtension/en.lproj/InfoPlist.strings
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Share/SendToDeviceHelper.swift
Owners: @mozilla-mobile/fxios-eng

add bundle identifiers
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix compilation
  firefox-ios/ActionExtension/Info.plist
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix pxproj
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix crash
  firefox-ios/ActionExtension/Info.plist
Owners: @mozilla-mobile/fxios-eng

Swiftlint fix
  firefox-ios/Client/Utils/ExtensionsUtils/EmbeddedNavController.swift
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Remove toast and handlers to show toast
  firefox-ios/Client/Coordinators/PasswordManagerCoordinator.swift
  firefox-ios/Client/Frontend/PasswordManagement/PasswordManagerListViewController.swift
  firefox-ios/Client/Frontend/Settings/PasswordDetailViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add missing UI tests for swiping tabs on experiment
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Nimbus/TestData/swipingTabsOn.json
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor test to open a few tabs
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Initial commit for UITest to detect cookie lost
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/WebServerUtil.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceUITests.swift
  test-fixtures/test-cookie-store.html
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update to use top sites instead of typing website
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add another test that opens multiple tabs to force cookie issues
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceUITests.swift
  test-fixtures/test-cookie-store.html
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

best option to open a test local file
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove unused function and rename test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Disabled in other testplan except FullFunctional
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
Owners: @mozilla-mobile/fxios-eng

Fix compilation issue
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Widgets/ToggleButton.swift
  firefox-ios/Extensions/ActionExtension/ActionViewController.swift
  firefox-ios/Extensions/ActionExtension/Info.plist
  firefox-ios/Extensions/ActionExtension/Media.xcassets/ActionExtensionIcons.appiconset/ActionExtensionIcons.png
  firefox-ios/Extensions/ActionExtension/Media.xcassets/ActionExtensionIcons.appiconset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/Icon-Small.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/Icon-Small.imageset/icon-40.png
  firefox-ios/Extensions/ActionExtension/Media.xcassets/Icon-Small.imageset/icon-40@2x.png
  firefox-ios/Extensions/ActionExtension/Media.xcassets/Icon-Small.imageset/icon-40@3x.png
  firefox-ios/Extensions/ActionExtension/Media.xcassets/bookmarkLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/bookmarkLarge.imageset/bookmarkLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/chevronRightLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/chevronRightLarge.imageset/chevronRightLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/cloudLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/cloudLarge.imageset/cloudLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/deviceDesktopLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/deviceDesktopLarge.imageset/deviceDesktopLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/deviceDesktopSendLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/deviceDesktopSendLarge.imageset/deviceDesktopSendLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/deviceMobileLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/deviceMobileLarge.imageset/deviceMobileLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/deviceTabletLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/deviceTabletLarge.imageset/deviceTabletLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/logoFirefoxLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/logoFirefoxLarge.imageset/logoFirefoxLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/readingListAddLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/readingListAddLarge.imageset/readingListAddLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/searchLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/searchLarge.imageset/searchLarge.pdf
  firefox-ios/Extensions/ActionExtension/Media.xcassets/tabTrayLarge.imageset/Contents.json
  firefox-ios/Extensions/ActionExtension/Media.xcassets/tabTrayLarge.imageset/tabTrayLarge.pdf
  firefox-ios/Extensions/ActionExtension/en.lproj/InfoPlist.strings
Owners: @mozilla-mobile/fxios-eng

Fix compilation
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12499 [Toolbar] Shadow around address bar is cut off at the top and bottom (#27388)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Use the async/await version of SiriShortcuts + settings logger category
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/Client/Frontend/Extensions/SiriShortcuts.swift
  firefox-ios/Client/Frontend/Settings/SiriSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove [MTE-4708] - pocket test (#27492)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12617 #27494 ⁃ App crashes on siri shortcut open new tab (#27496)
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/Client/Frontend/Extensions/SiriShortcuts.swift
  firefox-ios/Client/Frontend/Settings/SiriSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng
