Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

docs: refine string comment
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4274 - testFilterWebsiteData test (#24797)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DataManagementTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-11393 #24796 ⁃ "Delete tabs" button in Tab Tray doesn't work after action sheet is closed
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4271 - toggle on/off address test
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MultiWindowTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Added tests for TemporaryDocument
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockBrowserCoordinator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

Added tests for Browser coordinator
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11364 - [Toolbar Redesign] - URL not displayed correctly in reader mode (#24739)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11364 - [Toolbar Redesign] - URL not displayed correctly in reader mode (#24739)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11364 - [Toolbar Redesign] - URL not displayed correctly in reader mode (#24739)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Added Tests to tabs, added accessibility label and identifiers
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/WebView/TemporaryDocumentLoadingView.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
Owners: @mozilla-mobile/fxios-eng

Moved Mock files, added stop test to TabTests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabWebView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockURLProtocol.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockURLResponse.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove pull refresh feature flag and legacy code
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
  firefox-ios/nimbus-features/pullToRefreshRefactorFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 135.3
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Bugfix FXIOS-11393 ⁃ "Delete tabs" button in Tab Tray doesn't work after action sheet is closed (#24805)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4271 - toggle on/off address test (#24806)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MultiWindowTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bump - Set version to 135.3 (#24813)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor wait
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11364 - [Toolbar Redesign] - URL not displayed correctly in reader mode (#24739)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Move function to class and remove extension
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11316 #24615 ⁃ Saving bookmark with new app menu doesn't update "Open last bookmark" home page quick action
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11184 [WebEngine] Adjusting Observer functionalities in EngineSession to be on par with production (#24715)
  BrowserKit/Sources/WebEngine/EngineSessionDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/Internal/WKInternalURL.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSessionData.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKScrollView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockEngineScrollView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockEngineSessionDelegate.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockUIRefreshControl.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add protocol conformance to class
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Add test case for special SVG which previously caused crashes in earlier version of SwiftDraw.
  BrowserKit/Package.swift
  BrowserKit/Tests/SiteImageViewTests/Resources/inf-nan.svg
  BrowserKit/Tests/SiteImageViewTests/SVGImageProcessorTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11306 [Address Bar Animation] Loading bar color is incorrect in private mode after force-closing and resuming Firefox. (#24760)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11306 [Address Bar Animation] Loading bar color is incorrect in private mode after force-closing and resuming Firefox. (#24760)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

return to edit mode
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
Owners: @mozilla-mobile/fxios-eng

Show long press actions when accessibility font sizes are enabled
  BrowserKit/Sources/ToolbarKit/TabNumberButton.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
Owners: @mozilla-mobile/fxios-eng

formatting
  firefox-ios/Client/Frontend/Library/LibraryViewController/LibraryViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11282 Pull refresh feature flag and legacy code (#24812)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
  firefox-ios/nimbus-features/pullToRefreshRefactorFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Remove ASGroups from applySnapshot. Update fatal log.
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11147 [Tab Optomization Phase 1] Additional Tab Manager cleanup (#24560)
  BrowserKit/Sources/Shared/NotificationConstants.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11350 Remove ASGroup from History Panel applySnapshot (#24819)
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11350 Remove ASGroup from History Panel applySnapshot (#24819)
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
Owners: @mozilla-mobile/fxios-eng

What if we made tab manager functionality sync
  firefox-ios/Client/ApplicationHelper.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Remove logic from DownloadHelper initializer + handle pdf download
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/OpenInHelper/DownloadHelper.swift
Owners: @mozilla-mobile/fxios-eng

Fix constraints issue with webview
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKWebViewProvider.swift
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
Owners: @mozilla-mobile/fxios-eng

Replace javascript find in page with iOS 16+ one
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/FindInPageContentScript.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/FindInPageContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/MetadataFetcherHelperTests.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockFindInPageDelegate.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebViewProvider.swift
  BrowserKit/Tests/WebEngineTests/WKContentScriptManagerTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKUserScriptManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
Owners: @mozilla-mobile/fxios-eng

Adjust find in page in SampleBrowser
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/Mock/UIFindInteraction.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  SampleBrowser/SampleBrowser.xcodeproj/project.pbxproj
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
  SampleBrowser/SampleBrowser/UI/Components/FindInPage.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
Owners: @mozilla-mobile/fxios-eng
