Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

[FXIOS-11581] For now only perform sync coordination for primary iOS app target
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9750 #21419 - Sync after changing password
  firefox-ios/RustFxA/FxAWebViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FIXIOS-11813 [Tab Tray Experiments] Fix tab selector starting on tabs every time (#25761)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FIXIOS-11813 [Tab Tray Experiments] Fix tab selector starting on tabs every time (#25761)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FIXIOS-11813 [Tab Tray Experiments] Fix tab selector starting on tabs every time (#25761)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Cleanup animation file
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Add Animation file
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Router/DefaultRouter.swift
  firefox-ios/Client/Coordinators/Router/Router.swift
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Extensions/UIView+Extension.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabTrayAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/BasicAnimationControllerDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update indentation
  firefox-ios/Client/Extensions/UIView+Extension.swift
Owners: @mozilla-mobile/fxios-eng

A file that the script actually likes
  firefox-ios/nimbus-features/tabAnimation.yaml
  firefox-ios/nimbus-features/tabAnimationFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

update feature flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/tabAnimationFeature.yaml
Owners: @mozilla-mobile/fxios-eng

cleanup
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabTrayAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/BasicAnimationControllerDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

set presentation style to custom
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Re-indent the whole file because what the heck
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Add animation to secret settings menu
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
Owners: @mozilla-mobile/fxios-eng

Set back to fullscreen
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Fix bug where colors of toolbars not updating after adding animation
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
Owners: @mozilla-mobile/fxios-eng

Remove comments
  firefox-ios/Client/Coordinators/Router/DefaultRouter.swift
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Clean up TabAnimation file
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Fix bug where colors of toolbars not updating after adding animation
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
Owners: @mozilla-mobile/fxios-eng

Cleanup guards
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Remove whitespace
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Cleanup
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Add check for reduce motion
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

reindent and remove public declarations
  firefox-ios/Client/Frontend/Browser/Tabs/Views/BasicAnimationControllerDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Replace references to TabCell
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Dismiss working
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Adjust animation
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Reapply "Refactor [v138] Auto update SPM with latest rust-component 138.0.20250328200527 (#25638)"
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/bin/sdk_generator.sh
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/bin/sdk_generator.sh
Owners: @mozilla-mobile/fxios-eng

Revert "Refactor [v138] Auto update SPM with latest rust-component 138.0.20250328200527 (#25638)"
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/bin/sdk_generator.sh
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/bin/sdk_generator.sh
Owners: @mozilla-mobile/fxios-eng

Add sub feature flag for animation
  firefox-ios/nimbus-features/tabAnimation.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Simplify comments
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Fix test
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

update test
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockRouter.swift
Owners: @mozilla-mobile/fxios-eng

Added FXIOS-11603 [Tab Tray UI Experiments] Add Full Screen Presentation and Dismissal Animation to Tab Tray (#25653)
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Router/DefaultRouter.swift
  firefox-ios/Client/Coordinators/Router/Router.swift
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Extensions/UIView+Extension.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/BasicAnimationControllerDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockRouter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
  firefox-ios/nimbus-features/tabAnimationFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Added FXIOS-11603 [Tab Tray UI Experiments] Add Full Screen Presentation and Dismissal Animation to Tab Tray (#25653)
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Router/DefaultRouter.swift
  firefox-ios/Client/Coordinators/Router/Router.swift
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Extensions/UIView+Extension.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/BasicAnimationControllerDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockRouter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
  firefox-ios/nimbus-features/tabAnimationFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Added FXIOS-11603 [Tab Tray UI Experiments] Add Full Screen Presentation and Dismissal Animation to Tab Tray (#25653)
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Router/DefaultRouter.swift
  firefox-ios/Client/Coordinators/Router/Router.swift
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Extensions/UIView+Extension.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/BasicAnimationControllerDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockRouter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
  firefox-ios/nimbus-features/tabAnimationFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9750 #21419 - Sync after changing password (#25700)
  firefox-ios/RustFxA/FxAWebViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11782 [Tab tray UI Experiment] Disable experiment dev build (#25690)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Fix conflicts
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11737 [Tab tray UI experiment] Missing fade effect in private browsing tab tray (#25698)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng
