Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Add FXIOS-12918 [Swift 6 Migration] Fix Swift concurrency warning for CarouselPositionKey static property by making CarouselPosition Sendable (#28158)
  BrowserKit/Sources/ComponentLibrary/SwiftUI/CarouselPositionKey.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PagingCarousel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12920 #28163 ⁃ [Menu Redesign] Apply Glass effect on menu, for iOS 26
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuInfoCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Replaced #available with #unavailable in some cases
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12884 [HNT - Search Bar] show middle search after closing tab
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Add Testrail link
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

add tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fixed SwiftLint warning
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12884 [HNT - Search Bar] show middle search after closing tab (#28124)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12884 [HNT - Search Bar] show middle search after closing tab (#28124)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12831 [Swift 6 Migration] HomepageMiddleware middleware actor isolation
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

resolve conflict in tests due to naming changes not ported back
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12730 - [Toolbar Translucency] - Address bar and toolbar colors do not match when becoming visible after scrolling with "Find in Page" open (#28053)
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+FindInPage.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12909 [Merino] Add new regions supported (#28169)
  firefox-ios/Providers/Merino/MerinoProvider.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12831 [Swift 6 Migration] StartAtHomeMiddleware is main actor (#28176)
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockStoreForMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHome/StartAtHomeMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Turn on both xcode 26.0 and swift strict concurrency
  bitrise.yml
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Bump simulator version
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bump simulator version for L10n
  bitrise.yml
  firefox-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

bump warning count
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

Fix indentation + fix empty views warnings
  firefox-ios/Client/Frontend/Browser/Tabs/Views/EmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentEmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentRemoteTabsEmptyView.swift
Owners: @mozilla-mobile/fxios-eng

Add MainActor to protocols related to remote tabs views
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentRemoteTabsEmptyView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsEmptyView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
Owners: @mozilla-mobile/fxios-eng

Fix test to build
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/RemoteTabsPanelTests.swift
Owners: @mozilla-mobile/fxios-eng

Rename mock to be consistent
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/RemoteTabsEmptyViewDelegate.swift
Owners: @mozilla-mobile/fxios-eng

fix test and rename another mock
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/RemoteTabsEmptyViewDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/RemoteTabsPanelDelegateMock.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/RemoteTabsPanelTests.swift
Owners: @mozilla-mobile/fxios-eng

Adjust microsurvey and message card middlewares
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardMiddleware.swift
  firefox-ios/Client/Frontend/Microsurvey/Prompt/MicrosurveyPromptMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MessageCardMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Microsurvey/Mock/MicrosurveyPromptMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12831 [Swift 6 Migration] HomepageMiddleware middleware actor isolation (#28201)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

how about swift strict concurrency to complete?
  firefox-ios/Client.xcodeproj/project.pbxproj
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

Adjust remote tabs panel middleware
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/RemoteTabsPanelMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Fix zoom bar.
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Revert to "targeted".
  firefox-ios/Client.xcodeproj/project.pbxproj
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Migrate redux Actions from class inheritance to Sendable structs (#28138)
  BrowserKit/Sources/Redux/Action.swift
  BrowserKit/Tests/ReduxTests/Utilities/FakeReduxAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/NavigationBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuAction.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/Redux/SearchEngineSelectionAction.swift
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/RemoteTabsManagerAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/RemoteTabsPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabManagerAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPeekAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabTrayAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TopTabsAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/FeltPrivacy/PrivateModeAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesAction.swift
  firefox-ios/Client/Frontend/Home/Wallpaper/Redux/WallpaperAction.swift
  firefox-ios/Client/Frontend/Microsurvey/Prompt/MicrosurveyPromptAction.swift
  firefox-ios/Client/Frontend/Microsurvey/Survey/MicrosurveyAction.swift
  firefox-ios/Client/Frontend/NativeErrorPage/NativeErrorPageAction.swift
  firefox-ios/Client/Frontend/PasswordGenerator/PasswordGeneratorAction.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeSettingsAction.swift
  firefox-ios/Client/Frontend/TrackingProtection/TrackigProtectionRedux/TrackingProtectionAction.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenAction.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12831 [Swift 6 Migration] NativeErrorPageMiddleware middleware actor isolation (#28187)
  firefox-ios/Client/Frontend/NativeErrorPage/NativeErrorPageMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12831 [Swift 6 Migration] Adjust microsurvey and message card middlewares (#28207)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardMiddleware.swift
  firefox-ios/Client/Frontend/Microsurvey/Prompt/MicrosurveyPromptMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MessageCardMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Microsurvey/Mock/MicrosurveyPromptMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Update Focus Debug signing configuration
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Changes to toolbar middleware
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

fix: sendable warnings
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

refactor: only resolve when document is ready
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/Summarizer.js
Owners: @mozilla-mobile/fxios-eng

feat: add language detector
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/Summarizer.js
Owners: @mozilla-mobile/fxios-eng

feat: add test case
  firefox-ios/Client/Frontend/Summary/SummarizationReason.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SummarizationCheckerTests.swift
Owners: @mozilla-mobile/fxios-eng

TabManagerMiddleware changes
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManager.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove documentNotReady
  firefox-ios/Client/Frontend/Summary/SummarizationReason.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SummarizationCheckerTests.swift
Owners: @mozilla-mobile/fxios-eng
