Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Fix warnings
  firefox-ios/Client/Application/RemoteSettings/Application Services/RemoteSettingsServiceSyncCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/ForceRSSyncSetting.swift
  firefox-ios/Client/GeneralizedImageFetcher.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/RustFxA/Avatar.swift
  firefox-ios/Storage/FileAccessor.swift
  firefox-ios/WidgetKit/OpenTabs/TabProvider.swift
  firefox-ios/WidgetKit/TopSites/TopSitesProvider.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12580 #27395 ⁃ [Swift 6 Migration] Turn the flag ON for Forward Trailing Closures (#27405)
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Make many things main actor isolated
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Application/DefaultBrowserUtil.swift
  firefox-ios/Client/Application/WindowManager+DebugUtilities.swift
  firefox-ios/Client/Coordinators/BaseCoordinator.swift
  firefox-ios/Client/Coordinators/Coordinator.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Coordinators/Launch/LaunchType.swift
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
  firefox-ios/Client/Coordinators/Scene/SceneCoordinator.swift
  firefox-ios/Client/Experiments/Experiments.swift
  firefox-ios/Client/Experiments/RecordedNimbusContext.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchParser.swift
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/SearchBarLocationSaver.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/HomepageDimensionImplementation.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionHandler.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModelProtocol.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  firefox-ios/Client/Frontend/Home/TopSites/TopSitesDimension.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingService.swift
  firefox-ios/Client/RatingPromptManager.swift
Owners: @mozilla-mobile/fxios-eng

Turn on Inferring Sendable for methods and key path literals.
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12593, FXIOS-12578 [Swift 6 Migration] Turn on flag for Infer Sendable for methods and key path literals (#27416)
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/FileAccessorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/OpenSearchEngineTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/MockFiles.swift
Owners: @mozilla-mobile/fxios-eng

Turn the flag ON and fix the crashes with our app container
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/DependencyHelper.swift
Owners: @mozilla-mobile/fxios-eng

Fix unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DependencyInjection/DependencyHelperMock.swift
Owners: @mozilla-mobile/fxios-eng

endable SWIFT_UPCOMING_FEATURE_DISABLE_OUTWARD_ACTOR_ISOLATION
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12581 [Swift 6 Migration] Turn the flag ON for Implicitly Opened Existentials (#27401)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/DependencyHelper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DependencyInjection/DependencyHelperMock.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12575 [Swift 6] Enable SWIFT_UPCOMING_FEATURE_DISABLE_OUTWARD_ACTOR_ISOLATION (#27422)
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Add TODO tickets.
  firefox-ios/Client/Experiments/Experiments.swift
  firefox-ios/Storage/ThirdParty/SwiftData.swift
Owners: @mozilla-mobile/fxios-eng

Remove WAL since we never set it and fix tests
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/Storage/ThirdParty/SwiftData.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/TestSwiftData.swift
Owners: @mozilla-mobile/fxios-eng

Addressing UI test compile errors.
  firefox-ios/firefox-ios-tests/Tests/StorageTests/TestSwiftData.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TodayWidgetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Addressing unit test compile errors.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockContileProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockURLProtocol.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TestingHelperClasses/URLProtocolStub.swift
Owners: @mozilla-mobile/fxios-eng

turn on SWIFT_UPCOMING_FEATURE_GLOBAL_CONCURRENCY
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/Client/Application/main.swift
  firefox-ios/Client/ContentBlocker/TrackingProtectionPageStats.swift
  firefox-ios/Client/Experiments/Experiments.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityIntent.swift
  firefox-ios/Client/Frontend/Browser/Search/SearchViewModel.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Models/Wallpaper.swift
  firefox-ios/Client/Frontend/PasswordGenerator/PasswordGeneratorMiddleware.swift
  firefox-ios/Client/Frontend/Reader/ReaderModeHandlers.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericButtonCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeSettingsController.swift
  firefox-ios/Client/Frontend/TabContentsScripts/DownloadContentScript.swift
  firefox-ios/Client/Frontend/UIConstants.swift
  firefox-ios/Client/TabManagement/GlobalTabEventHandlers.swift
  firefox-ios/Client/TabManagement/Tab+ChangeUserAgent.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabEventHandler.swift
  firefox-ios/CredentialProvider/CredentialProviderViewController.swift
  firefox-ios/RustFxA/RustFirefoxAccounts.swift
  firefox-ios/Storage/RustKeychain.swift
  firefox-ios/Storage/SQL/SQLitePinnedSites.swift
  firefox-ios/Storage/ThirdParty/SwiftData.swift
  firefox-ios/WidgetKit/OpenTabs/SimpleTab.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12476 #27203 ⁃ New Menu is empty and no options are displayed
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Turn on Concise magic flag.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Settings/SettingsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12476 ⁃ New Menu is empty and no options are displayed (#27434)
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12607 #27436 ⁃ [Menu Redesign] Menu options disappear when swipe the menu
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix swiftlint.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SearchEngineSelectionCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12607 ⁃ [Menu Redesign] Menu options disappear when swipe the menu (#27437)
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4488 Align automated test with TestRail (#27410)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FirefoxSuggestTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Make appDelegate let.
  firefox-ios/Client/Application/main.swift
Owners: @mozilla-mobile/fxios-eng

Revert change.
  firefox-ios/Client/Application/main.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12577 [Swift 6] Turn on SWIFT_UPCOMING_FEATURE_GLOBAL_CONCURRENCY (#27419)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/Client/Application/main.swift
  firefox-ios/Client/ContentBlocker/TrackingProtectionPageStats.swift
  firefox-ios/Client/Experiments/Experiments.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityIntent.swift
  firefox-ios/Client/Frontend/Browser/Search/SearchViewModel.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Models/Wallpaper.swift
  firefox-ios/Client/Frontend/PasswordGenerator/PasswordGeneratorMiddleware.swift
  firefox-ios/Client/Frontend/Reader/ReaderModeHandlers.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericButtonCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeSettingsController.swift
  firefox-ios/Client/Frontend/TabContentsScripts/DownloadContentScript.swift
  firefox-ios/Client/Frontend/UIConstants.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/Client/TabManagement/GlobalTabEventHandlers.swift
  firefox-ios/Client/TabManagement/Tab+ChangeUserAgent.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabEventHandler.swift
  firefox-ios/CredentialProvider/CredentialProviderViewController.swift
  firefox-ios/RustFxA/RustFirefoxAccounts.swift
  firefox-ios/Storage/RustKeychain.swift
  firefox-ios/Storage/SQL/SQLitePinnedSites.swift
  firefox-ios/Storage/ThirdParty/SwiftData.swift
  firefox-ios/WidgetKit/OpenTabs/SimpleTab.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockContileProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockURLProtocol.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TestingHelperClasses/URLProtocolStub.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/TestSwiftData.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TodayWidgetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Just in case, put this on main thread
  firefox-ios/Client/Frontend/Settings/Main/Account/AccountStatusSetting.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12583 [Swift 6 Migration] Fix warnings to enable the Region Based Isolation flag (#27426)
  firefox-ios/Client/Application/RemoteSettings/Application Services/RemoteSettingsServiceSyncCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Main/Account/AccountStatusSetting.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/ForceRSSyncSetting.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetView.swift
  firefox-ios/Client/GeneralizedImageFetcher.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/RustFxA/Avatar.swift
  firefox-ios/Storage/FileAccessor.swift
  firefox-ios/WidgetKit/OpenTabs/TabProvider.swift
  firefox-ios/WidgetKit/TopSites/TopSitesProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/FileAccessorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/OpenSearchEngineTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/MockFiles.swift
Owners: @mozilla-mobile/fxios-eng

Fix BookmarksTests
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix ensureMainThread
  firefox-ios/Client/DispatchQueueHelper.swift
Owners: @mozilla-mobile/fxios-eng

Adjust HistoryTests
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

manageSiri is now @MainActor
  firefox-ios/Client/Frontend/Extensions/SiriShortcuts.swift
  firefox-ios/Client/Frontend/Settings/SiriSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Make LoginStorage protocol @MainActor
  firefox-ios/Client/Frontend/Autofill/LoginStorage.swift
Owners: @mozilla-mobile/fxios-eng

Take out gdc call on main actor because it's not necessary
  firefox-ios/Client/Frontend/Extensions/SiriShortcuts.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12581 [Swift 6 migration] manageSiri is now @MainActor (#27444)
  firefox-ios/Client/Frontend/Extensions/SiriShortcuts.swift
  firefox-ios/Client/Frontend/Settings/SiriSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12135 [Tab tray UI experiment] Full functional suites follow up (#27443)
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

App delegate fixes and some other random ones
  firefox-ios/Account/FxAPushMessageHandler.swift
  firefox-ios/Client/Application/AppDelegate+PushNotifications.swift
  firefox-ios/Client/Application/AppDelegate+SyncSentTabs.swift
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/BackgroundFirefoxSuggestIngestUtility.swift
  firefox-ios/Client/UserNotificationCenterProtocol.swift
  firefox-ios/Extensions/NotificationService/NotificationService.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-7332] Initial work to prevent JS alert spam
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/Utils/JSAlertThrottler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/JSAlertThrottlerTests.swift
Owners: @mozilla-mobile/fxios-eng

Make profile unchecked sendable
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-7332] Some fixes
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Utils/JSAlertThrottler.swift
Owners: @mozilla-mobile/fxios-eng
