Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Remove unused UA spoofing for Google
  BrowserKit/Sources/Shared/UserAgent.swift
Owners: @mozilla-mobile/fxios-eng

Update Focus UAstring versions to 17.7
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-27850 [Incorrect Tab Thumbnail After-Opening Link in New Tab and Switching] Show-correct-thumbnail (#27913)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add automation to update nightly app-servcies (#27717)
  .github/workflows/update-appservices-nightly.yml
  MozillaRustComponents/Package.swift
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor FXIOS-12716 [webcompat] Update uastring versions (#27699)
  BrowserKit/Sources/Shared/UserAgent.swift
  firefox-ios/firefox-ios-tests/Tests/SharedTests/UserAgentBuilderTests.swift
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor MTE Remove unused files (#28078)
  focus-ios/focus-ios-tests/github-actions-scripts/read-rust-component-tag.sh
  focus-ios/focus-ios-tests/github-actions-scripts/requirements.txt
  focus-ios/focus-ios-tests/github-actions-scripts/update-rust-component-version.py
Owners: @mozilla-mobile/fxios-automation-1

Remove carthage lipo workaround
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Put back "10" reptitions
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

pin content to bottom container
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

cleanup pt 5
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Providers/Pocket/Model/MerinoStory.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketFeedTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/ContextMenu/ContextMenuConfigurationTests.swift
Owners: @mozilla-mobile/fxios-eng

successful build yays
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/DependencyHelper.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketManager.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketStandardCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketStoryConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/StoryCell.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketDataAdaptor.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketStandardCellViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryProvider.swift
  firefox-ios/Providers/Pocket/MerinoProvider.swift
  firefox-ios/Providers/Pocket/Model/MerinoStory.swift
Owners: @mozilla-mobile/fxios-eng

cleanup pt 3
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/Providers/Pocket/Model/MerinoStory.swift
  firefox-ios/Providers/Pocket/Model/PocketFeedStory.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketStoryProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/StoryViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/ContextMenu/ContextMenuConfigurationTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockPocketManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/PocketManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockPocketAPI.swift
Owners: @mozilla-mobile/fxios-eng

cleanup pt 4
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DependencyInjection/DependencyHelperMock.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketStoryProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/StoryDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/MerinoManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockPocketManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MerinoMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MerinoStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

add stories
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketStoryConfiguration.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryProvider.swift
  firefox-ios/Providers/Pocket/Model/MerinoStory.swift
Owners: @mozilla-mobile/fxios-eng

merino API test calls
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

cleanup pt 2
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/MerinoAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/MerinoManager.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/MerinoMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/MerinoStandardCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/MerinoState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/MerinoStoryConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketStoryConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/Client/Frontend/Home/HomepageContextMenuHelper.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionType.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryStandardCellViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryViewModel.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/Providers/Pocket/MerinoProvider.swift
  firefox-ios/Providers/Pocket/Model/PocketSponsoredStory.swift
  firefox-ios/Providers/Pocket/Model/PocketStory.swift
  firefox-ios/Providers/Pocket/PocketProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/StoryViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockPocketManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Nimbus/NimbusFeatureFlagLayerTests.swift
Owners: @mozilla-mobile/fxios-eng

cleanup 1
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/LegacyPocketStandardCell.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketStandardCellViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryDataAdaptor.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryViewModel.swift
  firefox-ios/Providers/Pocket/MerinoProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/StoryViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/pocketglobalfeed.json
  firefox-ios/firefox-ios-tests/Tests/ClientTests/pocketsponsoredfeed.json
Owners: @mozilla-mobile/fxios-eng

fix number of stories because storytime is good
  firefox-ios/Client/Frontend/Home/Pocket/StoryProvider.swift
  firefox-ios/Providers/Pocket/MerinoProvider.swift
Owners: @mozilla-mobile/fxios-eng

the tests, harry, they are passing!
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Pocket/StoryDataAdaptor.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryProvider.swift
  firefox-ios/Providers/Pocket/MerinoProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/StoryDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/MerinoManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockMerinoAPI.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Isolate `TabToolbarHelper` and ensure safety of `@objc` selector methods (#28064)
  firefox-ios/Client/Frontend/Toolbar+URLBar/TabToolbarHelper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabToolbarHelperTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12765 [Xcode 26] Deprecated WKProcessPool (#28056)
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
Owners: @mozilla-mobile/fxios-eng

minor fixes
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Providers/Pocket/MerinoProvider.swift
  firefox-ios/Providers/Pocket/Model/MerinoStory.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/StoryProviderTests.swift
Owners: @mozilla-mobile/fxios-eng

swidftlitz
  firefox-ios/Providers/Pocket/MerinoProvider.swift
Owners: @mozilla-mobile/fxios-eng

Remove MockNavigationRespose and tests due to crash on iOS 26 simulators
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

first PR fix pass
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoManager.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoStandardCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoStoryConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/StoryCell.swift
  firefox-ios/Client/Frontend/Home/Stories/LegacyPocketStandardCell.swift
  firefox-ios/Client/Frontend/Home/Stories/StoryDataAdaptor.swift
  firefox-ios/Client/Frontend/Home/Stories/StoryProvider.swift
  firefox-ios/Client/Frontend/Home/Stories/StoryStandardCellViewModel.swift
  firefox-ios/Client/Frontend/Home/Stories/StoryViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Stories/StoryDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Stories/StoryProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Stories/StoryViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

pr fixes the second
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoStandardCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoStoryConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/StoryCell.swift
  firefox-ios/Client/Frontend/Home/Stories/LegacyPocketStandardCell.swift
  firefox-ios/Client/Frontend/Home/Stories/StoryStandardCellViewModel.swift
  firefox-ios/Providers/Merino/MerinoProvider.swift
  firefox-ios/Providers/Merino/MerinoTestData.swift
  firefox-ios/Providers/Merino/Model/MerinoStory.swift
Owners: @mozilla-mobile/fxios-eng

more fixes
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/StoryTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add @MainActor because there failures when run repeatedly
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Application/AppSendTabDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Mark the class as MainActor
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Application/AppSendTabDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Isolate TabsSectionManager and InactiveTabManager to the MainActor (#28049)
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/InactiveTabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
Owners: @mozilla-mobile/fxios-eng

update test to use expectation
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Application/AppSendTabDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove #27668 ⁃ [Parallel] Fix `BrowserViewControllerWebViewDelegateTests` also crashing for Xcode 26 (#28100)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Application/AppSendTabDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Make the ContileProvider and its subtype Sendable.
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/ContileNetworking.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/ContileProvider.swift
  firefox-ios/Client/Protocols/URLSession/URLSessionProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Fix unit tests.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/TopSitesDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockContileProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockContileNetworking.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/Mocks/WallpaperURLSessionMock.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Make the ContileProvider and its subtypes Sendable (#28098)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/ContileNetworking.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/ContileProvider.swift
  firefox-ios/Client/Protocols/URLSession/URLSessionProtocol.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/TopSitesDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockContileProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockContileNetworking.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/Mocks/WallpaperURLSessionMock.swift
Owners: @mozilla-mobile/fxios-eng

Add main actor conformance.
  firefox-ios/Client/Extensions/UIImage+Extension.swift
Owners: @mozilla-mobile/fxios-eng

better constraints
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fixes for files
  firefox-ios/Client/Frontend/Browser/SwipeAnimator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabPeekViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix: address more feedback
  firefox-ios/Client/Frontend/Summary/SummarizationChecker.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SummarizationCheckerTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: use createSubject
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SummarizationCheckerTests.swift
Owners: @mozilla-mobile/fxios-eng
