Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Bugfix MTE-4440 Add MailAppSetting to BrowsingSettings screenstate (#25535)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-automation-1

[MOB-3314] Fix settings clipboard status text (#878)
  firefox-ios/Client/Ecosia/Extensions/AppSettingsTableViewController+Ecosia.swift
  firefox-ios/Client/Frontend/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix Swiftlint errors
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11668 [Homepage] ActivityStreamTests that was broken
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Theming for TopSites widget and remove force unwrap
  firefox-ios/WidgetKit/OpenTabs/OpenTabsWidget.swift
  firefox-ios/WidgetKit/TopSites/TopSitesWidget.swift
Owners: @mozilla-mobile/fxios-eng

Refactor MTE-3745 Rename TopTabsTests to TabsTests (#25490)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-7301 - Remove 1 closure_body_length violation from LegacyBookmarkDetailPanel.swift, and decrease threshold (#25542)
  .swiftlint.yml
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LegacyBookmarkDetailPanel.swift
Owners: @mozilla-mobile/fxios-eng

Refactor DISCO-3269 [AS] Stop calling SuggestStoreBuilder.remoteSettingsServer (#25537)
  firefox-ios/Storage/Rust/RustFirefoxSuggest.swift
Owners: @mozilla-mobile/fxios-eng

Fixed a space error
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Added the assets
  firefox-ios/WidgetKit/Assets.xcassets/checkmarkLarge.imageset/Contents.json
  firefox-ios/WidgetKit/Assets.xcassets/checkmarkLarge.imageset/checkmarkLarge.pdf
  firefox-ios/WidgetKit/Assets.xcassets/mediaStop.imageset/Contents.json
  firefox-ios/WidgetKit/Assets.xcassets/mediaStop.imageset/mediaStop.pdf
Owners: @mozilla-mobile/fxios-eng

Updated the fonts and changed rotation to a variable in the struct
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Updated the expanded view.
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11668 [Homepage] ActivityStreamTests that was broken (#25533)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Change readme links to relative to stay on the same ref
  README.md
Owners: @mozilla-mobile/fxios-eng

Fixed the linting issues
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

[MOB-3315] Fix TabTray toast bottom padding (#879)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-24360 [Blueprint Download Manager] Create ExpandedView Live Activity User Interface (#25506)
  firefox-ios/WidgetKit/Assets.xcassets/checkmarkLarge.imageset/Contents.json
  firefox-ios/WidgetKit/Assets.xcassets/checkmarkLarge.imageset/checkmarkLarge.pdf
  firefox-ios/WidgetKit/Assets.xcassets/mediaStop.imageset/Contents.json
  firefox-ios/WidgetKit/Assets.xcassets/mediaStop.imageset/mediaStop.pdf
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Update staging schema settings
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11676 #25437 ⁃ [Widgets] Blank page icon is not visible in Firefox Quick View widget Part1 (#25546)
  firefox-ios/WidgetKit/Assets.xcassets/openTabsContentColor.colorset/Contents.json
  firefox-ios/WidgetKit/Assets.xcassets/separatorColor.colorset/Contents.json
  firefox-ios/WidgetKit/OpenTabs/OpenTabsWidget.swift
  firefox-ios/WidgetKit/TopSites/TopSitesWidget.swift
Owners: @mozilla-mobile/fxios-eng

Add string and pref key for new setting
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Show setting and disable behavior based on setting
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

Cleanup
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

tests completed
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/DownloadHelper/Download.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadProgressManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadProgressManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadQueueTests.swift
Owners: @mozilla-mobile/fxios-eng

Rebase + most comments adressed
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadProgressManager.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

removing updating
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
Owners: @mozilla-mobile/fxios-eng

fixed linting violations
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

Fixed UI test failure
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DownloadsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Completed code updates (time for tests)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Utils/DownloadLiveActivityUtil.swift
Owners: @mozilla-mobile/fxios-eng

Further addressing comments
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

initial draft
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadProgressManager.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadToast.swift
  firefox-ios/Client/Utils/DownloadLiveActivityUtil.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

style: format changes
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
Owners: @mozilla-mobile/fxios-eng

chores: resolve merge conflict
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11719] Add basic support for PDF search engine icons
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Extensions/UIImage+RenderingUtilities.swift
Owners: @mozilla-mobile/fxios-eng

more fixes
  firefox-ios/WidgetKit/Assets.xcassets/checkmarkLarge.imageset/Contents.json
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11536 usage-deletion-request ping is missing the required usage profile_id metric field in some pings (#25282)
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Blockzilla/GleanUsageReportingMetricsService.swift
  focus-ios/Blockzilla/ProfileIdentifier.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11536 usage-deletion-request ping is missing the required usage profile_id metric field in some pings (#25282)
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Blockzilla/GleanUsageReportingMetricsService.swift
  focus-ios/Blockzilla/ProfileIdentifier.swift
Owners: @mozilla-mobile/fxios-eng

Fix test
  focus-ios/focus-ios-tests/XCUITest/CopyPasteTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Update tests
  focus-ios/focus-ios-tests/XCUITest/SettingTest.swift
  focus-ios/focus-ios-tests/XCUITest/URLValidationTest.swift
Owners: @mozilla-mobile/fxios-automation-1
