Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

fix
  BrowserKit/Sources/WebEngine/EngineSessionDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11506 [Relase Automation] Add required CI tasks to make releases through shipit (#26258)
  bitrise.yml
  taskcluster/config.yml
  taskcluster/ffios_taskgraph/__init__.py
  taskcluster/ffios_taskgraph/release_promotion.py
  taskcluster/ffios_taskgraph/target_tasks.py
  taskcluster/ffios_taskgraph/transforms/github_release.py
  taskcluster/ffios_taskgraph/transforms/mark_as_shipped.py
  taskcluster/ffios_taskgraph/transforms/relpro_promote.py
  taskcluster/ffios_taskgraph/transforms/version_bump.py
  taskcluster/ffios_taskgraph/worker_types.py
  taskcluster/kinds/github-release/kind.yml
  taskcluster/kinds/mark-as-shipped/kind.yml
  taskcluster/kinds/promote/kind.yml
  taskcluster/kinds/push/kind.yml
  taskcluster/kinds/version-bump/kind.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/test/params/release-promote-beta.yml
  taskcluster/test/params/release-promote.yml
  taskcluster/test/params/release-push-beta.yml
  taskcluster/test/params/release-push.yml
  taskcluster/test/params/release-ship-beta.yml
  taskcluster/test/params/release-ship.yml
Owners: @mozilla-mobile/fxios-automation-1

Update version.txt
  version.txt
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11521 [Homepage] fix time out on jump back in tests (#26321)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockJumpBackInDelegate.swift
Owners: @mozilla-mobile/fxios-eng

tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerNavDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix status bar overlay on homepage with wallpaper
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Fix register call and a warning
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
Owners: @mozilla-mobile/fxios-eng

Improve comments
  BrowserKit/Sources/WebEngine/Engine.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/ReaderModeContentScript.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Sources/WebEngine/WKWebview/WKSessionLifecycleManager.swift
Owners: @mozilla-mobile/fxios-eng

Fix sample browser
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
Owners: @mozilla-mobile/fxios-eng

Fix comments
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReadabilityOperation.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReadabilityService.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSessionData.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKSessionLifecycleManager.swift
  SampleBrowser/SampleBrowser/Engine/EngineDependencyManager.swift
Owners: @mozilla-mobile/fxios-eng

WIP
  BrowserKit/Sources/Common/Constants/NotificationConstants.swift
  BrowserKit/Sources/WebEngine/BrowserURL.swift
  BrowserKit/Sources/WebEngine/EngineSessionDependencies.swift
  BrowserKit/Sources/WebEngine/WKWebview/Internal/WKInternalURL.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/ReaderModeContentScript.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReadabilityOperation.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReadabilityService.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConstants.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineInfo.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSessionData.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKNavigationHandler.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKSessionLifecycleManager.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKWebViewProvider.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix lifecycle manager
  BrowserKit/Sources/Common/Constants/NotificationConstants.swift
  BrowserKit/Sources/WebEngine/EngineConstants.swift
  BrowserKit/Sources/WebEngine/WKWebview/Internal/WKInternalURL.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConstants.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKSessionLifecycleManager.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKEngineWebServer.swift
Owners: @mozilla-mobile/fxios-eng

Fix SampleBrowser
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Engine/EngineDependencyManager.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
Owners: @mozilla-mobile/fxios-eng

Add clear caches functionality
  BrowserKit/Sources/WebEngine/Engine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflicts
  BrowserKit/Sources/WebEngine/EngineSessionDependencies.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReadabilityOperation.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Update template with an optional table section for screenshots and demos.
  PULL_REQUEST_TEMPLATE
Owners: @mozilla-mobile/fxios-eng

Bump - Update SPM to rust-components 139.0.0
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS - 25992 [autofill remove] Remove loginAutofill enum case and associated usage
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11845 [Tab tray UI experiment] Add blur on the tab close button (#26286)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11845 [Tab tray UI experiment] Add blur on the tab close button (#26286)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKReaderModeDelegate.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12089 Update our pull request template to add an easy examples section and … (#26313)
  PULL_REQUEST_TEMPLATE
Owners: @mozilla-mobile/fxios-eng

Do not run shard calculation if the build fails
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add generic test classes
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Nimbus/TestData/reportSiteIssueOff.json
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FeatureFlaggedTestBase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReportSiteTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

fix: makeClient, useRemoteSettingsServer no longer throws
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASRemoteSettingsCollection.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

fix: makeClient, useRemoteSettingsServer no longer throws
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASRemoteSettingsCollection.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

Remove saving and loading zoom from BVC but holds manger for now
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+ZoomPage.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix zoom multiwindow
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
Owners: @mozilla-mobile/fxios-eng

Close zoom bar when tab tray is opened
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

clean up
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
Owners: @mozilla-mobile/fxios-eng

Fix enter/leave reader mode
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+ZoomPage.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
Owners: @mozilla-mobile/fxios-eng

Remove tab from zoom bar and move logic to manager
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageBar.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Add ZoomLevel enum and move logic to get next zoom value there
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomLevel.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
Owners: @mozilla-mobile/fxios-eng

Use level for consistency + test fixes
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+ZoomPage.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageBar.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ZoomPageManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

add unit test, mocks and more
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+ZoomPage.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
  firefox-ios/Storage/ZoomLevelStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockZoomStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ZoomPageManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Set tab and all zoom actions, TODO: remove prints
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
Owners: @mozilla-mobile/fxios-eng

Fix bug where zoom level wasn't loaded for new tab
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
Owners: @mozilla-mobile/fxios-eng

add flag
  firefox-ios/nimbus-features/startAtHomeFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

check nimbus flag instead of pref
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/LegacyFeatureFlagsManager.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/StartAtHomeHelper.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng
