Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Update Bitrise
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add Fennec scheme
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
Owners: @mozilla-mobile/fxios-eng

Add test plan in bitrise.yaml
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Removed conditional if
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Update bitrise update step actions
  .github/workflows/update-bitrise-steps.yml
Owners: @mozilla-mobile/fxios-automation-1

Improve enable logic
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4193 Update bitrise update step actions (#24365)
  .github/workflows/update-bitrise-steps.yml
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-10083 #22094 ⁃ Add NavigationHeaderView + HeaderView in the Sample Component Library as well as add documentation
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/project.pbxproj
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/chevronLeftLarge.imageset/Contents.json
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/chevronLeftLarge.imageset/chevronLeftLarge.pdf
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/criticalFillLarge.imageset/Contents.json
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/criticalFillLarge.imageset/criticalFillLarge.pdf
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/crossMedium.imageset/Contents.json
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/crossMedium.imageset/crossMedium.pdf
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/faviconFox.imageset/Contents.json
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/faviconFox.imageset/back-panel-home.png
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/faviconFox.imageset/back-panel-home@2x.png
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/faviconFox.imageset/back-panel-home@3x.png
  SampleComponentLibraryApp/SampleComponentLibraryApp/Component/ComponentData.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/HeaderView/HeaderComponentViewModel.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/HeaderView/HeaderViewViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/NavigationHeaderView/NavigationHeaderComponentViewModel.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/NavigationHeaderView/NavigationHeaderViewViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11048 Focus iOS Turn off technical and interaction data telemetry (#24304)
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Blockzilla/Settings/Controller/SettingsContentViewController.swift
  focus-ios/Blockzilla/Settings/Controller/SettingsViewController.swift
  focus-ios/Blockzilla/Utilities/TelemetryManager.swift
  focus-ios/Shared/Settings.swift
  focus-ios/focus-ios-tests/XCUITest/SettingTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Send if toggle off
  focus-ios/Blockzilla/Settings/Controller/SettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update bitrise github action
  .github/workflows/update-bitrise-steps.yml
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11134 [Homepage] [MessageCard] handling actions for the card
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/HomepageMessageCardCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MessageCardMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MessageCardStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add DENG-7254 Focus iOS - Add additional fields to the usage ping
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Blockzilla/BrowserViewController.swift
  focus-ios/Blockzilla/GleanUsageReportingMetricsService.swift
  focus-ios/Blockzilla/Settings/Controller/SettingsViewController.swift
  focus-ios/Blockzilla/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Fixed error handling based on received feedback
  BrowserKit/Sources/SiteImageView/Entities/ServerErrorHelper.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/FaviconURLHandler.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/URLFetcher/FaviconURLFetcher.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/ImageHandler.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/ImageHandlerTests.swift
Owners: @mozilla-mobile/fxios-eng

Replace pr link
  focus-ios/Blockzilla/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

FIX MTE-4193 Update bitrise github action (#24387)
  .github/workflows/update-bitrise-steps.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove legacy colors not used anymore
  firefox-ios/Client/Frontend/Theme/LegacyThemeManager/photon-colors.swift
Owners: @mozilla-mobile/fxios-eng

fix: pull D235713 manually
  firefox-ios/Client/Assets/CC_Script/Helpers.ios.mjs
  firefox-ios/Client/Assets/CC_Script/Overrides.ios.js
Owners: @nbhasin2, @issammani

Correct metric
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Update bitrise.yml
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11134 [Homepage] [MessageCard] handling actions for the card (#24388)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/HomepageMessageCardCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MessageCardMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MessageCardStateTests.swift
Owners: @mozilla-mobile/fxios-eng

fix close button
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix compilation
  firefox-ios/Client/Telemetry/GleanUsageReporting.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-10904 Focus iOS: Send data deletion request when DAU ping is toggled off (#24339)
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Blockzilla/Settings/Controller/SettingsViewController.swift
  focus-ios/Blockzilla/pings.yaml
Owners: @mozilla-mobile/fxios-eng

Fix build
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix compilation
  focus-ios/focus-ios-tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

fix sapce in tab tray view controller
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix test compilation
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

rebase code and fix bug
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add telemetry for deeplink, refactor ShareTelemetry to include deep links recording and GleanWrapper dependency
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/SceneDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Event Queue/AppEvent.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetry.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetryActivityItemProvider.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/Mocks/MockShareTelemetry.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryActivityItemProviderTests.swift
Owners: @mozilla-mobile/fxios-eng

Add test for navigation bar state
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add more tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add even more tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Update with shadow + text font and label placement
  firefox-ios/Client/Frontend/Browser/ActionToast.swift
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
  firefox-ios/Client/Frontend/Browser/DownloadToast.swift
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Browser/Toast.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-10469 Firefox iOS: DAU Ping Setting (#24353)
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Application/DependencyHelper.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Telemetry/GleanUsageReporting.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Client/TermsOfServiceManager.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DependencyInjection/DependencyHelperMock.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/GleanLifecycleObserverTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/AppSettingsTableViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Delete extra space
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Deleting these tests because they were not testing what we think
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Turn on bookmarks feature flag on dev
  firefox-ios/nimbus-features/bookmarkRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Changed logic for readability
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Add back in bracket
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
