Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

See the log *after* the code is compiled
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add DISCO-3327 send appContext to RemoteSettingsService
  firefox-ios/Client/Application/RemoteSettings/RemoteSettingsUtils.swift
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Localize FXIOS-9612 #21206 [FirefoxHomepage][shortcut] Localized Pinned Tiles for voice over accessibility (#25267)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteConfiguration.swift
  firefox-ios/Client/Frontend/Home/TopSites/TopSite.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

log all the things
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Always upload log!!!!
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Does the log exist?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Do we fail somewhere else?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Cleanup
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASRemoteSettingsCollection.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Revert to "working" version
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

we know FF compiles
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Initial SVG icon support
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11351] Refactors, cleanup
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineUtilities.swift
Owners: @mozilla-mobile/fxios-eng

just say iphoneos
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

put it back
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Just use "iphoneos"!
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

[FXIOS-11351] Icon filtering support for pattern matching
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineUtilities.swift
Owners: @mozilla-mobile/fxios-eng

Cleanup
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Minor cleanup
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

just iphoneos
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

no star? what is in $products_dir
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add strings for the new color app icons.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Ignore optional engines per AS team
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Minor reorganization
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASRemoteSettingsCollection.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

fix flaky test
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockJumpBackInDelegate.swift
Owners: @mozilla-mobile/fxios-eng

specify xcode version
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add MTE-4400 - addresses related tests (#25322)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

[FXIOS-11351] General cleanup
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconRecord.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11351] Additional cleanup
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

review changes
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockJumpBackInDelegate.swift
Owners: @mozilla-mobile/fxios-eng

lint errors fixed
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockJumpBackInDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Added switch expression
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix PDFs issue when opening a PDF from the homepage
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/StatefulButton.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/nimbus-features/pdfRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11369 ⁃ Tapping a setting's description text should not open the setting's "Learn More" link (#24856)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/SendDataSetting.swift
  firefox-ios/Client/Frontend/Settings/SettingsTableViewController.swift
  firefox-ios/Client/Frontend/Theme/ThemedTableViewCells/ThemedLearnMoreTableViewCell.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Removed MTE-4407 - toast notifications validation
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add MTE-4405 - addresses autofill tests
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Removed MTE-4407 - toast notifications validation (#25347)
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Removed MTE-4407 - toast notifications validation (#25347)
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update version for Firefox from version.txt
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Info.plist
  firefox-ios/Client/version.xcconfig
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  firefox-ios/sticker/Info.plist
Owners: @mozilla-mobile/fxios-eng

Include version.xcconfig in other config files
  firefox-ios/Client/Configuration/Fennec.enterprise.xcconfig
  firefox-ios/Client/Configuration/Fennec.xcconfig
  firefox-ios/Client/Configuration/Firefox.xcconfig
  firefox-ios/Client/Configuration/FirefoxBeta.xcconfig
Owners: @mozilla-mobile/fxios-eng

Add version
  firefox-ios/Client/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
