Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

moar tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketFeedTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4688]-testLongTapRecentlySavedLink test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-12462 Remove pocket actions and send to device telemetry
  firefox-ios/Client/Frontend/Share/SendToDeviceActivity.swift
  firefox-ios/Client/Frontend/Share/ShareManager.swift
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

update
  FirefoxTelemetryUtility.sh
Owners: @mozilla-mobile/fxios-eng

FXIOS-12306 #26802 ⁃ [Menu Redesign] Update MainMenuConfigurationUtility based on the final design
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/pinFillLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/pinFillLarge.imageset/pinFillLarge.pdf
  firefox-ios/Client/Assets/Images.xcassets/saveFileLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/saveFileLarge.imageset/saveFileLarge.pdf
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuAction.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeMiddleware.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Disable swiping when address bar is set to top.
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12513 - [Memory Leaks] - The sha256 property in the Data+Extension file leaks memory on each use (#27272)
  BrowserKit/Sources/Shared/Extensions/Data+Extension.swift
Owners: @mozilla-mobile/fxios-eng

Adjust failing UI tests, add more zoom to the new tab
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Nimbus/TestData/swipingTabsOff.json
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DataManagementTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Removed drag and drop tests with tab tray experiment on
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix new failing test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-automation-1

Change order of views displayed
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add first implementation of policy deciders
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicy.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDeciderFactory.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/WebEngineIntegration/BrowserWebUIDelegate.swift
  firefox-ios/nimbus-features/webEngineIntegrationRefactor.yaml
Owners: @mozilla-mobile/fxios-eng

Fixed alphabetical order
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
Owners: @mozilla-mobile/fxios-eng

Subscribe to redux.
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Several fixes [MTE-4688] - on new failed tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Correct code as per code review
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarAddTabView.swift
  firefox-ios/Client/Coordinators/Browser/BrowserDelegate.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

lint
  firefox-ios/Client/Coordinators/Browser/BrowserDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Add tests
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Toolbars/SearchBarLocationSaver.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingService.swift
  firefox-ios/Client/IntroScreenManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/OnboardingServiceTests.swift
Owners: @mozilla-mobile/fxios-eng

Pr review
  BrowserKit/Sources/OnboardingKit/Models/OnboardingFlowViewModel.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

More tests
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Coordinators/Launch/LaunchType.swift
  firefox-ios/Client/Frontend/Onboarding/Models/IntroViewModel.swift
  firefox-ios/Client/IntroScreenManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Launch/LaunchCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/OnboardingServiceTests.swift
Owners: @mozilla-mobile/fxios-eng

[MOB-2831] User Feedback improvements fixes after QA (#921)
  firefox-ios/Ecosia/L10N/String.swift
  firefox-ios/Ecosia/L10N/en.lproj/Ecosia.strings
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackContentView.swift
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackType.swift
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackView.swift
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackViewController.swift
Owners: @mozilla-mobile/fxios-eng

update to use appropriate call
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesSectionStateTests.swift
Owners: @mozilla-mobile/fxios-eng

More danger test
  Dangerfile.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Comment bitrise UItest step to focus on danger step
  Dangerfile.swift
  bitrise.yml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add 2 new files to check if warns works for mutliple files
  Dangerfile.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/SecondDangerCheck.swift
Owners: @mozilla-mobile/fxios-eng

Another test with new warning to help debug
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Refactor matching logic to match filename only
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

debug
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

fix variable
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

revert bitrise change
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Testing another version
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Fix messaging to receive warning
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Simplify logic and extra warning to check json is working
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Add empty file
  Dangerfile.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/TestDangerRule.swift
Owners: @mozilla-mobile/fxios-eng

seems to be the matching logic that fails
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Rename class because Test is filter out + revert webengine test
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/DangerRuleCheck.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Send a single warning with the number of files without coverage
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Add contact and update to warning
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12517 [Homepage Rebuild] fix UI bugs (#27295)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/SyncedTabCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesSectionStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12486 [Top Sites Visual Refresh] Pin icon positioning (#27266)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/pinFillLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/pinFillLarge.imageset/pinFillLarge.pdf
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1
