Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

BugFix FX-26694: Ensure only connections button uses voiceover (#27899)
  firefox-ios/Client/Frontend/Browser/EnhancedTrackingProtection/EnhancedTrackingProtectionVC.swift
Owners: @mozilla-mobile/fxios-eng

fix: forward http error codes
  BrowserKit/Sources/SummarizeKit/Backend/AppleIntelligence/FoundationModelsSummarizer.swift
  BrowserKit/Sources/SummarizeKit/Backend/LLM/LiteLLMSummarizer.swift
  BrowserKit/Sources/SummarizeKit/Backend/SummarizerError.swift
  BrowserKit/Sources/SummarizeKit/SummarizationError+LocalizedErrorsViewModel.swift
  BrowserKit/Tests/SummarizeKitTests/FoundationModelsSummarizerTests.swift
  BrowserKit/Tests/SummarizeKitTests/LiteLLMSummarizerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12992 [Shake to Summarize] strings for summarize content settings (#28333)
  firefox-ios/Client/Frontend/Settings/Main/General/SummarizeSetting.swift
  firefox-ios/Client/Frontend/Settings/Summarize/SummarizeSettingsViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor [Summarizer] Only use `invalidResponse` for http error responses. (#28441)
  BrowserKit/Sources/SummarizeKit/Backend/AppleIntelligence/FoundationModelsSummarizer.swift
  BrowserKit/Sources/SummarizeKit/Backend/LLM/LiteLLMSummarizer.swift
  BrowserKit/Sources/SummarizeKit/Backend/SummarizerError.swift
  BrowserKit/Sources/SummarizeKit/SummarizationError+LocalizedErrorsViewModel.swift
  BrowserKit/Tests/SummarizeKitTests/FoundationModelsSummarizerTests.swift
  BrowserKit/Tests/SummarizeKitTests/LiteLLMSummarizerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bump version to 142.1
  version.txt
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12993 [Shake to Summarize] UI tests for shake settings
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fixes for SimpleToast, DataClearanceAnimation and Blurrable
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
  firefox-ios/Client/Frontend/FeltPrivacy/DataClearanceAnimation.swift
  firefox-ios/Client/Frontend/Home/Blurrable.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12977 #28304 ⁃ [TabScrollController refactor] Create TabScrollController protocol to isolate scroll interaction Part1 (#28409)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/LegacyTabScrollController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollHandler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/LegacyTabScrollControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollHandlerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix warnings for badgeWithBackdrop, PrivateModeUI and
  firefox-ios/Client/Frontend/Theme/PrivateModeUI.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/TabToolbarHelper.swift
  firefox-ios/Client/Frontend/Widgets/BadgeWithBackdrop.swift
Owners: @mozilla-mobile/fxios-eng

add ShortcutsLibraryViewController
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/NavigationBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserNavigationType.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ShortcutsLibraryViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Version bump to 11.2.1 (#930)
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng

(WIP)(Local AS flow) Nightly auto-update (143.0.20250805050307)
  MozillaRustComponents/Package.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/Metrics/Metrics.swift
Owners: @mozilla-mobile/fxios-eng

Refactored some code
  BrowserKit/Sources/MenuKit/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuCell.swift
  BrowserKit/Sources/MenuKit/MenuInfoCell.swift
  BrowserKit/Sources/MenuKit/MenuSquaresViewContentCell.swift
  BrowserKit/Sources/MenuKit/MenuTableView.swift
  BrowserKit/Tests/MenuKitTests/.swift
  BrowserKit/Tests/MenuKitTests/MenuMainViewTests.swift
  BrowserKit/Tests/MenuKitTests/MenuTableViewTests.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Refactor as per code review
  BrowserKit/Sources/SummarizeKit/Backend/SummarizerServiceFactory.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Summarizer/SummarizeChecker+MaxWords.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

lint
  BrowserKit/Sources/SummarizeKit/Backend/SummarizerServiceFactory.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Restore profile image
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix 13040 ⁃ [Terms of Use] Bottom Sheet Content is Scrollable
  firefox-ios/Client/Frontend/Browser/TermsOfUse/View/TermsOfUseViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix 13040 ⁃ [Terms of Use] Bottom Sheet Content is Scrollable (#28455)
  firefox-ios/Client/Frontend/Browser/TermsOfUse/View/TermsOfUseViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12993 [Shake to Summarize] UI tests for shake settings (#28449)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-13055 [Shake to Summarize] Footer title for summarize settings toggle
  firefox-ios/Client/Frontend/Settings/Summarize/SummarizeSettingsViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-13055 [Shake to Summarize] Footer title for summarize setting (#28456)
  firefox-ios/Client/Frontend/Settings/Summarize/SummarizeSettingsViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor as per code review
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Summarize/SummarizeSettingsViewController.swift
  firefox-ios/Client/Frontend/Summarizer/SummarizerNimbusUtils.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SummarizeCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Fixes [MTE-4875] - for screen graph and downloads tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DownloadsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ScreenGraphTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add feature flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
Owners: @mozilla-mobile/fxios-eng

Add top space directly to selector view
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add var
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fixes [MTE-4875] - for screen graph and downloads tests (#28457)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DownloadsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ScreenGraphTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Disable summarize experiment on ReadingListTest
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Disable summarize experiment in ReadingListTests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Update [MTE-4874] - testSetFirefoxHomeAsHome test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-12927 [Experiment] advanced targeting for users who cannot use apple intelligence
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Application/AppleIntelligenceUtil.swift
  firefox-ios/Client/Experiments/Experiments.swift
  firefox-ios/Client/Experiments/RecordedNimbusContext.swift
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Nimbus/RecordedNimbusContextTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-13027 [Experiment] advanced targeting for users who cannot use apple intelligence (#28464)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Application/AppleIntelligenceUtil.swift
  firefox-ios/Client/Experiments/Experiments.swift
  firefox-ios/Client/Experiments/RecordedNimbusContext.swift
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Nimbus/RecordedNimbusContextTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12983 Toolbar entry points for shake to summarize (#28324)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  BrowserKit/Sources/SummarizeKit/Backend/AppleIntelligence/FoundationModelsConfig.swift
  BrowserKit/Sources/SummarizeKit/Backend/LLM/LiteLLMConfig.swift
  BrowserKit/Sources/SummarizeKit/Backend/SummarizationCheckResult.swift
  BrowserKit/Sources/SummarizeKit/Backend/SummarizationReason.swift
  BrowserKit/Sources/SummarizeKit/Backend/SummarizerServiceFactory.swift
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/lightningMedium.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/lightningMedium.imageset/lightningMedium.pdf
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarActionConfiguration.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Summarize/SummarizeSettingsViewController.swift
  firefox-ios/Client/Frontend/Summarizer/SummarizerNimbusUtils.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SummarizeCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/MainMenu/MainMenuStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockSummarizationChecker.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12796 #27871 ⁃ [Swift 6 Migration] Turn on Strict Concurrency in Xcode 26 Beta 2+ and fix warnings (#28450)
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
  firefox-ios/Client/Frontend/FeltPrivacy/DataClearanceAnimation.swift
  firefox-ios/Client/Frontend/Home/Blurrable.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12796 #27871 ⁃ [Swift 6 Migration] Turn on Strict Concurrency in Xcode 26 Beta 2 and fix warnings for BadgeWithBackdrop (#28452)
  firefox-ios/Client/Frontend/Theme/PrivateModeUI.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/TabToolbarHelper.swift
  firefox-ios/Client/Frontend/Widgets/BadgeWithBackdrop.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12949 #28248 ⁃ [Swift 6 Migration] - Fix Swift 6 warning for ScreenshotHelper and UIView+Screenshot extension (#28336)
  firefox-ios/Client/Extensions/UIView+Screenshot.swift
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Make MenuElement Sendable (#28373)
  BrowserKit/Sources/MenuKit/MenuElement.swift
Owners: @mozilla-mobile/fxios-eng

fix feature flag manifest
  firefox-ios/nimbus-features/homepageRedesignFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Isolate the history panel VM to the main actor.
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanelViewModel.swift
Owners: @mozilla-mobile/fxios-eng

add tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockBrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng
