Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Bugfix FXIOS-11242 remove a pinned site from bookmark actions
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Client/Frontend/Library/LibraryPanelContextMenu.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TopSitesHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarksViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 137.1
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  firefox-ios/sticker/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Fix long label
  focus-ios/Blockzilla/Settings/Cells/SettingsTableViewAccessoryCell.swift
  focus-ios/Blockzilla/Settings/Controller/SettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove unnecessary lines
  focus-ios/Blockzilla/Settings/Cells/SettingsTableViewAccessoryCell.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove duplicate imports
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Make waitForInitialSyncComplete() to work
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Bump - Set version to 137.1 (#25649)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  firefox-ios/sticker/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Version bump to 11.0.1 (#880)
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11751 [Focus] Fix long label in settings (#25650)
  focus-ios/Blockzilla/Settings/Cells/SettingsTableViewAccessoryCell.swift
  focus-ios/Blockzilla/Settings/Controller/SettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add instruction to remove all venvs when running bootsratp
  bootstrap.sh
Owners: @mozilla-mobile/fxios-eng

Improvements MTE-4200 - on addresses flaky tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
Owners: @mozilla-mobile/fxios-automation-1

Add instruction to remove all venvs when running bootstrap.sh (#25657)
  bootstrap.sh
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9665 [UX Fundamentals] Increase WallpaperSelector description font size (#25640)
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/UI/WallpaperSelectorViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11437 #24901 ⁃ Unable to select parent folder before entering a folder title when creating a folder
  firefox-ios/Client/Frontend/Library/Bookmarks/Edit Folder/EditFolderViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Add undo toast telemetry (#25569)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Telemetry/ToastTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ToastTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

update DateGroupedTableData to use new time intervals
  BrowserKit/Sources/Shared/DateGroupedTableData.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DateGroupedTableDataTests.swift
Owners: @mozilla-mobile/fxios-eng

update web history deletion options
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Library/ClearHistorySheetProvider.swift
  firefox-ios/Client/Frontend/Library/Downloads/DownloadsPanelViewModel.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanelViewModel.swift
  firefox-ios/Client/Telemetry/HistoryDeletionUtilityTelemetry.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Client/Utils/HistoryDeletionUtility.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/HistoryPanelViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/HistoryDeletionUtilityTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryWrapperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/HistoryDeletionUtilityTests.swift
Owners: @mozilla-mobile/fxios-eng

add data review and fix string versions
  firefox-ios/Client/metrics.yaml
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/HistoryDeletionUtilityTests.swift
Owners: @mozilla-mobile/fxios-eng

rename probe
  firefox-ios/Client/Telemetry/HistoryDeletionUtilityTelemetry.swift
  firefox-ios/Client/Utils/HistoryDeletionUtility.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/HistoryDeletionUtilityTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

fix downloads panel view model unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/DownloadsPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

fix bug with sections being off by one
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanelViewModel.swift
Owners: @mozilla-mobile/fxios-eng

fix UI test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove FXIOS-11707 QR Code shortcut (#25624)
  firefox-ios/Client/Info.plist
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11707 QR Code shortcut (#25624)
  firefox-ios/Client/Info.plist
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11437 ⁃ Unable to select parent folder before entering a folder title when creating a folder (#25666)
  firefox-ios/Client/Frontend/Library/Bookmarks/Edit Folder/EditFolderViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Fix spelling
  BrowserKit/Sources/ComponentLibrary/Buttons/CloseButton.swift
Owners: @mozilla-mobile/fxios-eng

Updat font type buttons
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontTypeButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11389 [UX Fundamentals] Update history group deletion options (#25614)
  BrowserKit/Sources/Shared/DateGroupedTableData.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Library/ClearHistorySheetProvider.swift
  firefox-ios/Client/Frontend/Library/Downloads/DownloadsPanelViewModel.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanelViewModel.swift
  firefox-ios/Client/Telemetry/HistoryDeletionUtilityTelemetry.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Client/Utils/HistoryDeletionUtility.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DateGroupedTableDataTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/DownloadsPanelViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/HistoryPanelViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/HistoryDeletionUtilityTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryWrapperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/HistoryDeletionUtilityTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update version.txt
  version.txt
Owners: @mozilla-mobile/fxios-eng

Adjust brightness images to font size
  firefox-ios/Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
Owners: @mozilla-mobile/fxios-eng

Isolate theme color selection in UX Config
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
Owners: @mozilla-mobile/fxios-eng

Isolate theme colors
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/DropDownSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/PlainSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/SearchEngineView.swift
Owners: @mozilla-mobile/fxios-eng

Remove unused code
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Update SPM to rust-components 138.0.0
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Hide inactive tabs with this experiment
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Turn off in developer builds
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
Owners: @mozilla-mobile/fxios-eng

Bump - Update SPM to rust-components 138.0.0 (#25687)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11740 [Homepage] action to the appropriate place
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabTrayAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix UI tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
Owners: @mozilla-mobile/fxios-automation-1
