Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Let's disable concurrent simulators
  focus-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-eng

Revert changes in the menu. Increase timeout for fetch website
  focus-ios/focus-ios-tests/ScreenshotTests/MarketingTests.swift
Owners: @mozilla-mobile/fxios-automation-1

remove unused import
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
Owners: @mozilla-mobile/fxios-eng

review nits and test fixes
  firefox-ios/Client/AccountSyncHandler.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/AccountSyncHandlerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWindowManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Erase simulator before every locale. --erase_simulator does not quite prepare the simulator well
  focus-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-eng

one worker only
  focus-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-eng

cleaning simulator does nothing
  focus-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-eng

Let's boot the device manually
  focus-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-eng

pin version of fastlane
  .github/workflows/focus-ios-l10n-locales.yml
Owners: @mozilla-mobile/fxios-automation-1

fastlane 226 should work
  .github/workflows/focus-ios-l10n-locales.yml
Owners: @mozilla-mobile/fxios-automation-1

How about attempting to install app?
  focus-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-eng

don't do weird stuff in the .sh file
  focus-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-eng

Add dummy to warm up simulator
  focus-ios/focus-ios-tests/ScreenshotTests/MarketingTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Update firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Add comment why testDummy()
  focus-ios/focus-ios-tests/ScreenshotTests/MarketingTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor Run Focus tests in the afternoon (Experimental 🧪 ) (#25448)
  .github/workflows/focus-ios-ui-tests-previous-os.yml
  .github/workflows/focus-ios-ui-tests.yml
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11679 medium size icons to toolbar version 1 layout (#25444)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/arrowClockwiseMedium.imageset/Arrow Clockwise Medium.pdf
  firefox-ios/Client/Assets/Images.xcassets/arrowClockwiseMedium.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shareMedium.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shareMedium.imageset/Share iOS Medium.pdf
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11679 medium size icons to toolbar version 1 layout (#25444)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/arrowClockwiseMedium.imageset/Arrow Clockwise Medium.pdf
  firefox-ios/Client/Assets/Images.xcassets/arrowClockwiseMedium.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shareMedium.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shareMedium.imageset/Share iOS Medium.pdf
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4417 - for several tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix MTE-4416 Tap "Agree and Continue" to get to the next screen (#25455)
  focus-ios/focus-ios-tests/ScreenshotTests/MarketingTests.swift
  focus-ios/focus-ios-tests/ScreenshotTests/SnapshotTests.swift
  focus-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Added Correct local url handling for document, added related tests
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

remove unused import
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Enable-Disable button based on flag
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11680 - [Toolbar UI Experiments] - Change Placeholder color for LocationTextfield to primary text (#25457)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationTextField.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11683 - [Toolbar UI Experiments] - Align shield icon to trailing in the button (#25453)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11680 - [Toolbar UI Experiments] - Change Placeholder color for LocationTextfield to primary text (#25457)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationTextField.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11683 - [Toolbar UI Experiments] - Align shield icon to trailing in the button (#25453)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11678 - [Toolbar UI Experiments] - Disable ETP menu for toolbar version 1 (#25465)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11678 - [Toolbar UI Experiments] - Disable ETP menu for toolbar version 1 (#25465)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Update address bar icon colors for version1
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  BrowserKit/Sources/ToolbarKit/ToolbarElement.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarActionConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Remove dots
  BrowserKit/Sources/ToolbarKit/ToolbarElement.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4417 - for several tests (#25463)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Added test for checking that deeplink tab is present only once in the array
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/UnitTest.xctestplan
Owners: @mozilla-mobile/fxios-eng

Use guard, pass direclty isVersion1Layout
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Initial implementation for minimal live activity view
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11687 - [Toolbar UI Experiments] - Update colors for icons in Address Bar to secondary (#25470)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  BrowserKit/Sources/ToolbarKit/ToolbarElement.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarActionConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11687 - [Toolbar UI Experiments] - Update colors for icons in Address Bar to secondary (#25470)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  BrowserKit/Sources/ToolbarKit/ToolbarElement.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarActionConfiguration.swift
Owners: @mozilla-mobile/fxios-eng
