Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Use the new property to show the active branch section
  focus-ios/Blockzilla/InternalSettings/InternalExperimentDetailView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-7301 - Remove 2 closure_body_length violations from MainMenuState.swift, and InternalExperimentDetailView.swift (#27605)
  .swiftlint.yml
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  focus-ios/Blockzilla/InternalSettings/InternalExperimentDetailView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12419 - Missing Screenshots issue (#27616)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Fix pdf file name at print
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Logging prefix
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconRecord.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4726] - tab counter test on iPad
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix [MTE-4726] - tab counter test on iPad (#27657)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add correct color to StatusBarOverlay
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Strip `refs/heads` from the branch name passed to shipitscript
  taskcluster/ffios_taskgraph/transforms/beta_releases.py
Owners: @mozilla-mobile/fxios-automation-1

Prevent first appearence animation
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
Owners: @mozilla-mobile/fxios-eng

Update some register Graphs navigations
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerHomePanelNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerMobileNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerSettingsNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerToolbarNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerUrlBarNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix missing argument issue
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerHomePanelNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

Check for frame zero on AddressToolbarContainer instead of BrowserAddressToolbar
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

BugFix FXIOS-12686 Toolbar flashy animation on cold start (#27659)
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

BugFix FXIOS-12686 Toolbar flashy animation on cold start (#27659)
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

BugFix FXIOS-12686 Toolbar flashy animation on cold start (#27659)
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Fix error in registerSettingsNavigation
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerSettingsNavigation.swift
Owners: @mozilla-mobile/fxios-automation-1

disable swipe gesture when address bar is in editing mode
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

fix review
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

small fix
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Fix region based isolation in Pocket business logic
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketManager.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketDataAdaptor.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryProvider.swift
  firefox-ios/Providers/Pocket/PocketProvider.swift
Owners: @mozilla-mobile/fxios-eng

PR additions
  BrowserKit/Sources/ComponentLibrary/SwiftUI/ContentFittingScrollView.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/VScrollView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor of FxScreenGraph for XCUITests (#27187)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DownloadsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxUserState.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationRegistry.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerCommonNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerContextMenuNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerFxAccountNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerHomePanelNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerLibraryPanelNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerMiscellanousActions.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerMiscellanousNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerMobileNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerOnboardingNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerSettingsNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabMenuNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabTrayNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerToolbarNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTrackingProtection.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerUrlBarNavigation.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerZoomNavigation.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix alignment
  BrowserKit/Sources/OnboardingKit/Views/DescriptionAlignment.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12571 [HNT - Search Bar] accessibility label + trait
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarCell.swift
Owners: @mozilla-mobile/fxios-eng

Make OpenSearchEngine Sendable.
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng

Make SearchEngineCompletion typealias Sendable.
  firefox-ios/Client/Frontend/Browser/SearchEngines/DefaultSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12583 [Swift 6 Migration] Make ShareSheetCoordinator @unchecked Sendable (#27634)
  firefox-ios/Client/Coordinators/ShareSheetCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

decrease iPhone landscape size
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
Owners: @mozilla-mobile/fxios-eng

Log engine provider
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

ux variable for description spacing
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/StoryCell.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-0000 [SEC] Logging tweaks (#27637)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconRecord.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-0000 [SEC] Logging tweaks (#27637)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconRecord.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-0000 [SEC] Logging tweaks (#27637)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconRecord.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

Fix merge conflicts for logging changes to v140
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Resolve merge conflicts
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Fix build errors
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Move configuration totally out of the tab manager
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/TabManagement/DefaultWKEngineConfigurationProvider+Prefs.swift
  firefox-ios/Client/TabManagement/TabConfigurationProvider.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Update notifiable to enforce main actor isolation on handle notifications
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Bookmarks/BookmarksDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/IntroViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

wip
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionHandler.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/Client/Frontend/Microsurvey/Survey/MicrosurveyCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Clearables.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/WallpaperSettings/v1/WallpaperSettingsViewModel.swift
  firefox-ios/Client/Frontend/Settings/SettingsContentViewController.swift
  firefox-ios/Client/Frontend/TrackingProtection/TrackigProtectionRedux/TrackingProtectionModel.swift
  firefox-ios/Client/TabManagement/DefaultWKEngineConfigurationProvider+Prefs.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TrackingProtectionTests/TrackingProtectionModelTests.swift
Owners: @mozilla-mobile/fxios-eng
