Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12275 [Tab tray UI experiment] Tab tray selector spacing fixes and color (#27156)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorButtonModel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflcits
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/nimbus-features/hntSponsoredShortcutsFeature.yaml
Owners: @mozilla-mobile/fxios-eng

chore: resolve merge conflicts
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

fix: add newAddressBarMenu.yaml back
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11456 [Tab tray UI experiment] weekly release tab tray UI experiment branch 139.2 (#27108)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorButtonModel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Turn ON in developer and beta
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
Owners: @mozilla-mobile/fxios-eng

Adjust unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12155 [TA 2025] Replace settings.main_menu.option_selected with a more generic settings.option_selected (#27128)
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/SettingsTelemetry.swift
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/Client/Glean/probes/settings.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SettingsTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Fallback icon for nil client
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
Owners: @mozilla-mobile/fxios-eng

Adjust unit test for presentation
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12440 [SEC] Fallback search engine icon (#27124)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12440 [SEC] Fallback search engine icon (#27124)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12086 [Dark Reader] Enable Appearance Screen by default (#27144)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AddressBarSelectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AddressBarSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericImageOption.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DisplaySettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/nimbus-features/newAddressBarMenu.yaml
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12086 [Dark Reader] Enable Appearance Screen by default (#27144)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AddressBarSelectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AddressBarSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericImageOption.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DisplaySettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/nimbus-features/newAddressBarMenu.yaml
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12086 [Dark Reader] Enable Appearance Screen by default (#27144)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AddressBarSelectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AddressBarSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericImageOption.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DisplaySettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/nimbus-features/newAddressBarMenu.yaml
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

chore: fix conflicts
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
Owners: @mozilla-mobile/fxios-eng

Add a new settings.changed preference and update the old preferences.changed event with deprecation and expiry notice.
  firefox-ios/Client/Glean/probes/settings.yaml
Owners: @mozilla-mobile/fxios-eng

Add method in SettingsTelemetry to fire settings.changed.
  firefox-ios/Client/Frontend/Settings/SettingsTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Migrate ContentBlocker basic / strict setting to use SettingsTelemetry.changedSetting().
  firefox-ios/Client/Frontend/Settings/ContentBlockerSettingViewController.swift
Owners: @mozilla-mobile/fxios-eng

Migrate HomepageSettings VC opening screen setting to use SettingsTelemetry.changedSetting().
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Frontend/Settings/SettingsTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Migrate SearchSettingsTableViewController default search engine selection setting to use SettingsTelemetry.changedSetting().
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/SettingsTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Migrate SearchBarSettingsViewModel toolbar top/bottom setting to use SettingsTelemetry.changedSetting().
  firefox-ios/Client/Frontend/Settings/SearchBar/SearchBarSettingsViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Migrate general PrefKey and FeatureFlag bool settings to use SettingsTelemetry.changedSetting().
  firefox-ios/Client/Frontend/Settings/ContentBlockerSettingViewController.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/SettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/SettingsTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Remove TelemetryWrapper implementation for `case (.action, .change, .setting, _, let extras)` for calling preferences.changed and add an assertionFailure to catch misuse.
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryWrapperTests.swift
Owners: @mozilla-mobile/fxios-eng

Fixes from rebase.
  firefox-ios/Client/Frontend/Settings/SettingsTelemetry.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint fix.
  firefox-ios/Client/Frontend/Settings/SettingsTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Add data review URL to YAML.
  firefox-ios/Client/Glean/probes/settings.yaml
Owners: @mozilla-mobile/fxios-eng

fixed broken download session
  firefox-ios/Client/Frontend/Browser/DownloadHelper/Download.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12447 [Felt Deletion] experience to tab tray
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

add for iPad
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix whitespace
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
Owners: @mozilla-mobile/fxios-eng

Clean up URLs
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/EmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentEmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/OpenSupportPageSetting.swift
Owners: @mozilla-mobile/fxios-eng

Add Run Firefox_Unit_Tests in parallel (#27173)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12201 Move download logic to appropriate method
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12201 Move download logic to appropriate method (#27193)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Adjust some of the UI tests for tab tray experiment
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DesktopModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Revert to false to change only this set of tests for now
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
Owners: @mozilla-mobile/fxios-eng

We no longer need this workaround
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareLongPressTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Update MockGleanWrapper functionality to test extras from multiple events.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockGleanWrapper.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
