Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Refactor FXIOS-12629 [Toolbar] Fix constraint issue shown in console (#27524)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Add [Release Automation] Automatically create beta releases off of the latest release branch 3 times a week (#27034)
  .cron.yml
  taskcluster/ffios_taskgraph/target_tasks.py
  taskcluster/ffios_taskgraph/transforms/beta_releases.py
  taskcluster/ffios_taskgraph/worker_types.py
  taskcluster/kinds/beta-releases/kind.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/test/params/cron-beta-releases.yml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12055 #26253 ⁃ Add logic to Danger to fail PR that add files without test (#27528)
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12631 - [Toolbar Redesign] - The safelisted blue dot is not visible or partially visible when tracking protections is off (#27527)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12631 - [Toolbar Redesign] - The safelisted blue dot is not visible or partially visible when tracking protections is off (#27527)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix ShareLongPressTests fixes (#27521)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareLongPressTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Turn on flag for Isolated Default Values
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix build errors
  firefox-ios/Client/Frontend/Settings/NotificationsSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix ShareLongPressTests fixes (#27521)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareLongPressTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix [Release Automation] Don't try to add the Nightly group to Betas after a nightly is built (#27082)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Only dispatch if the number of top sites changes
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12634 [Felt Deltion] remove feature flag enabled
  firefox-ios/nimbus-features/feltPrivacyFeature.yaml
Owners: @mozilla-mobile/fxios-eng

FXIOS-12495 #27238 ⁃ [Menu Redesign] Apply latest design for menu cells and menu
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuInfoCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12634 [Felt Deltion] remove feature flag enabled (#27538)
  firefox-ios/nimbus-features/feltPrivacyFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12634 [Felt Deltion] remove feature flag enabled (#27538)
  firefox-ios/nimbus-features/feltPrivacyFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Version bump to 11.2.0 (#922)
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-27318 [TA 2025] Move credit card panel probes to its own YAML file (#27480)
  firefox-ios/Client/Glean/probes/autofill.credit_cards.yaml
  firefox-ios/Client/Glean/probes/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-7301 - Remove 2 closure_body_length violations from DownloadLiveActivity.swift, and WebView.swift (#27520)
  .swiftlint.yml
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/UI Components/WebView.swift
Owners: @mozilla-mobile/fxios-eng

Fix test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add additional test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12630 The app crashes when adding the article in reader mode and then adding it to home screen (#27536)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12630 The app crashes when adding the article in reader mode and then adding it to home screen (#27536)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Tweak to unit test, ensure we also assert that we can show alerts while alert count is OK
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/JSAlertThrottlerTests.swift
Owners: @mozilla-mobile/fxios-eng

Comments
  firefox-ios/Client/Utils/JSAlertThrottler.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-27317 [TA 2025] Move zoombar panel probes to its own YAML file (#27481)
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/Client/Glean/probes/zoom_bar.yaml
Owners: @mozilla-mobile/fxios-eng

Resolve merge conflicts
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Microsurvey/MicrosurveyCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHome/StartAtHomeHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/WallpaperSettingsViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

wip
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionHandler.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/Client/Frontend/Microsurvey/Survey/MicrosurveyCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Clearables.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/WallpaperSettings/v1/WallpaperSettingsViewModel.swift
  firefox-ios/Client/Frontend/Settings/SettingsContentViewController.swift
  firefox-ios/Client/Frontend/TrackingProtection/TrackigProtectionRedux/TrackingProtectionModel.swift
  firefox-ios/Client/TabManagement/DefaultWKEngineConfigurationProvider+Prefs.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TrackingProtectionTests/TrackingProtectionModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Move configuration totally out of the tab manager
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/TabManagement/DefaultWKEngineConfigurationProvider+Prefs.swift
  firefox-ios/Client/TabManagement/TabConfigurationProvider.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Update notifiable to enforce main actor isolation on handle notifications
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Bookmarks/BookmarksDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/IntroViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Update based on pr feedback
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Fix build errors
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Manage swift 6 errors in OpenPassBookHelper
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/OpenInHelper/OpenPassBookHelper.swift
Owners: @mozilla-mobile/fxios-eng

Remove reference for passbook helper
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Decrease warning and error threshold
  .swiftlint.yml
Owners: @mozilla-mobile/fxios-eng

Extract the scroll view content into a new function
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to show the scroll view content
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
Owners: @mozilla-mobile/fxios-eng

Decrease warning and error threshold
  .swiftlint.yml
Owners: @mozilla-mobile/fxios-eng

Extract the picker content into a new function
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show the picker content
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
Owners: @mozilla-mobile/fxios-eng
