Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-5770 [Danger] Large PR warning tweaks (#25504)
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11706 Sec 1951533
  focus-ios/Blockzilla/UIComponents/URLBar/URLBar.swift
Owners: @mozilla-mobile/fxios-eng

updated test as per review
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockStoreForMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/RemoteTabsPanelTests.swift
Owners: @mozilla-mobile/fxios-eng

chore: inject NoImageMode in all frames
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/NoImageModeHelper.js
Owners: @mozilla-mobile/fxios-eng

fix: don't hide iframes only images now that script is injected in all frames
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/NoImageModeHelper.js
Owners: @mozilla-mobile/fxios-eng

Fix app icon telemetry mis reporting the previous icon after making a selection.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconSelectionView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11684 [UX Fundamentals] Handle .pkpass from blob url (#25459)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/Download.swift
  firefox-ios/Client/Frontend/Browser/OpenInHelper/OpenPassBookHelper.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/DownloadHelper.js
Owners: @mozilla-mobile/fxios-eng

Add staging schema and configuration
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/FirefoxStaging.xcscheme
  firefox-ios/Client/Configuration/FirefoxStaging.xcconfig
  firefox-ios/Client/FirefoxStaging.xcconfig
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11703 [App Icon 2025] Fix app icon telemetetry misreporting the previous icon selection (#25525)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconSelectionView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11703 [App Icon 2025] Fix app icon telemetetry misreporting the previous icon selection (#25525)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconSelectionView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11430 [Image Blocker] Inject image blocker in all frames instead of hiding iframes (#25524)
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/NoImageModeHelper.js
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11430 [Image Blocker] Inject image blocker in all frames instead of hiding iframes (#25524)
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/NoImageModeHelper.js
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11430 [Image Blocker] Inject image blocker in all frames instead of hiding iframes (#25524)
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/NoImageModeHelper.js
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11688 Add staging schema and configuration (#25526)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/FirefoxStaging.xcscheme
  firefox-ios/Client/Configuration/FirefoxStaging.xcconfig
  firefox-ios/Client/FirefoxStaging.xcconfig
Owners: @mozilla-mobile/fxios-eng

Add openTabs label color to match primaryText + update background
  firefox-ios/WidgetKit/Assets.xcassets/openTabsLabelColor.colorset/Contents.json
  firefox-ios/WidgetKit/OpenTabs/OpenTabsWidget.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11644 [Homepage] jump back in triggers to update state
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TopTabsAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/RemoteTabsPanelMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/RemoteTabsMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix FXIOS-11688 Staging provisioning profile names and signing type
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Add separatorColor and use borderPrimary from design system
  firefox-ios/WidgetKit/Assets.xcassets/separatorColor.colorset/Contents.json
  firefox-ios/WidgetKit/OpenTabs/OpenTabsWidget.swift
Owners: @mozilla-mobile/fxios-eng

Rename color to content to use for image and text
  firefox-ios/WidgetKit/Assets.xcassets/openTabsContentColor.colorset/Contents.json
  firefox-ios/WidgetKit/OpenTabs/OpenTabsWidget.swift
Owners: @mozilla-mobile/fxios-eng

Fix FXIOS-11688 Staging provisioning profile names and signing type (#25531)
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11710 [A-S] Call NSS initialize when using firefox as external provider for passwords (#25522)
  firefox-ios/CredentialProvider/CredentialProviderViewController.swift
Owners: @mozilla-mobile/fxios-eng

Implement swiping betwen tabs
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in ComponentLibrary
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ActionFooterView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/BottomSheetViewController.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CloseButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CollapsibleCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ContextualHintView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/HeaderView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/LinkButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/NavigationHeaderView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/PaddedSwitch.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/PrimaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/SecondaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ShadowCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/HowToAddNewComponent.md
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios-publish-docc.yml triggers & versions
  .github/workflows/firefox-ios-publish-docc.yml
Owners: @mozilla-mobile/fxios-automation-1

Update focus-ios-l10n-screenshots.yml step name
  .github/workflows/focus-ios-l10n-screenshots.yml
Owners: @mozilla-mobile/fxios-automation-1

Fixup LinkButton docs image reference
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/LinkButton.md
Owners: @mozilla-mobile/fxios-eng

Add MailAppSetting to the "new" BrowsingSettings screenstate
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor DISCO-3269 - Stop calling `SuggestStoreBuilder.remoteSettingsServer`
  firefox-ios/Storage/Rust/RustFirefoxSuggest.swift
Owners: @mozilla-mobile/fxios-eng

Add app icon deeplink for settings
  firefox-ios/Client/Coordinators/Router/Route.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/nimbus-features/messaging/messaging-firefox-ios.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Decrease warning and error threshold
  .swiftlint.yml
Owners: @mozilla-mobile/fxios-eng

Extract addFolderAndDescendants logic to a new function
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LegacyBookmarkDetailPanel.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to add folder and descendants
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LegacyBookmarkDetailPanel.swift
Owners: @mozilla-mobile/fxios-eng

Remove the inner function
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LegacyBookmarkDetailPanel.swift
Owners: @mozilla-mobile/fxios-eng

[MOB-3313] Replace Firefox brand logos (#877)
  Gemfile.lock
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/ecosiaHomeHeaderLogoBall.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/ecosiaHomeHeaderLogoBall.imageset/Logo 1.pdf
  firefox-ios/Client/Assets/Images.xcassets/ecosiaHomeHeaderLogoBall.imageset/Logo.pdf
  firefox-ios/Client/Assets/Images.xcassets/ecosiaHomeHeaderLogoText.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/ecosiaHomeHeaderLogoText.imageset/Ecosia logo (1).pdf
  firefox-ios/Client/Assets/Images.xcassets/ecosiaHomeHeaderLogoText.imageset/Ecosia logo-1.pdf
Owners: @mozilla-mobile/fxios-eng

Update MTE-4441 - testAddressOptionIsAvailableInSettingsMenu test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor MTE-2096 bitrise.yml uses release version from version.txt file (#25477)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Update MTE-4441 - testAddressOptionIsAvailableInSettingsMenu test (#25543)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

[MOB-3146] Remove About Ecosia section (#876)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Ecosia/Frontend/Home/EcosiaHomepageSectionType.swift
  firefox-ios/Client/Ecosia/UI/NTP/AboutEcosia/AboutEcosiaSection.swift
  firefox-ios/Client/Ecosia/UI/NTP/AboutEcosia/NTPAboutEcosiaCell.swift
  firefox-ios/Client/Ecosia/UI/NTP/AboutEcosia/NTPAboutEcosiaCellViewModel.swift
  firefox-ios/Client/Ecosia/UI/NTP/Customization/CustomizableNTPSettingConfig.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Ecosia/Analytics/Analytics.Values.swift
  firefox-ios/Ecosia/Core/User.swift
  firefox-ios/Ecosia/L10N/String.swift
  firefox-ios/Ecosia/L10N/en.lproj/Ecosia.strings
  firefox-ios/EcosiaTests/Analytics/AnalyticsSpyTests.swift
  firefox-ios/EcosiaTests/Core/UserTests.swift
  firefox-ios/EcosiaTests/EcosiaHomeViewModelTests.swift
  firefox-ios/EcosiaTests/SnapshotTests/NTP/NTPComponentTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/FirefoxHomeViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-10930 Focus iOS ToS Card in Onboarding (#25124)
  focus-ios/Blockzilla/BrowserViewController.swift
  focus-ios/Blockzilla/Onboarding/OnboardingConstants.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Settings/Controller/AboutViewController.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/DesignSystem/Color+AppColors.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/DesignSystem/Colors.xcassets/Accent.colorset/Contents.json
  focus-ios/BlockzillaPackage/Sources/Onboarding/Handler/OnboardingEventsHandlerV1.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/Handler/OnboardingEventsHandlerV2.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/Handler/OnboardingEventsHandling.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/GetStartedOnboardingView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/OnboardingView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/OnboardingViewModel.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/Styles/PrimaryButtonStyle.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/Styles/TextStyle.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/TermsOfServiceView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/UI Components/AttributedLinkText.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/UI Components/WebView.swift
  focus-ios/focus-ios-tests/XCUITest/OnboardingTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11567 [DocC] Updates to CI and Xcode for building docs (#24795)
  .github/workflows/firefox-ios-publish-docc.yml
  .github/workflows/focus-ios-l10n-screenshots.yml
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ActionFooterView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/BottomSheetViewController.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CloseButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CollapsibleCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ContextualHintView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/HeaderView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/LinkButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/NavigationHeaderView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/PaddedSwitch.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/PrimaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/SecondaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ShadowCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/HowToAddNewComponent.md
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
