Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] SiteImageView Package - FaviconImageView and HeroImageView `@MainActor` conformance (#27904)
  BrowserKit/Sources/SiteImageView/FaviconImageView.swift
  BrowserKit/Sources/SiteImageView/SiteImageView.swift
  BrowserKit/Tests/SiteImageViewTests/SiteImageViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix MTE-4780 Report warnings/errors properly (Prepare for Swift 6 work) (#27929)
  bitrise.yml
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

FXIOS-12794 #27861 [Swift 6 Migration] Resolve work around to address passing generic view type in sendable notification closure in ContentFittingScrollView
  BrowserKit/Sources/ComponentLibrary/SwiftUI/ContentFittingScrollView.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12814 #27912 ⁃ [Menu redesign] "<" element in Tracking Protection and More buttons is incorrect in Arabic
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
Owners: @mozilla-mobile/fxios-eng

Added new tab page settings for the AddressbarPanGestureHandler
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarAddTabView.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Utilities/WallpaperURLProvider.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12835 #27974 Update asset name to fix warning
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconBottom.imageset/Contents.json
Owners: @mozilla-mobile/fxios-eng

Update sequence
  BrowserKit/Sources/ComponentLibrary/SwiftUI/ContentFittingScrollView.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12812 #27907 ⁃ [Menu redesign] Tapping “Website Dark Mode” in landscape sometimes opens the Passwords/History panel instead
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
Owners: @mozilla-mobile/fxios-eng

alpha.isZero instead alpha == 0
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
Owners: @mozilla-mobile/fxios-eng

Remove force unwrap
  BrowserKit/Sources/OnboardingKit/Views/AnimatedGradientRenderer.swift
Owners: @mozilla-mobile/fxios-eng

Remove space
  BrowserKit/Sources/OnboardingKit/Views/AnimatedGradientRenderer.swift
Owners: @mozilla-mobile/fxios-eng

Fix new tab page
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12811 #27906 ⁃ [Menu redesign]The strikethrough line on the Tracking Protection shield icon is not red for unsafe pages
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fallback to linear gradient
  BrowserKit/Sources/OnboardingKit/Views/AnimatedGradientRenderer.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
Owners: @mozilla-mobile/fxios-eng

Refactor gradient animation layer code
  BrowserKit/Sources/SummarizeKit/AnimatedGradientOutlineView.swift
  BrowserKit/Sources/SummarizeKit/RectangularFadeMaskLayer.swift
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12569 #27374 ToU bottom sheet prompt
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/ToUBottomSheetViewController.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/ToUManager.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

setup views for bottom sheet wip
  firefox-ios/Client/Frontend/Browser/TermsOfUse/ToUBottomSheetViewController.swift
Owners: @mozilla-mobile/fxios-eng

To prevent super large Swift 6 migration PRs, we are relaxing treating warnings as errors.
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Relax threshold for warnings
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

Oops off by 1
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12632 Update names for new tests (#27836)
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12833 [Swift 6 Migration] Disable treating warnings as errors (#27969)
  firefox-ios/Client.xcodeproj/project.pbxproj
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

OpenQLPreviewHelper + WKNavigationDelegate warnings
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/OpenInHelper/OpenQLPreviewHelper.swift
Owners: @mozilla-mobile/fxios-eng

@Sendable on the completion handler
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Remove main queue and replace with Task @MainActor
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Adjust completion handler
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix Xcode 16.2 build errors round 3.
  firefox-ios/Client/Experiments/Messaging/MobileMessageSurfaceProtocol.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardMiddleware.swift
  firefox-ios/Client/Frontend/Microsurvey/Prompt/MicrosurveyPromptMiddleware.swift
  firefox-ios/Client/Frontend/SurveySurface/SurveySurfaceViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Fix Xcode 16.2 build errors round 4, unit test edition!
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  firefox-ios/Client/Frontend/Home/MessageCard/HomepageMessageCardViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/MessageCard/HomepageMessageCardViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Microsurvey/MicrosurveySurfaceManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWKUIHandler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/NotificationSurface/NotificationSurfaceManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SurveySurface/SurveySurfaceManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix Xcode 16.2 build errors round 2.
  firefox-ios/Client/Experiments/Messaging/GleanPlumbMessageManager.swift
  firefox-ios/Client/Frontend/Home/MessageCard/HomepageMessageCardViewModel.swift
  firefox-ios/Client/Frontend/NotificationSurface/NotificationSurfaceManager.swift
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
  firefox-ios/Client/Frontend/SurveySurface/SurveySurfaceManager.swift
Owners: @mozilla-mobile/fxios-eng

Add TODO ticket.
  firefox-ios/Client/Frontend/Settings/SearchBar/SearchBarSettingsViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Mark the Coordinator protocol as `@MainActor` and fix cascading compiler errors.
  firefox-ios/Client/Application/WindowManager+DebugUtilities.swift
  firefox-ios/Client/Application/WindowManager.swift
  firefox-ios/Client/ApplicationHelper.swift
  firefox-ios/Client/Coordinators/Coordinator.swift
  firefox-ios/Client/Experiments/Messaging/GleanPlumbMessageManager.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingService.swift
  firefox-ios/Client/Frontend/Settings/SearchBar/SearchBarSettingsViewModel.swift
  firefox-ios/Client/Frontend/Settings/SettingsTableViewController.swift
  firefox-ios/Client/Utils/BackgroundTabLoader.swift
Owners: @mozilla-mobile/fxios-eng

Fix unit tests that fail to compile.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BaseCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/EnhancedTrackingProtectionCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Launch/LaunchCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Library/BookmarksCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Library/DownloadsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Library/HistoryCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Library/LibraryCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Library/ReadingListCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/PasswordManagerCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/QRCodeCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SceneCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SearchEngineSelectionCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/ShareSheetCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/TabTray/RemoteTabsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/TabTray/TabTrayCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/TabTray/TabsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/ContextMenu/ContextMenuCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/SyncContentSettingsViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/MainMenu/MainMenuCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Messaging/GleanPlumbMessageManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Microsurvey/MicrosurveyCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWindowManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/OnboardingServiceTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SearchBarSettingsViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/VersionSettingTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/WindowManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix Xcode 16.2 build errors round 1.
  firefox-ios/Client/Utils/BackgroundTabLoader.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/DefaultBackgroundTabLoaderTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12820 [Homepage Rebuild] collection view not bouncing when content is not scrollable (#27961)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Rename for consistency
  firefox-ios/Client/Utils/PopupThrottler.swift
Owners: @mozilla-mobile/fxios-eng

Fix so we don't call loading background tabs from the DB on the main thread, just the DB results callback.
  firefox-ios/Client/Utils/BackgroundTabLoader.swift
  firefox-ios/Storage/Queue.swift
  firefox-ios/Storage/SQL/SQLiteQueue.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
Owners: @mozilla-mobile/fxios-eng

Fix to user observer queue and assume isolated.
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove legacy bookmark files
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Bookmarks/LegacyBookmarksCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LegacyBookmarkDetailPanel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LegacyBookmarksPanel.swift
Owners: @mozilla-mobile/fxios-eng

Remove nimbus definitions and feature flag protocol for bookmarks
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksRefactorFeatureFlagProvider.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng
