Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Fixed some tests
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ScreenGraphTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/registerTabMenuNavigation.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

backport
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Added ToSBottomSheetViewModel added prefs settings for tos, Added show of learn more website.
  BrowserKit/Sources/ComponentLibrary/BottomSheet/BottomSheetViewModel.swift
  BrowserKit/Sources/Shared/Prefs.swift
  BrowserKit/Sources/SummarizeKit/ToSBottomSheetViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/ContextualHintView/ContextualHintViewViewController.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/CredentialAutofillCoordinator.swift
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingCardDelegate.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingService.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

fix cherry pick error
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
Owners: @mozilla-mobile/fxios-eng

fix another cherry pick error
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12569 [Terms of Use] ToU bottom sheet prompt
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseCoordinator.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseMiddleware.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/View/TermsOfUseLinkViewController.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/View/TermsOfUseViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12927 [Experiment] advanced targeting for apple intelligence (#28249)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Application/AppleIntelligenceUtil.swift
  firefox-ios/Client/Experiments/Experiments.swift
  firefox-ios/Client/Experiments/RecordedNimbusContext.swift
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Application/AppleIntelligenceUtilTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Nimbus/RecordedNimbusContextTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12865 [Homepage Redesign] Prevent homepage layout shift when keyboard is shown (manually backport #28230) (#28270)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS [Build] Fix asserts on Fennec configuration (#28256)
  firefox-ios/Client/Configuration/Fennec.xcconfig
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12569 [Terms of Use] ToU bottom sheet prompt
  BrowserKit/Sources/Common/Constants/LaunchArguments.swift
  firefox-ios/Client/Application/UITestAppDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-12569 [Terms of Use] ToU bottom sheet prompt
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
Owners: @mozilla-mobile/fxios-automation-1

fix: use correct internal scheme handler
  firefox-ios/Client/Frontend/Settings/SettingsContentViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [FXIOS-12959] Use correct internal scheme handler instead of `WKInternalSchemeHandler` (#28272)
  firefox-ios/Client/Frontend/Settings/SettingsContentViewController.swift
Owners: @mozilla-mobile/fxios-eng

Rename existing class to LegacyTabScrollController and use
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/LegacyTabScrollController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

remove pan gesture and move all logic to scroll delegates
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

clean up
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

fix conflicts, latest changes from existing TabScrollController
  firefox-ios/Client/Frontend/Browser/TabScrollController/LegacyTabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

Fix test build
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

add doc
  BrowserKit/Sources/WebEngine/WKWebview/Internal/WKInternalSchemeHandler.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12729 #27721 ⁃ Tab/Address bar autohide/autoreveal is incredibly annoying part1 #28229 (#28241)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/LegacyTabScrollController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Clean up, that code isn't used
  BrowserKit/Sources/Shared/AsyncReducer.swift
  BrowserKit/Sources/Shared/Deferred/Deferred.swift
  BrowserKit/Sources/Shared/DeferredUtils.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/SharedTests/AsyncReducerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS [WebEngine] Add documentation for WKInternalSchemeHandler (#28273)
  BrowserKit/Sources/WebEngine/WKWebview/Internal/WKInternalSchemeHandler.swift
Owners: @mozilla-mobile/fxios-eng

add search icon to middle searchbox
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarCell.swift
Owners: @mozilla-mobile/fxios-eng

check if branch first exits when updating pulling latest app-services
  .github/workflows/update-appservices-nightly.yml
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

update homepage background color
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4844] - testMultiWindowNewTab test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MultiWindowTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Renamed Redesign name from files and classes Commented ReportSiteTests class
  BrowserKit/Sources/MenuKit/MenuCell.swift
  BrowserKit/Sources/MenuKit/MenuMainView.swift
  BrowserKit/Sources/MenuKit/MenuTableView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReportSiteTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fixed SwiftLint warnings
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReportSiteTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix [MTE-4844] - testMultiWindowNewTab test (#28281)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MultiWindowTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Commented ToolsBrowserTabMenu and SaveBrowserTabMenu
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NightModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareMenuTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Added Missing accessibility labels, hook menu to Summarize coordinator
  BrowserKit/Sources/Shared/Prefs.swift
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
  BrowserKit/Sources/SummarizeKit/ToSBottomSheetViewController.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuCoordinator.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Lint
  BrowserKit/Sources/SummarizeKit/ToSBottomSheetViewController.swift
Owners: @mozilla-mobile/fxios-eng

Correct code
  BrowserKit/Sources/SummarizeKit/ToSBottomSheetViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add missing assets, fix alignment
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeDark.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeDark.imageset/themeDark.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeDarkSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeDarkSelected.imageset/onboardingThemeDarkSelected.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeLight.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeLight.imageset/themeLight.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeLightSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeLightSelected.imageset/onboardingThemeLightSelected.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeSystem.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeSystem.imageset/themeSystem.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeSystemSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeSystemSelected.imageset/onboardingThemeSystemSelected.pdf
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingService.swift
  firefox-ios/nimbus-features/onboardingFrameworkFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add missing test cases
  BrowserKit/Sources/SummarizeKit/ToSBottomSheetViewController.swift
  BrowserKit/Tests/SummarizeKitTests/EmptyTest.swift
  BrowserKit/Tests/SummarizeKitTests/Mocks/MockBottomSheetDismissDelegate.swift
  BrowserKit/Tests/SummarizeKitTests/ToSBottomSheetViewControllerTests.swift
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SummarizeCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

lint
  BrowserKit/Tests/SummarizeKitTests/ToSBottomSheetViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Adjust behavior and tests
  BrowserKit/Sources/SummarizeKit/ToSBottomSheetViewController.swift
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Updated prefs name
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SummarizeCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Update assets
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeDark.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeDark.imageset/onboardingThemeDark.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeDark.imageset/themeDark.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeLight.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeLight.imageset/onboardingThemeLight.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeLight.imageset/themeLight.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeSystem.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeSystem.imageset/onboardingThemeSystem.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingThemeSystem.imageset/themeSystem.pdf
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
Owners: @mozilla-mobile/fxios-eng

Remove zoom and reader bar when swiping.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+AddressBarPanGestureHandlerDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng
