Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Addressing PR comments
  firefox-ios/Client/TermsOfServiceManager.swift
Owners: @mozilla-mobile/fxios-eng

[MOB-3426] Clean up DefaultBrowserExperiment (#907)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Ecosia/Extensions/AppSettingsTableViewController+Ecosia.swift
  firefox-ios/Client/Ecosia/Settings/EcosiaDebugSettings.swift
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowser.imageset/Contents.json
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowser.imageset/photo-farmer-1.png
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowser.imageset/photo-farmer-2.png
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowser.imageset/photo-farmer.png
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowser.imageset/showcase-impact-1.png
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowser.imageset/showcase-impact.png
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowserVarA.imageset/Contents.json
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowserVarA.imageset/Step=preview-1.png
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowserVarA.imageset/Step=preview-2 1.png
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowserVarA.imageset/Step=preview.png
  firefox-ios/Client/Ecosia/UI/Ecosia.xcassets/defaultBrowserVarBC.imageset/Contents.json
  firefox-ios/Client/Ecosia/UI/NTP/DefaultBrowserViewController.swift
  firefox-ios/Ecosia/Analytics/Analytics.swift
  firefox-ios/Ecosia/Core/FeatureManagement/Unleash/Unleash.Model.swift
  firefox-ios/Ecosia/Experiments/Unleash/DefaultBrowserExperiment.swift
  firefox-ios/Ecosia/L10N/String.swift
  firefox-ios/Ecosia/L10N/en.lproj/Ecosia.strings
Owners: @mozilla-mobile/fxios-eng

Refactor model
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingButtonInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingButtons.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardType.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingInstructionsPopupInfoModel.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12127 #26285 - [Toast audit] Update bookmark action toast
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12235 #26637 Refactor Onboarding card models for generic package usage
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingButtonInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingButtons.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardType.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingInstructionsPopupInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingLinkInfoModel.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint fix
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingButtonInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingButtons.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Fixes [MTE-4575] - for HistoryTabTrayUIExperiment tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fixes [MTE-4575] - for HistoryTabTrayUIExperiment tests (#26695)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Removed testUndoDeleteBookmark
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Test animation
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentEmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Automated: update initial_experiments.json based on the current first-run experiments in experimenter
  focus-ios/Blockzilla/Nimbus/initial_experiments.json
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 138.3
  version.txt
Owners: @mozilla-mobile/fxios-eng

Add strings
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add page zoom section under appearance + strings
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericItemCellView.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Create page zoom screen view
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomLevel.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/GenericItemCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/GenericSectionHeaderView.swift
Owners: @mozilla-mobile/fxios-eng

Continue working in Page zoom UI
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
Owners: @mozilla-mobile/fxios-eng

Strings, theming and more UI fixes
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericItemCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/Storage/ZoomLevelStore.swift
Owners: @mozilla-mobile/fxios-eng

Add Picker to choose between the two options
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomLevel.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericItemCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericSectionHeaderView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
Owners: @mozilla-mobile/fxios-eng

clean up
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericItemCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/Client/TermsOfServiceManager.swift
  firefox-ios/Client/TermsOfServiceManager.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4579] - drag and drop tests on iPad
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Reorg views
  BrowserKit/Sources/OnboardingKit/Final/LinkButton.swift
  BrowserKit/Sources/OnboardingKit/Final/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Final/OnboardingCardView.swift
  BrowserKit/Sources/OnboardingKit/Final/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Final/SharedUX.swift
  BrowserKit/Sources/OnboardingKit/MilkyWayRenderer.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12125 ⁃ [Toast audit] Remove toast on Settings > Address for actions address saved and removed (#26688)
  firefox-ios/Client/Frontend/Autofill/Address/AddressListViewModel.swift
  firefox-ios/Client/Frontend/Autofill/Address/Edit/AddressModifiedStatus.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/C_AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-7301 - Remove 2 closure_body_length violations from MainMenuMiddleware.swift (Firefox) and InternalTelemetrySettingsView.swift (Focus) (#26242)
  .swiftlint.yml
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  focus-ios/Blockzilla/InternalSettings/InternalTelemetrySettingsView.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4579] - drag and drop tests on iPad (#26704)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add full test coverage to new objects
  BrowserKit/Sources/WebEngine/WKWebview/Policy/DataSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/HTTPSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/LocalRequestPolicyDecider.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockApplication.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockEngineSessionDelegate.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockNavigationAction.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockPolicyDecider.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKNavigationAction.swift
  BrowserKit/Tests/WebEngineTests/Policy/DataSchemePolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/HTTPSchemePolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/LocalRequestPolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/WKPolicyDeciderFactoryTests.swift
  BrowserKit/Tests/WebEngineTests/WKUIHandlerTests.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12141 #26412 ⁃ [Toast audit] - Remove tab tray undo close tab for regular, private and synced tabs
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/ToastType.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/Telemetry/ToastTelemetry.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Removed testClosedSingleTabToastUndoSelected_callsGlean test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ToastTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Lint
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockApplication.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockPolicyDecider.swift
  BrowserKit/Tests/WebEngineTests/Policy/AppLaunchPolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/DataSchemePolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/HTTPSchemePolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/LocalRequestPolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
Owners: @mozilla-mobile/fxios-eng

lint
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
Owners: @mozilla-mobile/fxios-eng

lint
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDecider.swift
Owners: @mozilla-mobile/fxios-eng

Correct deciders
  BrowserKit/Sources/WebEngine/WKWebview/Policy/AppLaunchPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/DataSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/HTTPSchemePolicyDecider.swift
Owners: @mozilla-mobile/fxios-eng

Organize strings under settings struct and add table
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9909 [Content Sharing] Block open external apps (#26341)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/TabManagement/TabManagerNavDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerNavDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Update zoom mock
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockZoomStore.swift
Owners: @mozilla-mobile/fxios-eng

Add back call that closes zoom bar
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-6765 #15058 ⁃ [Feature request] default page zoom setting View (#26702)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomLevel.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericItemCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericSectionHeaderView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/Storage/ZoomLevelStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockZoomStore.swift
Owners: @mozilla-mobile/fxios-eng

Enable tracking protection by default
  firefox-ios/nimbus-features/trackingProtectionRefactor.yaml
Owners: @mozilla-mobile/fxios-eng

add accessibilityTraits to PhotonActionSheetView
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetView.swift
Owners: @mozilla-mobile/fxios-eng

fix search logins
  firefox-ios/Client/Frontend/PasswordManagement/PasswordManagerListViewController.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
