Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-25005 [Homepage] relocate notification observers to middleware
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/RemoteTabsPanelMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/BookmarksMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/RemoteTabsMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Add version2
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
  firefox-ios/Client/TabManagement/TabWebViewPreviewAppearanceConfiguration.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Fix app crashing when toolbar refactor is off
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-25005 [Homepage] relocate notification observers to middleware (#26298)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/RemoteTabsPanelMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/BookmarksMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/RemoteTabsMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-25005 [Homepage] relocate notification observers to middleware (#26298)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/RemoteTabsPanelMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/BookmarksMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/RemoteTabsMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Adjust button order for version2
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbar.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Client/Frontend/Browser/TopTabCell.swift
  firefox-ios/Client/Frontend/Browser/WebView/PullRefreshView.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Nimbus/NimbusSearchBarLayer.swift
  firefox-ios/Client/TabManagement/TabWebViewPreviewAppearanceConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Updates button order for address bar
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Update app version number
  firefox-ios/Client/Configuration/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12082 - [Toolbar - Swipe Tabs Animation] - Remove text animation in the address bar when swiping between tabs (#26334)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Adjust comment
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12082 - [Toolbar - Swipe Tabs Animation] - Remove text animation in the address bar when swiping between tabs (#26334)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix failing tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11945 [Feature flag cleanup] Remove contextualHintForToolbar flag (#26338)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/contextualHintFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

remove tests that depends on time
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

feat: fetch wasm and model files from RS
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASRemoteSettingsCollection.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASTranslationModelsFetcher.swift
Owners: @mozilla-mobile/fxios-eng

fix lint
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix as per code review
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11967 [Tab Tray UI Experiment] tabs count (#26297)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11967 [Tab Tray UI Experiment] tabs count (#26297)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11967 [Tab Tray UI Experiment] tabs count (#26297)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11910 [Feature flag cleanup] Remove login autofill feature flag (#26339)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/autofillFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Fix the bug
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Update blur alpha based on scroll offset on homepage
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

chore: reformat
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASTranslationModelsFetcher.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12044 [UI tests] Generic base test classes to add experiment data to launch arguments (#26328)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Nimbus/TestData/reportSiteIssueOff.json
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FeatureFlaggedTestBase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReportSiteTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12007 [Tab tray UI experiment] Do not show toast in remote tabs when experiment is ON (#26359)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix: update tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Autofill/AddressLocaleFeatureValidatorTests.swift
Owners: @mozilla-mobile/fxios-eng

update window manager to remove new protocol
  firefox-ios/Client/Application/WindowManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWindowManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/WindowManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add [Tabs] Updates to tab logging to make it easier for sentry to group logs (#26236)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Add [Tabs] Updates to tab logging to make it easier for sentry to group logs (#26236)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 139.0.1
  version.txt
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 139.0.1 (#26365)
  version.txt
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12065 [Toolbar Rapid UI] Create a version 2 layout - Invert tab tray and menu button to match current existing users design (#26346)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbar.swift
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Browser/TopTabCell.swift
  firefox-ios/Client/Frontend/Browser/WebView/PullRefreshView.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
  firefox-ios/Client/Nimbus/NimbusSearchBarLayer.swift
  firefox-ios/Client/TabManagement/TabWebViewPreviewAppearanceConfiguration.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

ADD FXIOS-12101 [Tabs] [Screenshots] Additional Debugging info for tab screenshot crash (#26332)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWindowManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12065 [Toolbar Rapid UI] Create a version 2 layout - Invert tab tray and menu button to match current existing users design (#26346)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbar.swift
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Browser/TopTabCell.swift
  firefox-ios/Client/Frontend/Browser/WebView/PullRefreshView.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
  firefox-ios/Client/Nimbus/NimbusSearchBarLayer.swift
  firefox-ios/Client/TabManagement/TabWebViewPreviewAppearanceConfiguration.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

ADD FXIOS-12101 [Tabs] [Screenshots] Additional Debugging info for tab screenshot crash (#26332)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWindowManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12097 [Homepage] private mode header theme
  firefox-ios/Client/Frontend/Home/LogoHeader/HomeLogoHeaderCell.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

update status bar with fix
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

fix unit test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHomeHelperTests.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
