Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

stle: swiftlint fix
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

fix merge conflicts
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Add MTE-4470 - Verify the Passwords settings menu test (#25780)
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

fix merge conflict code
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/tags.yaml
Owners: @mozilla-mobile/fxios-eng

fix conflicts
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11753 ⁃ TOS incorrect padding for learn more button (#25743)
  firefox-ios/Client/Frontend/Theme/ThemedTableViewCells/ThemedLearnMoreTableViewCell.swift
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4473 - addresses tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-11807 #25751 ⁃ Send tab notification just says "Firefox Sync / Tap to begin" without showing the received URL
  firefox-ios/Extensions/NotificationService/NotificationService.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11807 ⁃ Send tab notification just says "Firefox Sync / Tap to begin" without showing the received URL (#25814)
  firefox-ios/Extensions/NotificationService/NotificationService.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4471 - search saved logins tests
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

[MOB-3336] Bump inapp search snowplow schema version (#884)
  firefox-ios/Ecosia/Analytics/Analytics.swift
Owners: @mozilla-mobile/fxios-eng

Version bump 11.0.2 (#885)
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng

separate text into sub view, add padding
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

change padding based on subtitle displayed or not
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Use Xcode 16.3
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11810 Put testDeleteAddress back to smoketest1 (#25803)
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix MTE-4473 - addresses tests (#25813)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11810 Put testDeleteAddress back to smoketest1 (#25803)
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix MTE-4473 - addresses tests (#25813)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add MTE-4471 - search saved logins tests (#25839)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

FXIOS-11761 #25658 ⁃ App crashes when moving a tab while closing another one
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Add locationActions to AddressBarState
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Add location stack to address toolbar
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11761 ⁃ App crashes when moving a tab while closing another one (#25841)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11856 #25828 ⁃ [Tab tray UI experiment] [Accessibility] - The tabs titles are not read as buttons by voice over
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4474 - update password login test
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

[MOB-3189] Add default browser variations english translations (#883)
  firefox-ios/Ecosia/L10N/String.swift
  firefox-ios/Ecosia/L10N/en.lproj/Ecosia.strings
Owners: @mozilla-mobile/fxios-eng

Add A11y tests for settings
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yUtils.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix linter issues
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yUtils.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove A11y tests from Full Functional Test Plan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
Owners: @mozilla-mobile/fxios-eng

add more tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

feat: set initial webpage background
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

fix: inject dark reader in all frames and at document start
  firefox-ios/Client/Frontend/TabContentsScripts/UserScriptManager.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/DarkReader.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/NightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/__firefox__.js
Owners: @mozilla-mobile/fxios-eng

chore: deps and ignore
  .gitignore
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

fix: bump glean version
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/bin/sdk_generator.sh
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/bin/sdk_generator.sh
Owners: @mozilla-mobile/fxios-eng

Ensure we complete transition even when there's no collection view
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11395 [Homepage] naming and debug description
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarkConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksSectionState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInSectionState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInTabConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SectionHeader/LabelButtonHeaderView.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SectionHeader/SectionHeaderConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteConfiguration.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/LabelButtonHeaderViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Delete removed hand-drawn app icons from the project build settings.
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-9211 [Dynamic Type] Reader Mode Settings (#25786)
  BrowserKit/Sources/ComponentLibrary/Buttons/CloseButton.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Library/Reader/ReaderPanel.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontSizeButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontSizeLabel.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontTypeButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeSettingsButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeStyleViewModel.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeThemeButton.swift
  firefox-ios/Client/Helpers/LegacyDynamicFontHelper.swift
Owners: @mozilla-mobile/fxios-eng

Change flag to be a subflag
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/tabAnimationFeature.yaml
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng
