Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Fix tests again
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DatabaseFixtureTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DomainAutocompleteTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PerformanceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Resolve comments + fix SampleBrowser build
  BrowserKit/Sources/Shared/AppName.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKEngineWebServer.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add string linter for reference content in Firefox and Focus
  .github/l10n/linter_config_focus.json
  .github/l10n/linter_config_ios.json
  .github/workflows/firefox-ios-l10n-linter.yml
  .github/workflows/focus-ios-l10n-linter.yml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

WIP
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayDiffableDataSource.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

WIP
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Temporarily remove hand-drawn App Icons and add FXIOS-11579 tag while we wait for approval.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIcon.swift
Owners: @mozilla-mobile/fxios-eng

Fix unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/DefaultBookmarksSaverTests.swift
Owners: @mozilla-mobile/fxios-eng

Support download of jpeg and png extension files
  firefox-ios/Client/Frontend/Browser/DownloadHelper/MIMEType.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11039 Handle "Last bookmark" home screen quick action after deleting a bookmark (#25169)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/HomepageContextMenuHelper.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ContextMenuHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/DefaultBookmarksSaverTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11039 Handle "Last bookmark" home screen quick action after deleting a bookmark (#25169)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/HomepageContextMenuHelper.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ContextMenuHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/DefaultBookmarksSaverTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11559 - [Toolbar UI Experiments] - Remove search engine in non-edit mode from address toolbar (#25175)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11559 - [Toolbar UI Experiments] - Remove search engine in non-edit mode from address toolbar (#25175)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11549] Create directory
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Code comment
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Fix unit tests.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/AppIconSelection/AppIconSelectionTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11520 [App Icon 2025] Add localized strings for several new alternative app icon variants (#25134)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11520 [App Icon 2025] Adjust localized string key for alternative gradient icons (#25168)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

For <iOS 17, do not adapt the app icons displayed in the app icon selection tool since those users have no way to actually change to the Dark Mode icons.
  BrowserKit/Sources/Common/Theming/ThemeType.swift
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Fix merge confclits.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Manual backport for PR 25168.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11549 Remote settings directory (#25145)
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Removed tabsToDisplay because we don't need it
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11514 ⁃ Weird behavior when closing all tabs (#25199)
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4297 - activity shortcuts tests (#25221)
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

chore: cleanup + change string for settings menu entry
  firefox-ios/Client/Frontend/Settings/Main/General/ThemeSetting.swift
Owners: @mozilla-mobile/fxios-eng

chore: add gradient bgs to image assets
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/automaticBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/darkBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/lightBrowserThemeGradient.pdf
Owners: @mozilla-mobile/fxios-eng

feat: add dark mode section
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
Owners: @mozilla-mobile/fxios-eng

feat: add generic section component
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericSectionView.swift
Owners: @mozilla-mobile/fxios-eng

feat: add main entry view
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
Owners: @mozilla-mobile/fxios-eng

chore: minor refactor while at it
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
Owners: @mozilla-mobile/fxios-eng

feat: add themeoption views
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeSelectionView.swift
Owners: @mozilla-mobile/fxios-eng

fix: typo
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove nightMode as a theme
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeType.swift
Owners: @mozilla-mobile/fxios-eng

fix: lint
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
Owners: @mozilla-mobile/fxios-eng

feat: add to coordinator
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

fix: cleanup
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeSelectionView.swift
Owners: @mozilla-mobile/fxios-eng

feat: change legacy menu copy
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
Owners: @mozilla-mobile/fxios-eng

Remove unused methods
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix ToolbarStateTests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng
