Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Add FXIOS-11640 [Homepage] feature flag on for dev
  firefox-ios/nimbus-features/homepageRebuildFeature.yaml
Owners: @mozilla-mobile/fxios-eng

fix tests for top sites
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
Owners: @mozilla-mobile/fxios-automation-1

fix jumpback in tests
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11651 [Toolbar UI Experiments] - Add search magnifier on homepage (#25385)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11651 [Toolbar UI Experiments] - Add search magnifier on homepage (#25385)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11651 [Toolbar UI Experiments] - Add search magnifier on homepage (#25385)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11626 - [Toolbar Redesign Phase 2] - Create Tab Web View Preview (#25325)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Add DuckDuckGo to all locales
  firefox-ios/Client/Assets/Search/SearchPlugins/list.json
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultSearchPrefsTests.swift
Owners: @mozilla-mobile/fxios-eng

Update Focus to use version.txt
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
  focus-ios/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

make TopSite a struct
  firefox-ios/Client/Frontend/Home/TopSites/TopSite.swift
Owners: @mozilla-mobile/fxios-eng

Fix merge conflict
  firefox-ios/Client/Experiments/initial_experiments.json
Owners: @afurlan-firefox

refactor the vars in const, privates and then internals
  firefox-ios/Client/Frontend/Home/TopSites/TopSite.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11640 [Homepage] feature flag on for dev (#25357)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/nimbus-features/homepageRebuildFeature.yaml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Try (dis)able debug dylib
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Reset image to fix bug sync icon showing after disconnect account
  firefox-ios/Client/Frontend/Settings/Main/Account/SyncNowSetting.swift
Owners: @mozilla-mobile/fxios-eng

Need another team authority?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Revert to the old team
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

output the logs for now
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11441 [Search engines] Add DuckDuckGo to all locales (#24907)
  firefox-ios/Client/Assets/Search/SearchPlugins/list.json
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultSearchPrefsTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor MTE-4379 Code sign for dylib? (#25398)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

App signed by apple distribution?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add DISCO-3327 send appContext to RemoteSettingsService
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

chore: add gradient bgs to image assets
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/automaticBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/darkBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/lightBrowserThemeGradient.pdf
Owners: @mozilla-mobile/fxios-eng

chore: cleanup + change string for settings menu entry
  firefox-ios/Client/Frontend/Settings/Main/General/ThemeSetting.swift
Owners: @mozilla-mobile/fxios-eng

chore: minor refactor while at it
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
Owners: @mozilla-mobile/fxios-eng

feat: add themeoption views
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeSelectionView.swift
Owners: @mozilla-mobile/fxios-eng

feat: add generic section component
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericSectionView.swift
Owners: @mozilla-mobile/fxios-eng

feat: add dark mode section
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
Owners: @mozilla-mobile/fxios-eng

feat: add main entry view
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
Owners: @mozilla-mobile/fxios-eng

fix: cleanup
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeSelectionView.swift
Owners: @mozilla-mobile/fxios-eng

feat: add to coordinator
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

fix: typo
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
Owners: @mozilla-mobile/fxios-eng

fix: revert old UI
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeType.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultThemeManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove nightMode as a theme
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeType.swift
Owners: @mozilla-mobile/fxios-eng

fix: address feedback
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
Owners: @mozilla-mobile/fxios-eng

fix: lint
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
Owners: @mozilla-mobile/fxios-eng

fix: failing test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultThemeManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
Owners: @mozilla-mobile/fxios-eng

feat: change legacy menu copy
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
Owners: @mozilla-mobile/fxios-eng

feat: add nimbus flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

fix: handle night mode edge case
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
