Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12680 ⁃ Don't display the Make Default Banner if the user has set up Firefox as default (#27701)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuAction.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix: typo
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RemoteSettings/ASSearchEngineUtilitiesTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12521 [Tab tray UI experiment] Change selector to be centered (#27636)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12632 [HNT - Search Bar] showing / hiding address toolbar
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/Client/Nimbus/TestData/homepageSearchBarOff.json
  firefox-ios/Client/Nimbus/TestData/homepageSearchBarOn.json
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Further cleanup suggestions from PR. Mark strings removal with future FXIOS ticket.
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Share/ShareManager.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

swifltint fix
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12583 [Swift 6 Migration] DefaultSearchEngineProvider, OpenSearchEngine (#27682)
  firefox-ios/Client/Frontend/Browser/SearchEngines/DefaultSearchEngineProvider.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12628, FXIOS-12626 [Sent from Firefox] [TA 2025] Remove Sent from Firefox experiment, expire related extras, improve shared_to documentation (#27545)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/SentFromFirefoxSetting.swift
  firefox-ios/Client/Frontend/Share/ShareManager.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetry.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetryActivityItemProvider.swift
  firefox-ios/Client/Frontend/Share/TitleActivityItemProvider.swift
  firefox-ios/Client/Frontend/Share/URLActivityItemProvider.swift
  firefox-ios/Client/Glean/probes/share_sheet.yaml
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryActivityItemProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/TitleActivityItemProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/URLActivityItemProviderTests.swift
  firefox-ios/nimbus-features/sentFromFirefoxFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

add bottom toolbar
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

remove strings, use existing
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12583 [Swift 6] MainMenuActionHelper and friends regional based isolation (#27598)
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetProtocol.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetView.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetViewModel.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/SingleActionViewModel.swift
  firefox-ios/Storage/Sites/Site.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/Legacy/LegacyBookmarksPanelTests.swift
Owners: @mozilla-mobile/fxios-eng

remove refs
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

remove file
  firefox-ios/nimbus-features/hntContentFeedCleanupFeature.yaml
Owners: @mozilla-mobile/fxios-eng

whoopsie
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

remove performance optimizations, inject environment
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Use correct Scheme handler!
  firefox-ios/Client/TabManagement/TabConfigurationProvider.swift
Owners: @mozilla-mobile/fxios-eng

refactor + unit tests
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/HomepageDimensionImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDimensionCalculatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Make the history panel's diffable data source use a HistoryItem conforming to Hashable and Sendable to fix Swift 6 / Xcode 26 errors.
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel+Search.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
Owners: @mozilla-mobile/fxios-eng

Remove unnecessary `@unchecked Sendable` workaround for `AnyHashable`. Update `EventQueue` accordingly.
  firefox-ios/Client/Frontend/AnyHashable.swift
  firefox-ios/Client/Frontend/Browser/Event Queue/EventQueue.swift
Owners: @mozilla-mobile/fxios-eng

fix unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove any hashable reference
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4755] - testTypeOnGivenFields test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12721 ⁃ Shaky menu movemenu when launched after opening a new tab (#27729)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12721 ⁃ Shaky menu movemenu when launched after opening a new tab (#27729)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fixed conflicts
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove spacing
  BrowserKit/Sources/Common/Utilities/TextStyling.swift
Owners: @mozilla-mobile/fxios-eng

Removed unused properties
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12505 [Onboarding] Design QA (#27688)
  BrowserKit/Sources/Common/Utilities/DynamicFontHelper.swift
  BrowserKit/Sources/Common/Utilities/TextStyling.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/ContentFittingScrollView.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/CustomPageControl.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PagingCarousel.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PortraitOnlyHostingController.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PrimaryButtonStyle.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/VScrollView.swift
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottom.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottom.imageset/toolbarBottom.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottomSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottomSelected.imageset/toolbarBottomSelected.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTop.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTop.imageset/toolbarTop.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTopSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTopSelected.imageset/toolbarTopSelected.pdf
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Models/TosFlowViewModel.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Shaders/blurredPoints.metal
  BrowserKit/Sources/OnboardingKit/Views/DescriptionAlignment.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceView.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12616 [Onboarding] Improve UI for iPad Variant (#27491)
  BrowserKit/Sources/ComponentLibrary/SwiftUI/CustomPageControl.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/VScrollView.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingFlowViewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceView.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/nimbus-features/onboardingFrameworkFeature.yaml
Owners: @mozilla-mobile/fxios-eng

FXIOS-12505 [Onboarding] Design QA (#27688)
  BrowserKit/Sources/Common/Utilities/DynamicFontHelper.swift
  BrowserKit/Sources/Common/Utilities/TextStyling.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/ContentFittingScrollView.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/CustomPageControl.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PagingCarousel.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PortraitOnlyHostingController.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PrimaryButtonStyle.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/VScrollView.swift
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottom.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottom.imageset/toolbarBottom.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottomSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconBottomSelected.imageset/toolbarBottomSelected.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTop.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTop.imageset/toolbarTop.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTopSelected.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingToolbarIconTopSelected.imageset/toolbarTopSelected.pdf
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Models/TosFlowViewModel.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Shaders/blurredPoints.metal
  BrowserKit/Sources/OnboardingKit/Views/DescriptionAlignment.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceView.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Fix merge conflict
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12744 #27749 Manually add strings for en_US
  firefox-ios/Shared/Supporting Files/en-US.lproj/Onboarding.strings
Owners: @mozilla-mobile/fxios-eng

Fix wrong key
  firefox-ios/nimbus-features/onboardingFrameworkFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add [MTE-4782] - swiping tabs test (#27744)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SwipingTabsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix [MTE-4755] - testTypeOnGivenFields test (#27745)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix [MTE-4755] - testTypeOnGivenFields test (#27745)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add [MTE-4782] - swiping tabs test (#27744)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SwipingTabsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

FXIOS-12674 #27617 ⁃ [Menu Redesign] Implement Menu CFR
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintCopyProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintPrefsKeysProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fixed SwiftLint Warning
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
Owners: @mozilla-mobile/fxios-eng

Localize FXIOS-26661 Clean up unused strings (#27723)
  firefox-ios/Shared/Supporting Files/bg.lproj/TabLocation.strings
  firefox-ios/Shared/Supporting Files/es.lproj/TabLocation.strings
  firefox-ios/Shared/Supporting Files/ur.lproj/Edit Card.strings
  firefox-ios/Shared/Supporting Files/ur.lproj/FirefoxSync.strings
  firefox-ios/Shared/az.lproj/Today.strings
  firefox-ios/Shared/en.lproj/Localizable.strings
  firefox-ios/Shared/tzm.lproj/Today.strings
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
