Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

[MOB-3201] Fix upgrade color issues (#857)
  BrowserKit/Sources/Common/Theming/EcosiaThemeColourPalette.swift
  firefox-ios/Client/AccessoryViewProvider.swift
  firefox-ios/Client/Ecosia/UI/MultiplyImpact/MultiplyImpact.swift
  firefox-ios/Client/Ecosia/UI/PageAction/PageActionsShortcutsHeader.swift
  firefox-ios/Client/Ecosia/UI/Theme/EcosiaDarkTheme.swift
  firefox-ios/Client/Ecosia/UI/Theme/EcosiaLightTheme.swift
  firefox-ios/Client/Frontend/Widgets/TabsButton.swift
Owners: @mozilla-mobile/fxios-eng

[MOB-3206] Remove Firefox branded header view from Privacy screen (#858)
  firefox-ios/Client/Frontend/TrackingProtection/TrackingProtectionViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove observer
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4319 - on several failures
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Tried to reanble test and merge
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/UnitTest.xctestplan
Owners: @mozilla-mobile/fxios-eng

Rename toolbar layout
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Set layout in redux
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11405 [Toolbar] Show number of open tabs in large content viewer (#24992)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Check if is not regular layout
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove Tabs tests
  firefox-ios/firefox-ios-tests/Tests/UnitTest.xctestplan
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11488 - [Tab Tray UI Experiments] - iPad - App crashes when tapping on tabs button (#24995)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove final from WKEngineSession
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4319 - on several failures (#24994)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Created ThemedLearnMoreTableViewCell class and use it for the cells that have Learn More button
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/SendDataSetting.swift
  firefox-ios/Client/Frontend/Settings/SettingsTableViewController.swift
  firefox-ios/Client/Frontend/Theme/ThemedTableViewCells/ThemedLearnMoreTableViewCell.swift
  firefox-ios/Client/Frontend/Theme/ThemedTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-7896 [WebEngine] - Handle TabWebView ThemeApplicable (#24970)
  BrowserKit/Sources/Common/Extensions/UIColorExtensions.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-10534 #23080 [Nimbus] Studies should be toggled back on after re-enabling Telemetry
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/StudiesToggleSetting.swift
Owners: @mozilla-mobile/fxios-eng

Small fix MTE-4326 - for testTabDecrement test on iPad
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Small fix MTE-4326 - for testTabDecrement test on iPad (#24999)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Use non-Nimbus enum for layout
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
Owners: @mozilla-mobile/fxios-eng

Add ToolbarLayoutStyle
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-10852 #23667 ⁃ [iPad] - Weird behavior of tabs after a specific scenario
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11449 [Toolbar UI Experiment] Create feature flag (#24996)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

[MOB-3212] Bookmarks icon fixes (#859)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  BrowserKit/Sources/SiteImageView/FaviconImageView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11477 [Dark Reader] Strings for new Appearance screen (#24965)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Update info plist and build settings
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/sticker/Info.plist
Owners: @mozilla-mobile/fxios-eng

Moved enqueue tab restore in view didLoad
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Updated checkmark to be next to filename, added padding for button
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
Owners: @mozilla-mobile/fxios-eng

Create autofill & password setting and view controller
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Settings/AutoFillPasswordSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Privacy/AutofillPasswordSetting.swift
Owners: @mozilla-mobile/fxios-eng

Move options to new setting and route
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/GeneralSettingsDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Fix and add unit and UI test
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Settings/AutoFillPasswordSettingsViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add string and A11y identifier
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

set delegate and clean up
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/AutoFillPasswordSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add localized strings for the App Icon Selection settings screen app icon rows.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIcon.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

In AppIconView return an EmptyView if image asset is missing.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

fix swiftlint error
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add AppIconView selected/unselected accessibility labels.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add AppIconView icon accessibility label.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Remove todo
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Add app icon row button accessibility hint. Update labels for VoiceOver.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
