Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Added FXIOS-11458 new selector UI component for tab tray (#25636)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/CenterSnappingFlowLayout.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflicts
  BrowserKit/Package.resolved
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11797 [Tab tray UI experiment] Scrolling on TabTraySelectorView (#25735)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FIXIOS-11813 [Tab Tray Experiments] Fix tab selector starting on tabs every time (#25761)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

chore: bump to latest nightly
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Bugfix DISCO-3388 Update RemoteSettingsContext construction
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix DISCO-3388 Update RemoteSettingsContext construction (#25677)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/Providers/Profile.swift
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Improve MTE-4469 - testClipboard test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ClipBoardTests.swift
Owners: @mozilla-mobile/fxios-automation-1

fix: add missing switch cases for nss errors
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

fix: add missing switch cases for nss errors
  firefox-ios/Storage/Rust/RustLogins.swift
Owners: @mozilla-mobile/fxios-eng

Improve MTE-4469 - testClipboard test (#25768)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ClipBoardTests.swift
Owners: @mozilla-mobile/fxios-automation-1

nit picks done
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Update BookmarkPanelViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Update BookmarksPanelViewModel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
Owners: @mozilla-mobile/fxios-eng

WIP: Bitrise Test Sharding
  bitrise.yml
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

try run_if
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

try run_if
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

try run_if
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

run_if for test workflows
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Adjust popover size with content
  firefox-ios/Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
Owners: @mozilla-mobile/fxios-eng

Grow brightness images to a max size
  firefox-ios/Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4470 - Verify the Passwords settings menu test
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11729 [Password Generator] Enable Password Generator by default (#25579)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/passwordGeneratorFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11729 [Password Generator] Enable Password Generator by default (#25579)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/passwordGeneratorFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix [Suggest] Change custom targeting attributes from `form_factor` to `formFactor`. (#25639)
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

delete smoketests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
Owners: @mozilla-mobile/fxios-eng

Scale serif font
  firefox-ios/Client/Frontend/Reader/View/ReaderModeSettingsButton.swift
Owners: @mozilla-mobile/fxios-eng

Make + and - bigger
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontSizeButton.swift
Owners: @mozilla-mobile/fxios-eng

Update app version
  firefox-ios/Client/Configuration/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Add a11y ids
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontSizeButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontTypeButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeThemeButton.swift
Owners: @mozilla-mobile/fxios-eng

Refactor [Toolbar UI Experiments] - FXIOS-11717, FXIOS-11718 - Update toolbar colors and url gradient (#25577)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/DropDownSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/PlainSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/SearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Update Strings.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Update Strings.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11810 [Felt Privacy] toggle mask and show private toggle
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Header/HeaderAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Header/HomepageHeaderCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/HomeLogoHeaderViewModel.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/LegacyHomepageHeaderCell.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/HomepageTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TodayWidgetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11191 [Blueprint Download Manager] - Fixing Multiple Downloads (#25757)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

add focus
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11796 #25724 ⁃ Update TabScrollControllerTest to remove mock and use UserInterfaceIdiom (#25725)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockDeviceTypeProvider.swift
Owners: @mozilla-mobile/fxios-eng

Use redux for state management.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabWebViewPreview/Redux/TabWebViewPreviewAction.swift
  firefox-ios/Client/Frontend/Browser/TabWebViewPreview/Redux/TabWebViewPreviewState.swift
  firefox-ios/Client/Frontend/Browser/TabWebViewPreview/TabWebViewPreview.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenAction.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenState.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabWebViewPreviewStateTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Switch menu & tabs action
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Add space between vars
  firefox-ios/Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
Owners: @mozilla-mobile/fxios-eng
