Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Fix segment selection to center
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix landscape
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12075 [Homepage] update sentry log + constraints bug
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Remove credit-card-autofill flag
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Settings/AutoFillPasswordSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/RustFxA/FxAWebViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
  firefox-ios/nimbus-features/autofillFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add new localization strings for hand-drawn app icon alternatives.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Update %@ in string comment.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

PR feedback fixes.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Use same args as firefox_configure_build
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Update system theme string text. Add app icon variant section heading strings.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Separate build and test
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix syntax
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

bump all dependencies
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Use just xcode-test
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bump - Set version to 138.1
  version.txt
Owners: @mozilla-mobile/fxios-eng

Add properly minimal tinted mode app icons for all our app icon variants and the defaults, including beta.
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Blue.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Cyan.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Green.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Orange.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Pink.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Purple.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Red.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Yellow.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_DarkPurple.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_BlueHour.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_GoldenHour.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Midday.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Midnight.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_NorthernLights.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Sunrise.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Sunset.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Twilight.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-tinted.png
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12085 [App Icon 2025] Add new localization strings for hand-drawn app icon alternatives (#26304)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Additional rebasing conflict fixing
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
Owners: @mozilla-mobile/fxios-eng

download stopping
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityIntent.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKit/WidgetKit.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadProgressManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Completed ticket
  BrowserKit/Sources/Shared/NotificationConstants.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityIntent.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Download Cancellation
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityIntent.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12088 [App Icon 2025] Add polished tinted mode app icon for iOS 18 (#26308)
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Blue.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Cyan.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Green.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Orange.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Pink.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Purple.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Red.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Color_Yellow.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_DarkPurple.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_BlueHour.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_GoldenHour.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Midday.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Midnight.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_NorthernLights.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Sunrise.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Sunset.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Alt_Gradient_Twilight.appiconset/AppIcon_Alt_Tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Beta.appiconset/appstore-tinted.png
  firefox-ios/Client/Assets/AppIcons.xcassets/AppIcon_Developer.appiconset/appstore-tinted.png
Owners: @mozilla-mobile/fxios-eng

test fix
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadProgressManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Update our pull request template to add an easy examples section and revise our checklist.
  PULL_REQUEST_TEMPLATE
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11210 [Blueprint Download Manager] Stop Downloads via Live Activity (#26154)
  BrowserKit/Sources/Shared/NotificationConstants.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityIntent.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/WidgetKit/WidgetKit.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadProgressManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix colon.
  PULL_REQUEST_TEMPLATE
Owners: @mozilla-mobile/fxios-eng

Update BrowserKit/Sources/WebEngine/Utilities/URLFormatter.swift
  BrowserKit/Sources/WebEngine/Utilities/URLFormatter.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12056 - [Toolbar - Swipe Tabs Animation] - Enable `swiping-tabs` flag on dev & beta (#26257)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Changed session attributes so that downloads continue while the app is in the background.
  firefox-ios/Client/Frontend/Browser/DownloadHelper/Download.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4541 - for syncuitests on ios 15
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fixes MTE-4541 - for syncuitests on ios 15 (#26316)
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor MTE-4457 Use same options for unit tests (#26309)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11946 [Feature flag clenup] Remove credit card autofill feature flag (#26303)
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Settings/AutoFillPasswordSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/RustFxA/FxAWebViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
  firefox-ios/nimbus-features/autofillFeature.yaml
Owners: @mozilla-mobile/fxios-eng

FXIOS-11447 #24915 ⁃ Unnecessary bar above the on-screen keyboard when activating an input field
  firefox-ios/Client/AccessoryViewProvider.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12075 [Homepage] update sentry log + constraints bug (#26301)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Fix spelling
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

Disable keyboard bar only for iPads
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Remove TabManagerNavigation, fix opening external apps
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/TabManagement/TabManagerNavDelegate.swift
Owners: @mozilla-mobile/fxios-eng

remove note
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Add - MTE-4542 - pocket tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor FCIOS-11521 [Homepage] fix time out on jump back in tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockJumpBackInDelegate.swift
Owners: @mozilla-mobile/fxios-eng
