Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

clean up
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
Owners: @mozilla-mobile/fxios-eng

add reference to options enums
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11745 [SEC] Fetch ordered engines in background (#25873)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

add namespace
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Add reference to enums in metrics comment (#25900)
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Remove print statements
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Fixed dismissal animation
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Disable those toasts when experiment is turned ON
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Make sure status bar is covered
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11766 [Tab tray UI experiment] Check experiment is disabled to see the inactive tab setting (#25855)
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11766 [Tab tray UI experiment] Check experiment is disabled to see the inactive tab setting (#25855)
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11766 [Tab tray UI experiment] Check experiment is disabled to see the inactive tab setting (#25855)
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflict
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Use focus for full functional and smoke tests
  .github/workflows/focus-ios-ui-tests-previous-os.yml
  .github/workflows/focus-ios-ui-tests.yml
Owners: @mozilla-mobile/fxios-automation-1

Need import XCTest and comment on unreachable code.
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MultiWindowTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ToolbarMenuTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/UrlBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Install xcodes to install iOS 18.2
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

README and github actions workflows need to bump to 16.3.
  .github/workflows/firefox-ios-publish-docc.yml
  .github/workflows/focus-ios-l10n-linter.yml
  README.md
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Import common for LaunchArguments
  firefox-ios/firefox-ios-tests/Tests/L10nSnapshotTests/L10nSuite1SnapshotTests.swift
Owners: @mozilla-mobile/fxios-eng

Import common for LaunchArguments
  firefox-ios/firefox-ios-tests/Tests/L10nSnapshotTests/L10nBaseSnapshotTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11790 [Dark Reader] Reduce flicker and white flash when in night mode (#25877)
  .gitignore
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/TabContentsScripts/UserScriptManager.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/DarkReader.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/NightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/__firefox__.js
  firefox-ios/Client/TabManagement/Tab.swift
  webpack.config.js
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11790 [Dark Reader] Reduce flicker and white flash when in night mode (#25877)
  .gitignore
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/TabContentsScripts/UserScriptManager.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/DarkReader.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/NightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/__firefox__.js
  firefox-ios/Client/TabManagement/Tab.swift
  webpack.config.js
Owners: @mozilla-mobile/fxios-eng

Refactor MTE-4496 - zooming tests
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ZoomingTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11790 [Dark Reader] Reduce flicker and white flash when in night mode (#25877)
  .gitignore
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/TabContentsScripts/UserScriptManager.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/DarkReader.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/NightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/NightModeAtDocumentStart/__firefox__.js
  firefox-ios/Client/TabManagement/Tab.swift
  webpack.config.js
Owners: @mozilla-mobile/fxios-eng

fix: update webengine and remove csp hash
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  firefox-ios/Client/Frontend/Reader/ReaderModeHandlers.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentEnd/FindInPage.js
  focus-ios/Blockzilla/FindInPage.js
Owners: @mozilla-mobile/fxios-eng

[MOB-3189] Default browser experiment missing translations (#887)
  firefox-ios/Client/Ecosia/UI/NTP/DefaultBrowser.swift
  firefox-ios/Ecosia/L10N/String.swift
  firefox-ios/Ecosia/L10N/en.lproj/Ecosia.strings
Owners: @mozilla-mobile/fxios-eng

remove bitrise step
  bitrise.yml
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor MTE-4496 - zooming tests (#25913)
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ZoomingTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Switch to guard and now really fix if statement
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11876 [Toolbar UI Experiments] Autocomplete not shown (#25879)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11876 [Toolbar UI Experiments] Autocomplete not shown (#25879)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11876 [Toolbar UI Experiments] Autocomplete not shown (#25879)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11882 #25897 ⁃ Remove "Show Link Previews" setting
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bump FXIOS/Focus [Dependencies] Glean v64.1.0
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/bin/sdk_generator.sh
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/bin/sdk_generator.sh
Owners: @mozilla-mobile/fxios-eng

Remove javascript method from engine session and add WKJavascriptInterface
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/EngineSessionScriptResponder.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ContentScriptDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
Owners: @mozilla-mobile/fxios-eng

clean up
  firefox-ios/Client/Coordinators/Router/DeeplinkInput.swift
Owners: @mozilla-mobile/fxios-eng

Add back again Temporary doc deinit
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

indent correcly
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

Save accessibility reports as bitrise artifacts
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-8232 - [Toolbar Redesign Phase 2] - Swiping to change tabs (#25536)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Fixed indentation in bitrise.yml
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1
