Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Add FXIOS-12049 - [Toolbar - Swipe Tabs Animation] - Enable swiping for a specific case on homepage (#26246)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Hide top blur view on homepage with wallpaper
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4531 - bookmark toggle test (#26269)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Use background alpha from ToolbarHelper
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Add comment
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Enable swiping-tabs on beta too.
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Restore pipline_build_and_test
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bump xcode-test
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Restore before_run
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Copied from bitrise performance tests
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Use Fennec scheme
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove xcresulttool
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Back to the barebones
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Repeat until failure
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

I got reporting working! Let's repeat tests.
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove cache-pull. Tests repeat 10 times.
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Make reader mode bar view translucent
  firefox-ios/Client/Frontend/Reader/View/ReaderModeBarView.swift
Owners: @mozilla-mobile/fxios-eng

Update toolbar helper
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12052 [Unit Test] flaky top sites middleware tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockTopSitesManager.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-1066/FXIOS-10767 [Accessibility] Prevent toast voiceover announcements from being interrupted (#26264)
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
Owners: @mozilla-mobile/fxios-eng

Add the scaffolding for release promotion and a promote phase
  bitrise.yml
  taskcluster/config.yml
  taskcluster/ffios_taskgraph/__init__.py
  taskcluster/ffios_taskgraph/release_promotion.py
  taskcluster/ffios_taskgraph/target_tasks.py
  taskcluster/ffios_taskgraph/transforms/relpro_promote.py
  taskcluster/kinds/promote/kind.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/test/params/release-promote-beta.yml
  taskcluster/test/params/release-promote.yml
Owners: @mozilla-mobile/fxios-automation-1

Add a push phase to release promotion
  bitrise.yml
  taskcluster/config.yml
  taskcluster/ffios_taskgraph/target_tasks.py
  taskcluster/kinds/push/kind.yml
  taskcluster/test/params/release-push-beta.yml
  taskcluster/test/params/release-push.yml
Owners: @mozilla-mobile/fxios-automation-1

Add a ship phase to release promotion
  taskcluster/config.yml
  taskcluster/ffios_taskgraph/__init__.py
  taskcluster/ffios_taskgraph/target_tasks.py
  taskcluster/ffios_taskgraph/transforms/github_release.py
  taskcluster/ffios_taskgraph/transforms/mark_as_shipped.py
  taskcluster/ffios_taskgraph/transforms/version_bump.py
  taskcluster/ffios_taskgraph/worker_types.py
  taskcluster/kinds/github-release/kind.yml
  taskcluster/kinds/mark-as-shipped/kind.yml
  taskcluster/kinds/version-bump/kind.yml
  taskcluster/test/params/release-ship-beta.yml
  taskcluster/test/params/release-ship.yml
Owners: @mozilla-mobile/fxios-automation-1

Add missing license headers
  taskcluster/ffios_taskgraph/transforms/mark_as_shipped.py
  taskcluster/ffios_taskgraph/worker_types.py
Owners: @mozilla-mobile/fxios-automation-1

Use `set -xe` in all steps
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Solidify how we detect staging relpro by using the bitrise slug
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

nit: add a blank line in the bitrise YAML for readability
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Removing tab group data from the TabDataStore
  BrowserKit/Sources/TabDataStore/TabData.swift
  BrowserKit/Sources/TabDataStore/TabGroupData.swift
  BrowserKit/Tests/TabDataStoreTests/TabFileManagerTests.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12052 [Unit Test] flaky top sites middleware tests (#26274)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockTopSitesManager.swift
Owners: @mozilla-mobile/fxios-eng

Add missing test for deeplink optimization path
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SceneCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Add feature flag helper method to override value
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SceneCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix MTE-4457 Enable Firefox_Unit_Tests to be shown on Bitrise insights (#26268)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Disable translucency when keyboard is shown
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update spacer with theme
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Don't use dev workers
  taskcluster/config.yml
Owners: @mozilla-mobile/fxios-automation-1

Build: FXIOS-11506 Don't run the decision task on github release publication (#26252)
  .taskcluster.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove test enabling flag that causes test failures
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SceneCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12061 [SEC] Minor cleanup (#26267)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12029 [Feature flag cleanup] Remove the preferSwitchToOpenTabOverDuplicate flag (#26202)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/homescreenFeature.yaml
Owners: @mozilla-mobile/fxios-eng

update comment
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
