Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Fix conflicts
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Bugzilla 1946062; cleanup
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12490 Bugzilla 1946062 (#27231)
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
Owners: @mozilla-mobile/fxios-eng

add pin asset
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/pinFillLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/pinFillLarge.imageset/pinFillLarge.pdf
Owners: @mozilla-mobile/fxios-eng

update pin icon positioning
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

Add new history YAML. Add new history migration event to replace some old metrics ping data.
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/history.yaml
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Add HistoryTelemetry type.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Library/HistoryTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Record when a history migration is attempted on launch. Skip history migration for fresh installs / first launches (as opposed to upgrades).
  firefox-ios/Client/Application/AppLaunchUtil.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/Client/Glean/probes/history.yaml
  firefox-ios/Client/Glean/probes/history.yaml
Owners: @mozilla-mobile/fxios-eng

Add new ping and string metic for fx-accounts and client Fx uid.
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/pings.yaml
  firefox-ios/Client/Glean/probes/user.yaml
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Adjust tests in test plans
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DesktopModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Added a UX constant
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12322 Implement tracking protection screen in new onboarding with crash & telemetry toggle modal (#27217)
  BrowserKit/Sources/ComponentLibrary/SwiftUI/AttributedLinkText.swift
  BrowserKit/Sources/OnboardingKit/Media.xcassets/fxHomeHeaderLogoBall.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/fxHomeHeaderLogoBall.imageset/fxLogo.pdf
  BrowserKit/Sources/OnboardingKit/Models/EmbeddedLink.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
  BrowserKit/Sources/OnboardingKit/Models/TosAction.swift
  BrowserKit/Sources/OnboardingKit/Models/TosFlowViewModel.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingKitCardInfoModel.swift
  firefox-ios/Client/Frontend/Onboarding/Views/TermsOfServiceViewController.swift
  firefox-ios/Client/TermsOfServiceManager.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12322 Implement tracking protection screen in new onboarding with crash & telemetry toggle modal (#27217)
  BrowserKit/Sources/ComponentLibrary/SwiftUI/AttributedLinkText.swift
  BrowserKit/Sources/OnboardingKit/Media.xcassets/fxHomeHeaderLogoBall.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/fxHomeHeaderLogoBall.imageset/fxLogo.pdf
  BrowserKit/Sources/OnboardingKit/Models/EmbeddedLink.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
  BrowserKit/Sources/OnboardingKit/Models/TosAction.swift
  BrowserKit/Sources/OnboardingKit/Models/TosFlowViewModel.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingKitCardInfoModel.swift
  firefox-ios/Client/Frontend/Onboarding/Views/TermsOfServiceViewController.swift
  firefox-ios/Client/TermsOfServiceManager.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12238 Encapsulate basic & multi select cards into a single generic onboarding card (#26839)
  BrowserKit/Sources/OnboardingKit/Models/OnboardingFlowViewModel.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
Owners: @mozilla-mobile/fxios-eng

Fix version
  firefox-ios/Client/Configuration/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Fix ShareToolbarTests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix UrlBarTests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/UrlBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix SearchTests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix HomePageSettingsUITests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
Owners: @mozilla-mobile/fxios-automation-1

Fixes [MTE-4648] - for flaky tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareLongPressTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix HomeButtonTests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomeButtonTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Added unit tests
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Components/ContentContainer.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockBrowserCoordinator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix lint
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockBrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Fix memory leak in Data.sha256 extension
  BrowserKit/Sources/Shared/Extensions/Data+Extension.swift
Owners: @mozilla-mobile/fxios-eng

Fix ActivityStreamTest
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove code from viewWillDisappear.
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

pr fix
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/ActivityEventHelper.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingNavigationDelegate.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingService.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingServiceDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Remove viewWillDisappear.
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update the FirefoxTelemetryUtility.sh script to also manually update and alphabetize the tags.yaml for -add operations
  FirefoxTelemetryUtility.sh
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12502 [Toolbar] Add back baseline and default to version1 when used (#27249)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12502 [Toolbar] Add back baseline and default to version1 when used (#27249)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Correct homepage visibility
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Components/ContentContainer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockBrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Set privatehompage controller to weak
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Add comments
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12506 - Weird behavior of the URL bar after a specific scenario (#27275)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12506 - Weird behavior of the URL bar after a specific scenario (#27275)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

fix: use expected locale format by RS
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12500 [Toolbar] Enable toolbar with animations and translucency by default on Beta 140 and Dev/Main (#27255)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomeButtonTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/UrlBarTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor FXIOS-12500 [Toolbar] Enable toolbar with animations and translucency by default on Beta 140 and Dev/Main (#27255)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomeButtonTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/UrlBarTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
