Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Go to settings page step by step
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Automated MTE-4506 - dont save changed password scenario (#26110)
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

[FXIOS-11508] Fix SEC flag manager for ShareTo target
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11895 Add feature flag to test reverting unsafe continuations workaround for iOS 18.0 (beta?) users (#26096)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/FolderHierarchyFetcher.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/NotificationManager.swift
  firefox-ios/Client/Utils/ContinuationsChecker.swift
  firefox-ios/nimbus-features/revertUnsafeContinuationsRefactor.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Controlled throttling of updates implemented on our end to prevent it from happening automatically
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint fix
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11588 - Toolbar position persistance problems (#26121)
  firefox-ios/Client/Frontend/Onboarding/Views/IntroViewController.swift
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceButtonView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix MTE-4509 Intermittent issues in sync integration tests (#26123)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11638 [Tab tray UI experiment] Disable animation of tab tray UI experiment on iPad (#26085)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11896 #25949 [WebEngine] Make config public (#26041)
  BrowserKit/Sources/WebEngine/WKWebview/Internal/WKInternalSchemeHandler.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfiguration.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKWebViewProvider.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineConfiguration.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineConfigurationProvider.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebViewProvider.swift
  BrowserKit/Tests/WebEngineTests/Utilities/DefaultTestDependencies.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineViewTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
  BrowserKit/Tests/WebEngineTests/WKUserScriptManagerTests.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainer.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/InternalSchemeHandler/InternalSchemeHandler.swift
Owners: @mozilla-mobile/fxios-eng

Added logins verification logic
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/Storage/Rust/RustLogins.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RustSyncManagerTests.swift
  firefox-ios/nimbus-features/loginsVerificationEnabled.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Fixed errors
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

Refactor code structure
  BrowserKit/Sources/WebEngine/EngineSessionDependencies.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfiguration.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Added test to WKEngineWebView
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineConfiguration.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebViewDelegate.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove unnecessary structs
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Added missing test
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineConfiguration.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Removed more unnecessary code
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintCopyProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintPrefsKeysProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Interface/WallpaperManager.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContextualHints/ContextualHintEligibilityUtilityTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor UI Sample Browser
  SampleBrowser/SampleBrowser/Assets.xcassets/bingSearchEngine.imageset/bingSearchEngine.pdf
  SampleBrowser/SampleBrowser/Assets.xcassets/duckduckgoSearchEngine.imageset/Contents.json
  SampleBrowser/SampleBrowser/Assets.xcassets/duckduckgoSearchEngine.imageset/duckduckgo.png
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
Owners: @mozilla-mobile/fxios-eng

Removed some unnecessary tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryWrapperTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix after merge
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfiguration.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKWebViewProvider.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockEnginePullRefreshView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineConfigurationProvider.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebViewProvider.swift
  BrowserKit/Tests/WebEngineTests/Utilities/DefaultTestDependencies.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
Owners: @mozilla-mobile/fxios-eng

Fix lint
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Removed some more code
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContextualHints/ContextualHintEligibilityUtilityTests.swift
Owners: @mozilla-mobile/fxios-eng

Removed two tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContextualHints/ContextualHintEligibilityUtilityTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11904 - [Toolbar - Swipe Tabs Animation] - The UI becomes unresponsive in a specific case (#26027)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Update background view according to the current used theme
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11898 #25952 Enable ToS by default in Firefox iOS 138+
  firefox-ios/nimbus-features/tosFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11610 Remove unused strings from Strings.swift (#25642)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

REfactor tests
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Deactivate on local to avoid test failure
  firefox-ios/nimbus-features/tosFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11523 [Homepage] item impression event
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12009 - [Toolbar - Swipe Tabs Animation] - Update background view according to the current theme (#26138)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Hide progress bar when changing tabs
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11909 #25978 ⁃ [Homepage rebuilt] Disabling "Shortcuts" does not remove them from homepage on iOS 16
  firefox-ios/Client/Frontend/Settings/HomepageSettings/TopSitesSettings/TopSitesSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add feature flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 137.3
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  firefox-ios/sticker/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Bump - Set version to 137.3 (#26148)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  firefox-ios/sticker/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor FXIOS-11428 [SEC] [WIP] Search engine telemetry updates (#25957)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineUtilities.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/Search/SearchViewController.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchParser.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEngineFlagManager.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Settings/CustomSearchViewController.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/URLBarView.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/MockSearchEngineProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/OpenSearchEngineTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchEnginesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/SponsoredTileDataUtilityTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/TopSitesDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RemoteSettings/SearchPrefsMigrationTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix merge conflict.
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

Remove stale ToDo
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

address feedback
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
