Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Add metric for when app was last opened as default browser
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Set metric for when browser was last opened as default browser
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11250 (Firefox iOS) Update settings screen's "Privacy Policy" and "Your Rights" links
  firefox-ios/Client/Frontend/Settings/Main/About/YourRightsSetting.swift
  firefox-ios/Client/Frontend/Settings/Main/Privacy/PrivacyPolicySetting.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Cancel edit mode when handling deeplinks
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11266 [Focus][Terms of service] Crashes are not generated in Sentry for Focus
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove AccessibilityTestPlan under CLient folder
  firefox-ios/firefox-ios-tests/Tests/ClientTests/AccessibilityTestPlan.xctestplan
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11266 [Focus][Terms of service] Crashes are not generated in Sentry for Focus (#24569)
  bitrise.yml
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Shared/AppInfo.swift
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Bugfix FXIOS-11144 ⁃ [Onboarding cards] Opening a SUMO page from Onboarding cards while internet connection is OFF, shows a blank page (#24481)
  firefox-ios/Client/Frontend/InternalSchemeHandler/AboutHomeHandler.swift
  firefox-ios/Client/Frontend/InternalSchemeHandler/ErrorPageHelper.swift
  firefox-ios/Client/Frontend/InternalSchemeHandler/InternalSchemeHandler.swift
  firefox-ios/Client/Frontend/Onboarding/Views/PrivacyPolicyViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor Document loading view to be handled by TabWebView, and document download by Tab
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Bug 1945884 - focus: Remove explicit usage-reporting mapping to Glean baseline ping (#24562)
  focus-ios/Blockzilla/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11246 Remove UIColorExtension CredentialProvider PhotonColor usage (#24489)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Theme/LegacyThemeManager/photon-colors.swift
  firefox-ios/CredentialProvider/Cells/EmptyPlaceholderCell.swift
  firefox-ios/CredentialProvider/Cells/ItemListCell.swift
  firefox-ios/CredentialProvider/Cells/NoSearchResultCell.swift
  firefox-ios/CredentialProvider/Cells/SelectPasswordCell.swift
  firefox-ios/CredentialProvider/CredentialListViewController.swift
  firefox-ios/CredentialProvider/CredentialPasscodeRequirementViewController.swift
  firefox-ios/CredentialProvider/CredentialProviderViewController.swift
  firefox-ios/CredentialProvider/CredentialWelcomeViewController.swift
  firefox-ios/CredentialProvider/Extensions/UIColorExtension.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11250 (Firefox iOS) Update settings screen's "Privacy Policy" and "Your Rights" links (#24565)
  firefox-ios/Client/Frontend/Settings/Main/About/YourRightsSetting.swift
  firefox-ios/Client/Frontend/Settings/Main/Privacy/PrivacyPolicySetting.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11294 [Firefox iOS] Change colour for the Learn More links, in settings
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Theme/ThemedTableViewCells/ThemedTableViewCell.swift
Owners: @mozilla-mobile/fxios-eng

Set url field color correctly
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationTextField.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11295 [Toolbar] Address bar not changing text color when switching theme (#24573)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationTextField.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11295 [Toolbar] Address bar not changing text color when switching theme (#24573)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationTextField.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

update comment
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11288 [Homepage] [JumpBackIn] initial synced tab
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Action/RemoteTabsManagerAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/RemoteTabsPanelMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInSectionState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInTabState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/SyncedTabCell.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionType.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/Cell/LegacySyncedTabCell.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/SyncedTabCellTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/JumpBackInSectionStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-24069 [Glean] MicrosurveyTelemetry to use GleanWrapper (#24520)
  firefox-ios/Client/Frontend/Microsurvey/MicrosurveyTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11271 #24515 Lazy loading in bvc (#24551)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Create SaveLoginAlert
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
Owners: @mozilla-mobile/fxios-eng

expireLoginAlert was never expiring anything with old code
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Add back expiration after 10 seconds
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Call actions
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
Owners: @mozilla-mobile/fxios-eng

Add new shadow colors and adjust SaveLoginAlert following UX feedback
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/LightTheme.swift
  BrowserKit/Sources/Common/Theming/PrivateModeTheme.swift
  BrowserKit/Sources/Common/Theming/ThemeColourPalette.swift
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
Owners: @mozilla-mobile/fxios-eng

Remove alert when we delete tab
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Remove old snack bar + integrate new SaveLoginAlert
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/Frontend/UIConstants.swift
  firefox-ios/Client/Frontend/Widgets/SnackBar.swift
  firefox-ios/Client/Frontend/Widgets/SnackButton.swift
  firefox-ios/Client/Frontend/Widgets/TimerSnackBar.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/UITests/AuthenticationTests.swift
  firefox-ios/firefox-ios-tests/Tests/UITests/LoginInputTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Apply theme
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
Owners: @mozilla-mobile/fxios-eng

Fix shadow path
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
Owners: @mozilla-mobile/fxios-eng

update comment
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests file
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11053 [Homepage] [Bookmarks] Handle long press (#24545)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11096 [Bookmarks] Turn on feature flag for Bookmarks Refactor on Dev (#24195)
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/nimbus-features/bookmarkRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-11288 [Homepage] [JumpBackIn] initial synced tab cell (#24576)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Action/RemoteTabsManagerAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/RemoteTabsPanelMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInSectionState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInTabState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/SyncedTabCell.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionType.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/Cell/LegacySyncedTabCell.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/SyncedTabCellTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/JumpBackInSectionStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add newlines to existing string so SFF text is visually easier to parse in WhatsApp.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11219 #24408 Save login alerts (#24581)
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/LightTheme.swift
  BrowserKit/Sources/Common/Theming/PrivateModeTheme.swift
  BrowserKit/Sources/Common/Theming/ThemeColourPalette.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/Frontend/UIConstants.swift
  firefox-ios/Client/Frontend/Widgets/SnackBar.swift
  firefox-ios/Client/Frontend/Widgets/SnackButton.swift
  firefox-ios/Client/Frontend/Widgets/TimerSnackBar.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/firefox-ios-tests/Tests/UITests/AuthenticationTests.swift
  firefox-ios/firefox-ios-tests/Tests/UITests/LoginInputTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11219 #24408 Save login alerts (#24581)
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/LightTheme.swift
  BrowserKit/Sources/Common/Theming/PrivateModeTheme.swift
  BrowserKit/Sources/Common/Theming/ThemeColourPalette.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/Frontend/UIConstants.swift
  firefox-ios/Client/Frontend/Widgets/SnackBar.swift
  firefox-ios/Client/Frontend/Widgets/SnackButton.swift
  firefox-ios/Client/Frontend/Widgets/TimerSnackBar.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/firefox-ios-tests/Tests/UITests/AuthenticationTests.swift
  firefox-ios/firefox-ios-tests/Tests/UITests/LoginInputTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix conflict, LegacyTabManager was removed in main
  firefox-ios/Client/TabManagement/Legacy/LegacyTabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Comment out failing test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Make focus snapshot tests working again
  focus-ios/focus-ios-tests/ScreenshotTests/BaseTestCaseL10n.swift
  focus-ios/focus-ios-tests/ScreenshotTests/MarketingTests.swift
  focus-ios/focus-ios-tests/ScreenshotTests/SnapshotTests.swift
Owners: @mozilla-mobile/fxios-automation-1
