Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

looks like BITRISE_TEST_SHARDS_PATH contains the index already
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Always verify test files
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

chore: remove nimbus flag and enable conditional rendering
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/ThemeSetting.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeMiddleware.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

fix: failing tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12164] Async and Task
  firefox-ios/Client/Application/RemoteSettings/Application Services/RemoteSettingsServiceSyncCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/ForceRSSyncSetting.swift
Owners: @mozilla-mobile/fxios-eng

Attempt fix pdf flickering
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Convert to generic
  BrowserKit/Sources/OnboardingKit/Final/CardViewModel.swift
  BrowserKit/Sources/OnboardingKit/Final/OnboardingCardView.swift
  BrowserKit/Sources/OnboardingKit/Final/OnboardingSegmentedControl.swift
  BrowserKit/Sources/OnboardingKit/Final/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Final/PrimaryButtonStyle.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingActions.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingButtonInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingButtons.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardType.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingDefaultBrowserModelProtocol.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingInstructionsPopupActions.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingInstructionsPopupInfoModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingMultipleChoiceAction.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingType.swift
  BrowserKit/Sources/OnboardingKit/OnboardingCard.swift
  BrowserKit/Sources/OnboardingKit/OnboardingCardType_.swift
  BrowserKit/Sources/OnboardingKit/OnboardingFrameworkFeature.swift
  BrowserKit/Sources/OnboardingKit/OnboardingView.swift
  firefox-ios/Client/Configuration/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Move code
  BrowserKit/Sources/OnboardingKit/Models/OnboardingButtons.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint fix
  BrowserKit/Sources/OnboardingKit/Final/MilkyWayRenderer.swift
  BrowserKit/Sources/OnboardingKit/Final/OnboardingCardView.swift
  BrowserKit/Sources/OnboardingKit/Final/OnboardingSegmentedControl.swift
  BrowserKit/Sources/OnboardingKit/Final/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingButtons.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingCardInfoModelProtocol.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingLinkInfoModel.swift
Owners: @mozilla-mobile/fxios-eng

More cleanup
  BrowserKit/Sources/OnboardingKit/Final/OnboardingCardView.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingButtonInfoModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingButtonsModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingInstructionsPopupInfoModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingLinkInfoModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingMultipeChoiceButtonModel.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingDefaultBrowserModelProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Implement redux for state management.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenAction.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenState.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
  firefox-ios/Client/TabManagement/TabWebViewPreviewAction.swift
  firefox-ios/Client/TabManagement/TabWebViewPreviewState.swift
Owners: @mozilla-mobile/fxios-eng

Fix swiftlint errors.
  firefox-ios/Client/TabManagement/TabWebViewPreviewState.swift
Owners: @mozilla-mobile/fxios-eng

Added responder chain for policy deciders
  BrowserKit/Sources/WebEngine/WKWebview/Policy/DataSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/HTTPSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicy.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDeciderFactory.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockEngineSessionDelegate.swift
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
  SampleBrowser/SampleBrowser/UI/Components/NavigationToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Fix lints
  BrowserKit/Sources/WebEngine/WKWebview/Policy/DataSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/HTTPSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDeciderFactory.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockEngineSessionDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Use ToolbarHelper
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Update reader mode background color
  firefox-ios/Client/Frontend/Reader/View/ReaderModeBarView.swift
Owners: @mozilla-mobile/fxios-eng

fixed tests
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix as per code review
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove method as per code review
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Added <= to TabManagerImplemention method
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Add [Release Eng] Strip beta tag from version read from version.txt (#26420)
  bitrise.yml
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Added TODO
  BrowserKit/Sources/Shared/TimeConstants.swift
Owners: @mozilla-mobile/fxios-eng

Apply mask correctly and limit clips to bounds and mask to certain views
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update blur views when reduce transparency changes
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add method that does not include the address bar position card for iPads.
  firefox-ios/Client/Frontend/Onboarding/Models/IntroViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Set version 139 for backport
  focus-ios/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Add [Release Eng] Strip beta tag from version read from version.txt (#26420)
  bitrise.yml
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor FXIOS-12038 [Unit Tests] rust sync manager unit tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Providers/RustProtocols/AutofillProvider.swift
  firefox-ios/Providers/RustProtocols/LoginProvider.swift
  firefox-ios/Providers/RustProtocols/PlacesProvider.swift
  firefox-ios/Providers/RustProtocols/TabsProvider.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/Sync/RustSyncManagerAPI.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Autofill/AddressListViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Autofill/Mocks/MockLoginProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockTopSitesManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockPlaces.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockRemoteTabs.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RustSyncManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

fix tests and mock out logins verified
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RustSyncManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS TabManager Date related tests (#26502)
  BrowserKit/Sources/Shared/TimeConstants.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

forcing unit test failure
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Autofill/AddressListViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AuthenticationTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

undo forcing failure
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Autofill/AddressListViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix Confusing failing steps
  bitrise.yml
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AuthenticationTest.swift
Owners: @mozilla-mobile/fxios-automation-1

debug
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix conflicts
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Dispatch action when translucency changes
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12164 Debug option: Force RS Sync (#26470)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/RemoteSettingsServiceSyncCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/ForceRSSyncSetting.swift
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Add simple benchmarking utility
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/Client/Frontend/Browser/MainMenu/BenchmarkSteps.swift
Owners: @mozilla-mobile/fxios-eng

Show sub-ms precision
  firefox-ios/Client/Frontend/Settings/Main/Debug/Performance/BenchmarkSteps.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  firefox-ios/Client/Frontend/Browser/MainMenu/BenchmarkSteps.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
