Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-10814 - [Firefox Password Keychain] - Autofill from Firefox in any browser doesn't work (#23953)
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  firefox-ios/CredentialProvider/CredentialProviderPresenter.swift
  firefox-ios/CredentialProvider/CredentialProviderViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Implemented MTE-4229 - partial swipe for auto tests (#24501)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11168 [Content Sharing Opt] Telemetry to track start up time for deeplinks (#24422)
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove glean usage report metric
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Add [Toolbar redesign] FXIOS-11265 Address bar animations (#24509)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationTextField.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Add [Toolbar redesign] FXIOS-11265 Address bar animations (#24509)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationTextField.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11237-11238 Regression on settings change (#24463)
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix MT-4236 - testMultiWindowNewTab test on iPad
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MultiWindowTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Report the missing accessibility elements
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add accessibility test plan
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ClientTests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySearchTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Removed conditional if
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add accessibility test plan
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySearchTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add Fennec scheme
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
Owners: @mozilla-mobile/fxios-eng

Add test plan in bitrise.yaml
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add file generation for missing labels
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yUtils.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update Bitrise
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Initial test for improved start up for deeplinks
  firefox-ios/Client/Application/SceneDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Entitlements/FennecApplication.entitlements
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11248 Remove usage of UIColor.Photon.Grey60 (#24478)
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/Frontend/Theme/LegacyThemeManager/photon-colors.swift
Owners: @mozilla-mobile/fxios-eng

Create crash tracker and related tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/CrashTracker.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/RatingPromptManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/CrashTrackerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/RatingPromptManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockCrashTracker.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11273 #24521 Button corners fix (#24526)
  firefox-ios/Client/Frontend/Home/CustomizeHome/CustomizeHomepageSectionCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11273 #24521 Button corners fix (#24526)
  firefox-ios/Client/Frontend/Home/CustomizeHome/CustomizeHomepageSectionCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10803 [UX Fundamentals] Closing tabs on iPad via 'X' button does not show Undo toast (#24516)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Browser/TopTabsLayout.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11051 [Homepage] [Bookmarks] updating homepage when adding bookmarks (#24510)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksSectionState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/BookmarksMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/BookmarksSectionStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-10855 #23671 Change rating prompt request threshold & adding experiment (#24523)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/CrashTracker.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/RatingPromptManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/CrashTrackerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/RatingPromptManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockCrashTracker.swift
  firefox-ios/nimbus-features/ratingPromptFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-10855 #23671 Change rating prompt request threshold & adding experiment (#24523)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/CrashTracker.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/RatingPromptManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/CrashTrackerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/RatingPromptManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockCrashTracker.swift
  firefox-ios/nimbus-features/ratingPromptFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-10855 #23671 Change rating prompt request threshold & adding experiment (#24523)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/CrashTracker.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/RatingPromptManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/CrashTrackerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Helpers/RatingPromptManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockCrashTracker.swift
  firefox-ios/nimbus-features/ratingPromptFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11052 [Homepage] [Bookmarks] Handle bookmark selection
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserNavigationType.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

All the toasts
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11052 [Homepage] [Bookmarks] Handle bookmark selection (#24543)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserNavigationType.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11053 [Homepage] [Bookmarks] Handle long press
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Address PR comments
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove non essential UI + change to Task(priority:) for background telemetry queue
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove redundant call to updateToolbarStateForTraitCollection
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Create setupNonEssentialUI function
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove UISearchController init from startpath, wasn't even needed
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/PasswordManagement/LoginDataSource.swift
  firefox-ios/Client/Frontend/PasswordManagement/PasswordManagerViewModel.swift
  firefox-ios/Client/Telemetry/AppStartupTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Try to improve viewDidLoad
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11051 [Homepage] [Bookmarks] updating homepage when adding a bookmark
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/NavigationBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserNavigationType.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksSectionState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bug 1945884 - Remove explicit usage-reporting mapping to Glean baseline ping
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11281 #24536 Fix toast under Tab tray (#24544)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
