Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Add FXIOS-12569 [Terms of Use] ToU bottom sheet prompt (#28091)
  BrowserKit/Sources/Common/Constants/LaunchArguments.swift
  BrowserKit/Sources/Shared/SupportUtils.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Application/UITestAppDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseAction.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseCoordinator.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseMiddleware.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseState.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseStrings.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/View/TermsOfUseLinkViewController.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/View/TermsOfUseViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenAction.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenState.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TermsOfUse/TermsOfUseMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
  firefox-ios/nimbus-features/touFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Initial commit for UITest to detect cookie lost
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/WebServerUtil.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceUITests.swift
  test-fixtures/test-cookie-store.html
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

best option to open a test local file
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add another test that opens multiple tabs to force cookie issues
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceUITests.swift
  test-fixtures/test-cookie-store.html
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Remove unused function and rename test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor test to open a few tabs
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update to use top sites instead of typing website
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Disabled in other testplan except FullFunctional
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
Owners: @mozilla-mobile/fxios-eng

Did a change for AddressesTests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/C_AddressesTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Adjust Code as per code review
  BrowserKit/Sources/ComponentLibrary/BottomSheet/BottomSheetViewController.swift
  BrowserKit/Sources/ComponentLibrary/Buttons/CloseButton.swift
  BrowserKit/Sources/Shared/AppName.swift
  BrowserKit/Sources/SummarizeKit/ToSBottomSheetViewController.swift
  BrowserKit/Tests/SummarizeKitTests/Mocks/MockBottomSheetDismissDelegate.swift
  BrowserKit/Tests/SummarizeKitTests/ToSBottomSheetViewControllerTests.swift
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingInstructionPopupViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

lint
  BrowserKit/Tests/SummarizeKitTests/Mocks/MockBottomSheetDismissDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Update some nits
  BrowserKit/Sources/ComponentLibrary/BottomSheet/BottomSheetViewController.swift
  BrowserKit/Tests/SummarizeKitTests/Mocks/MockBottomSheetDismissDelegate.swift
Owners: @mozilla-mobile/fxios-eng

chore: split into two feature flags
  firefox-ios/nimbus-features/appleSummarizerFeature.yaml
  firefox-ios/nimbus-features/hostedSummarizerFeature.yaml
  firefox-ios/nimbus-features/summarizerFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12972 [Feature Flags] QoL updates to feature script (#28305)
  iOSNimbusFeatureUtility.sh
Owners: @mozilla-mobile/fxios-eng

Add mainActor to screenshot related code
  firefox-ios/Client/Extensions/UIView+Screenshot.swift
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
Owners: @mozilla-mobile/fxios-eng

chore: add flags to nimbus classes
  BrowserKit/Package.resolved
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

chore: conditionally show debug menu item for apple summarizer
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix: update test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: move flag checking logic to separate class
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Summary/SummarizerNimbusUtils.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

feat: add flag for toolbar entrypoint
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Summary/SummarizerNimbusUtils.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/appleSummarizerFeature.yaml
  firefox-ios/nimbus-features/hostedSummarizerFeature.yaml
Owners: @mozilla-mobile/fxios-eng

fix: typo
  firefox-ios/Client/Frontend/Summary/SummarizerNimbusUtils.swift
Owners: @mozilla-mobile/fxios-eng

fix: add compile time check
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

fix: restore package file
  BrowserKit/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12974 #28298 ⁃ [Xcode 26] Fix BrowserViewControllerWebViewDelegateTest Part2 (#28299)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInDataAdaptorTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12990 [Summarizer] Add nimbus flag for each summarizer (#28323)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/Summary/SummarizerNimbusUtils.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/nimbus-features/appleSummarizerFeature.yaml
  firefox-ios/nimbus-features/hostedSummarizerFeature.yaml
  firefox-ios/nimbus-features/summarizerFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add "Top Stories" string to catalog
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

add todo comments to replace strings
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Merino/MerinoState.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionType.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
Owners: @mozilla-mobile/fxios-eng

refactor: add generic SSE parser
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Summary/SSEDataParser.swift
  firefox-ios/Client/Frontend/Summary/SSEDataParserError.swift
Owners: @mozilla-mobile/fxios-eng

feat: add tests for SSE parser
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SSEDataParserTests.swift
Owners: @mozilla-mobile/fxios-eng

feat: make client conform to a protocol
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMClientProtocol.swift
Owners: @mozilla-mobile/fxios-eng

fix: add bytes() to URLSessionProtocol
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/Client/Protocols/URLSession/URLSessionProtocol.swift
Owners: @mozilla-mobile/fxios-eng

feat: add tests for LiteLLMSummarizer
  firefox-ios/Client/Frontend/Summary/LiteLLMSummarizer.swift
  firefox-ios/Client/Frontend/Summary/MockLiteLLMClient.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/LiteLLMSummarizerTests.swift
Owners: @mozilla-mobile/fxios-eng

chore: remove unused class
  firefox-ios/Client/Frontend/Summary/LiteLLMStreamDelegate.swift
Owners: @mozilla-mobile/fxios-eng

feat: add wrapper summarizer on top of client
  firefox-ios/Client/Frontend/Summary/LiteLLMSummarizer.swift
Owners: @mozilla-mobile/fxios-eng

refactor: simplify LiteLLMClient
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
  firefox-ios/Client/Frontend/Summary/LiteLLMClientError.swift
Owners: @mozilla-mobile/fxios-eng

chore: update pbxproj file
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

fix: threads be threading and causing issues
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

fix: explicit return per our code style
  firefox-ios/Client/Frontend/Summary/SSEDataParser.swift
Owners: @mozilla-mobile/fxios-eng

fix: lint
  firefox-ios/Client/Frontend/Summary/LiteLLMSummarizer.swift
Owners: @mozilla-mobile/fxios-eng

fix: typos and better comments
  firefox-ios/Client/Protocols/URLSession/URLSessionProtocol.swift
Owners: @mozilla-mobile/fxios-eng
