Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Bugfix FXIOS-11281 #24536 Fix toast under Tab tray (#24544)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11225 [Homepage] [JumpBackIn] fetching recent tabs (#24522)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabManagerAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInSectionState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/JumpBackInSectionStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWindowManager.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-9353 #20714 Improving BVC viewDidLoad (#24487)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/PasswordManagement/LoginDataSource.swift
  firefox-ios/Client/Frontend/PasswordManagement/PasswordManagerViewModel.swift
  firefox-ios/Client/Telemetry/AppStartupTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Use lazy loading + shuffle and reorder declarations
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflicts
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11276 Silence webpack warning for JS file size (#24527)
  webpack.config.js
Owners: @mozilla-mobile/fxios-eng

Hide and show empty state with animation
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
Owners: @mozilla-mobile/fxios-eng

call remove tab for removing one tab
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
Owners: @mozilla-mobile/fxios-eng

Add the flags like a boss
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11245 Replace ActionToast usage in RemoteTabsTableViewController with ButtonToast (#24475)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11193 [Bookmarks Evolution] Hide empty state when editing (#24552)
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11149 [Bookmarks Evolution] Rtl support for desktop bookmark cell chevron (#24467)
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11149 [Bookmarks Evolution] Rtl support for desktop bookmark cell chevron (#24467)
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11193 [Bookmarks Evolution] Hide empty state when editing (#24552)
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add [Debug Menu] Add FeltPrivacy flags to debug menu (#24553)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
Owners: @mozilla-mobile/fxios-eng

Create SaveLoginAlert
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
Owners: @mozilla-mobile/fxios-eng

Remove old snack bar + integrate new SaveLoginAlert
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/Frontend/UIConstants.swift
  firefox-ios/Client/Frontend/Widgets/SnackBar.swift
  firefox-ios/Client/Frontend/Widgets/SnackButton.swift
  firefox-ios/Client/Frontend/Widgets/TimerSnackBar.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/UITests/AuthenticationTests.swift
  firefox-ios/firefox-ios-tests/Tests/UITests/LoginInputTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Call actions
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
Owners: @mozilla-mobile/fxios-eng

Apply theme
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
Owners: @mozilla-mobile/fxios-eng

expireLoginAlert was never expiring anything with old code
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Fix shadow path
  firefox-ios/Client/Frontend/Components/SaveLoginAlert.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/Client/Frontend/Microsurvey/MicrosurveyTelemetry.swift
  firefox-ios/Client/Frontend/Microsurvey/MicrosurveyTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

refactor: refactor unit test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/PasswordGenerator/PasswordGeneratorTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Added uncommitted changes
  BrowserKit/Tests/CommonTests/LoggerTests/CrashManagerTests.swift
  BrowserKit/Tests/CommonTests/LoggerTests/LoggerFileManagerTests.swift
  BrowserKit/Tests/CommonTests/LoggerTests/LoggerTests.swift
  BrowserKit/Tests/ContentBlockingGeneratorTests/ContentBlockerGeneratorTests.swift
  BrowserKit/Tests/ContentBlockingGeneratorTests/ContentBlockerParserTests.swift
  BrowserKit/Tests/ReduxTests/ReduxIntegrationTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLCacheTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/URLCacheFileManagerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/FaviconFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/HeroImageFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/ImageHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/SiteImageCacheTests.swift
  BrowserKit/Tests/SiteImageViewTests/SiteImageHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/SiteImageViewTests.swift
  BrowserKit/Tests/TabDataStoreTests/TabDataStoreTests.swift
  BrowserKit/Tests/TabDataStoreTests/TabSessionStoreTests.swift
  BrowserKit/Tests/WebEngineTests/AdsTelemetryContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/FindInPageContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/MetadataFetcherHelperTests.swift
  BrowserKit/Tests/WebEngineTests/WKContentScriptManagerTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  firefox-ios/Client/Assets/WebcompatAllFramesAtDocumentStart.js
Owners: @mozilla-mobile/fxios-eng

Added swiftlint changes
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RustSyncManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/AppSettingsTableViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/HomePageSettingViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SearchBarSettingsViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHomeHelperTests.swift
Owners: @mozilla-mobile/fxios-eng

WIP
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Added swiftlint changes"
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RustSyncManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/AppSettingsTableViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/HomePageSettingViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SearchBarSettingsViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHomeHelperTests.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Added uncommitted changes"
  BrowserKit/Tests/CommonTests/LoggerTests/CrashManagerTests.swift
  BrowserKit/Tests/CommonTests/LoggerTests/LoggerFileManagerTests.swift
  BrowserKit/Tests/CommonTests/LoggerTests/LoggerTests.swift
  BrowserKit/Tests/ContentBlockingGeneratorTests/ContentBlockerGeneratorTests.swift
  BrowserKit/Tests/ContentBlockingGeneratorTests/ContentBlockerParserTests.swift
  BrowserKit/Tests/ReduxTests/ReduxIntegrationTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLCacheTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/URLCacheFileManagerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/FaviconFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/HeroImageFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/ImageHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/SiteImageCacheTests.swift
  BrowserKit/Tests/SiteImageViewTests/SiteImageHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/SiteImageViewTests.swift
  BrowserKit/Tests/TabDataStoreTests/TabDataStoreTests.swift
  BrowserKit/Tests/TabDataStoreTests/TabSessionStoreTests.swift
  BrowserKit/Tests/WebEngineTests/AdsTelemetryContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/FindInPageContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/MetadataFetcherHelperTests.swift
  BrowserKit/Tests/WebEngineTests/WKContentScriptManagerTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
Owners: @mozilla-mobile/fxios-eng

updated swiftlint.yml to catch redudant type annotation
  .swiftlint.yml
  firefox-ios/Client/Frontend/Toolbar+URLBar/TabLocationView.swift
Owners: @mozilla-mobile/fxios-eng

updated swiftlint.yml to catch redudant type annotation
  firefox-ios/Client/Frontend/Toolbar+URLBar/TabLocationView.swift
Owners: @mozilla-mobile/fxios-eng

fix conflicts with main branch
  firefox-ios/Client/Frontend/Theme/LegacyThemeManager/photon-colors.swift
  firefox-ios/CredentialProvider/Cells/EmptyPlaceholderCell.swift
  firefox-ios/CredentialProvider/Cells/ItemListCell.swift
  firefox-ios/CredentialProvider/Cells/NoSearchResultCell.swift
  firefox-ios/CredentialProvider/Cells/SelectPasswordCell.swift
  firefox-ios/CredentialProvider/CredentialListViewController.swift
  firefox-ios/CredentialProvider/CredentialPasscodeRequirementViewController.swift
  firefox-ios/CredentialProvider/CredentialProviderViewController.swift
  firefox-ios/CredentialProvider/CredentialWelcomeViewController.swift
  firefox-ios/CredentialProvider/Extensions/UIColorExtension.swift
Owners: @mozilla-mobile/fxios-eng

remove UIColor Reference from Credential Target
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-10088 [Toolbar redesign] Add unit tests (#24502)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ContextMenuHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/MainMenu/MainMenuMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Messaging/GleanPlumbMessageManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Microsurvey/MicrosurveyMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/OnboardingTelemetryDelegationTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/OnboardingTelemetryUtilityTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/PasswordGenerator/PasswordGeneratorTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/PasswordManagerViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/Legacy/TabsTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabToolbarHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/HomepageTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/MainMenuTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/TermsOfServiceTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ToolbarTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryContextualIdentifierTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/WallpaperSelectorViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/WallpaperSettingsViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/WebviewTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Bug 1945884 - Remove explicit usage-reporting mapping to Glean baseli… (#24548)
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Bug 1945884 - focus: Remove explicit usage-reporting mapping to Glean baseline ping
  focus-ios/Blockzilla/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Update the test plans
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
Owners: @mozilla-mobile/fxios-eng

Fixed errorPage for displaying it when native error page is enabled
  firefox-ios/Client/Frontend/InternalSchemeHandler/AboutHomeHandler.swift
  firefox-ios/Client/Frontend/InternalSchemeHandler/ErrorPageHelper.swift
  firefox-ios/Client/Frontend/InternalSchemeHandler/InternalSchemeHandler.swift
  firefox-ios/Client/Frontend/Onboarding/Views/PrivacyPolicyViewController.swift
Owners: @mozilla-mobile/fxios-eng

Comment the cron for now due to some issues under investigation
  .github/workflows/update-bitrise-steps.yml
Owners: @mozilla-mobile/fxios-automation-1

Moved accessibility test plan to the proper folder
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

add environment + release name
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Shared/AppInfo.swift
Owners: @mozilla-mobile/fxios-eng
