Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Remove + button flag for dev mode.
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Adjusted transition for loading view
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Added PDF refactor feature flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/nimbus-features/pdfRefactorFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

remove unused icon
  firefox-ios/Client/Assets/Images.xcassets/pdf.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/pdf.imageset/PDF Icons.png
Owners: @mozilla-mobile/fxios-eng

Fix failing smoke tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove unused code
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Update bundle identifiers
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Rename EngineURL to BrowserURL
  BrowserKit/Sources/WebEngine/BrowserURL.swift
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/BrowserURLTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11297 [Homepage] [JumpBackIn] fetching most recent synced tab
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/RemoteTabsPanelMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/RemoteTabsMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11184 [WebEngine] Load URL type change on EngineSession (#24646)
  BrowserKit/Sources/WebEngine/BrowserURL.swift
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/Security/BrowsingContext.swift
  BrowserKit/Sources/WebEngine/Security/BrowsingType.swift
  BrowserKit/Sources/WebEngine/Security/NavigationDecisionType.swift
  BrowserKit/Sources/WebEngine/Security/SecurityManager.swift
  BrowserKit/Sources/WebEngine/Utilities/URLFormatter.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/BrowserURLTests.swift
  BrowserKit/Tests/WebEngineTests/Security/SecurityManagerTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/SceneDelegate.swift
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/Dependency/DependencyHelper.swift
Owners: @mozilla-mobile/fxios-eng

Adding strongself in closure
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSitesDataAdaptor.swift
Owners: @mozilla-mobile/fxios-eng

Ensure we leave the group if theres no strongself
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSitesDataAdaptor.swift
  firefox-ios/Providers/TopSitesProvider.swift
Owners: @mozilla-mobile/fxios-eng

Oups
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSitesDataAdaptor.swift
Owners: @mozilla-mobile/fxios-eng

Remove dispatchGroup.leave calls
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSitesDataAdaptor.swift
  firefox-ios/Providers/TopSitesProvider.swift
Owners: @mozilla-mobile/fxios-eng

fix: only send readystate when document is actually ready
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentEnd/NightModeHelper.js
Owners: @mozilla-mobile/fxios-eng

feat: compute luminance of color
  BrowserKit/Sources/Shared/Extensions/UIColorExtensions.swift
Owners: @mozilla-mobile/fxios-eng

feat: compute avg color of image
  firefox-ios/Client/Extensions/UIImage+Extension.swift
Owners: @mozilla-mobile/fxios-eng

feat: take web content screenshot and determine lightness
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
Owners: @mozilla-mobile/fxios-eng

Force collection view reload without animation, rename parameter
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add parameter to test and add test for shouldAnimate state
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Enable toolbar animation after initial launch only
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarState.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/CompactBrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
Owners: @mozilla-mobile/fxios-eng

Add logic to avoid address bar animation on launch
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/CompactBrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

feat: add ping to measure performance of isPageInDarkMode
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
  firefox-ios/Client/Frontend/TabContentsScripts/UserScriptManager.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

fix: lint
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Provide Site debug description.
  firefox-ios/Storage/Sites/Site.swift
Owners: @mozilla-mobile/fxios-eng

no message
  firefox-ios/Storage/Sites/Site.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9857 Normal tabs appear in private top tabs tray briefly during launch (#24667)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarState.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/CompactBrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9857 Normal tabs appear in private top tabs tray briefly during launch (#24667)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarState.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/CompactBrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11335 Add Site debug description (#24669)
  firefox-ios/Storage/Sites/Site.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11335 Add Site debug description (#24669)
  firefox-ios/Storage/Sites/Site.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix MTE-4135 L10n screenshots for Focus (#24644)
  focus-ios/Blockzilla.xcodeproj/xcshareddata/xcschemes/FocusSnapshotTests.xcscheme
  focus-ios/focus-ios-tests/ScreenshotTests/BaseTestCaseL10n.swift
  focus-ios/focus-ios-tests/ScreenshotTests/MarketingTests.swift
  focus-ios/focus-ios-tests/ScreenshotTests/SnapshotTests.swift
  focus-ios/l10n-screenshots.sh
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Decrease warning and error threshold
  .swiftlint.yml
Owners: @mozilla-mobile/fxios-eng

Use Github Actions to generate screenshots for Focus
  .github/workflows/focus-ios-l10n-screenshots.yml
Owners: @mozilla-mobile/fxios-automation-1

Disable closure_body_length for a specific closure
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

prevent spam clicking "<" back toolbar button
  BrowserKit/Sources/Shared/NotificationConstants.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Client/Frontend/Library/LibraryViewController/LibraryViewController+ToolbarActions.swift
  firefox-ios/Client/Frontend/Library/LibraryViewController/LibraryViewController.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint
  firefox-ios/Client/Frontend/Library/LibraryViewController/LibraryViewController.swift
Owners: @mozilla-mobile/fxios-eng

Dispatch locales depending on the day of week
  .github/workflows/focus-ios-l10n-screenshots.yml
Owners: @mozilla-mobile/fxios-automation-1

Make the minimum amount of tabs 2
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-7301 [Swiftlint] Disable closure_body_length rule for a closure on AddressBarState.swift and decrease threshold (#24676)
  .swiftlint.yml
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-8685 #19269 A login password or username can be edited without being in Edit mode
  firefox-ios/Client/Frontend/Settings/PasswordDetailViewController.swift
Owners: @mozilla-mobile/fxios-eng
