Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Remove the inner switch case
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show the event pings section
  focus-ios/Blockzilla/InternalSettings/InternalTelemetrySettingsView.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to handle MainMenuDetailsActionType
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to handle MainMenuActionType
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Extract the debug view section to a new property
  focus-ios/Blockzilla/InternalSettings/InternalTelemetrySettingsView.swift
Owners: @mozilla-mobile/fxios-eng

Check action type before to call handle method
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Check action type before to call handle method
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Check action type before to call handle method
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show the logging section
  focus-ios/Blockzilla/InternalSettings/InternalTelemetrySettingsView.swift
Owners: @mozilla-mobile/fxios-eng

Extract the MainMenuDetailsActionType to a new function
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Use the new property to show the debug view section
  focus-ios/Blockzilla/InternalSettings/InternalTelemetrySettingsView.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to handle GeneralBrowserActionType
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Extract the logging section to a new property
  focus-ios/Blockzilla/InternalSettings/InternalTelemetrySettingsView.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Check action type before to call handle method"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Check action type before to call handle method"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Check action type before to call handle method"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Remove the inner switch case"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Use the new function to handle MainMenuDetailsActionType"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Use the new function to handle GeneralBrowserActionType"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Use the new function to handle MainMenuActionType"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Extract the MainMenuDetailsActionType to a new function"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Extract the GeneralBrowserActionType to a new function"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Rename function"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Extract the MainMenuActionType to a new function"
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Extract the entire switch case statement to a new function
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to handle all main menu actions
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Fix trailing whitespace violation
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Remove self
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4573 - HistoryTabTrayUIExperiment smoke tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-12234 Support Metal shaders in separate Swift package (#26648)
  BrowserKit/Package.swift
  BrowserKit/Sources/Common/Logger/LoggerCategory.swift
  BrowserKit/Sources/OnboardingKit/MilkyWayRenderer.swift
  BrowserKit/Sources/OnboardingKit/Shaders/blurredPoints.metal
Owners: @mozilla-mobile/fxios-eng

[MOB-3424] Fix Paypal UA regression by reintroducing Firefox's UA (#908)
  firefox-ios/Shared/UserAgent.swift
  firefox-ios/firefox-ios-tests/Tests/SharedTests/UserAgentTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4573 - HistoryTabTrayUIExperiment smoke tests (#26686)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove FXIOS-12126 ⁃ [Toast audit] Remove toast after URL is copied (#26672)
  firefox-ios/Client/Coordinators/ShareSheetCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/ToastType.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetProtocol.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Don’t show CFR when intro is shown
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Fix swiftlint
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TermsOfServiceManagerVersionTests.swift
Owners: @mozilla-mobile/fxios-eng

Show wallpaper CFR only if toolbar update CFR was shown
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Interface/WallpaperManager.swift
Owners: @mozilla-mobile/fxios-eng

Show jumpBackIn CFRs only if toolbar update CFR was shown
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
Owners: @mozilla-mobile/fxios-eng

Remove unused var and update tests
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContextualHints/ContextualHintEligibilityUtilityTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests
  firefox-ios/Client/TermsOfServiceManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TermsOfServiceManagerVersionTests.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12125 #26383 ⁃ [Toast audit] Remove toast on Settings > Address for actions address saved and removed
  firefox-ios/Client/Frontend/Autofill/Address/AddressListViewModel.swift
  firefox-ios/Client/Frontend/Autofill/Address/Edit/AddressModifiedStatus.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/C_AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1
