Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Increase edgeInset for experiment and regular cell + adjust trailing
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
Owners: @mozilla-mobile/fxios-eng

ci(mergify): upgrade configuration to current format
  .mergify.yml
Owners: @mozilla-mobile/fxios-eng

ci(mergify): upgrade configuration to current format
  .mergify.yml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9101 #20180 [UX Fundamentals] ⁃ Hit zone for the tab close button in tabs view is too small (#25692)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9101 #20180 [UX Fundamentals] ⁃ Hit zone for the tab close button in tabs view is too small (#25692)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11766 [Tab tray UI experiments] Hide inactive tabs with this experiment (#25688)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11766 [Tab tray UI experiments] Hide inactive tabs with this experiment (#25688)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11766 [Tab tray UI experiments] Hide inactive tabs with this experiment (#25688)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

isPrivateTabsEmpty was not proper at the point I was checking it
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

sign in before we sync tabs
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Deploy to bitrise
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Always compress derived data
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Let's go to the settings page from BrowserTab
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Improvements MTE-4200 - on addresses flaky tests (#25618)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor [Toolbar UI Experiments] - FXIOS-11717, FXIOS-11718 - Update toolbar colors and url gradient (#25577)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/DropDownSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/PlainSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/SearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Refactor [Toolbar UI Experiments] - FXIOS-11717, FXIOS-11718 - Update toolbar colors and url gradient (#25577)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/DropDownSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/PlainSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/SearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Refactor [Toolbar UI Experiments] - FXIOS-11717, FXIOS-11718 - Update toolbar colors and url gradient (#25577)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationViewAppearanceConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/DropDownSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/PlainSearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/SearchEngineView/SearchEngineView.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/NavigationToolbarContainer.swift
  firefox-ios/Client/Frontend/Components/BaseAlphaStackView.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

fix date comparison
  BrowserKit/Sources/Shared/TimeConstants.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/DownloadsPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11556 Accessibility Ids to Empty State Label and Images in BookmarksFolderEmptyStateView (#25450)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksFolderEmptyStateView.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Center urlTextField with respect to its superview
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11676 #25437 [UX Fundamentals] [Widgets] ⁃ Blank page icon is not visible in Firefox Quick View widget (#25633)
  firefox-ios/WidgetKit/Assets.xcassets/globeLarge.imageset/Contents.json
  firefox-ios/WidgetKit/OpenTabs/OpenTabsWidget.swift
  firefox-ios/WidgetKit/OpenTabs/SimpleTab.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11676 #25437 [UX Fundamentals] [Widgets] ⁃ Blank page icon is not visible in Firefox Quick View widget (#25633)
  firefox-ios/WidgetKit/Assets.xcassets/globeLarge.imageset/Contents.json
  firefox-ios/WidgetKit/OpenTabs/OpenTabsWidget.swift
  firefox-ios/WidgetKit/OpenTabs/SimpleTab.swift
Owners: @mozilla-mobile/fxios-eng

Restore change
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Fix undo error, disable share button when loading web view
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

[MOB-3030] Investigate Flaky Tests (#881)
  .github/actions/perform_unit_tests/action.yml
  fastlane/Scanfile
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanelViewModel.swift
  firefox-ios/EcosiaTests/Analytics/AnalyticsSpyTests.swift
  firefox-ios/EcosiaTests/EcosiaHomeViewModelTests.swift
  firefox-ios/Shared/TimeConstants.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/FirefoxHomeViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/HistoryPanelViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/UnitTest.xctestplan
Owners: @mozilla-mobile/fxios-eng

Does it work?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11740 [Homepage] add actions to fetch recent tabs appropriately (#25689)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabTrayAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11740 [Homepage] add actions to fetch recent tabs appropriately (#25689)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabTrayAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Update xctestrun files
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11782 [Tab tray UI Experiment] Disable experiment dev build (#25690)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor FXIOS-11782 [Tab tray UI Experiment] Disable experiment dev build (#25690)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor FXIOS-11782 [Tab tray UI Experiment] Disable experiment dev build (#25690)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Refactor FXIOS-11737 [Tab tray UI experiment] Missing fade effect in private browsing tab tray (#25698)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11737 [Tab tray UI experiment] Missing fade effect in private browsing tab tray (#25698)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11737 [Tab tray UI experiment] Missing fade effect in private browsing tab tray (#25698)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflicts
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Revert change from #25450
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11502 [SEC] [WIP] Search order preference migration (#25541)
  BrowserKit/Sources/Shared/NSUserDefaultsPrefs.swift
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEnginePrefsMigrator.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/DefaultSearchEngineProvider.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/Redux/SearchEngineSelectionMiddleware.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/MockSearchEngineProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchEnginesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockSearchEngineManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RemoteSettings/SearchPrefsMigrationTests.swift
Owners: @mozilla-mobile/fxios-eng

remove unused date comparisons
  BrowserKit/Sources/Shared/TimeConstants.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/DownloadsPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Revert FXIOS-11556 Revert change in ActivityStreamTests (#25723)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-automation-1
