Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Fix MTE-4507 - testZoomForceCloseFirefox test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ZoomingTests.swift
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-11957 #26005 ⁃ Remove NightModeFeature flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/nightModeFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix MTE-4493 Workaround for iOS 16: warm up simulator before running tests (#26070)
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix MTE-4457 Shorten timeout to 40 min (#26075)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix bottom constraint issue
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Remove unused constant
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Fix MTE-4507 - testZoomForceCloseFirefox test (#26082)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ZoomingTests.swift
Owners: @mozilla-mobile/fxios-automation-1

update changes
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Add pull refresh view test
  BrowserKit/Sources/WebEngine/EnginePullRefreshView.swift
  BrowserKit/Sources/WebEngine/EngineView.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  SampleBrowser/SampleBrowser.xcodeproj/project.pbxproj
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainer.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  SampleBrowser/SampleBrowser/UI/Components/NavigationToolbarContainer.swift
  SampleBrowser/SampleBrowser/UI/Components/PullRefreshView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11787 ⁃ [FF shortcuts widget] - A Google page is opened when tapping on open copied link without previously copying any link (#26023)
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/Client/metrics.yaml
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11504 [Homepage] add isZeroSearch to state
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11907 Firefox Focus is recognized as outdated by some websites (#26022)
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Check for ipad to enable animation
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11959 #26007 ⁃ Remove isToolbarCFROn feature and flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/searchFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11911 Track if device is managed (#26050)
  firefox-ios/Client/Telemetry/GleanUsageReporting.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11911 Track if device is managed (#26050)
  firefox-ios/Client/Telemetry/GleanUsageReporting.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11504 [Homepage] add isZeroSearch to state (#25934)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS default browser entitlement for Fennec (#25891)
  bitrise.yml
  firefox-ios/Client/Entitlements/FennecApplication.entitlements
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Add FXIOS-11504 [Homepage] add isZeroSearch to state (#25934)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Merge branch 'main' into zazz/fix-s3-bugs-pdf
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Browser/WebView/PullRefreshView.swift
Owners: @mozilla-mobile/fxios-eng

fix lint
  firefox-ios/Client/Assets/NightModeAllFramesAtDocumentStart.js
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

remove js file
  firefox-ios/Client/Assets/NightModeAllFramesAtDocumentStart.js
Owners: @mozilla-mobile/fxios-eng

Fixing swiftlint violations
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Adressed comments + added expectation timeouts
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/EngineSessionBackForwardListItem.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Quick comment update
  BrowserKit/Sources/WebEngine/EngineSession.swift
Owners: @mozilla-mobile/fxios-eng

Fixed swifltint issues
  BrowserKit/Sources/WebEngine/EngineSession.swift
Owners: @mozilla-mobile/fxios-eng

Completed Ticket
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/EngineSessionBackForwardListItem.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKBackForwardListItem+EngineSessionBackForwardListItem.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebViewDelegate.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
  SampleBrowser/SampleBrowser/UI/Components/NavigationToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Adressed comments
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/EngineSessionBackForwardListItem.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKBackForwardListItem+EngineSessionBackForwardListItem.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11209 [Blueprint Download Manager] Update of Download Progress on Live Activity (#25812)
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11972 [SEC] Fail safe for empty icon fetch (#26055)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/RemoteSettingsServiceSyncCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11614 [Tab Optimiation] Add new metrics for tab panel (#26011)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabTrayAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/State/TabTrayPanelType.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/TabToolbarHelper.swift
  firefox-ios/Client/Telemetry/TabsPanelTelemetry.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

resolve merge conflicts
  firefox-ios/Client/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Fix linter
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11428] Early work to update search engine telemetry for SEC
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineUtilities.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchParser.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEngineFlagManager.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Settings/CustomSearchViewController.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/URLBarView.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11428] Send unavailable for no defaultEngine to match what we send during startup flow
  firefox-ios/Client/Frontend/Toolbar+URLBar/URLBarView.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Remove stale ToDo
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineUtilities.swift
Owners: @mozilla-mobile/fxios-eng

Comment fix
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng
