Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

fix desktop bookmark chevron for rtl languages
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
Owners: @mozilla-mobile/fxios-eng

fix swiftlint issues and updated unit test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11222 [Bookmarks Evolution] Fix bookmarks empty state string (#24434)
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksFolderEmptyStateView.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11063 Improve how we handle failing network requests to retrieve favicon URL (#24282)
  BrowserKit/Sources/SiteImageView/Entities/ServerErrorHelper.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/FaviconURLHandler.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/URLFetcher/FaviconURLFetcher.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/ImageHandler.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/Mocks/FaviconURLFetcherMock.swift
  BrowserKit/Tests/SiteImageViewTests/Mocks/HTMLDataRequestMock.swift
  BrowserKit/Tests/SiteImageViewTests/ServerErrorHelperTests.swift
Owners: @mozilla-mobile/fxios-eng

Removed feature flag logic for rtm-send
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/remoteTabManagement.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Fix - MTE-4225 - share markup tests (#24474)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareMenuTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareToolbarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Improve MTE-4223 - testActivityMenuRequestDesktopItem test (#24450)
  focus-ios/focus-ios-tests/XCUITest/BrowsingTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Replace ActionToast with ButtonToast
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

remove redudant type declaration in TabLocationView
  firefox-ios/Client/Frontend/Toolbar+URLBar/TabLocationView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-9682 TabTrayStateTests (#24235)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove photon color Grey60
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
  firefox-ios/Client/Frontend/Theme/LegacyThemeManager/photon-colors.swift
Owners: @mozilla-mobile/fxios-eng

replace usage in some views
  firefox-ios/Client/Frontend/Browser/TopTabFader.swift
  firefox-ios/Client/Frontend/Theme/LegacyThemeManager/photon-colors.swift
  firefox-ios/Client/Frontend/Widgets/GradientProgressBar.swift
  firefox-ios/CredentialProvider/Extensions/UIColorExtension.swift
Owners: @mozilla-mobile/fxios-eng

Fixed indentation for ButtonToastViewModel declaration
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

Tried some optimization
  firefox-ios/Client/Application/SceneDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetry.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

FXIOS-11144 #24277 ⁃ [Onboarding cards] Opening a SUMO page from Onboarding cards while internet connection is OFF, shows a blank page
  firefox-ios/Client/Frontend/Onboarding/Views/PrivacyPolicyViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11047 [Homepage] [Bookmarks] initial view + state
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Bookmarks/BookmarksViewModel.swift
  firefox-ios/Client/Frontend/Home/Bookmarks/LegacyBookmarksCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarkState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksSectionState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionType.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/BookmarksSectionStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10257 #22454 Open new tab when scanning QR code (#24465)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11168 [Content Sharing Opt] Telemetry to track start up time for deeplinks (#24422)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/SceneDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Event Queue/AppEvent.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetry.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetryActivityItemProvider.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/Mocks/MockShareTelemetry.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryActivityItemProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11168 [Content Sharing Opt] Telemetry to track start up time for deeplinks (#24422)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/SceneDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Event Queue/AppEvent.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetry.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetryActivityItemProvider.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/Mocks/MockShareTelemetry.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryActivityItemProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Revert some bitrise workflow steps
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix MTE-4228 Revert some bitrise workflow steps (#24484)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove FXIOS-10813 [Nimbus] Close Remote Tabs Feature Flag (#24441)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/remoteTabManagement.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Use safeAreaLayoutGuide instead of bottomAnchor
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
Owners: @mozilla-mobile/fxios-eng

Similar problem fixed under wall paper settings
  firefox-ios/Client/Frontend/Settings/HomepageSettings/WallpaperSettings/v1/WallpaperSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove cookies when leaving private browsing
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11261 #24488 Bookmarks and wallpapers toast fix (#24490)
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/WallpaperSettings/v1/WallpaperSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove bad v135 string which was incorrectly translated to prevent further l10n issues. Fix var naming.
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 135.1
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Revert fix partially (just fix English).
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Revert naming.
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Update key.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 135.1 (#24493)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Remove key change.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix Bugzilla-1938669 Fix incorrectly migrated SendCrashReportsSettingMessage string update (#24492)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Remove unused function
  firefox-ios/Client/Frontend/TabContentsScripts/LoginsHelper.swift
Owners: @mozilla-mobile/fxios-eng

chore: remove generated WebcompatAllFramesAtDocumentStart.js from git index
  firefox-ios/Client/Assets/WebcompatAllFramesAtDocumentStart.js
Owners: @mozilla-mobile/fxios-eng

Force mobile UA for PayPal
  BrowserKit/Sources/Shared/UserAgent.swift
Owners: @mozilla-mobile/fxios-eng

Implemented MTE-4229 - partial swipe for auto tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Replace FXIOS-11247 Replace usage of UIColor.Photon.White100 (#24479)
  firefox-ios/Client/Frontend/Browser/TopTabFader.swift
  firefox-ios/Client/Frontend/Theme/LegacyThemeManager/photon-colors.swift
  firefox-ios/Client/Frontend/Widgets/GradientProgressBar.swift
  firefox-ios/CredentialProvider/Extensions/UIColorExtension.swift
Owners: @mozilla-mobile/fxios-eng

Add new strings for credential provider
  firefox-ios/CredentialProvider/CredentialProviderViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng
