Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

[FXIOS-11428] Ensure we always return custom as telemetry ID for custom engines
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11899] Fix google hardcoded check for SEC
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11428] Make sure suffix only added if non empty
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng

Temp flag should be false for now
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEngineFlagManager.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-7907 [WebEngine] Handle goToHistoryIndex in WKEngineSession (#26059)
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/EngineSessionBackForwardListItem.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebViewDelegate.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
  SampleBrowser/SampleBrowser/UI/Components/NavigationToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11428] Fix unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/MockSearchEngineProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/OpenSearchEngineTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchEnginesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/SponsoredTileDataUtilityTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/TopSitesDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RemoteSettings/SearchPrefsMigrationTests.swift
Owners: @mozilla-mobile/fxios-eng

Tentative fix for smoketest errors
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Pfff. that was more changes than what I thought
  BrowserKit/Sources/WebEngine/WKWebview/Internal/WKInternalSchemeHandler.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfiguration.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKWebViewProvider.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainer.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/InternalSchemeHandler/InternalSchemeHandler.swift
Owners: @mozilla-mobile/fxios-eng

I forgot tests
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineConfiguration.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineConfigurationProvider.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebViewProvider.swift
  BrowserKit/Tests/WebEngineTests/Utilities/DefaultTestDependencies.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineViewTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
  BrowserKit/Tests/WebEngineTests/WKUserScriptManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Necessary to use in Client
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfiguration.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflicts
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/Utilities/DefaultTestDependencies.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Sources/WebEngine/WKWebview/Internal/WKInternalSchemeHandler.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
Owners: @mozilla-mobile/fxios-eng

How about not running PlistBuddy?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Ensure we only create one store
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
Owners: @mozilla-mobile/fxios-eng

Remove animating state and use isAnimating flag instead
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

Remove shouldAllowScroll that duplicated logic of rubberbanding
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

Add documentation and rename to understand
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

Remove logic to update offset
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

More documentation and break down into separate function
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11614 [Tab Optimiation] Add new metrics for tab panel (#26011)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabTrayAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/State/TabTrayPanelType.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/TabToolbarHelper.swift
  firefox-ios/Client/Telemetry/TabsPanelTelemetry.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Add undo toast telemetry (#25569)
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Fix indentation
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11428] Fix decoder key. Note: this generally won't be used since for AS engines we convert the engine data to OpenSearchEngines at runtime (they are not decoded or serialized)
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11428] Encode telemetrySuffix
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
Owners: @mozilla-mobile/fxios-eng

move old strings
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11428] More fixes for telemetry for SEC
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11428] More telemetry updates
  firefox-ios/Client/Frontend/Browser/Search/SearchViewController.swift
Owners: @mozilla-mobile/fxios-eng

Delete the old and outdated telemetry.md in our Docs folder.
  firefox-ios/Docs/telemetry.md
Owners: @mozilla-mobile/fxios-eng

Bump FXIOS/Focus [Dependencies] Glean v64.1.0 (#25407)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/bin/sdk_generator.sh
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/bin/sdk_generator.sh
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11989 Remove old Docs/telemetry.md file related to legacy telemetry (#26099)
  firefox-ios/Docs/telemetry.md
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11428 [SEC] [WIP] Search engine telemetry updates (#25957)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineUtilities.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/Search/SearchViewController.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchParser.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEngineFlagManager.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Settings/CustomSearchViewController.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/URLBarView.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/MockSearchEngineProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/OpenSearchEngineTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchEnginesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/SponsoredTileDataUtilityTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/TopSitesDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RemoteSettings/SearchPrefsMigrationTests.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11991] Cleanup
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEngineFlagManager.swift
Owners: @mozilla-mobile/fxios-eng

ToDo ticket comment
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Add webPagePreview as first in view hierarchy
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove annoying ref files showing up in xcode
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

fix: access props directly
  BrowserKit/Sources/Common/ReaderMode/ReaderModeFontType.swift
  BrowserKit/Sources/Common/ReaderMode/ReaderModeStyle.swift
Owners: @mozilla-mobile/fxios-eng

Save statusBar overlay constraints for removal
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Added pull refresh with correct constraint and handling during web view state changes
  BrowserKit/Sources/WebEngine/EnginePullRefreshView.swift
  BrowserKit/Sources/WebEngine/EngineView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfiguration.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Networking/SearchDataProvider.swift
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
  SampleBrowser/SampleBrowser/UI/Components/PullRefreshView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11980 - [Toolbar - Swipe Tabs Animation] - Textfield is cut off at the bottom of the screen (#26084)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Automated MTE-4506 - dont save changed password scenario
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1
