Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Add FXIOS-11559 - [Toolbar UI Experiments] - Remove search engine in non-edit mode from address toolbar (#25175)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11596 [Tab tray UI experiment] Button is transparent and color is changed on experiment only (#25270)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Localize FXIOS-11558 Introduce string reference linter in GitHub workflows (#25209)
  .github/l10n/README.md
  .github/l10n/linter_config_focus.json
  .github/l10n/linter_config_ios.json
  .github/workflows/firefox-ios-l10n-linter.yml
  .github/workflows/focus-ios-l10n-linter.yml
  firefox-ios/Shared/Strings.swift
  firefox-ios/Shared/en-US.lproj/Storage.strings
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11514 ⁃ Weird behavior when closing all tabs (#25199)
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix MTE-4389 Remove extra swipe from test-sync-disconnect-connect-fxa (#25292)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-8602 #19093 ⁃ An unsightly animation occurs when the download toast message is updated (#25165)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+DownloadQueueDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/Download.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadQueue.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11541 [Toolbar UI Experiments] Update cancel button in edit mode (#25202)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  BrowserKit/Sources/ToolbarKit/ToolbarElement.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarActionConfiguration.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

FIX FXIOS-11560 Default isBookmarked to false instead of nil and explicitly set it to nil when we need it (#25256)
  firefox-ios/Client/Frontend/Browser/Search/SearchViewModel.swift
  firefox-ios/Storage/SQL/SQLiteHistoryFactories.swift
  firefox-ios/Storage/Sites/Site.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-6837 AND FXIOS-8435 [Tabs Optimization] Hopefully fix sreenshots (#25174)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Extensions/UIView+Screenshot.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Components/ContentContainer.swift
  firefox-ios/Client/TabManagement/TabEventHandler.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabWebView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ScreenshotHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4297 - activity shortcuts tests (#25221)
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-11520 Improve string description for localizers as requested. (#25289)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-7894 #17639 [WebEngine] Migrate web server utilities (#24946)
  BrowserKit/Sources/Common/Constants/AppConstants.swift
  BrowserKit/Sources/Common/Constants/LaunchArguments.swift
  BrowserKit/Sources/Common/Utilities/DispatchSourceInterface.swift
  BrowserKit/Sources/Shared/AppName.swift
  BrowserKit/Sources/WebEngine/Engine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKEngineWebServer.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockDispatchSourceTimerFactory.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWebServer.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  BrowserKit/Tests/WebEngineTests/WKWebServerUtilTests.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  firefox-ios/Client/Application/WebServerUtil.swift
  firefox-ios/Client/Application/main.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/NotificationManager.swift
  firefox-ios/Client/Telemetry/GleanUsageReporting.swift
  firefox-ios/firefox-ios-tests/Tests/SharedTests/FeatureSwitchTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DatabaseFixtureTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DomainAutocompleteTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PerformanceTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReportSiteTests.swift
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Blockzilla/GleanUsageReportingMetricsService.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11549 Remote settings directory (#25145)
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-10930 Focus iOS ToS Card in Onboarding (#25124)
  focus-ios/Blockzilla/BrowserViewController.swift
  focus-ios/Blockzilla/Onboarding/OnboardingConstants.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Settings/Controller/AboutViewController.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/DesignSystem/Color+AppColors.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/DesignSystem/Colors.xcassets/Accent.colorset/Contents.json
  focus-ios/BlockzillaPackage/Sources/Onboarding/Handler/OnboardingEventsHandlerV1.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/Handler/OnboardingEventsHandlerV2.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/Handler/OnboardingEventsHandling.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/GetStartedOnboardingView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/OnboardingView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/OnboardingViewModel.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/Styles/PrimaryButtonStyle.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/Styles/TextStyle.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/TermsOfServiceView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/UI Components/AttributedLinkText.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/UI Components/WebView.swift
  focus-ios/focus-ios-tests/XCUITest/OnboardingTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix MTE-4370 "Bitrise Xcode Check and Update" should query the latest available stacks (#25166)
  test-fixtures/update.py
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11585 [Dark Reader] Enable DR by default (#25233)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentEnd/LegacyNightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentEnd/NightModeHelper.js
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/darkReaderFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11580 #25211 support to allow download of png and jpeg extension files (#25212)
  firefox-ios/Client/Frontend/Browser/DownloadHelper/MIMEType.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix MTE-4272 All cells now contains bookmarks (#25314)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PerformanceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11576 ⁃ Weird animation when the search view is shown (#25235)
  firefox-ios/Client/Frontend/Browser/Search/SearchViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove MTE-4386 - outdated workarounds (#25317)
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DesktopModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FindInPageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TrackingProtectionTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-11547 Limit iOS 15 - iOS 17 devices to Light mode only App Icons in the App Icon Selection screen (#25219)
  BrowserKit/Sources/Common/Theming/ThemeType.swift
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11595 [Tab tray UI experiment] Improvements to tab tray (#25268)
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11498 [Homepage] behavioral targeting event for microsurvey (#25247)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11598 [Tab tray UI experiment] Shadow on Experiment tab cell (#25273)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11565 [Homepage] [Telemetry] initial top sites (#25181)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockGleanWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11602 [Tab tray UI experiment] No more toasts on tab tray (#25269)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11574 - [Toolbar UI Experiments] - Make sure long press action works everywhere for LocationTextField (#25237)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11594 Initialize app services before any other rust components (#25258)
  firefox-ios/Client/Application/AppLaunchUtil.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11481 ⁃ Fix hangs in AutocompleteTextField setTextWithouthSearching (#25283)
  firefox-ios/Client/Frontend/Widgets/AutocompleteTextField.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-7301 - Remove 2 closure_body_length violations from ImageButtonWithLabel.swift and DefaultBrowserOnboardingView.swift, and decrease threshold (#25188)
  .swiftlint.yml
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Bugix [PDF Refactor] FXIOS pdf refactor related bugs. (#25245)
  BrowserKit/Sources/Shared/Extensions/URLExtensions.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix Danger (#25320)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11615 Update version for Firefox from version.txt (#25302)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Configuration/Fennec.enterprise.xcconfig
  firefox-ios/Client/Configuration/Fennec.xcconfig
  firefox-ios/Client/Configuration/Firefox.xcconfig
  firefox-ios/Client/Configuration/FirefoxBeta.xcconfig
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Info.plist
  firefox-ios/Client/version.xcconfig
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  firefox-ios/sticker/Info.plist
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11544 [App Icon 2025] Remove repeated "selected" VoiceOver announcement on the selected app icon row (#25303)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix Focus: string Onboarding.TermsOfUse.Title is exported without the value (#25321)
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4405 - addresses autofill tests (#25348)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11536 usage-deletion-request ping is missing the required usage profile_id metric field in some pings (#25282)
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Blockzilla/GleanUsageReportingMetricsService.swift
  focus-ios/Blockzilla/ProfileIdentifier.swift
Owners: @mozilla-mobile/fxios-eng

Fix FXIOS-11434 24895 flaky unit tests JumpBackInDataAdaptorTests (#25342)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockJumpBackInDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9884 ⁃ iPad window control disappears when scrolling in dark theme (#25280)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11628 autofill keychain calls (#25152)
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/Rust/RustAutofill.swift
  firefox-ios/Storage/Rust/RustAutofillEncryptionKeys.swift
  firefox-ios/Storage/RustKeychain.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/RustAutofillTests.swift
Owners: @mozilla-mobile/fxios-eng
