Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

More UI fixes, almost there
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericButtonCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
Owners: @mozilla-mobile/fxios-eng

Adjust unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Commit version xcconfig
  firefox-ios/Client/Configuration/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12327 [Tab tray UI experiment] Fix font jitter when swiping (#26853)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12327 [Tab tray UI experiment] Fix font jitter when swiping (#26853)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12327 [Tab tray UI experiment] Fix font jitter when swiping (#26853)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

The title is not in the cell directly anymore
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12327 [Tab tray UI experiment] Fix font jitter when swiping (#26853)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11963 [Tab tray UI experiment] Use supplementary view for tab title (#26851)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTitleSupplementaryView.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11963 [Tab tray UI experiment] Use supplementary view for tab title (#26851)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTitleSupplementaryView.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Skipping test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TestHistory.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12307] Force sync when hitting stage server for testing
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12307 [SEC] Fix API errors when testing against staging (#26885)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12338 Add TestFlight Nightly group to Beta builds using App Store Connect API
  bitrise.yml
  scripts/nightly_testflight_add_group.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Add 2 more cases for pan gesture.
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12317 #26826 ⁃ [Menu Redesign] Update design for menu cells (#26864)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuCollectionView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12267 - [Swipe Tabs Animation] - Weird animation displayed when opening the menu while swiping the tabs (#26887)
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12267 - [Swipe Tabs Animation] - Weird animation displayed when opening the menu while swiping the tabs (#26887)
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

[SRE-1962] Rename and pin Qodo AI Github action (#915)
  .github/workflows/pr_agent.yml
Owners: @mozilla-mobile/fxios-automation-1

Add [MTE-4603]-identifier for tabs tray string (#26863)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update background color on homepage
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix homepage when toolbar refactor is off
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Split up logs into background foreground and preserve/restore to hopefully mitigate false positives from race condition
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

don't change telemetry logging for tab loss
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

switch back to just checking normal tabs and remove unneeded self
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Assign different defaults keys for different events
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Minor refactor on nightly_testflight_add_group script
  scripts/nightly_testflight_add_group.py
Owners: @mozilla-mobile/fxios-eng

FXIOS-12341 #26888 ⁃ [Menu Redesign] Implement More/Less option
  BrowserKit/Sources/MenuKit/MenuElement.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuSection.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuAction.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Update test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SearchBarLocationSaverTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12346 [Unit Tests] browserview web delegate tests
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

use device name instead of ID
  firefox-ios/firefox-ios-tests/Tests/XCUITests/run_tests_with_flag.sh
Owners: @mozilla-mobile/fxios-automation-1

Remove FXIOS-12339 [Unit tests] Skipping test testRandomThreading (#26884)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TestHistory.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12339 [Unit tests] Skipping test testRandomThreading (#26884)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TestHistory.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE scripts to run tests with experiments (#26841)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/find_test_with_flag.sh
  firefox-ios/firefox-ios-tests/Tests/XCUITests/run_tests_with_flag.sh
Owners: @mozilla-mobile/fxios-automation-1

Increase height to avoid inner list scrolling + divider
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericButtonCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-6765 #15058 ⁃ [Default zoom] default page zoom setting (#26801)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomLevel.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericButtonCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericItemCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingsViewModel.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/Storage/ZoomLevelStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockZoomStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ZoomPageManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/ZoomLevelStoreTests.swift
  firefox-ios/nimbus-features/defaultZoomFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-6765 #15058 ⁃ [Default zoom] default page zoom setting (#26801)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomLevel.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericButtonCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Generic views/GenericItemCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingsViewModel.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/Storage/ZoomLevelStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockZoomStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ZoomPageManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/ZoomLevelStoreTests.swift
  firefox-ios/nimbus-features/defaultZoomFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-10711 [Tab Loss] Add a duplicate tab loss log that fires on preserve/restore (#26730)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12329 [Tab tray UI experiment] Fix logic with swipeFromIndex (#26854)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12329 [Tab tray UI experiment] Fix logic with swipeFromIndex (#26854)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng
