Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12008 #26132 - Zoom to remove logic from BVC and Tab (#26263)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+ZoomPage.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomLevel.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageBar.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Storage/ZoomLevelStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockZoomStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ZoomPageManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12008 #26132 - Zoom to remove logic from BVC and Tab (#26263)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+ZoomPage.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomLevel.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageBar.swift
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageManager.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Storage/ZoomLevelStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockZoomStore.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ZoomPageManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12097 [Felt Privacy - Simplified UI] private mode header theme (#26342)
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/HomeLogoHeaderCell.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12097 [Felt Privacy - Simplified UI] private mode header theme (#26342)
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/HomeLogoHeaderCell.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12097 [Felt Privacy - Simplified UI] private mode header theme (#26342)
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/HomeLogoHeaderCell.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Make changes in ActivityStream test to account for tab tray UI experiment test
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Application/UITestAppDelegate.swift
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Nimbus/TestData/defaultEnabledOff.json
  firefox-ios/Client/Nimbus/TestData/defaultEnabledOn.json
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Swiftlint Fix
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Addressed Comments
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint fix
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Controlled throttling of updates implemented on our end to prevent it from happening automatically
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Updated throttler
  firefox-ios/Client/Utils/ConcurrencyThrottler.swift
Owners: @mozilla-mobile/fxios-eng

Small updates
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Added Concurrency throttler
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/TabManagement/WindowSimpleTabsCoordinator.swift
  firefox-ios/Client/Utils/ConcurrencyThrottler.swift
  firefox-ios/Client/Utils/GCDThrottler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/GCDThrottlerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11623 [UX Fundamentals] Nimbus flag for opening screen (#26330)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/LegacyFeatureFlagsManager.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/StartAtHomeHelper.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHomeHelperTests.swift
  firefox-ios/nimbus-features/startAtHomeFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11623 [UX Fundamentals] Nimbus flag for opening screen (#26330)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/LegacyFeatureFlagsManager.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/StartAtHomeHelper.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHomeHelperTests.swift
  firefox-ios/nimbus-features/startAtHomeFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Adjust testTopSitesOpenInNewPrivateTabDefaultTopSite test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add additional toolbar refactor flag.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add back the new line.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fixed test error
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11809 [Blueprint Download Manager] Avoid automatic throttling of live activity updates (#26134)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/TabManagement/WindowSimpleTabsCoordinator.swift
  firefox-ios/Client/Utils/ConcurrencyThrottler.swift
  firefox-ios/Client/Utils/GCDThrottler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/GCDThrottlerTests.swift
Owners: @mozilla-mobile/fxios-eng

enable homepage rebuild on beta
  firefox-ios/nimbus-features/homepageRebuildFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Adjust screen state for experiment
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12095 [Tab tray UI experiment] Ensure inactive tabs are not accounted for inactive tabs if section isn't shown (#26357)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12095 [Tab tray UI experiment] Ensure inactive tabs are not accounted for inactive tabs if section isn't shown (#26357)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11373 [WebEngine] Reader mode part 2 (#26279)
  BrowserKit/Sources/Common/Constants/NotificationConstants.swift
  BrowserKit/Sources/Common/Utilities/NotificationConstants.swift
  BrowserKit/Sources/WebEngine/BrowserURL.swift
  BrowserKit/Sources/WebEngine/Engine.swift
  BrowserKit/Sources/WebEngine/EngineConstants.swift
  BrowserKit/Sources/WebEngine/EngineSessionDependencies.swift
  BrowserKit/Sources/WebEngine/WKWebview/Internal/WKInternalURL.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/ReaderModeContentScript.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReadabilityOperation.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReadabilityService.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineInfo.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSessionData.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKNavigationHandler.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKSessionLifecycleManager.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKWebViewProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKEngineWebServer.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKReaderModeDelegate.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  SampleBrowser/SampleBrowser/Engine/EngineDependencyManager.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12103 [Translations] Fetch model files from RS (#26352)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASRemoteSettingsCollection.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASTranslationModelsFetcher.swift
Owners: @mozilla-mobile/fxios-eng

Implement BrowserStatusBarScrollDelegate
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12102 - [Toolbar - Swipe Tabs Animation] - Add additional check for toolbar refactor flag where swiping tabs flag is used (#26396)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12102 - [Toolbar - Swipe Tabs Animation] - Add additional check for toolbar refactor flag where swiping tabs flag is used (#26396)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12087 [Address Autofill] Enable address autofill by default for FR, DE and GB (#26340)
  firefox-ios/Client/Frontend/Autofill/Address/AddressUtility/AddressLocaleFeatureValidator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Autofill/AddressLocaleFeatureValidatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Update constraints
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12087 [Address Autofill] Enable address autofill by default for FR, DE and GB (#26340)
  firefox-ios/Client/Frontend/Autofill/Address/AddressUtility/AddressLocaleFeatureValidator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Autofill/AddressLocaleFeatureValidatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Enable toolbar refactor in beta
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add check if file has been added without test
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

try creating coverage file
  Dangerfile.swift
  bitrise.yml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

try other plug in
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Filter test and generated files from check
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Add test new file without test
  Dangerfile.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTest.swift
Owners: @mozilla-mobile/fxios-eng

try other plug in
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

debug script step
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
