Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Comment updates
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

unit test and documentation
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/BrowsingSettingsViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fixed trailing whitespace issue with line 114.
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11502] Updates to unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RemoteSettings/SearchPrefsMigrationTests.swift
Owners: @mozilla-mobile/fxios-eng

Pushed image asset for minimal download view.
  firefox-ios/WidgetKit/Assets.xcassets/downloadLarge.imageset/Contents.json
  firefox-ios/WidgetKit/Assets.xcassets/downloadLarge.imageset/downloadLarge.pdf
Owners: @mozilla-mobile/fxios-eng

fix: missed case in NimbusFeatureFlagID
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
Owners: @mozilla-mobile/fxios-eng

Support V2 prefs for V1 users, which is technically possible. Also some refactors to cleanup
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

Support V2 to V1 prefs users, which is technically possible. Also DRY out some redundant code. WIP
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

Minor refactors
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

Add protocol and Mock for DeviceType to test tabScrollController
  BrowserKit/Sources/Common/Protocols/DeviceTypeProvider.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockDeviceTypeProvider.swift
Owners: @mozilla-mobile/fxios-eng

Missing update in URL
  focus-ios/focus-ios-tests/XCUITest/CopyPasteTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Added delegate mocks
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/RemoteTabsEmptyViewDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/RemoteTabsPanelDelegateMock.swift
Owners: @mozilla-mobile/fxios-eng

improved code coverage
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/RemoteTabsPanelTests.swift
Owners: @mozilla-mobile/fxios-eng

remove unused code
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11726 [Tab tray experiment] Add a debug setting to clear screenshots (#25573)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/ScreenshotSetting.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4455 - several settings tests
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update firefox-ios/Shared/Strings.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [Toolbar Refactor] FXIOS wrong icon in landscape mode and fix Voice over behavior (#25564)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [Toolbar Refactor] FXIOS wrong icon in landscape mode and fix Voice over behavior (#25564)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Set button in onboarding by default to bottom toolbar
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11630 Focus Opening a SUMO page from the TOS Onboarding card while internet connection is OFF shows a blank page
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/GetStartedOnboardingView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/TermsOfServiceView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/UI Components/WebView.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4455 - several settings tests (#25594)
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11706 Update URL (#25588)
  focus-ios/focus-ios-tests/XCUITest/CopyPasteTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Renamed some vars
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Edit Bookmark/EditBookmarkCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Edit Folder/EditFolderCell.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Improve readability.
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
Owners: @mozilla-mobile/fxios-eng

refine comment
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

fix web view freeze after stop loading website
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update comment
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix indentation
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-3820 #10114 ⁃ [iPad] No way to stop address/tab bar from auto hiding (#25585)
  BrowserKit/Sources/Common/Protocols/DeviceTypeProvider.swift
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockDeviceTypeProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/BrowsingSettingsViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11260 ⁃ [iOS Bookmarks Evolution][Accessibility] The "delete" button is not read corractly by VoiceOver (#25570)
  BrowserKit/Sources/ComponentLibrary/TextField.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Edit Bookmark/EditBookmarkCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Edit Folder/EditFolderCell.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11644 [Homepage] jump back in triggers to update state (#25519)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TopTabsAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/RemoteTabsPanelMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/RemoteTabsMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11688 map nimbus channel to beta for FirefoxStaging profile (#25583)
  firefox-ios/bin/nimbus-fml-configuration.sh
Owners: @mozilla-mobile/fxios-eng

FXIOS-11254 #24470 ⁃ Parent folder selector missing line separators
  firefox-ios/Client/Frontend/Library/Bookmarks/Edit Folder/EditFolderViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11722 - [Toolbar UI Experiments] - Toolbar is moved to bottom after activating the experiment (#25598)
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11722 - [Toolbar UI Experiments] - Toolbar is moved to bottom after activating the experiment (#25598)
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix: bump glean to 64.0.0 and glean_parser to 17.0.1
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/bin/sdk_generator.sh
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/bin/sdk_generator.sh
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11183 [Blueprint Download Manager] Create the minimal dynamic island Live Activity user interface (#25474)
  firefox-ios/WidgetKit/Assets.xcassets/downloadLarge.imageset/Contents.json
  firefox-ios/WidgetKit/Assets.xcassets/downloadLarge.imageset/downloadLarge.pdf
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11392 #24794 ⁃ [iOS Bookmarks Evolution] The confirmation snackbar uses the incorrect label when a bookmark is deleted from homepage context menu
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Move General settings to the top of Browsing Settings
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
