Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Remove MTE-4386 - outdated workarounds
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DesktopModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FindInPageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TrackingProtectionTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

iphoneos18.2 is available
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove MTE-4386 - outdated workarounds (#25317)
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DesktopModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FindInPageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TrackingProtectionTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix MTE-4272 All cells now contains bookmarks (#25314)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PerformanceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix MTE-4389 Remove extra swipe from test-sync-disconnect-connect-fxa (#25292)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Move Glean init
  focus-ios/Blockzilla/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Removed self from textDidChange Added textDidChange when clear the text
  firefox-ios/Client/Frontend/Widgets/AutocompleteTextField.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-7301 - Remove 2 closure_body_length violations from ImageButtonWithLabel.swift and DefaultBrowserOnboardingView.swift, and decrease threshold (#25188)
  .swiftlint.yml
  firefox-ios/WidgetKit/ImageButtonWithLabel.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11536 usage-deletion-request ping is missing the required usage profile_id metric field in some pings (#25282)
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Blockzilla/GleanUsageReportingMetricsService.swift
  focus-ios/Blockzilla/ProfileIdentifier.swift
Owners: @mozilla-mobile/fxios-eng

Update Strings.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Added Weak delegate to download session
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

lint
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

Focus: string Onboarding.TermsOfUse.Title is exported without the value #25261
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11625 #25315 ⁃ Open Tabs Appear Last in Search Results When Typing Origin in Firefox iOS
  firefox-ios/Client/Frontend/Browser/Search/SearchListSection.swift
Owners: @mozilla-mobile/fxios-eng

Fix Danger
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11625 #25315 ⁃ Open Tabs Appear Last in Search Results When Typing Origin in Firefox iOS (#25319)
  firefox-ios/Client/Frontend/Browser/Search/SearchListSection.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4400 - addresses related tests
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11481 ⁃ Fix hangs in AutocompleteTextField setTextWithouthSearching (#25283)
  firefox-ios/Client/Frontend/Widgets/AutocompleteTextField.swift
Owners: @mozilla-mobile/fxios-eng

Bugix [PDF Refactor] FXIOS pdf refactor related bugs. (#25245)
  BrowserKit/Sources/Shared/Extensions/URLExtensions.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugix [PDF Refactor] FXIOS pdf refactor related bugs. (#25245)
  BrowserKit/Sources/Shared/Extensions/URLExtensions.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix Danger (#25320)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Create TabWebViewPreview.swift class
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Fix Swiftlint errors
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

updated uitests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11415 logins keychain calls (#24845)
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/Rust/RustLogins.swift
  firefox-ios/Storage/RustKeychain.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/RustLoginsTests.swift
  firefox-ios/nimbus-features/rustKeychainRefactor.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Build just for physical devices
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix nits at
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11546 [App Icon 2025] Properly adjust transparent app icon backgrounds for iOS 18 (#25308)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11546 [App Icon 2025] Properly adjust transparent app icon backgrounds for iOS 18 (#25308)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11544 [App Icon 2025] Remove repeated "selected" VoiceOver announcement on the selected app icon row (#25303)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11544 [App Icon 2025] Remove repeated "selected" VoiceOver announcement on the selected app icon row (#25303)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Feature flag false
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

Replaced credit cards MZKeychainWrapper calls with RustKeychain calls
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/Rust/RustAutofill.swift
  firefox-ios/Storage/Rust/RustAutofillEncryptionKeys.swift
  firefox-ios/Storage/RustKeychain.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/RustAutofillTests.swift
Owners: @mozilla-mobile/fxios-eng

Cleanup and refactors
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix Focus: string Onboarding.TermsOfUse.Title is exported without the value (#25321)
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Fix debug flag
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Cleanup refactors
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASRemoteSettingsCollection.swift
Owners: @mozilla-mobile/fxios-eng

Cell height was absolute for tab content + ensure it scales
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Debug compilation issues
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove debug code
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1
