Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Update Strings.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12215 [Content Design] Remove footer (#27354)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Client/Frontend/Home/PocketFooterView.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12215 [Content Design] Remove footer (#27354)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Client/Frontend/Home/PocketFooterView.swift
Owners: @mozilla-mobile/fxios-eng

Add [Tab Loss] Add info to tab restore logs to see if the app previously crashed (#27150)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Add [Tab Loss] Add info to tab restore logs to see if the app previously crashed (#27150)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12558] Additional logging
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Decrease warning and error threshold
  .swiftlint.yml
Owners: @mozilla-mobile/fxios-eng

Extract handle download progress update into a new function
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to handle download started
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Extract handle download started into a new function
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to handle download progress update
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Extract the switch case statement to a new function
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Extract handle download error into a new function
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to handle download error
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to handle destination
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12558 [SEC] Additional logging (#27359)
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Add the generated UniFFI files
  .gitignore
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/Glean/Metrics.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/autofill.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/crashtest.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/errorsupport.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/fxa_client.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/init_rust_components.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/logins.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/merino.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/nimbus.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/places.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/push.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/remote_settings.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/rust_log_forwarder.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/search.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/suggest.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/sync15.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/syncmanager.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/tabs.swift
Owners: @mozilla-mobile/fxios-eng

Extract the item image to a new function
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to show the item image
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
Owners: @mozilla-mobile/fxios-eng

Extract the item content to a new function
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
Owners: @mozilla-mobile/fxios-eng

Use the new function to show the item content
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
Owners: @mozilla-mobile/fxios-eng

First integration glass toolbar
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  SampleBrowser/SampleBrowser.xcodeproj/project.pbxproj
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  SampleBrowser/SampleBrowser/UI/Components/NavigationToolbarContainer.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/project.pbxproj
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  SampleComponentLibraryApp/SampleComponentLibraryApp/CardView/CardViewViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/ContextualHintView/ContextualHintViewViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/FadeScrollViewComponent/FadeScrollViewViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/RootViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add support for multiple experiment enable or disable
  firefox-ios/Client/Application/UITestAppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Refactor code as per code review
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Add navigation bar ux configuration
  BrowserKit/Package.resolved
  BrowserKit/Sources/Common/Extensions/UIStackViewExtension.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbarState.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/NavigationToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
  SampleBrowser/SampleBrowser/UI/Components/NavigationToolbarContainerModel.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-automation-1

Did a quick code refactor
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

More stuff about glass
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  SampleBrowser/SampleBrowser/Model/RootViewControllerModel.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  SampleBrowser/SampleBrowser/UI/Components/PullRefreshView.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12496 [Tab tray UI experiment] Tabs' titles are incorrectly displayed in light theme (#27316)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12496 [Tab tray UI experiment] Tabs' titles are incorrectly displayed in light theme (#27316)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-7301 [Swiftlint] Remove 3 closure_body_length violations from OnboardingSegmentedControl.swift, BrowserViewController+WebViewDelegates.swift, and MainMenuCoordinator.swift (#27362)
  .swiftlint.yml
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12540 [Telemetry Audit] Move toasts probes to their own toast.yaml file (#27344)
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/Client/Glean/probes/toast.yaml
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor UIHandler to be more generic
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDeciderFactory.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKSessionCreator.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/WKSessionCreatorTests.swift
  BrowserKit/Tests/WebEngineTests/WKUIHandlerTests.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12135 [Tab tray UI experiment] Enable tab tray experiment in dev & beta builds (#27219)
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TrackingProtectionTests.swift
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-12563 [HNT - Search Bar] search bar feature flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/homepageNewTabFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

rename to redesign
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/homepageRedesignFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

upgrade to 5.10
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12563 [HNT - Search Bar] search bar feature flag (#27371)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/homepageRedesignFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12508 [HNT - Search Bar] search bar cell
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarCell.swift
  firefox-ios/nimbus-features/homepageRedesignFeature.yaml
Owners: @mozilla-mobile/fxios-eng

work in progress
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
