Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

fix for 27064
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

New tests for tab tray on
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DesktopModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DownloadsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FindInPageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ToolbarTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ZoomingTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add scroll
  BrowserKit/Sources/ComponentLibrary/SwiftUI/VScrollView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
Owners: @mozilla-mobile/fxios-eng

Refactored some logic
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12495 ⁃ [Menu Redesign] Apply latest design for menu cells and menu (#27539)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuInfoCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12495 ⁃ [Menu Redesign] Apply latest design for menu cells and menu (#27539)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuInfoCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Implement RTL for add new tab.
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Fix test.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/TabTray/RemoteTabsCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Check if translucency is enabled before applying alpha
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Update TabManagerImplementation.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12353 #26912 ⁃ [Menu Redesign] Create and implement the "Make Firefox your default" banner
  BrowserKit/Sources/MenuKit/MenuRedesign/HeaderBanner.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/foxDefaultBrowser.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/foxDefaultBrowser.imageset/Illu.png
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/nimbus-features/menuRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Update TabManagerImplementation.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Update and add tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StatusBarOverlayTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12353 ⁃ [Menu Redesign] Create and implement the "Make Firefox your default" banner (#27555)
  BrowserKit/Sources/MenuKit/MenuRedesign/HeaderBanner.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/foxDefaultBrowser.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/foxDefaultBrowser.imageset/Illu.png
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/nimbus-features/menuRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

wip
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/GleanPlumbContextProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Messaging/GleanPlumbMessageManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

resolve conflicts
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/NavigationBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserNavigationType.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
Owners: @mozilla-mobile/fxios-eng

resolve conflicts
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12510 [HNT - Search Bar] proper state to show search bar
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

turn off by default
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

update middleware and tests
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

add comment
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix conflicts
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12510 [HNT - Search Bar] tapping on search bar experience (#27505)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/NavigationBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserNavigationType.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12510 [HNT - Search Bar] tapping on search bar experience (#27505)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/NavigationBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserNavigationType.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-27064 Navigation arrows become active after a restart (#27548)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12504 - [Swipe Tabs Animation] - Implement RTL for swipe new tab (#27553)
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12504 - [Swipe Tabs Animation] - Implement RTL for swipe new tab (#27553)
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12621 [HNT - Search Bar] zero state to search button on toolbar
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

add tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

resolve conflicts
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12640 [Toolbar] Status bar overlay black when translucency is disabled (#27559)
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StatusBarOverlayTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12640 [Toolbar] Status bar overlay black when translucency is disabled (#27559)
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StatusBarOverlayTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12640 [Toolbar] Status bar overlay black when translucency is disabled (#27559)
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StatusBarOverlayTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix merge conflict
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
Owners: @mozilla-mobile/fxios-eng

Can we run unit tests using xcode 16.4?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Use notification protocol and update notifiable to not use main actor as part of this pr
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Storage/Rust/RustPlaces.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12614 [Content Feed] no longer consider "discover" pocket cell (#27470)
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Providers/Pocket/PocketProvider.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12644] Fix missing ad click metric probe
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Add new ping and string metic for fx-accounts and client Fx uid.
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/pings.yaml
  firefox-ios/Client/Glean/probes/user.yaml
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Update owner info and review PRs in metrics YAML.
  firefox-ios/Client/Glean/pings.yaml
  firefox-ios/Client/Glean/probes/user.yaml
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
