Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11625 #25315 ⁃ Open Tabs Appear Last in Search Results When Typing Origin in Firefox iOS (#25319)
  firefox-ios/Client/Frontend/Browser/Search/SearchListSection.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11421 [UI] Fix ButtonToast alignment issue (#24985)
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11415 logins keychain calls (#24845)
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/Rust/RustLogins.swift
  firefox-ios/Storage/RustKeychain.swift
  firefox-ios/firefox-ios-tests/Tests/StorageTests/RustLoginsTests.swift
  firefox-ios/nimbus-features/rustKeychainRefactor.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11611 [Tab tray UI experiment] Adjust tab thumbnail for dynamic type (#25331)
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11546 [App Icon 2025] Properly adjust transparent app icon backgrounds for iOS 18 (#25308)
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Removed MTE-4407 - toast notifications validation (#25347)
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add [Toolbar redesign] FXIOS-11575 update toolbar icons (#25380)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/moreHorizontalRoundLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/moreHorizontalRoundLarge.imageset/More Horizontal Round Large.pdf
  firefox-ios/Client/Assets/Images.xcassets/readerViewMedium.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/readerViewMedium.imageset/Reader View Medium.pdf
  firefox-ios/Client/Assets/Images.xcassets/shieldCheckmarkFillSmall.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shieldCheckmarkFillSmall.imageset/Shield Checkmark Fill Small.pdf
  firefox-ios/Client/Assets/Images.xcassets/shieldSlashFillSmall.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shieldSlashFillSmall.imageset/Shield Slash Fill Small.pdf
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11638 [Tab tray UI experiment] Make sure we disable any changes for iPad (#25354)
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4400 - addresses related tests (#25322)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Localize FXIOS-9612 #21206 [FirefoxHomepage][shortcut] Localized Pinned Tiles for voice over accessibility (#25267)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteConfiguration.swift
  firefox-ios/Client/Frontend/Home/TopSites/TopSite.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-11626 - [Toolbar Redesign Phase 2] - Create Tab Web View Preview (#25325)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Added FXIOS-11615 Update Focus to use version.txt (#25396)
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
  focus-ios/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

BugFix FXIOS-10918 #23859 EXC_BAD_ACCESS crash `TopSite.__deallocating_deinit` (#25397)
  firefox-ios/Client/Frontend/Home/TopSites/TopSite.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11654 credit card keychain logic (#25390)
  firefox-ios/Providers/Profile.swift
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11635 [Bookmarks] Resolve nil reference in bookmark undo-edit flow (#25372)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor MTE-4379 Code sign for dylib? (#25398)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11640 [Homepage] feature flag on for dev (#25357)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BrowsingPDFTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/nimbus-features/homepageRebuildFeature.yaml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix [PDF Refactor] FXIOS fix PDFs refactor related issue (#25345)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/StatefulButton.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix MTE-4379 Use 18.0 devices for bookmarks performance tests (#25312)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix MTE-4411 iPad specific "x" button (#25431)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-XXX Fix some copy and paste errors in Strings.swift comments. (#25420)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11596 [Tab tray UI experiment] Adjust background color, adjust X button (#25337)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-11534 [Dark Reader] Add Appearance Setting View (#25229)
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/automaticBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/darkBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/lightBrowserThemeGradient.pdf
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeSelectionView.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/ThemeSetting.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeMiddleware.swift
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11627 [UI] Black color flash when opening app (#25414)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add DISCO-3327 - Send appContext to RemoteSettingsService (#25287)
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Revert FXIOS-11658 #25410 ⁃ ButtonToast (Downloads & Undo close tabs) layout is broken for normal text size (#25419)
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11441 [Search engines] Add DuckDuckGo to all locales (#24907)
  firefox-ios/Client/Assets/Search/SearchPlugins/list.json
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultSearchPrefsTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11612 #25290 ⁃ "Sync and Save Data" features two overlapping icons (#25399)
  firefox-ios/Client/Frontend/Settings/Main/Account/SyncNowSetting.swift
Owners: @mozilla-mobile/fxios-eng

Add [Deeplink Optimization] add deeplink optimization refactor to the list of toggle-able flags (#25424)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS [Component Library] unused dependency related to engineProvider (#25408)
  SampleComponentLibraryApp/SampleComponentLibraryApp/Dependency/DependencyHelper.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11651 [Toolbar UI Experiments] - Add search magnifier on homepage (#25385)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS 11181 Blueprint Download Manager Create the compact dynamic island Live Activity user interface (#25365)
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS Add TabWebView background color to prevent black flash when opening App (#25435)
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [Deeplink Optimization] FXIOS-11670 Prevent deeplink tab to be added multiple times when restoring (#25434)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/UnitTest.xctestplan
Owners: @mozilla-mobile/fxios-eng

Add MTE-3745 Add testCloseOneTabUndo() (#25483)
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor Run Focus tests in the afternoon (Experimental 🧪 ) (#25448)
  .github/workflows/focus-ios-ui-tests-previous-os.yml
  .github/workflows/focus-ios-ui-tests.yml
Owners: @mozilla-mobile/fxios-automation-1

Update reference person in CONTRIBUTING.md (#25445)
  CONTRIBUTING.md
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11351 [SEC] [WIP] Initial groundwork for Consolidated Search (#25335)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASRemoteSettingsCollection.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconRecord.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineUtilities.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/DefaultSearchEngineProvider.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Settings/CustomSearchViewController.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11679 medium size icons to toolbar version 1 layout (#25444)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/arrowClockwiseMedium.imageset/Arrow Clockwise Medium.pdf
  firefox-ios/Client/Assets/Images.xcassets/arrowClockwiseMedium.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shareMedium.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/shareMedium.imageset/Share iOS Medium.pdf
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11351 Use prod for Remote Settings (#25482)
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
