Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Fix lint
  BrowserKit/Sources/WebEngine/EngineSessionScriptResponder.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ContentScriptDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/WKContentScript.swift
  BrowserKit/Tests/WebEngineTests/AdsTelemetryContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/EngineSessionScriptResponderTests.swift
  BrowserKit/Tests/WebEngineTests/FocusContentScriptTests.swift
Owners: @mozilla-mobile/fxios-eng

Correct file headers
  BrowserKit/Sources/WebEngine/EngineSessionScriptResponder.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/EngineSessionScriptResponderTests.swift
  BrowserKit/Tests/WebEngineTests/FocusContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockContentScriptDelegate.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockEngineTelemetryProxy.swift
Owners: @mozilla-mobile/fxios-eng

Modified switch case
  BrowserKit/Sources/WebEngine/EngineSessionScriptResponder.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11715 [Focus][ToS] The elements behind the FF terms of use and Privacy Notice are read instead of the opened page when VoiceOver is ON (#25626)
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/AccessibilityIdentifiers.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/DefaultBrowserOnboardingView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/OnboardingViewModel.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/TermsOfServiceView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/UI Components/AttributedLinkText.swift
  focus-ios/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

feat: add helper to get font weight separately
  BrowserKit/Sources/Common/ReaderMode/ReaderModeFontType.swift
  BrowserKit/Sources/Common/ReaderMode/ReaderModeStyle.swift
Owners: @mozilla-mobile/fxios-eng

fix: update reader mode csp to allow dark reader script and styles to run
  firefox-ios/Client/Frontend/Reader/ReaderModeHandlers.swift
Owners: @mozilla-mobile/fxios-eng

feat: handle all theming through dr
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/ReaderMode.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/AtDocumentStart/ReaderModeStyles.js
Owners: @mozilla-mobile/fxios-eng

fix: revert isSameFamily method
  BrowserKit/Sources/Common/ReaderMode/ReaderModeFontType.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11864 #25843 ⁃ New tab set as custom URL - keyboard is raised up when opening new tab through widget
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
Owners: @mozilla-mobile/fxios-eng

fix: typo
  firefox-ios/Client/Frontend/Reader/ReaderModeHandlers.swift
  firefox-ios/Client/Frontend/Reader/Resources/Reader.css
Owners: @mozilla-mobile/fxios-eng

fix: tiny bug in attributes function
  BrowserKit/Sources/Common/ReaderMode/ReaderModeFontType.swift
Owners: @mozilla-mobile/fxios-eng

Update constraints
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11860 [Tab tray UI experiment] Fix a11y on tab tray (#25866)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Show leading page action stack
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarState.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/CompactBrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Hide leading page actions when editing
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Show back & forward buttons in version1 layout when editing
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Update padding
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 137.2
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  firefox-ios/sticker/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Remove unused config
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11860 [Tab tray UI experiment] Fix a11y on tab tray (#25866)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11860 [Tab tray UI experiment] Fix a11y on tab tray (#25866)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11795 Check for valid url prior to sending route
  firefox-ios/Client/Coordinators/Router/DeeplinkInput.swift
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/RouteTests.swift
Owners: @mozilla-mobile/fxios-eng

Rename pageActions to trailingPageActions
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarState.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/CompactBrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Added test for BrowserViewController and Tabs
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/URLBarView.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockBrowserCoordinator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabWebView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Remove unused code
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabWebView.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Remove comment
  firefox-ios/Client/Frontend/Toolbar+URLBar/URLBarView.swift
Owners: @mozilla-mobile/fxios-eng

Fix the name of the tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySettingsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Update documentation
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
Owners: @mozilla-mobile/fxios-eng

Formatting
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11818 [New Toolbar experiment] [iPad] Menu Button and Tab Tray Button Positions Should Be Interchanged (#25789)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 137.2 (#25883)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  firefox-ios/sticker/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Removed unused tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TemporaryDocumentTests.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4474 - update password login test (#25876)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add default browser entitlement for Fennec
  firefox-ios/Client/Entitlements/FennecApplication.entitlements
Owners: @mozilla-mobile/fxios-eng

Add MTE-4451 Create a11y tests for setting screens (#25847)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySettingsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yUtils.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add new profile with entitlement
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Remove spacing
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
Owners: @mozilla-mobile/fxios-eng

Fix tab selector view isSelected when moving to background
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
Owners: @mozilla-mobile/fxios-eng
