Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Take screenshot when tapping new tab button.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

remove comment
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/UpdateViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix swiftlint.
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
Owners: @mozilla-mobile/fxios-eng

Fix swiftlint 2.
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12616 [Onboarding] Improve UI for iPad Variant (#27491)
  BrowserKit/Sources/ComponentLibrary/SwiftUI/CustomPageControl.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/VScrollView.swift
  BrowserKit/Sources/OnboardingKit/Models/Buttons/OnboardingMultipleChoiceButtonModel.swift
  BrowserKit/Sources/OnboardingKit/Models/OnboardingFlowViewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceView.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/nimbus-features/onboardingFrameworkFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Change background color in AddressToolbarAddTabView.
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarAddTabView.swift
Owners: @mozilla-mobile/fxios-eng

fix: make sure initial ingest call continues running even when app is immediately backgrounded
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12135 Tab tray experiment on for test_sync_tabs_from_desktop (#27607)
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTests/test_integration.py
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add changes to appearance
  BrowserKit/Sources/ComponentLibrary/SwiftUI/CustomPageControl.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PagingCarousel.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PortraitOnlyHostingController.swift
  BrowserKit/Sources/OnboardingKit/Shaders/blurredPoints.metal
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingSegmentedControl.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Replace VM with ViewModel
  BrowserKit/Sources/OnboardingKit/Models/TosFlowViewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardViewiPad.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceView.swift
  firefox-ios/Client/Frontend/Settings/NotificationsSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PagingCarousel.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PortraitOnlyHostingController.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PortraitOnlyHostingController.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PortraitOnlyHostingController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12419 - Missing Screenshots issue (#27616)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12419 - Missing Screenshots issue (#27616)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Switch context to Main Actor.
  firefox-ios/Client/Frontend/Settings/NotificationsSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

BugFix [Swift 6] FXIOS-12583 region based warnings on LaunchScreenViewControllers and in LoginStorage (#27615)
  firefox-ios/Client/Coordinators/LaunchView/LaunchScreenViewController.swift
  firefox-ios/Client/Coordinators/LaunchView/LaunchScreenViewModel.swift
  firefox-ios/Client/Frontend/Autofill/LoginStorage.swift
  firefox-ios/Client/Frontend/Onboarding/Models/UpdateViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/LaunchView/LaunchScreenViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/LaunchView/LaunchScreenViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockLaunchScreenManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/UpdateViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12662 [Toolbar] Translucency color updates (#27613)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StatusBarOverlayTests.swift
Owners: @mozilla-mobile/fxios-eng

Resolve conflicts.
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

test commit
  firefox-ios/Client/Application/UserConversionMetrics.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12672 - Toggle "Tips and Features" notifications may crash the app (#27622)
  firefox-ios/Client/Frontend/Settings/NotificationsSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

move logic to BVCState and add tests
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

remove unneeded method
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12643 - [Swipe Tabs Animation] - Review color of the toolbar when you add a new tab (#27623)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarAddTabView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12643 - [Swipe Tabs Animation] - Review color of the toolbar when you add a new tab (#27623)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarAddTabView.swift
Owners: @mozilla-mobile/fxios-eng

Fix [Release Automation] Replace references to staging in test params for taskgraph (#27578)
  taskcluster/test/params/cron-beta-releases.yml
  taskcluster/test/params/release-promote-beta.yml
  taskcluster/test/params/release-promote.yml
  taskcluster/test/params/release-push-beta.yml
  taskcluster/test/params/release-push.yml
  taskcluster/test/params/release-ship-beta.yml
  taskcluster/test/params/release-ship.yml
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-12621 [HNT - Search Bar] zero state to search button on toolbar (#27563)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12621 [HNT - Search Bar] zero state to search button on toolbar (#27563)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/SearchBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12632 [HNT - Search Bar] showing / hiding address toolbar
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/SearchBar/SearchBarState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
Owners: @mozilla-mobile/fxios-eng

update
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
Owners: @mozilla-mobile/fxios-eng

test
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove weak self ref
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Make ShareSheetCoordinator unchecked Sendable.
  firefox-ios/Client/Coordinators/ShareSheetCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12662 [Toolbar] Translucency color updates (#27613)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StatusBarOverlayTests.swift
Owners: @mozilla-mobile/fxios-eng

Do the thing
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add fade
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Mark immutable properties of `DefaultTabDataStore` as nonisolated.
  BrowserKit/Sources/TabDataStore/TabDataStore.swift
Owners: @mozilla-mobile/fxios-eng

Add some documentation.
  BrowserKit/Sources/TabDataStore/TabDataStore.swift
  BrowserKit/Sources/TabDataStore/TabFileManager.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
