Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Bugfix FXIOS-12383 [Firefox Suggest] Send correct locale format to RS (#27283)
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12383 [Firefox Suggest] Send correct locale format to RS (#27283)
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12474 ⁃ [Menu Redesign] Set up the menu options for homepage (#27253)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuSection.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

[MOB-2831] User Feedback dedicated section (#918)
  firefox-ios/Client/Ecosia/Bookmarks/BookmarksExchange.swift
  firefox-ios/Client/Ecosia/Extensions/AppSettingsTableViewController+Ecosia.swift
  firefox-ios/Client/Ecosia/Extensions/SimpleToast+Ecosia.swift
  firefox-ios/Client/Ecosia/Settings/EcosiaSettings.swift
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
  firefox-ios/Client/Frontend/Browser/Toast.swift
  firefox-ios/Ecosia/Analytics/Analytics.Values.swift
  firefox-ios/Ecosia/Analytics/Analytics.swift
  firefox-ios/Ecosia/Extensions/View+Extensions.swift
  firefox-ios/Ecosia/L10N/String.swift
  firefox-ios/Ecosia/L10N/en.lproj/Ecosia.strings
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackContentView.swift
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackType.swift
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackTypeSection.swift
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackView.swift
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackViewController.swift
  firefox-ios/Ecosia/UI/FeedbackView/FeedbackViewModel.swift
  firefox-ios/EcosiaTests/Analytics/AnalyticsSpyTests.swift
Owners: @mozilla-mobile/fxios-eng

Revert key
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12135 [Tab tray UI experiment] Turn ON in developer and beta (#26878)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DesktopModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Revert "Bugfix FXIOS-12489 [Tab tray UI experiment] Disable swipe when drag and drop happens (#27225)"
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabDisplayViewDragAndDropInteraction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabDisplayPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Disable drag and drop on tab tray with experiment
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12519 [Onboarding] Restore the original key for the onboarding string to prevent its translation from being deleted during the export/import process (#27288)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12519 [Onboarding] Restore the original key for the onboarding string to prevent its translation from being deleted during the export/import process (#27288)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12467 [TA 2025] Add unit tests for the new settings.changed probe (#27261)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SettingsTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Fixes [MTE-4648] - for flaky tests (#27270)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareLongPressTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12472 [Support utils] Clean up URLs to use SupportUtils (#27192)
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/EmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentEmptyPrivateTabsView.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/OpenSupportPageSetting.swift
Owners: @mozilla-mobile/fxios-eng

fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add new UserTelemetry type.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Telemetry/UserTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12520 [Tab tray UI experiment] Disable drag and drop (#27292)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabDisplayViewDragAndDropInteraction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabDisplayPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12520 [Tab tray UI experiment] Disable drag and drop (#27292)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabDisplayViewDragAndDropInteraction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabDisplayPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

fix title anchors
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteCell.swift
Owners: @mozilla-mobile/fxios-eng

change strings up
  firefox-ios/Client/Frontend/Home/Pocket/PocketDiscoverCell.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

update mock data
  firefox-ios/firefox-ios-tests/Tests/ClientTests/pocketglobalfeed.json
Owners: @mozilla-mobile/fxios-eng

remove discover cell
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketState.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionType.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryProvider.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

settings updates
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflict
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Set the FX Account UID on startup if one exists (i.e. user is logged in).
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Glean/pings.yaml
  firefox-ios/Client/Telemetry/UserTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12517 [Homepage Rebuild] fix UI bugs
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/SyncedTabCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesSectionState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesSectionStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Set the FX Account UID upon successful login.
  firefox-ios/RustFxA/FxAWebViewModel.swift
Owners: @mozilla-mobile/fxios-eng

testsstst
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/ContextMenu/ContextMenuConfigurationTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update owner info and review PRs in metrics YAML.
  firefox-ios/Client/Glean/pings.yaml
  firefox-ios/Client/Glean/probes/user.yaml
Owners: @mozilla-mobile/fxios-eng

Add another test that opens multiple tabs to force cookie issues
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceUITests.swift
  test-fixtures/test-cookie-store.html
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

best option to open a test local file
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Initial commit for UITest to detect cookie lost
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/WebServerUtil.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceUITests.swift
  test-fixtures/test-cookie-store.html
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor test to open a few tabs
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

fix UI tests to support top sites refresh flag
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-12396 Default Zoom Feature tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ZoomPageManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add UserTelemetryTests.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockGleanWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/UserTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Update to use top sites instead of typing website
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CookiePersistenceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

address PR comments
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketState.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Update notifiable to enforce main actor isolation on handle notifications
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Bookmarks/BookmarksDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/IntroViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Update firefox-ios/Client/Glean/tags.yaml
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

ok for real now tests fixed
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketStateTests.swift
Owners: @mozilla-mobile/fxios-eng
