Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Added sync retry after sync settings change
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/Sync/RustSyncManagerAPI.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
Owners: @mozilla-mobile/fxios-eng

Refactored syncBackOffTimer logic and SyncContentSettingsViewController logic to report open sync settings menu telemetry
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
  firefox-ios/Providers/RustSyncManager.swift
Owners: @mozilla-mobile/fxios-eng

fix conflicts
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

fix conflicts
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

ContextMenuState and TabEventHandler changes to silence errors
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/TabManagement/TabEventHandler.swift
Owners: @mozilla-mobile/fxios-eng

remove extra space
  firefox-ios/Client/TabManagement/TabEventHandler.swift
Owners: @mozilla-mobile/fxios-eng

Rename tests. Put them in full functional tests only.
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

show sections when homepage rebuild is disabled
  firefox-ios/Client/Frontend/Home/Bookmarks/BookmarksViewModel.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
Owners: @mozilla-mobile/fxios-eng

improve flag description
  firefox-ios/nimbus-features/homepageRedesignFeature.yaml
Owners: @mozilla-mobile/fxios-eng

hide homepage section settings
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12765 [Xcode 26] Make store generic for State sendable (#27831)
  BrowserKit/Sources/Redux/Store.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12623 [Sync Settings] Update sync logic after sync settings change (#27511)
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/Sync/RustSyncManagerAPI.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
Owners: @mozilla-mobile/fxios-eng

Refactor popup throttler to allow different popup types
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/Utils/JSAlertThrottler.swift
  firefox-ios/Client/Utils/PopupThrottler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/JSAlertThrottlerTests.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12624] Implement popup throttling
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Utils/PopupThrottler.swift
Owners: @mozilla-mobile/fxios-eng

Threshold adjustment. This is arbitrary for now, to be discussed further with sec team.
  firefox-ios/Client/Utils/PopupThrottler.swift
Owners: @mozilla-mobile/fxios-eng

Fix unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/JSAlertThrottlerTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor Bitrise Remove files to deploy to artifacts
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-12745 #27758 ⁃ Design QA FX 9000 (57602)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuAction.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix warning
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconBottom.imageset/Contents.json
Owners: @mozilla-mobile/fxios-eng

Fix warning
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconBottom.imageset/Contents.json
Owners: @mozilla-mobile/fxios-eng

Updated [MTE-4757] - auto tests with multiple experiments
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Nimbus/TestData/storiesRedesignOff.json
  firefox-ios/Client/Nimbus/TestData/storiesRedesignOn.json
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor completion to be Sendable and MainActor isolated
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
Owners: @mozilla-mobile/fxios-eng

Refactor Bitrise Remove files to deploy to artifacts (#26343)
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix warning
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconBottom.imageset/Contents.json
Owners: @mozilla-mobile/fxios-eng

Updated [MTE-4757] - auto tests with multiple experiments (#27848)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Nimbus/TestData/storiesRedesignOff.json
  firefox-ios/Client/Nimbus/TestData/storiesRedesignOn.json
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Updated [MTE-4757] - auto tests with multiple experiments (#27848)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Nimbus/TestData/storiesRedesignOff.json
  firefox-ios/Client/Nimbus/TestData/storiesRedesignOn.json
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NewTabSettings.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Implement minimal address bar on scroll animation.
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
Owners: @mozilla-mobile/fxios-eng

Fix Swiftlint error.
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12780 [Homepage Redesign] change to kebab case
  firefox-ios/nimbus-features/homepageRedesignFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Fix focus change
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PagingCarousel.swift
Owners: @mozilla-mobile/fxios-eng

Fix swiftlint error.
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel+Search.swift
Owners: @mozilla-mobile/fxios-eng

Fix selection logic
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PagingCarousel.swift
Owners: @mozilla-mobile/fxios-eng

Add additional iPad check.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel+Search.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12715 Stories section not visible
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12780 [Homepage Redesign] change to kebab case (#27853)
  firefox-ios/nimbus-features/homepageRedesignFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12780 [Homepage Redesign] change to kebab case (#27853)
  firefox-ios/nimbus-features/homepageRedesignFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12791 - iPad toolbar is set to the bottom if was previously set on iPhone (#27855)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel+Search.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12791 - iPad toolbar is set to the bottom if was previously set on iPhone (#27855)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel+Search.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12745 ⁃ Design QA FX 9000 (57602) (#27844)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuAction.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix conflicts.
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel+Search.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
