Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Nightly auto-update (143.0.20250722050353)
  MozillaRustComponents/Package.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/FxAClient/FxAccountManager.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/FxAClient/PersistedFirefoxAccount.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/Metrics/Metrics.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/logins.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/nimbus.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Generated/search.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Nimbus/NimbusCreate.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/Nimbus/NimbusMessagingHelpers.swift
  MozillaRustComponents/Sources/MozillaRustComponentsWrapper/SyncManager/SyncManagerTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

:facepalm:
  firefox-ios/Client/Frontend/Browser/LegacyClipboardBarDisplayHandlerDelegate.swift
Owners: @mozilla-mobile/fxios-eng

chore: bump macOS to v12
  BrowserKit/Package.swift
Owners: @mozilla-mobile/fxios-eng

Move bookmarks strings to OldStrings struct
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix app-services nightly script to properly create PRs
  .github/workflows/update-appservices-nightly.yml
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

FXIOS-12900 #28122 [Swift 6 Migration] Fix Swift concurrency warning for static property 'buildChannel' in AppBuildChannel
  BrowserKit/Sources/Common/Constants/AppBuildChannel.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12902 #28127 [Swift 6 Migration] Fix Swift concurrency warning for non-Sendable closure parameter in addObserver function
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12881 ⁃ [Menu redesign] [Accessibility] - Incorrect announcement of more submenu with voice over (#28121)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuAction.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/nimbus-features/menuRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12902 [Swift 6 Migration] Fix Swift concurrency warning for non-Sendable closure parameter in addObserver function (#28129)
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12900 [Swift 6 Migration] Fix Swift concurrency warning for static property 'buildChannel' in AppBuildChannel (#28123)
  BrowserKit/Sources/Common/Constants/AppBuildChannel.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12901 #28125 [Swift 6 Migration] Fix Swift concurrency warnings for static properties in FontFamily struct
  BrowserKit/Sources/Common/ReaderMode/ReaderModeFontType.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4813] - share long press tests (#28120)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareLongPressTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-12901 [Swift 6 Migration] Fix Swift concurrency warnings for static properties in FontFamily struct (#28126)
  BrowserKit/Sources/Common/ReaderMode/ReaderModeFontType.swift
Owners: @mozilla-mobile/fxios-eng

Add github action that creates ios milestone on test rail
  .github/workflows/firefox-ios-testrail-milestones.yml
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-12918 #28156 [Swift 6 Migration] Fix Swift concurrency warning for CarouselPositionKey static property by making CarouselPosition Sendable
  BrowserKit/Sources/ComponentLibrary/SwiftUI/CarouselPositionKey.swift
  BrowserKit/Sources/ComponentLibrary/SwiftUI/PagingCarousel.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingBasicCardView/OnboardingBasicCardView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingMultipleChoiceCardView.swift
Owners: @mozilla-mobile/fxios-eng

Add slack hook for the error channel
  .github/workflows/firefox-ios-testrail-milestones.yml
Owners: @mozilla-mobile/fxios-automation-1

Add github action to create ios milestones on test rails
  .github/workflows/firefox-ios-testrail-milestone.yml
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-12879 #28079 Use design system colors in shader
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/LightTheme.swift
  BrowserKit/Sources/Common/Theming/PrivateModeTheme.swift
  BrowserKit/Sources/Common/Theming/ThemeColourPalette.swift
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  BrowserKit/Sources/OnboardingKit/Views/AnimatedGradientRenderer.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/OnboardingView/OnboardingRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceCompactView.swift
  BrowserKit/Sources/OnboardingKit/Views/TermsOfServiceView/TermsOfServiceRegularView.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12919 #28160 ⁃ [Menu redesign] - Incorrect display of the CFR
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12915 [Summarizer] Add model as env var as well (#28150)
  firefox-ios/Client/Info.plist
Owners: @mozilla-mobile/fxios-eng

Fix Swiftlint.
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12910 [Summarizer] Add markdown support (#28143)
  BrowserKit/Package.resolved
  BrowserKit/Package.swift
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Fix swiftlint 2.
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12919 ⁃ [Menu redesign] - Incorrect display of the CFR (#28162)
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12922 #28165 [Swift 6 Migration] Fix Swift 6 concurrency error: 'self' capture causing data races in SwiftUI closure
  BrowserKit/Sources/OnboardingKit/Models/OnboardingFlowViewModel.swift
Owners: @mozilla-mobile/fxios-eng

add regions
  firefox-ios/Providers/Merino/MerinoProvider.swift
Owners: @mozilla-mobile/fxios-eng

clean up 16.2 warnings
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Home/HomepageContextMenuHelper.swift
  firefox-ios/Client/Frontend/Home/HomepageContextMenuProtocol.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-4758 Creation of Firefox ios milestones in Test Rail (#28159)
  .github/workflows/firefox-ios-testrail-milestone.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12796 [Swift 6 Migration] Suppress Sendability warnings on unit test mock classes. (#28070)
  BrowserKit/Tests/CommonTests/LoggerTests/LoggerFileManagerTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/URLCacheFileManagerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/FaviconFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/ImageHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/LetterImageGeneratorTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/SiteImageCacheTests.swift
  BrowserKit/Tests/SiteImageViewTests/Mocks/FaviconURLFetcherMock.swift
  BrowserKit/Tests/SiteImageViewTests/Mocks/HTMLDataRequestMock.swift
  BrowserKit/Tests/SiteImageViewTests/SiteImageHandlerTests.swift
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12583 [Swift 6 Migration] UIPasteboard and ClipboardBarDisplayHandler warnings (#28105)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Extensions/UIPasteboard+Extension.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/ClipboardBarDisplayHandler.swift
  firefox-ios/Client/Frontend/Browser/LegacyClipboardBarDisplayHandlerDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Fix app-services nightly script to properly create PRs (#28154)
  .github/workflows/update-appservices-nightly.yml
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Make StateType sendable
  BrowserKit/Sources/Redux/State.swift
Owners: @mozilla-mobile/fxios-eng

FakeReduxMiddle and MainMenuMiddleware changes
  BrowserKit/Tests/ReduxTests/Utilities/FakeReduxMiddleware.swift
  BrowserKit/Tests/ReduxTests/Utilities/FakeReduxViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

debug: show warnings in BR
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

debug: bump to 13 temporarily
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

[NO_TICKET] [DEBUG] Warning count on BR & Bump warning count (#28177)
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

remove accidental main actor isolation
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
Owners: @mozilla-mobile/fxios-eng

fix: add follow-up tickets and cleanup comment
  firefox-ios/Client/Frontend/Summary/LiteLLMClient.swift
Owners: @mozilla-mobile/fxios-eng

Let me just bump the timelimit. I could not get the xcode-build-for-test working properly
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix syntax
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1
