Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Remove unused code.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix some of the changes
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayDiffableDataSource.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTitleSupplementaryView.swift
Owners: @mozilla-mobile/fxios-eng

Fix delete row and clean up
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/PageZoomSettingView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelCellView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomLevelPickerView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/Zoom/ZoomSiteListView.swift
Owners: @mozilla-mobile/fxios-eng

Adjust layout
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTitleSupplementaryView.swift
Owners: @mozilla-mobile/fxios-eng

Adjust for a11y content
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTitleSupplementaryView.swift
Owners: @mozilla-mobile/fxios-eng

Turns out this work again
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Simplify
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12230 [Toolbar] New Toolbar is not respecting search bar position (#26827)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/SearchBarLocationSaver.swift
  firefox-ios/Client/Frontend/Onboarding/Models/IntroViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Views/IntroViewController.swift
  firefox-ios/Client/Nimbus/NimbusSearchBarLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SearchBarLocationSaverTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4602]-testOpenInNewPrivateTabRecentlyClosedItem test (#26840)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-automation-1

Add animated CALayer
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

add animation
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Add CAShapeLayer border
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Bookmark work
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Fix beginning and end values
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

WIP
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Adjustments
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

animating but wrong view area
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Remove isAnimating bools
  firefox-ios/Client/Frontend/Browser/Tabs/State/TabsPanelState.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update when we fire the screenshot code step 1
  firefox-ios/Client/Frontend/Browser/Tabs/State/TabsPanelState.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

change border to shadow
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

fix timing issue with border going slower than the bvc view
  firefox-ios/Client/Frontend/Browser/Tabs/Views/Animation/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

remove comment
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
Owners: @mozilla-mobile/fxios-eng

make linter happy
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Fix logic with swipeFromIndex
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix font jitter when swiping
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Fix a theoretical false positive for tab loss metric
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Logging
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Comments
  firefox-ios/Client/TabManagement/TabManager.swift
Owners: @mozilla-mobile/fxios-eng

Initial attempt at performance optimization for remove all tabs
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-0000 Fix theoretical tab loss false positive (#26855)
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-0000 Fix theoretical tab loss false positive (#26855)
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

Rewrite URLFormatter's scheme handling
  BrowserKit/Sources/WebEngine/Utilities/URLFormatter.swift
  BrowserKit/Tests/WebEngineTests/Utilities/URLFormatterTests.swift
Owners: @mozilla-mobile/fxios-eng

Add [MTE-4603]-identifier for tabs tray string
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PrivateBrowsingTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

FXIOS-12317 #26826 ⁃ [Menu Redesign] Update design for menu cells
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuCollectionView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
Owners: @mozilla-mobile/fxios-eng

Updated icons color
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
Owners: @mozilla-mobile/fxios-eng

Change the release tag name to contain the product name
  taskcluster/ffios_taskgraph/release_promotion.py
  taskcluster/test/params/release-promote-beta.yml
  taskcluster/test/params/release-promote.yml
  taskcluster/test/params/release-push-beta.yml
  taskcluster/test/params/release-push.yml
  taskcluster/test/params/release-ship-beta.yml
  taskcluster/test/params/release-ship.yml
Owners: @mozilla-mobile/fxios-automation-1

Refactor screenshots utility and add first implementation for add new tab gesture
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Extensions/UIView+Screenshot.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
  firefox-ios/Client/Frontend/Components/ContentContainer.swift
  firefox-ios/Client/Frontend/Components/StatusBarOverlay.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor as per code review
  BrowserKit/Sources/WebEngine/EngineSessionDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/AppLaunchPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/DataSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/HTTPSchemePolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/LocalRequestPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDecider.swift
  BrowserKit/Sources/WebEngine/WKWebview/Policy/WKPolicyDeciderFactory.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockPolicyDecider.swift
  BrowserKit/Tests/WebEngineTests/Policy/AppLaunchPolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/DataSchemePolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/HTTPSchemePolicyDeciderTests.swift
  BrowserKit/Tests/WebEngineTests/Policy/LocalRequestPolicyDeciderTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix typo
  SampleBrowser/SampleBrowser/testPopUp.html
Owners: @mozilla-mobile/fxios-eng

Address nits.
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
