Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Make subclasses ThemeApplicable
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontSizeButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontTypeButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeSettingsButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeThemeButton.swift
Owners: @mozilla-mobile/fxios-eng

Define serif font name as part of UX
  firefox-ios/Client/Frontend/Reader/View/ReaderModeFontSizeButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeSettingsButton.swift
  firefox-ios/Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11724 - [Toolbar UI Experiments] - Center URL textfield (#25713)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11724 - [Toolbar UI Experiments] - Center URL textfield (#25713)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWebServer.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  BrowserKit/Tests/WebEngineTests/WKWebServerUtilTests.swift
Owners: @mozilla-mobile/fxios-eng

disable address tests
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11724 - [Toolbar UI Experiments] - Center URL textfield (#25713)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11808 [Blueprint Download Manager] - Remove Motion Blur When Progress is Updated (#25754)
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11810 [Felt Privacy] toggle mask and show private toggle (#25756)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Header/HeaderAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Header/HomepageHeaderCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/HomeLogoHeaderViewModel.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/LegacyHomepageHeaderCell.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/HomepageTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TodayWidgetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Remove FXIOS-11810 [Felt Privacy] toggle mask and show private toggle (#25756)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Header/HeaderAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Header/HomepageHeaderCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/HomeLogoHeaderViewModel.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/LegacyHomepageHeaderCell.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/HomepageTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TodayWidgetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Remove FXIOS-11810 [Felt Privacy] toggle mask and show private toggle (#25756)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Header/HeaderAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Header/HomepageHeaderCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/HomeLogoHeaderViewModel.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/LegacyHomepageHeaderCell.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TodayWidgetTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Added FXIOS-11603 [Tab Tray UI Experiments] Add Full Screen Presentation and Dismissal Animation to Tab Tray (#25653)
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Router/DefaultRouter.swift
  firefox-ios/Client/Coordinators/Router/Router.swift
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Extensions/UIView+Extension.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/BasicAnimationControllerDelegate.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockRouter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
  firefox-ios/nimbus-features/tabAnimationFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Rename ActionProviderBuilder
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

add context menu probes
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11526 [Homepage] [Telemetry] event for tapping on items
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/NavigationBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11581 Remote Settings sync() coordination (#25736)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/RemoteSettingsServiceSyncCoordinator.swift
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Put testDeleteAddress back to smoketest1
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11522 [Homepage] [Telemetry] general homepage impression
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabTrayAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

add web context menu action telemetry
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
  firefox-ios/Client/Telemetry/ContextMenuTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

differentiate between web and image links
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Telemetry/ContextMenuTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

add shown and dismissed telemetry for context menu
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

fix dismiss telemetry + lint
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Telemetry/ContextMenuTelemetry.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11633] Ensure default engine ordering is correct for AS engines
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11633] Minor cleanup
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineSelector.swift
Owners: @mozilla-mobile/fxios-eng

update data review field for new metrics
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Fix reachEditAndRemoveAddress
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix naming issue
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ReaderMode/WKReaderModeHandlers.swift
Owners: @mozilla-mobile/fxios-eng

update option_selected extra key
  firefox-ios/Client/Telemetry/ContextMenuTelemetry.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

add unit tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ContextMenuTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

change view when there are only content encoded files
  firefox-ios/Client/Frontend/Library/Downloads/DownloadsPanel.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

remove unused code
  firefox-ios/Client/Frontend/Library/Downloads/DownloadsPanel.swift
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

separate test into different test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

fix typo
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11798 Web view context menu telemetry (#25805)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Telemetry/ContextMenuTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ContextMenuTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11798 Web view context menu telemetry (#25805)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Telemetry/ContextMenuTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ContextMenuTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11798 Web view context menu telemetry (#25805)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Telemetry/ContextMenuTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ContextMenuTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

fix: revert removal of download completion callback
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

style: swiftlint fix
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

style: reformat code
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
