Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Adjust height of bottom constraint based on device type.
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
Owners: @mozilla-mobile/fxios-eng

Remove comment.
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] HomepageRebuild - HomepageDiffableDatasource
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInTabConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketStoryConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Resolve main thread violation in hero image fetching.
  BrowserKit/Sources/SiteImageView/ImageProcessing/HeroImageFetcher/HeroImageFetcher.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12816 #27916 ⁃ [Menu redesign] "Save as PDF" to Files does not complete any action — file not saved
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] HomepageRebuild - HomepageDiffableDatasource (#27918)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInTabConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketStoryConfiguration.swift
Owners: @mozilla-mobile/fxios-eng

Fix test and write additional one.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12816 ⁃ [Menu redesign] "Save as PDF" to Files does not complete any action — file not saved (#27952)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12818 #27919 ⁃ [Menu redesign] “Set as default browser” banner reappears in menu every time, even after being dismissed
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12284 - [Toolbar UI Experiments] - Minimal toolbar on scroll animation (#27852)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarUXConfiguration.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TabScrollController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] HomepageRebuild - SectionLayoutProvider + DimensionCalculator
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDimensionImplementation.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12823 [Tab tray UI experiment] Re-enable drag and drop (#27935)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabDisplayViewDragAndDropInteraction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabDisplayPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12823 [Tab tray UI experiment] Re-enable drag and drop (#27935)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabDisplayViewDragAndDropInteraction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabDisplayPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12818 ⁃ [Menu redesign] “Set as default browser” banner reappears in menu every time, even after being dismissed (#27954)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDimensionCalculatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Make LoggerFileManager Sendable (#27934)
  BrowserKit/Sources/Common/Logger/LoggerFileManager.swift
  BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add @MainActor isolation to `FaviconImageView` and `HeroImageView` due to inheriting from UIKit views.
  BrowserKit/Sources/SiteImageView/FaviconImageView.swift
  BrowserKit/Sources/SiteImageView/SiteImageView.swift
Owners: @mozilla-mobile/fxios-eng

Update package unit tests for new @MainActor synchronization.
  BrowserKit/Tests/SiteImageViewTests/SiteImageViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12820 [Homepage Rebuild] collection view not bouncing when content is not scrollable
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

clean up comment
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

BugFix [Swift 6] FXIOS-12583 region based isolation in Pocket business logic (#27772)
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketManager.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketDataAdaptor.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryProvider.swift
  firefox-ios/Providers/Pocket/PocketProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/FirefoxHomeViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockPocketManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockPocketAPI.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS- 12827 - [Swift 6 Migration] - Fix thread safety issue in DefaultHeroImageFetcher - LPMetadataProvider must run on main thread (#27951)
  BrowserKit/Sources/SiteImageView/ImageProcessing/HeroImageFetcher/HeroImageFetcher.swift
Owners: @mozilla-mobile/fxios-eng

Fix misspelling of isDismissible across app.
  firefox-ios/Client/Coordinators/BaseCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Coordinator.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Coordinators/Library/LibraryCoordinator.swift
  firefox-ios/Client/Frontend/Onboarding/Models/IntroViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingKitViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/UpdateViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingViewModelProtocol.swift
  firefox-ios/Client/Frontend/Onboarding/Views/IntroViewController.swift
  firefox-ios/Client/Frontend/Onboarding/Views/UpdateViewController.swift
  firefox-ios/Client/Nimbus/OnboardingFeatureLayer/NimbusOnboardingFeatureLayer.swift
  firefox-ios/Client/Nimbus/OnboardingFeatureLayer/NimbusOnboardingKitFeatureLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BaseCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/LaunchView/LaunchScreenViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockCoordinator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/NimbusOnboardingFeatureLayerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/UpdateViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Set version to 141.0
  version.txt
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-XXXX Fix misspelling of isDismissible across app code (#27963)
  firefox-ios/Client/Coordinators/BaseCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Coordinator.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Coordinators/Library/LibraryCoordinator.swift
  firefox-ios/Client/Frontend/Onboarding/Models/IntroViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingKitViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/OnboardingViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Models/UpdateViewModel.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingViewModelProtocol.swift
  firefox-ios/Client/Frontend/Onboarding/Views/IntroViewController.swift
  firefox-ios/Client/Frontend/Onboarding/Views/UpdateViewController.swift
  firefox-ios/Client/Nimbus/OnboardingFeatureLayer/NimbusOnboardingFeatureLayer.swift
  firefox-ios/Client/Nimbus/OnboardingFeatureLayer/NimbusOnboardingKitFeatureLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BaseCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/LaunchView/LaunchScreenViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockCoordinator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/NimbusOnboardingFeatureLayerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/UpdateViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12821] Remove MIME type check. We want to respect the Content disposition header always, the MIME type is irrelevant.
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/MIMEType.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12821] Remove unused arg
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12821] Comment cleanup
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
Owners: @mozilla-mobile/fxios-eng

Use new string api for localization
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] HomepageRebuild - SectionLayout + DimensionCalculator (#27955)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDimensionImplementation.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDimensionCalculatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Annotate unit tests @MainActor instead of async.
  BrowserKit/Tests/SiteImageViewTests/SiteImageViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12583 [Swift 6 Migration] Tab.swift cleanup dead KVO code and fix deinit swift 6 issues (#27454)
  .swiftlint.yml
  firefox-ios/Client/AccountSyncHandler.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12821] Unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadHelperTests.swift
Owners: @mozilla-mobile/fxios-eng

Add TestRail links. Fix test name convention.
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add // in front of TestRail links
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add TestRail link to new test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12821 Bugzilla 1976304 (#27928)
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadHelper.swift
  firefox-ios/Client/Frontend/Browser/DownloadHelper/MIMEType.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadHelperTests.swift
Owners: @mozilla-mobile/fxios-eng

Restore "throw"
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add automation to update nightly app-servcies
  .github/workflows/update-appservices-nightly.yml
  MozillaRustComponents/Package.swift
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

nightlies should open a PR instead, merge into separate branch for now
  .github/workflows/update-appservices-nightly.yml
  scripts/update_from_application_services.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng
