Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11541 [Toolbar UI Experiments] Update cancel button in edit mode (#25202)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  BrowserKit/Sources/ToolbarKit/ToolbarElement.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarActionConfiguration.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11541 [Toolbar UI Experiments] Update cancel button in edit mode (#25202)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/ToolbarButton.swift
  BrowserKit/Sources/ToolbarKit/ToolbarElement.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/NavigationToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarActionConfiguration.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

chore: remove nimbus flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentEnd/LegacyNightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentEnd/NightModeHelper.js
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/darkReaderFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11454 [Toolbar UI Experiments] Update navigation toolbar redux (#25064)
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

FXIOS-11576 #25206 ⁃ Weird animation when the search view is shown
  firefox-ios/Client/Frontend/Browser/Search/SearchViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Update focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
Owners: @mozilla-mobile/fxios-eng

Add terms links
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Settings/Controller/AboutViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11565 [Homepage] [Telemetry] initial top sites
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockGleanWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Add long press gesture for location view
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Fix Swiftlint error
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-10930 Focus iOS ToS Card in Onboarding (#25124)
  focus-ios/Blockzilla/BrowserViewController.swift
  focus-ios/Blockzilla/Onboarding/OnboardingConstants.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/Blockzilla/Settings/Controller/AboutViewController.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/DesignSystem/Color+AppColors.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/DesignSystem/Colors.xcassets/Accent.colorset/Contents.json
  focus-ios/BlockzillaPackage/Sources/Onboarding/Handler/OnboardingEventsHandlerV1.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/Handler/OnboardingEventsHandlerV2.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/Handler/OnboardingEventsHandling.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/GetStartedOnboardingView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/OnboardingView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/OnboardingViewModel.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/Styles/PrimaryButtonStyle.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/Styles/TextStyle.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/TermsOfServiceView.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/UI Components/AttributedLinkText.swift
  focus-ios/BlockzillaPackage/Sources/Onboarding/SwiftUI Onboarding/UI Components/WebView.swift
  focus-ios/focus-ios-tests/XCUITest/OnboardingTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add README to l10n folder
  .github/l10n/README.md
Owners: @mozilla-mobile/fxios-eng

Fix comments
  firefox-ios/Shared/Strings.swift
  firefox-ios/Shared/en-US.lproj/Storage.strings
Owners: @mozilla-mobile/fxios-eng

Add string linter for reference content in Firefox and Focus
  .github/l10n/linter_config_focus.json
  .github/l10n/linter_config_ios.json
  .github/workflows/firefox-ios-l10n-linter.yml
  .github/workflows/focus-ios-l10n-linter.yml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Run linter from within code_repo folder
  .github/workflows/firefox-ios-l10n-linter.yml
  .github/workflows/focus-ios-l10n-linter.yml
Owners: @mozilla-mobile/fxios-automation-1

Update Focus config
  .github/l10n/linter_config_focus.json
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11565 [Homepage] [Telemetry] initial top sites (#25181)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSiteConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockGleanWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11585 [Dark Reader] Enable DR by default (#25233)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentEnd/LegacyNightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentEnd/NightModeHelper.js
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/darkReaderFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11585 [Dark Reader] Enable DR by default (#25233)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentEnd/LegacyNightModeHelper.js
  firefox-ios/Client/Frontend/UserContent/UserScripts/MainFrame/NightModeAtDocumentEnd/NightModeHelper.js
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/darkReaderFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11580 #25211 support to allow download of png and jpeg extension files (#25212)
  firefox-ios/Client/Frontend/Browser/DownloadHelper/MIMEType.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11580 #25211 support to allow download of png and jpeg extension files (#25212)
  firefox-ios/Client/Frontend/Browser/DownloadHelper/MIMEType.swift
Owners: @mozilla-mobile/fxios-eng

Localize FXIOS-11558 Introduce string reference linter in GitHub workflows (#25209)
  .github/l10n/README.md
  .github/l10n/linter_config_focus.json
  .github/l10n/linter_config_ios.json
  .github/workflows/firefox-ios-l10n-linter.yml
  .github/workflows/focus-ios-l10n-linter.yml
  firefox-ios/Shared/Strings.swift
  firefox-ios/Shared/en-US.lproj/Storage.strings
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bump - Set version to 136.2
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Add FXIOS-11520 [App Icon 2025] Adjust localized string key for alternative gradient icons (manual backport #25168) (#25220)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix tab switch issue, Add handling for network error
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

lint
  firefox-ios/Client/Frontend/Browser/TemporaryDocument.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 136.2 (#25240)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Added related unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTemporaryDocument.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11498 [Homepage] behavioral targeting event for microsurvey
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Protect tab manager with PDF feature flag
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Initialize app services before any other rust components
  firefox-ios/Client/Application/AppLaunchUtil.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11574 - [Toolbar UI Experiments] - Make sure long press action works everywhere for LocationTextField (#25237)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11574 - [Toolbar UI Experiments] - Make sure long press action works everywhere for LocationTextField (#25237)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
