Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Refactor #26652 ⁃ Turn on Appearance settings screen for developer and beta channel (#26655)
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor #26652 ⁃ Turn on Appearance settings screen for developer and beta channel (#26655)
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor #26652 ⁃ Turn on Appearance settings screen for developer and beta channel (#26655)
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
Owners: @mozilla-mobile/fxios-eng

Constraint centered locationview to self instead of superview
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Revert "Refactor #26652 ⁃ Turn on Appearance settings screen for developer and beta channel (#26655)"
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
Owners: @mozilla-mobile/fxios-eng

FXIOS-12126 #26384 ⁃ [Toast audit] Remove toast after URL is copied
  firefox-ios/Client/Coordinators/ShareSheetCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/ToastType.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetProtocol.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12240 [Nimbus] Advanced targeting for existing bottom toolbar users (#26647)
  firefox-ios/Client/Experiments/Experiments.swift
  firefox-ios/Client/Experiments/RecordedNimbusContext.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Nimbus/RecordedNimbusContextTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12240 [Nimbus] Advanced targeting for existing bottom toolbar users (#26647)
  firefox-ios/Client/Experiments/Experiments.swift
  firefox-ios/Client/Experiments/RecordedNimbusContext.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Nimbus/RecordedNimbusContextTests.swift
Owners: @mozilla-mobile/fxios-eng

Revert NO_TICKET "Refactor #26652 ⁃ Turn on Appearance settings screen for developer and beta channel (#26655)" (#26668)
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12123 #26381 ⁃ [Toast audit] toast related to adding/removing shortcuts (#26539)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/ToastType.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSiteHistoryManager.swift
  firefox-ios/Client/Frontend/Home/TopSites/TopSitesViewModel.swift
  firefox-ios/Storage/PinnedSites.swift
Owners: @mozilla-mobile/fxios-eng

Update Experiments.swift
  firefox-ios/Client/Experiments/Experiments.swift
Owners: @mozilla-mobile/fxios-eng

Update RecordedNimbusContextTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Nimbus/RecordedNimbusContextTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12123 #26381 ⁃ [Toast audit] toast related to adding/removing shortcuts (#26539)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/ToastType.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSiteHistoryManager.swift
  firefox-ios/Client/Frontend/Home/TopSites/TopSitesViewModel.swift
  firefox-ios/Storage/PinnedSites.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12185 [Toolbar Redesign] For some long domain names, the domain name almost touches the reader view icon (#26669)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12185 [Toolbar Redesign] For some long domain names, the domain name almost touches the reader view icon (#26669)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12107 [Tab tray UI experiment] HistoryTabTrayUIExperimentTests and adapt drag and drop tests (#26424)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ExperimentIntegrationTests.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/PerformanceTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/SyncIntegrationTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FeatureFlaggedTestBase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTabTrayUIExperimentTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-12154 #26444 [Tab tray] trash can telemetry (#26584)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/Telemetry/TabsPanelTelemetry.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Fix conflicts
  firefox-ios/Client/Telemetry/TabsPanelTelemetry.swift
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Conflict
  firefox-ios/Client/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-10865 [Periphery] Clean up BrowserKit (#26497)
  BrowserKit/Sources/Common/Constants/NotificationConstants.swift
  BrowserKit/Sources/Common/Extensions/UIButton.ConfigurationExtension.swift
  BrowserKit/Sources/Common/Extensions/UIStackViewExtension.swift
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/ComponentLibrary/BottomSheet/BottomSheetViewController.swift
  BrowserKit/Sources/ComponentLibrary/CardView.swift
  BrowserKit/Sources/ComponentLibrary/FadeScrollView.swift
  BrowserKit/Sources/MenuKit/MenuCell.swift
  BrowserKit/Sources/MenuKit/MenuDetailView.swift
  BrowserKit/Sources/MenuKit/MenuMainView.swift
  BrowserKit/Sources/MenuKit/MenuTableView.swift
  BrowserKit/Sources/Shared/AppName.swift
  BrowserKit/Sources/Shared/Extensions/URLRequestExtensions.swift
  BrowserKit/Sources/Shared/FeatureSwitch.swift
  BrowserKit/Sources/SiteImageView/Entities/SiteImageModel.swift
  BrowserKit/Sources/SiteImageView/FaviconImageView.swift
  BrowserKit/Sources/SiteImageView/HeroImageViewModel.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/ImageDomain.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/SiteImageFetcher/SVGImageProcessor.swift
  BrowserKit/Sources/SiteImageView/SiteImageHandler.swift
  BrowserKit/Sources/ToolbarKit/NavigationToolbar/BrowserNavigationToolbar.swift
  BrowserKit/Sources/UnifiedSearchKit/SearchEngineCell.swift
  BrowserKit/Sources/WebEngine/EngineConstants.swift
  BrowserKit/Sources/WebEngine/WKWebview/Extension/URLExtension.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/ImageHandlerTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuDetailsViewController.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSiteHistoryManager.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSitesDataAdaptor.swift
  firefox-ios/firefox-ios-tests/Tests/SharedTests/FeatureSwitchTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11997 [Tab Tray UI Experiment] Fix animation on URL bar by stopping keyboard coming up automatically (#26390)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11997 [Tab Tray UI Experiment] Fix animation on URL bar by stopping keyboard coming up automatically (#26390)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11997 [Tab Tray UI Experiment] Fix animation on URL bar by stopping keyboard coming up automatically (#26390)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Remove experiment test fo r 139 release branch
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12187 [Tab tray UI experiment] Add a cap to scaled font (#26625)
  BrowserKit/Sources/Common/Utilities/DynamicFontHelper.swift
  BrowserKit/Sources/Common/Utilities/TextStyling.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12187 [Tab tray UI experiment] Add a cap to scaled font (#26625)
  BrowserKit/Sources/Common/Utilities/DynamicFontHelper.swift
  BrowserKit/Sources/Common/Utilities/TextStyling.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

Fix theme
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add pill animated background
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
Owners: @mozilla-mobile/fxios-eng

WIP animation between tabs panel
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Sliding the panels
  firefox-ios/Client/Frontend/Browser/Tabs/State/TabTrayPanelType.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix the animation
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Ensure we set coordinator and initial VC
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Change to a page view contrller
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Pill animation is re-done
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

I am having so much fun
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Rename function
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Decrease warning and error threshold
  .swiftlint.yml
Owners: @mozilla-mobile/fxios-eng

Extract the MainMenuActionType to a new function
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Extract the GeneralBrowserActionType to a new function
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Extract the event pings section to a new property
  focus-ios/Blockzilla/InternalSettings/InternalTelemetrySettingsView.swift
Owners: @mozilla-mobile/fxios-eng
