Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

fix: lint
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

feat: toggle features based on flag
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/ThemeSetting.swift
Owners: @mozilla-mobile/fxios-eng

fix: revert change from rebase
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

Specify "x" character for iPad only
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix testCloseOneTab
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-automation-1

fix: protocol conformance in mock
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
Owners: @mozilla-mobile/fxios-eng

Fix "x" for other tests (iPad only)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabCounterTests.swift
Owners: @mozilla-mobile/fxios-automation-1

fix: change strings in new menu too
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Turn off launch args to get top sites again
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-automation-1

No more jump back in
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Change structure of the top sites links
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix [PDF Refactor] FXIOS fix PDFs refactor related issue (#25345)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/StatefulButton.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [PDF Refactor] FXIOS fix PDFs refactor related issue (#25345)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/StatefulButton.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContentContainerTests.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11656 #25404 ⁃ iPad - Toast "Downloads" button doesn't navigate to downloads panel
  firefox-ios/Client/Frontend/Browser/Toast.swift
Owners: @mozilla-mobile/fxios-eng

Add DISCO-3327 - Send appContext to RemoteSettingsService (#25287)
  firefox-ios/Providers/Profile.swift
Owners: @mozilla-mobile/fxios-eng

Bump FXIOS/Focus [Dependencies] Glean v64.0.0
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/bin/sdk_generator.sh
Owners: @mozilla-mobile/fxios-eng

Remove unused dependency related to engineProvider
  SampleComponentLibraryApp/SampleComponentLibraryApp/Dependency/DependencyHelper.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS [Component Library] unused dependency related to engineProvider (#25408)
  SampleComponentLibraryApp/SampleComponentLibraryApp/Dependency/DependencyHelper.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11612 #25290 ⁃ "Sync and Save Data" features two overlapping icons (#25399)
  firefox-ios/Client/Frontend/Settings/Main/Account/SyncNowSetting.swift
Owners: @mozilla-mobile/fxios-eng

Update project config to use version.xcconfig
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11612 #25290 ⁃ "Sync and Save Data" features two overlapping icons (#25399)
  firefox-ios/Client/Frontend/Settings/Main/Account/SyncNowSetting.swift
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 136.4
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Added FXIOS-11615 Update Focus to use version.txt (#25396)
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
  focus-ios/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Bump - Set version to 136.4 (#25412)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Implement AddressBarPanGestureHandler
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Fix Swiftlint errors
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Add correct background color for contentStackView
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

restore var
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Revert fixes for button toast alignment
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
Owners: @mozilla-mobile/fxios-eng

Fix some copy and paste errors in Strings.swift comments.
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add tests
  firefox-ios/Client/Frontend/Toolbar+URLBar/TabToolbar.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Revert FXIOS-11658 #25410 ⁃ ButtonToast (Downloads & Undo close tabs) layout is broken for normal text size (#25419)
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
Owners: @mozilla-mobile/fxios-eng

Version bump 11.0.0 (#872)
  .circleci/config.yml
  .github/workflows/merge_tests.yml
  .github/workflows/snapshot_tests.yml
  .github/workflows/swift_lint.yml
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Revert "Version bump 11.0.0 (#872)" (#874)
  .circleci/config.yml
  .github/workflows/merge_tests.yml
  .github/workflows/snapshot_tests.yml
  .github/workflows/swift_lint.yml
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-11534 [Dark Reader] Add Appearance Setting View (#25229)
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/automaticBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/darkBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/lightBrowserThemeGradient.pdf
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeSelectionView.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/ThemeSetting.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeMiddleware.swift
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11596 [Tab tray UI experiment] Adjust background color, adjust X button (#25337)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-11534 [Dark Reader] Add Appearance Setting View (#25229)
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/automaticBrowserThemeGradient.imageset/automaticBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/darkBrowserThemeGradient.imageset/darkBrowserThemeGradient.pdf
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/lightBrowserThemeGradient.imageset/lightBrowserThemeGradient.pdf
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/AppearanceSettingsView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/DarkModeToggleView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/GenericSectionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeOptionView.swift
  firefox-ios/Client/Frontend/Settings/AppearanceSettings/ThemeSelectionView.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/ThemeSetting.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeMiddleware.swift
  firefox-ios/Client/Frontend/TabContentsScripts/NightModeHelper.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockThemeManager.swift
  firefox-ios/nimbus-features/newAppearanceMenu.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11596 [Tab tray UI experiment] Adjust background color, adjust X button (#25337)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HistoryTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/JumpBackInTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-XXX Fix some copy and paste errors in Strings.swift comments. (#25420)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
