Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Fix issues
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuAccountCell.swift
Owners: @mozilla-mobile/fxios-eng

Fix issues
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
Owners: @mozilla-mobile/fxios-eng

Add WebEngine integration refactor feature
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/webEngineIntegrationRefactor.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12475 - Weird behavior of the URL bar (#27237)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12475 - Weird behavior of the URL bar (#27237)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12475 - Weird behavior of the URL bar (#27237)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-1235 7#26922 ⁃ Resolve testHistory - testInsertPerformance() (#27226)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/ProfileTest.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TestBookmarks.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TestHistory.swift
Owners: @mozilla-mobile/fxios-eng

Add back baseline layout
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarLayoutStyle.swift
  firefox-ios/Client/Frontend/Onboarding/Views/OnboardingMultipleChoiceCardViewController.swift
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Default to version1
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/NavigationBarState.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12363 ⁃ [Menu Redesign] Update horizontal squares options to the latest design (#27115)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuCollectionView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquareCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
  BrowserKit/Sources/MenuKit/MenuSection.swift
  firefox-ios/Client/Assets/Images.xcassets/bookmarkTrayLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/bookmarkTrayLarge.imageset/bookmarkTrayLarge.pdf
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
Owners: @mozilla-mobile/fxios-eng

Add [WebEngine integration] FXIOS-8655 WebEngine integration refactor feature (#27242)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/FeatureFlags/FeatureFlagsDebugViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/webEngineIntegrationRefactor.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12497 [Felt Privacy - Simplified UI] add back UI tests
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

clean up
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

Turn on one tap + swiping tabs + translucency for beta and dev
  firefox-ios/nimbus-features/toolbarRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

FXIOS-12474 #27200 ⁃ [Menu Redesign] Set up the menu options for homepage
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignTableView.swift
  BrowserKit/Sources/MenuKit/MenuSection.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fixed SwiftLint warning
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12437, FXIOS-12468 [TA 2025] Add settings.changed event and migrate preferences.changed out of TelemetryWrapper (#27180)
  firefox-ios/Client/Frontend/Settings/ContentBlockerSettingViewController.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Frontend/Settings/SearchBar/SearchBarSettingsViewModel.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/SettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/SettingsTelemetry.swift
  firefox-ios/Client/Glean/probes/settings.yaml
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryWrapperTests.swift
Owners: @mozilla-mobile/fxios-eng

Make some adjustments
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Fix test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/NavigationBarStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Move configuration totally out of the tab manager
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/TabManagement/DefaultWKEngineConfigurationProvider+Prefs.swift
  firefox-ios/Client/TabManagement/TabConfigurationProvider.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

wip
  BrowserKit/Sources/Common/Utilities/Notifiable.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionHandler.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/Client/Frontend/Microsurvey/Survey/MicrosurveyCoordinator.swift
  firefox-ios/Client/Frontend/Settings/Clearables.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/WallpaperSettings/v1/WallpaperSettingsViewModel.swift
  firefox-ios/Client/Frontend/Settings/SettingsContentViewController.swift
  firefox-ios/Client/Frontend/TrackingProtection/TrackigProtectionRedux/TrackingProtectionModel.swift
  firefox-ios/Client/TabManagement/DefaultWKEngineConfigurationProvider+Prefs.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockNotificationCenter.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TrackingProtectionTests/TrackingProtectionModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Resolve merge conflicts
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12439 [Tab Tray UI Experiment] Make ExperimentTabCell constraint match Figma (#27229)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTitleSupplementaryView.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12469 [TA 2025] Update MockGleanWrapper functionality to test extras from multiple events fired in a single test (#27197)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/AppIconSelection/AppIconSelectionTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/UnifiedAdsCallbackTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarksTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockGleanWrapper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/PrivateBrowsingTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SettingsTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Sharing/ShareTelemetryActivityItemProviderTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/SponsoredTileTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/InactiveTabsTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ContextMenuTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/HistoryDeletionUtilityTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/MainMenuTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ToastTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ZoomTelemetryTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/ToolbarMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12463 [Telemetry Audit] Delete Phase 1: Misc. telemetry probes (#27199)
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Remove temporary test metrics.
  firefox-ios/Client/Glean/probes/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

delete unused history metrics
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Storage/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Adjust unit tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabDisplayViewDragAndDropInteraction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabDisplayPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix BookmarkTests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix ReadingListTests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReadingListTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix TabsTests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TabsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix TabsTestsIphone
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-12439 [Tab Tray UI Experiment] Make ExperimentTabCell constraint match Figma (#27229)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTitleSupplementaryView.swift
Owners: @mozilla-mobile/fxios-eng

Add unit tests for the new settings.changed probe. Add unit test to ensure settings.probe calls the original preferences.changed probe as well.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SettingsTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-12391 [TA 2025] Remove temporary test metrics (#27257)
  firefox-ios/Client/Glean/probes/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12489 [Tab tray UI experiment] Disable swipe when drag and drop happens (#27225)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabDisplayViewDragAndDropInteraction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabDisplayPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12489 [Tab tray UI experiment] Disable swipe when drag and drop happens (#27225)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabDisplayViewDragAndDropInteraction.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabDisplayPanelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabTrayViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-FXIOS-12461 [Telemetry Audit] Delete unused history probes (#27236)
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Storage/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-27161 Delete history places migration probes (#27211)
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Glean/probes/metrics.yaml
Owners: @mozilla-mobile/fxios-eng

fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Microsurvey/MicrosurveyCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHome/StartAtHomeHelperTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/WallpaperSettingsViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng
