Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Bugfix FXIOS-12446 - [Toolbar Redesign] - Center URL Text in Address Bar with respect to its Superview and Prevent Overlap with Reader Mode Icon (#27143)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

More danger test
  Dangerfile.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

seems to be the matching logic that fails
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Rename class because Test is filter out + revert webengine test
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/DangerRuleCheck.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Fix messaging to receive warning
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

fix variable
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Another test with new warning to help debug
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Add 2 new files to check if warns works for mutliple files
  Dangerfile.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/SecondDangerCheck.swift
Owners: @mozilla-mobile/fxios-eng

Refactor matching logic to match filename only
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Add empty file
  Dangerfile.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/TestDangerRule.swift
Owners: @mozilla-mobile/fxios-eng

debug
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Testing another version
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Add contact and update to warning
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Send a single warning with the number of files without coverage
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Comment bitrise UItest step to focus on danger step
  Dangerfile.swift
  bitrise.yml
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

revert bitrise change
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Clean up warnings
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

Simplify logic and extra warning to check json is working
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

test if file appears now in coverage.json
  firefox-ios/Client/SecondDangerCheck.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12306 #26802 ⁃ [Menu Redesign] Update MainMenuConfigurationUtility based on the final design (#27303)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/saveFileLarge.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/saveFileLarge.imageset/saveFileLarge.pdf
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuAction.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Settings/ThemeSettings/ThemeMiddleware.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix match check, coverage.json only has filename and extension
  Dangerfile.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12397 #27040 ⁃ [Menu Redesign] Implement the logic for Site Protections Menu Header
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignMainView.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuAction.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuMiddleware.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MainMenuState.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Redux/MenuNavigationDestination.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Check if toolbar is set to bottom before enabling pan gesture.
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Fixed SwiftLint Warning
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Fixed SwiftLint Warning
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

new homepage removal
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageSectionLayoutProvider.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/PocketFooterView.swift
Owners: @mozilla-mobile/fxios-eng

old homepage removal
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-27112 Update FirefoxTelemetryUtility.sh to automatically update tags.yaml (#27279)
  FirefoxTelemetryUtility.sh
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12509 [TA 2025] Add event for history migration and rework logic to only migrate on upgrades, not fresh installs (#27267)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Frontend/Library/HistoryTelemetry.swift
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/history.yaml
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Add the 4 library YAML files.
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/library.bookmarks_panel.yaml
  firefox-ios/Client/Glean/probes/library.downloads_panel.yaml
  firefox-ios/Client/Glean/probes/library.history_panel.yaml
  firefox-ios/Client/Glean/probes/library.reading_list_panel.yaml
Owners: @mozilla-mobile/fxios-eng

Add the 3 autofill YAML files.
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/autofill.addresses.yaml
  firefox-ios/Client/Glean/probes/autofill.credit_cards.yaml
  firefox-ios/Client/Glean/probes/autofill.passwords.yaml
Owners: @mozilla-mobile/fxios-eng

Add the 1 autofill password generator YAML file.
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/autofill.password_generator.yaml
Owners: @mozilla-mobile/fxios-eng

Add autofill tags and descriptions. Add library panel tags and descriptions.
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Typo fix.
  firefox-ios/Client/Glean/probes/library.reading_list_panel.yaml
Owners: @mozilla-mobile/fxios-eng

Set version to 140.0
  version.txt
Owners: @mozilla-mobile/fxios-eng

Update based on pr feedback
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  firefox-ios/Client/Frontend/Browser/StartAtHome/StartAtHomeMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12548, FXIOS-12549 [TA 2025] Add library and autofill probe YAML files (#27335)
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/autofill.addresses.yaml
  firefox-ios/Client/Glean/probes/autofill.credit_cards.yaml
  firefox-ios/Client/Glean/probes/autofill.password_generator.yaml
  firefox-ios/Client/Glean/probes/autofill.passwords.yaml
  firefox-ios/Client/Glean/probes/library.bookmarks_panel.yaml
  firefox-ios/Client/Glean/probes/library.downloads_panel.yaml
  firefox-ios/Client/Glean/probes/library.history_panel.yaml
  firefox-ios/Client/Glean/probes/library.reading_list_panel.yaml
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12215 [Content Feed] Update content feed design elements (#27297)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketState.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionType.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketDiscoverCell.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryProvider.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketFeedTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/ContextMenu/ContextMenuConfigurationTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/pocketglobalfeed.json
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12215 [Content Feed] Update content feed design elements (#27297)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuConfiguration.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketState.swift
  firefox-ios/Client/Frontend/Home/HomepageSectionType.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketDiscoverCell.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/StoryProvider.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Telemetry/HomepageTelemetry.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketFeedTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/Pocket/PocketViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/ContextMenu/ContextMenuConfigurationTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/PocketStateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/pocketglobalfeed.json
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Update PocketTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PocketTests.swift
Owners: @mozilla-mobile/fxios-automation-1
