Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Add FXIOS-12264 - [Toolbar - Swipe Tabs Animation] - The url addresses are displayed with a lag when swiping (#26950)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Improved layoutSubviews() method logic
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
Owners: @mozilla-mobile/fxios-eng

Changes to handler
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Use selected tab to determine if we are on a homepage
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Linter
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12384 [Onboarding] Add necessary strings for modern onboarding (#27001)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12384 [Onboarding] Add necessary strings for modern onboarding (#27001)
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Hide skeleton bars when editing mode and treat homepage differently.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Make sure cronjobs only run for non staging
  .cron.yml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12394 [Toolbar] Statur bar overlay is transparent when editing url (#27030)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12394 [Toolbar] Statur bar overlay is transparent when editing url (#27030)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Implement RTL.
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Fix swiftlint error.
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Fixed swipe gesture, added favicon preview when screenshots are corrupted
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Improve code readability.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add a cronjob to trigger beta releases 3 times a week
  .cron.yml
Owners: @mozilla-mobile/fxios-eng

Add a beta release task kind and task
  taskcluster/ffios_taskgraph/target_tasks.py
  taskcluster/ffios_taskgraph/transforms/beta_releases.py
  taskcluster/ffios_taskgraph/worker_types.py
  taskcluster/kinds/beta-releases/kind.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/test/params/cron-beta-releases.yml
Owners: @mozilla-mobile/fxios-automation-1

Apply alpha to zoom bar
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageBar.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12380 - [Toolbar - Swipe Tabs Animation] - When opening a new tab, the next/previous tab preview appears even though the keyboard is up (#26993)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12380 - [Toolbar - Swipe Tabs Animation] - When opening a new tab, the next/previous tab preview appears even though the keyboard is up (#26993)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12336 [Toolbar Translucency] Zoom bar is not translucent (#27035)
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageBar.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12336 [Toolbar Translucency] Zoom bar is not translucent (#27035)
  firefox-ios/Client/Frontend/Browser/Zoom/ZoomPageBar.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12356 ⁃ [Menu Redesign] Implement the logic to handle different active states for menu options (#26925)
  BrowserKit/Sources/MenuKit/MenuElement.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuPaddedLabel.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11376 [Web Engine] sample browser + evaluatejavascript
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  SampleBrowser/SampleBrowser/UI/Components/NavigationToolbarContainer.swift
  SampleBrowser/SampleBrowser/UI/Components/NavigationToolbarContainerModel.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12338 Add TestFlight Nightly group to Beta builds using AppStoreConnect API (#26877)
  bitrise.yml
  scripts/nightly_testflight_add_group.py
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Change experiment
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingSyncWithIcons.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingSyncWithIcons.imageset/syncWithIcons.pdf
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingTrackers.imageset/Contents.json
  BrowserKit/Sources/OnboardingKit/Media.xcassets/onboardingTrackers.imageset/trackers.pdf
  BrowserKit/Sources/OnboardingKit/Preview/PreviewModel.swift
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/Headers/onboardingSyncWithIcons.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/Headers/onboardingSyncWithIcons.imageset/syncWithIcons.pdf
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/Headers/onboardingTrackers.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/Headers/onboardingTrackers.imageset/trackers.pdf
  firefox-ios/Client/Nimbus/OnboardingFeatureLayer/NimbusOnboardingFeatureLayer.swift
  firefox-ios/Client/Nimbus/OnboardingFeatureLayer/NimbusOnboardingFeatureLayerProtocol.swift
  firefox-ios/nimbus-features/onboardingFrameworkFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Turn off modern ui
  firefox-ios/nimbus-features/onboardingFrameworkFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Add selected hint for voice over
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

DO NOT MERGE: Temp Test Flight Workflow
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add a wait before adding the nightly group to testflight
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

update mock
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-12404] Allow option for resetting SEC prefs when switching to RS staging server.
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/ChangeRSServerSetting.swift
Owners: @mozilla-mobile/fxios-eng

Swift lint
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12404 [SEC] Staging debug: allow engine prefs reset (#27053)
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/ChangeRSServerSetting.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12404 [SEC] Staging debug: allow engine prefs reset (#27053)
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/ChangeRSServerSetting.swift
Owners: @mozilla-mobile/fxios-eng

add flag
  firefox-ios/nimbus-features/hntBookmarksSectionFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

handle flag, move prefs, and check flag
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Home/Bookmarks/BookmarksViewModel.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Bookmark/BookmarksSectionState.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12331 [TA 2025] Adds a Glean file index, as well as scripts to generate Glean YAML files and automate the Glean SDK Generator Script build phase (#26910)
  FirefoxTelemetryUtility.sh
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/metrics.yaml
  firefox-ios/Client/Glean/probes/settings.yaml
  firefox-ios/bin/sdk_generator.sh
Owners: @mozilla-mobile/fxios-eng

unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/BookmarksSectionStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix this thing
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
