Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Add undo toast telemetry (#25569)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Telemetry/ToastTelemetry.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/Client/tags.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ToastTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

resolve merge conflicts
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Actually change the damping ratio
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
Owners: @mozilla-mobile/fxios-eng

Remove border during animation and remove oscillation at end of the animation
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

bugfix to remove from voiceover when the button is hidden
  BrowserKit/Sources/ComponentLibrary/Buttons/SecondaryRoundedButton.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11456 [Tab tray UI experiment] backport branch (#26015)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/nimbus-features/tabAnimationFeature.yaml
  firefox-ios/nimbus-features/tabTrayUIExperiments.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11970 [Tab Tray Experiment] Fix blue border animation and animation oscillation (#26054)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11970 [Tab Tray Experiment] Fix blue border animation and animation oscillation (#26054)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11970 [Tab Tray Experiment] Fix blue border animation and animation oscillation (#26054)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

update UITests to check that the elements were hidden by accessibility
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Boot simulator before compiling
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Try a different simulator
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

[FXIOS-11972] Fix issue where engines list would be empty if icon records fetch failed
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11972] Bump up the delay after which we perform the RS sync
  firefox-ios/Client/Application/RemoteSettings/Application Services/RemoteSettingsServiceSyncCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

[FXIOS-11972] Log
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineIconDataFetcher.swift
Owners: @mozilla-mobile/fxios-eng

Looks like we boot random iOS 16.4 simulator :-/
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

How about we create device on the fly?
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

iOS simulator name is unique.
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix runtime string
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Let's specify the arch
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Disable iOS 17.5 for now
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix xcodebuild syntax
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Warm up simulator
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix test plan name
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

supress output for the warmup step
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

almost ready
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

do not preboot simulator
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove device type and run time strings
  .github/workflows/focus-ios-ui-tests-previous-os.yml
Owners: @mozilla-mobile/fxios-automation-1

Shorten timeout to 40 min
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Linting
  BrowserKit/Tests/WebEngineTests/Utilities/URLFormatterTests.swift
  firefox-ios/Client/Frontend/Browser/URIFixup.swift
Owners: @mozilla-mobile/fxios-eng

Don't add these tests after all
  BrowserKit/Tests/WebEngineTests/Utilities/URLFormatterTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11965 Remove unused code from ContextualHintViewProvider (#26035)
  BrowserKit/Sources/ComponentLibrary/ContextualHintView/ContextualHintView.swift
  BrowserKit/Sources/ComponentLibrary/ContextualHintView/ContextualHintViewModel.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewController.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/ContextualHints/ContextualHintViewProviderTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-8091 Handle FocusScript on WebEngine + Script handling proposal (#25880)
  BrowserKit/Sources/WebEngine/EngineSession.swift
  BrowserKit/Sources/WebEngine/EngineSessionScriptResponder.swift
  BrowserKit/Sources/WebEngine/EngineTelemetryProxy.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/AdsTelemetryContentScript.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/ContentScriptDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/FocusContentScript.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/AdsTelemetryContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/EngineSessionScriptResponderTests.swift
  BrowserKit/Tests/WebEngineTests/FocusContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockContentScriptDelegate.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockEngineSessionScriptResponder.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockEngineTelemetryProxy.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKContentScriptManager.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
Owners: @mozilla-mobile/fxios-eng

fix tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SceneCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11192: Update Live Activity progress text and circle based on content-encoded downloads (#25651)
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

Refactor Bug 1959916 - Split out legacy metrics
  focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/Blockzilla/metrics.yaml
  focus-ios/Blockzilla/metrics_legacy.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor Bug 1959916 - Remove the unused dau-reporting ping
  focus-ios/Blockzilla/pings.yaml
Owners: @mozilla-mobile/fxios-eng

Revert and upgrade the version
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove import
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11976 - [A11y] - VoiceOver reading hidden elements (#26058)
  BrowserKit/Sources/ComponentLibrary/Buttons/SecondaryRoundedButton.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
