Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Fix popup test
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11431 #24888 ⁃ [Menu redesign][iPad] - The app crashes when saving as pdf (#24889)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11431 #24888 ⁃ [Menu redesign][iPad] - The app crashes when saving as pdf (#24889)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Commit package change
  SampleBrowser/SampleBrowser.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @mozilla-mobile/fxios-eng

Testing
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebViewDelegate.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-9428 [Homepage] viewWillAppear gets called multiple times
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Components/ContentContainer.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

change methods to computed values instead
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

recurse desktop bookmark folder
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/FolderHierarchyFetcher.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/FolderHierarchyFetcher.swift
Owners: @mozilla-mobile/fxios-eng

Fix test WKEngineWebView
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebViewDelegate.swift
Owners: @mozilla-mobile/fxios-eng

add unit tests
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadLiveActivityTest.swift
Owners: @mozilla-mobile/fxios-eng

Completed Ticket
  firefox-ios/Client/Frontend/TabContentsScripts/DownloadContentScript.swift
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/DownloadHelper.js
Owners: @mozilla-mobile/fxios-eng

Updated Comment
  firefox-ios/Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/DownloadHelper.js
Owners: @mozilla-mobile/fxios-eng

Adapt with PR comments
  firefox-ios/Client/Coordinators/Router/Route.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Home/LegacyHomepageViewController.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix test issue
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Add completion handler for tests purpose
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in HowToAddNewComponent.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/HowToAddNewComponent.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in CardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CardView.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in BottomSheetViewController.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/BottomSheetViewController.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in CloseButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CloseButton.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in CollapsibleCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CollapsibleCardView.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in ContextualHintView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ContextualHintView.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in CollapsibleCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CollapsibleCardView.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in HeaderView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/HeaderView.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in ActionFooterView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ActionFooterView.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in LinkButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/LinkButton.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in BottomSheetViewController.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/BottomSheetViewController.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in NavigationHeaderView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/NavigationHeaderView.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in PaddedSwitch.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/PaddedSwitch.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in PrimaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/PrimaryRoundedButton.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in SecondaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/SecondaryRoundedButton.md
Owners: @mozilla-mobile/fxios-eng

Fixup grammar in ShadowCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ShadowCardView.md
Owners: @mozilla-mobile/fxios-eng

Add DuckDuckGo to all locales
  firefox-ios/Client/Assets/Search/SearchPlugins/list.json
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultSearchPrefsTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix typo in contribution guidelines
  CONTRIBUTING.md
Owners: @mozilla-mobile/fxios-eng

Updated MTE-4277 - credit card tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

[MOB-3211] Bring back custom NetError as a different asset file (#853)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Assets/EcosiaNetError.css
  firefox-ios/Client/Assets/EcosiaNetError.html
  firefox-ios/Client/Frontend/InternalSchemeHandler/ErrorPageHelper.swift
  firefox-ios/Client/Frontend/InternalSchemeHandler/InternalSchemeHandler.swift
Owners: @mozilla-mobile/fxios-eng

Document FXIOS-11442 [CONTRIBUTING.md] Fix typo in contribution guidelines (#24909)
  CONTRIBUTING.md
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11433 #24894 [Flaky test] Add completion handler for tests purpose (#24904)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
  firefox-ios/Client/Frontend/Browser/WebView/WebviewViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Update FXIOS-11194 [Stickers] Update code signing for stickers target (#24863)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Configuration/Common.xcconfig
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
