Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

fix: title shouldn't be required when opening tabs shared from another app
  firefox-ios/Storage/SQL/SQLiteQueue.swift
Owners: @mozilla-mobile/fxios-eng

Add mock
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DependencyInjection/DependencyHelperMock.swift
Owners: @mozilla-mobile/fxios-eng

Move observation logic
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

fix: remove title from insert/select ops
  firefox-ios/Storage/SQL/SQLiteQueue.swift
Owners: @mozilla-mobile/fxios-eng

Add a11y labels to stickers
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/1.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/10.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/11.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/12.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/13.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/14.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/15.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/16.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/17.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/18.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/19.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/2.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/20.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/21.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/3.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/4.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/5.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/6.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/7.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/8.sticker/Contents.json
  firefox-ios/sticker/StickersCatalog.xcstickers/Sticker Pack.stickerpack/9.sticker/Contents.json
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10730 [Menu] Focus url bar when opening tabs from menu (#24320)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

fix error uuid
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11133 [Homepage] [MessageCard] Middleware for message card (#24312)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageDiffableDataSource.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/HomepageMessageCardCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardState.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/MessageCard/HomepageMessageCardViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MessageCardMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/MessageCardStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11134 [Homepage] [MessageCard] handling actions for the card
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/HomepageMessageCardCell.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/MessageCardState.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10547 [ShareTo] Queued background tabs shouldn't require a title to be opened (#24355)
  firefox-ios/Storage/SQL/SQLiteQueue.swift
Owners: @mozilla-mobile/fxios-eng

fix to old design
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11133 Update homepage diffable datasource tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11133 Update homepage diffable datasource tests (#24364)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10169 multiple instances of homepage logo cell
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

update code
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

fix flicker
  firefox-ios/Client/Frontend/Library/LibraryViewController/LibraryViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update TabTrayViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-10711 Log event for tab loss bugs (#24328)
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

fix: drop login encryption key from localEncryptionKeys
  firefox-ios/Providers/RustSyncManager.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-10711 Log event for tab loss bugs (#24328)
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

add todo comment
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [Sync] fix: drop login encryption key from localEncryptionKeys (#24369)
  firefox-ios/Providers/RustSyncManager.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10478 Multiple instances of homepage logo cell (#24358)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix alert
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Widgets/TimerSnackBar.swift
Owners: @mozilla-mobile/fxios-eng

Fix strings
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Adjust message
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

Adjust SimpleToast look
  firefox-ios/Client/Frontend/Browser/ActionToast.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
Owners: @mozilla-mobile/fxios-eng

Basic toast changes
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
  firefox-ios/Client/Frontend/Browser/DownloadToast.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Browser/Toast.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/WallpaperSettings/v1/WallpaperSettingsViewController.swift
Owners: @mozilla-mobile/fxios-eng

Adjust to get animation as is before + Adjust constraints and ActionToast
  firefox-ios/Client/Frontend/Browser/ActionToast.swift
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
  firefox-ios/Client/Frontend/Browser/DownloadToast.swift
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Browser/Toast.swift
Owners: @mozilla-mobile/fxios-eng

fix: pull D235713 manually
  firefox-ios/Client/Assets/CC_Script/Helpers.ios.mjs
  firefox-ios/Client/Assets/CC_Script/Overrides.ios.js
Owners: @nbhasin2, @issammani

Turn on bookmarks feature flag on dev
  firefox-ios/nimbus-features/bookmarkRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Changed logic for readability
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Add back in bracket
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Delete extra space
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix some tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Deleting these tests because they were not testing what we think
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/BookmarkPanelViewModelTests.swift
Owners: @mozilla-mobile/fxios-eng

Add accessibility test plan
  firefox-ios/firefox-ios-tests/Tests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/ClientTests/AccessibilityTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySearchTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Set correct team
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Add accessibility test plan
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11ySearchTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Report the missing accessibility elements
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
Owners: @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
