Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Add FXIOS-11008 [Homepage] sponsored tiles telemetry (#26172)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesAction.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Mock/MockSponsoredTelemetry.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/TopSitesMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11523 [Homepage] telemetry not being sent for open new tab
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

use the normalized host name for url display
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
Owners: @mozilla-mobile/fxios-eng

fix ui test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-11993 [SEC] Search URL conversion tests (#26158)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RemoteSettings/ASSearchEngineUtilitiesTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11523 [Homepage] telemetry not being sent for open new tab (#26183)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11523 [Homepage] telemetry not being sent for open new tab (#26183)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/GeneralBrowserAction.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageMiddleware.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Redux/HomepageState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageMiddlewareTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/Redux/HomepageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

update tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11950 [Feature flag cleanup] Remove reduxSearchSettings flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/reduxSearchSettingsFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

reduce height of context menu preview
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/ContextMenuPreviewViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove feature flag
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11799 [Profile] Decouple SearchEnginesManager from Profile
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Application/DependencyHelper.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/Redux/SearchEngineSelectionMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Models/AddressToolbarContainerModel.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesMiddleware.swift
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/TopSitesDataAdaptor.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/LocalDesktopFolder.swift
  firefox-ios/Client/Frontend/Settings/CustomSearchViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/SearchSetting.swift
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/SettingsTableViewController.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/URLBarView.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/TopSitesDataAdaptorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Toolbar/AddressToolbarContainerModelTests.swift
Owners: @mozilla-mobile/fxios-eng

bugfix - hide accessibility elements from Homepage when in search suggestion results
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11835 #25798 Resolve flaky test for testPrivateHomepageViewController_simpleCreation_hasNoLeaks() (#26192)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/PrivateHomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

WIP Bitrise Use new M4 machines
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12036 [Homepage] scroll to top on opening a new homepage
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

use m4 xlarge
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Remove FXIOS-11950 [Feature flag cleanup] Remove reduxSearchSettings flag (#26200)
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/nimbus-features/reduxSearchSettingsFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12030 [Tracking protection] Turn on tracking protection refactor in Beta builds (#26191)
  firefox-ios/nimbus-features/trackingProtectionRefactor.yaml
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12030 [Tracking protection] Turn on tracking protection refactor in Beta builds (#26191)
  firefox-ios/nimbus-features/trackingProtectionRefactor.yaml
Owners: @mozilla-mobile/fxios-eng

pr fix
  firefox-ios/nimbus-features/homescreenFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12036 [Homepage] scroll to top on opening a new homepage (#26210)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12036 [Homepage] scroll to top on opening a new homepage (#26210)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11958 [Splash screen] Disable in developer builds (#26188)
  firefox-ios/nimbus-features/splashScreenFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Remove the code yeah!
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AppLaunchUtil.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Theme/PrivateModeUI.swift
  firefox-ios/Client/TabManagement/Legacy/LegacySavedTab.swift
  firefox-ios/Client/TabManagement/Legacy/LegacyTabDataRetriever.swift
  firefox-ios/Client/TabManagement/Legacy/LegacyTabFileManager.swift
  firefox-ios/Client/TabManagement/Legacy/LegacyTabGroupData.swift
  firefox-ios/Client/TabManagement/Legacy/LegacyTabMetadataManager.swift
  firefox-ios/Client/TabManagement/Tab.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/TabManagement/TabMigrationUtility.swift
  firefox-ios/Client/Utils/StopWatchTimer.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/Legacy/TabMetadataManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/Tab+ChangeUserAgentTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabEventHandlerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerNavDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabMigrationUtilityTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabsTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11838 [Unit Tests] flaky test testMetadataTracker_whenInitializedFirstTime_fetchesFreshData
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Utilities/WallpaperMetadataUtility.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Utilities/WallpaperStorageUtility.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/TestDataAndTestDataProviders/Protocols/WallpaperMetadataTestProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/WallpaperMetadataTrackerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix test
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove comment
  BrowserKit/Tests/WebEngineTests/MetadataFetcherHelperTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11390 [WebEngine] Introducing strict concurrency into WebEngine (part 1) (#26135)
  BrowserKit/Sources/WebEngine/Engine.swift
  BrowserKit/Sources/WebEngine/WKWebview/Internal/InternalUtil.swift
  BrowserKit/Sources/WebEngine/WKWebview/Scripts/WKUserScriptManager.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineConfigurationProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKWebViewProvider.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/EngineSessionScriptResponderTests.swift
  BrowserKit/Tests/WebEngineTests/MetadataFetcherHelperTests.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineSession.swift
  BrowserKit/Tests/WebEngineTests/WKContentScriptManagerTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineViewTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
  BrowserKit/Tests/WebEngineTests/WKInternalSchemeHandlerTests.swift
  BrowserKit/Tests/WebEngineTests/WKUserScriptManagerTests.swift
  SampleBrowser/SampleBrowser.xcodeproj/project.pbxproj
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Dependency/DependencyHelper.swift
  SampleBrowser/SampleBrowser/Engine/EngineDependencyManager.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
  SampleBrowser/SampleBrowser/Engine/EngineProviderManager.swift
  SampleBrowser/SampleBrowser/SceneDelegate.swift
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11838 [Unit Tests] flaky test testMetadataTracker_whenInitializedFirstTime_fetchesFreshData (#26215)
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Utilities/WallpaperMetadataUtility.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Utilities/WallpaperStorageUtility.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/TestDataAndTestDataProviders/Protocols/WallpaperMetadataTestProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Wallpaper/WallpaperMetadataTrackerTests.swift
Owners: @mozilla-mobile/fxios-eng

use m4 pro
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Not sure we should keep
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/WKEngineWebViewTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS [Nimbus] Update initial experiments JSON for Nimbus (backport #26126) (#26217)
  firefox-ios/Client/Experiments/initial_experiments.json
Owners: @afurlan-firefox

take screenshot when app is foregrounded instead of backgrounded
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Another fix
  BrowserKit/Sources/WebEngine/Utilities/URLFormatter.swift
Owners: @mozilla-mobile/fxios-eng

add a11y heading to legacy homepage section titles
  firefox-ios/Client/Frontend/Components/LegacyLabelButtonHeaderView.swift
Owners: @mozilla-mobile/fxios-eng

add a11y heading to homepage message card title
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/MessageCard/HomepageMessageCardCell.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11880 [UX Fundamentals] Shorten URL display name in context menu title (#26193)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

get windowuuid off of tab
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/ScreenshotHelper.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11952 #25998 ⁃ Remove jump back in feature flag
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInSectionState.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  firefox-ios/Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/nimbus-features/homescreenFeature.yaml
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
