Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Refactored RustKeychain to reduce Data-String conversions
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

Refactored update and set key functions to upsert
  firefox-ios/Storage/MockRustKeychain.swift
  firefox-ios/Storage/RustKeychain.swift
Owners: @mozilla-mobile/fxios-eng

rebased Refactor branch into main
  BrowserKit/Tests/CommonTests/LoggerTests/CrashManagerTests.swift
  BrowserKit/Tests/CommonTests/LoggerTests/LoggerFileManagerTests.swift
  BrowserKit/Tests/CommonTests/LoggerTests/LoggerTests.swift
  BrowserKit/Tests/ContentBlockingGeneratorTests/ContentBlockerGeneratorTests.swift
  BrowserKit/Tests/ContentBlockingGeneratorTests/ContentBlockerParserTests.swift
  BrowserKit/Tests/ReduxTests/ReduxIntegrationTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLCacheTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/FaviconURLFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/FaviconURLProcessing/URLCacheFileManagerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/FaviconFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/HeroImageFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/ImageHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/SiteImageCacheTests.swift
  BrowserKit/Tests/SiteImageViewTests/SiteImageHandlerTests.swift
  BrowserKit/Tests/SiteImageViewTests/SiteImageViewTests.swift
  BrowserKit/Tests/TabDataStoreTests/TabDataStoreTests.swift
  BrowserKit/Tests/TabDataStoreTests/TabSessionStoreTests.swift
  BrowserKit/Tests/WebEngineTests/AdsTelemetryContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/FindInPageContentScriptTests.swift
  BrowserKit/Tests/WebEngineTests/MetadataFetcherHelperTests.swift
  BrowserKit/Tests/WebEngineTests/WKContentScriptManagerTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
Owners: @mozilla-mobile/fxios-eng

swiftlint fixes regarding whitespaces
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RustSyncManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/AppSettingsTableViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/HomePageSettingViewControllerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Settings/SearchBarSettingsViewModelTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/StartAtHomeHelperTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix [Homepage Rebuild] Remove merge conflict parameter from tests (#24878)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove forward list since not used + make backlist private
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

corner radius adjustment
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
Owners: @mozilla-mobile/fxios-eng

Small but mighty change
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
Owners: @mozilla-mobile/fxios-eng

Ensure proper tile order for unified ads API
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/UnifiedAds/UnifiedAdsProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/UnifiedAdsProviderTests.swift
Owners: @mozilla-mobile/fxios-eng

Add Browsing setting
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/BrowsingSetting.swift
  firefox-ios/Client/Frontend/Settings/Main/General/GeneralSettingsDelegate.swift
  firefox-ios/Client/Frontend/Settings/Main/General/OpenWithSetting.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Fix delegate
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Making adjustments on the UI with title and breaks
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/TabsSetting.swift
  firefox-ios/Client/Frontend/Settings/TabsSettingsViewControler.swift
Owners: @mozilla-mobile/fxios-eng

Clean up strings and a11y identifiers
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Frontend/Browser/ClipboardBarDisplayHandler.swift
  firefox-ios/Client/Frontend/Settings/BrowsingSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/General/TabsSetting.swift
  firefox-ios/Client/Frontend/Settings/TabsSettingsViewControler.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Fixing some more tests
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Swiftlint
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
Owners: @mozilla-mobile/fxios-eng

Fix UI tests
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Adjust test
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-11386 [Bookmarks Evolution] Prevent cyclic bookmark folder structure (#24881)
  firefox-ios/Client/Frontend/Library/Bookmarks/Edit Folder/EditFolderViewModel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/FolderHierarchyFetcher.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/DefaultFolderHierarchyFetcherTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockFolderHierarchyFetcher.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11386 [Bookmarks Evolution] Prevent cyclic bookmark folder structure (#24881)
  firefox-ios/Client/Frontend/Library/Bookmarks/Edit Folder/EditFolderViewModel.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Utitlity/FolderHierarchyFetcher.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/Bookmarks/DefaultFolderHierarchyFetcherTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockFolderHierarchyFetcher.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11391 #24793 ⁃ [RTL] Submenus arrows in the overlay menu are pointing the wrong way
  BrowserKit/Sources/MenuKit/MenuCell.swift
Owners: @mozilla-mobile/fxios-eng

Add MTE-3859 - Address Autofill option is available in the settings menu test (#24850)
  firefox-ios/firefox-ios-tests/Tests/FullFunctionalTestPlan.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor FXIOS-11244 Replace ActionToast usage in AddressAutofillSettingsViewController with ButtonToast (#24853)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Autofill/Address/AddressAutofillSettingsViewController.swift
  firefox-ios/Client/Frontend/Browser/ActionToast.swift
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-7301 [Swiftlint] Remove 1 closure_body_length violation from RustAutofill.swift and decrease threshold (#24763)
  .swiftlint.yml
  firefox-ios/Storage/Rust/RustAutofill.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-11391 ⁃ [RTL] Submenus arrows in the overlay menu are pointing the wrong way (#24885)
  BrowserKit/Sources/MenuKit/MenuCell.swift
Owners: @mozilla-mobile/fxios-eng

Removed StudiesToggle class and use SendDataSetting class instead
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/SendDataSetting.swift
  firefox-ios/Client/Frontend/Settings/Main/Support/StudiesToggleSetting.swift
Owners: @mozilla-mobile/fxios-eng

Fixed testSettingsOptionSubtitles test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SettingsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add feature flag, refactor tab manager
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Share/ShareTelemetry.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/nimbus-features/deeplinkOptimizationRefactorFeature.yaml
  firefox-ios/nimbus.fml.yaml
Owners: @mozilla-mobile/fxios-eng

Added tests and feature flag implementation
  firefox-ios/Client/Application/SceneDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11352 #24709 ⁃ [Focus] - The selected word is not displayed in the URL bar after paste
  focus-ios/Blockzilla/UIComponents/URLBar/URLBar.swift
Owners: @mozilla-mobile/fxios-eng

Correct alignment of deeplink tab with restored one
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/nimbus-features/deeplinkOptimizationRefactorFeature.yaml
Owners: @mozilla-mobile/fxios-eng

Remove default browser entitlement
  firefox-ios/Client/Entitlements/FennecApplication.entitlements
Owners: @mozilla-mobile/fxios-eng

Added check for handleURL open
  firefox-ios/Client/Application/SceneDelegate.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-11431 #24888 ⁃ [Menu redesign][iPad] - The app crashes when saving as pdf
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11423 #24866 [Sponsored tiles] Ensure proper tile order for unified ads API (#24872)
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/UnifiedAds/UnifiedAdsProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/UnifiedAdsProviderTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11423 #24866 [Sponsored tiles] Ensure proper tile order for unified ads API (#24872)
  firefox-ios/Client/Frontend/Home/TopSites/DataManagement/UnifiedAds/UnifiedAdsProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/TopSites/UnifiedAdsProviderTests.swift
Owners: @mozilla-mobile/fxios-eng

[MOB-3208] Use custom Ecosia menu icon (#854)
  BrowserKit/Sources/Common/Constants/StandardImageIdentifiers.swift
Owners: @mozilla-mobile/fxios-eng

Updated MTE-4277 - credit card tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove FXIOS [Tab.swift] Forward list since not used + make backlist private (#24873)
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Use ternary
  focus-ios/Blockzilla/UIComponents/URLBar/URLBar.swift
Owners: @mozilla-mobile/fxios-eng

Make constant
  focus-ios/Blockzilla/UIComponents/URLBar/URLBar.swift
Owners: @mozilla-mobile/fxios-eng
