Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Add comment
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Remove a comment
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Add [Tabs] Updates to tab logging to make it easier for sentry to group logs (#26236)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Client/Telemetry/TabErrorTelemetryHelper.swift
Owners: @mozilla-mobile/fxios-eng

ADD FXIOS-12101 [Tabs] [Screenshots] Additional Debugging info for tab screenshot crash (#26332)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockWindowManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabTray/TabManagerMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12108 [Felt Privacy - Simplified UI] update tab tray theming (#26438)
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
  BrowserKit/Sources/Common/Theming/Themeable.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultThemeManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/ThemableTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12108 [Felt Privacy - Simplified UI] update tab tray theming (#26438)
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
  BrowserKit/Sources/Common/Theming/Themeable.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultThemeManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/ThemableTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12108 [Felt Privacy - Simplified UI] update tab tray theming (#26438)
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
  BrowserKit/Sources/Common/Theming/Themeable.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsTableViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabAnimation.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabCell.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayPanelViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultThemeManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/MockThemeManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Theme/ThemableTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix UI test after removing toasts, reverse order and remove toast check
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove extra space
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor FXIOS-12087 [Address Autofill] Enable address autofill by default for FR, DE and GB (#26340)
  firefox-ios/Client/Frontend/Autofill/Address/AddressUtility/AddressLocaleFeatureValidator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Autofill/AddressLocaleFeatureValidatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12124 Fix UITest failing fue to changes to remove toast from Settings> Credit card (#26479)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add ToS button string version for firefox
  firefox-ios/Client/Frontend/Onboarding/Views/TermsOfServiceViewController.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Create new string version and use
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Add more unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchTests.swift
Owners: @mozilla-mobile/fxios-eng

Localize FXIOS-12147 #26429 ⁃ Change ToS card's button string from "Agree and continue" to just "Continue" (Firefox and Focus) (#26452)
  firefox-ios/Client/Frontend/Onboarding/Views/TermsOfServiceViewController.swift
  firefox-ios/Shared/Strings.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Localize FXIOS-12147 #26429 ⁃ Change ToS card's button string from "Agree and continue" to just "Continue" (Firefox and Focus) (#26452)
  firefox-ios/Client/Frontend/Onboarding/Views/TermsOfServiceViewController.swift
  firefox-ios/Shared/Strings.swift
  focus-ios/Blockzilla/Onboarding/OnboardingFactory.swift
  focus-ios/version.xcconfig
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12149 [Tab tray UI experiment] new trash can options (#26474)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/State/TabTrayState.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12149 [Tab tray UI experiment] new trash can options (#26474)
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/State/TabTrayState.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/Shared/Strings.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

Prevent invalid hosts
  BrowserKit/Sources/WebEngine/Utilities/URLFormatter.swift
  BrowserKit/Tests/WebEngineTests/Utilities/URLFormatterTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove failing test
  BrowserKit/Tests/WebEngineTests/Utilities/URLFormatterTests.swift
Owners: @mozilla-mobile/fxios-eng

Let's use pipefail
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Preset the values for deployt to bitrise
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

are the vars set?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Set the vars to "" first
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix unit test. Simulate build failure.
  bitrise.yml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/MainMenu/MainMenuCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

always deploy
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Try space between each path
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix run_if
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Conditionally run shard step
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Querying the variables
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Pull out shard related steps
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Trigger a compilation error
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-automation-1

code review comments
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Let's see the deploy list
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Simulate unit test failure
  bitrise.yml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/MainMenu/MainMenuCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

Revert change in unit tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/MainMenu/MainMenuCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

Do not run shard if build fails
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Let me trigger build failure again
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Let me trigger a build failure to test the change in line 136
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Artificially make a unit test to fail
  bitrise.yml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/MainMenu/MainMenuCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-automation-1, @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
