Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Remove ‘Mac (Designed for iPad)’ from supported destinations
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12814 ⁃ [Menu redesign] "<" element in Tracking Protection and More buttons is incorrect in Arabic (#27973)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuRedesignCell.swift
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12812 ⁃ [Menu redesign] Tapping “Website Dark Mode” in landscape sometimes opens the Passwords/History panel instead (#27976)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSquaresViewContentCell.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12811 ⁃ [Menu redesign] The strikethrough line on the Tracking Protection shield icon is not red for unsafe pages (#27977)
  BrowserKit/Sources/MenuKit/MenuRedesign/MenuSiteProtectionsHeader.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/Views/MainMenuViewController.swift
Owners: @mozilla-mobile/fxios-eng

add modally presented vc for tappable links
  firefox-ios/Client/Frontend/Browser/TermsOfUse/ToUBottomSheetViewController.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/ToULinkViewController.swift
Owners: @mozilla-mobile/fxios-eng

FileManager Sendable?
  BrowserKit/Sources/Common/Extensions/FileManagerExtension.swift
  BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Attempt to do better?
  BrowserKit/Sources/Common/Logger/LoggerFileManager.swift
  BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/Cache/URLCacheFileManager.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Now that Coordinators are isolated to the main thread, we can remove temporary @unchecked Sendable conformance.
  firefox-ios/Client/Coordinators/ShareSheetCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Fix under-specified protocol.
  firefox-ios/Client/Frontend/Microsurvey/Survey/MicrosurveyCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Move Device Check out of LaunchType functions (#27990)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Launch/LaunchType.swift
  firefox-ios/Client/Coordinators/Scene/SceneCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Fix import issues causing test suite to fail to compile on Xcode 26.
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SwipingTabsTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Remove FXIOS-12452 [Telemetry Audit] unneeded preferences telemetry (#27979)
  firefox-ios/Client/Glean/probes/settings.yaml
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

fileManagerFactory
  BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
Owners: @mozilla-mobile/fxios-eng

@unchecked Sendable again
  BrowserKit/Sources/Common/Logger/LoggerFileManager.swift
  BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
  BrowserKit/Sources/SiteImageView/FaviconURLProcessing/Cache/URLCacheFileManager.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Remove static var, not used
  BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Fix `MicrosurveyCoordinator`'s under-specified protocols (#28005)
  firefox-ios/Client/Frontend/Microsurvey/Survey/MicrosurveyCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Update BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
  BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Make a separate mock for the WKUIDelegate methods instead of relying on an entire BVC mock with dynamic dispatch issues for delegate overrides in Xcode 26.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/WebEngineIntegration/BrowserWebUIDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserWebUIDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix `Sendable` warnings in `BrowserWebUIDelegate`.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/WebEngineIntegration/BrowserWebUIDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12850 [HNT - Search Bar] fix a11y when in overlay
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add back `@preconcurrency` for Xcode 16.2 warning.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/WebEngineIntegration/BrowserWebUIDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Move `MockLegacyResponder` to its own file.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserWebUIDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockLegacyResponder.swift
Owners: @mozilla-mobile/fxios-eng

Use "Task { @MainActor" instead of DispatchQueueInterface mainQueue
  firefox-ios/Client/Application/AppDelegate+SyncSentTabs.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Application/AppSendTabDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12796 [Swift 6 Migration] Fix FileManager conformance to Sendable (#28007)
  BrowserKit/Sources/Common/Extensions/FileManagerExtension.swift
  BrowserKit/Sources/Common/Protocols/FileManagerProtocol.swift
Owners: @mozilla-mobile/fxios-eng

Fix under-specified protocols for several Coordinators.
  firefox-ios/Client/Coordinators/ParentCoordinatorDelegate.swift
  firefox-ios/Client/Coordinators/PasswordManagerCoordinator.swift
  firefox-ios/Client/Coordinators/QRCode/QRCodeNavigationHandler.swift
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/EnhancedTrackingProtection/EnhancedTrackingProtectionVC.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/RemoteTabsPanel.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuCoordinator.swift
  firefox-ios/Client/Frontend/TrackingProtection/TrackingProtectionViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix under-specified protocol warnings in library Coordinators and QRCodeCoordinator.
  firefox-ios/Client/Coordinators/Library/DownloadsCoordinator.swift
  firefox-ios/Client/Coordinators/Library/HistoryCoordinator.swift
  firefox-ios/Client/Coordinators/Library/LibraryCoordinator.swift
  firefox-ios/Client/Coordinators/Library/LibraryPanelCoordinatorDelegate.swift
  firefox-ios/Client/Coordinators/Library/ReadingListCoordinator.swift
  firefox-ios/Client/Coordinators/QRCode/QRCodeCoordinator.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
  firefox-ios/Client/Frontend/Library/LibraryPanelHelper.swift
  firefox-ios/Client/Frontend/Library/RecentlyClosedTabsPanel.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Fix import issues causing test suite to fail to compile on Xcode 26 (#28006)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/WebEngineIntegration/BrowserWebUIDelegate.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserWebUIDelegateTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockLegacyResponder.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomepageSearchBarTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SwipingTabsTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

[FXIOS-12822] #1976296
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix the under-specified protocol related to the `LaunchCoordinator`.
  firefox-ios/Client/Coordinators/QRCode/QRCodeNavigationHandler.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingNavigationDelegate.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingServiceDelegate.swift
  firefox-ios/Client/Frontend/SurveySurface/SurveySurfaceViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fixing some related call sites.
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingService.swift
Owners: @mozilla-mobile/fxios-eng

Fix the under-specified protocol warnings related to `BrowserCoordinator`.
  firefox-ios/Client/Application/WindowEventCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
  firefox-ios/Client/Coordinators/EnhancedTrackingProtectionCoordinator.swift
  firefox-ios/Client/Coordinators/Launch/LaunchCoordinator.swift
  firefox-ios/Client/Coordinators/QRCode/QRCodeNavigationHandler.swift
  firefox-ios/Client/Coordinators/SettingsCoordinator.swift
  firefox-ios/Client/Coordinators/TabTray/TabTrayCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuCoordinator.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEngineSelectionCoordinator.swift
  firefox-ios/Client/Frontend/Home/PrivateHome/PrivateHomepageViewController.swift
  firefox-ios/Client/TabManagement/TabManagerDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Fix.
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
Owners: @mozilla-mobile/fxios-eng

Update ensureMainThread implementation for main actor isolated contexts.
  firefox-ios/Client/DispatchQueueHelper.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] Fix `QRCodeCoordinator` and library `Coordinator` under-specified protocols (#28014)
  firefox-ios/Client/Coordinators/Library/DownloadsCoordinator.swift
  firefox-ios/Client/Coordinators/Library/HistoryCoordinator.swift
  firefox-ios/Client/Coordinators/Library/LibraryCoordinator.swift
  firefox-ios/Client/Coordinators/Library/LibraryPanelCoordinatorDelegate.swift
  firefox-ios/Client/Coordinators/Library/ReadingListCoordinator.swift
  firefox-ios/Client/Coordinators/QRCode/QRCodeCoordinator.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksFolderCell.swift
  firefox-ios/Client/Frontend/Library/LibraryPanelHelper.swift
  firefox-ios/Client/Frontend/Library/RecentlyClosedTabsPanel.swift
Owners: @mozilla-mobile/fxios-eng

Fix call site errors.
  firefox-ios/Client/Frontend/Browser/MainMenuActionHelper.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Fix.
  firefox-ios/Client/Coordinators/EnhancedTrackingProtectionCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

Isolate related unit tests.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix call sites for new `@MainActor` methods.
  firefox-ios/Client/Frontend/Share/SendToDeviceHelper.swift
  firefox-ios/Extensions/ShareTo/SendToDevice.swift
Owners: @mozilla-mobile/fxios-eng

Fix under-specified protocols.
  firefox-ios/Client/Frontend/Browser/BrowserPrompts.swift
  firefox-ios/Client/Frontend/Extensions/DevicePickerViewController.swift
  firefox-ios/Client/Frontend/InstructionsView.swift
Owners: @mozilla-mobile/fxios-eng

Fix Xcode 16.2 new warnings.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Actions/WebContextMenuActionsProvider.swift
  firefox-ios/Client/TabManagement/TabManager.swift
Owners: @mozilla-mobile/fxios-eng
