Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Could we pin the swiftlint version?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Bump warning threshold.
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

Where is swiftlint?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Install to existing swiftlint location
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Warning threshold should be greater than.
  test-fixtures/generate-metrics.sh
Owners: @mozilla-mobile/fxios-eng

can we pin swiftlint version without brew?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Increase unit test timeout.
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Utils/DefaultBackgroundTabLoaderTests.swift
Owners: @mozilla-mobile/fxios-eng

Fix syntax oops
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix syntax
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

fix buttons
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Use fields again
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Just one title
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

just the number
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Do we have buttons?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Report to sandbox channel
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

New pipeline just for new flag
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix log file upload
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

We can use less buttons
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

fix buttons again
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix upload
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Use swift strict concurrency warnings
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Add new members displayName and visualSearch to searchUrlParam in tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RemoteSettings/ASSearchEngineUtilitiesTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-12796 [Swift 6 Migration] OpenQLPreviewHelper + WKNavigationDelegate warnings (#27936)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/OpenInHelper/OpenQLPreviewHelper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
Owners: @mozilla-mobile/fxios-eng

Move device check out of function declaration
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Launch/LaunchType.swift
  firefox-ios/Client/Coordinators/Scene/SceneCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

toggle off setting
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng

restore method
  BrowserKit/Sources/ComponentLibrary/SwiftUI/ContentFittingScrollView.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4798] - testCopyPasteComplete test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-12835 Update asset name to fix warning (#27975)
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconBottom.imageset/Contents.json
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12835 Update asset name to fix warning (#27975)
  firefox-ios/Client/Assets/Images.xcassets/Onboarding/MultipleChoiceButtons/Toolbar/onboardingToolbarIconBottom.imageset/Contents.json
Owners: @mozilla-mobile/fxios-eng

Add missing tests
  BrowserKit/Sources/ToolbarKit/AddressToolbar/AddressToolbarAddTabView.swift
  firefox-ios/Client/Frontend/Home/Wallpapers/v1/Utilities/WallpaperURLProvider.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockBrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

FXIOS-12843 #27987 [Swift 6 Migration] Test that annotating `OnboardingService`'s `handleAction()` with `@MainActor` does not cause issues
  firefox-ios/firefox-ios-tests/Tests/ClientTests/OnboardingTests/OnboardingServiceTests.swift
Owners: @mozilla-mobile/fxios-eng

pr review
  BrowserKit/Sources/OnboardingKit/Views/AnimatedGradientRenderer.swift
Owners: @mozilla-mobile/fxios-eng

More pr review
  BrowserKit/Sources/OnboardingKit/Views/AnimatedGradientRenderer.swift
  BrowserKit/Sources/OnboardingKit/Views/UX.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4798] - testCopyPasteComplete test (#27992)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
Owners: @mozilla-mobile/fxios-automation-1

Refactor MTE-4799 Fix config removing post action script (#27959)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
  test-fixtures/scheme-postbuild.sh
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Refactor code for better readability
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Owners: @mozilla-mobile/fxios-eng

Refactor as per code review
  BrowserKit/Sources/ComponentLibrary/Buttons/CloseButtonViewModel.swift
  BrowserKit/Sources/SummarizeKit/AnimatedGradientOutlineView.swift
  BrowserKit/Sources/SummarizeKit/RectangularFadeMaskLayer.swift
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
Owners: @mozilla-mobile/fxios-eng

Remove self
  BrowserKit/Sources/OnboardingKit/Views/AnimatedGradientRenderer.swift
Owners: @mozilla-mobile/fxios-eng

set triggering behaviour logic
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/ToUBottomSheetViewController.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/ToULinkViewController.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/ToUManager.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TouBottomSheetViewModel.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Owners: @mozilla-mobile/fxios-eng

Turn off ‘Use Compiler to Extract Swift Strings’ build setting
  firefox-ios/Client.xcodeproj/project.pbxproj
Owners: @mozilla-mobile/fxios-eng
