Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Updated how we initialize subject so it doesn't have to remain pure throughout testing (making a builder function and creating an instance every test)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Telemetry/ToolbarTelemetryTests.swift
Owners: @mozilla-mobile/fxios-eng

Add version.txt to root directory for shipit support (#24719)
  update_version.sh
  version.txt
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-8469 Minor cleanup: SearchEngineProvider (#24704)
  firefox-ios/Client/Frontend/Browser/SearchEngines/DefaultSearchEngineProvider.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/MockSearchEngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-10183 Remove cookies when leaving private browsing (#24491)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Fix build error on main?
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

update bookmarks data source on main thread
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix (N/A) Fix build issue on main (#24727)
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Have unique IDs in uploaded screenshots file
  .github/workflows/focus-ios-l10n-locales.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix SimpleToast to support dynamic height for larger font sizes
  firefox-ios/Client/Frontend/Browser/SimpleToast.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4250 - for home button related failures
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomeButtonTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareMenuTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/UrlBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Bugfix MTE-4135 Upload screenshot filename should be unique (#24728)
  .github/workflows/focus-ios-l10n-locales.yml
Owners: @mozilla-mobile/fxios-automation-1

FXIOS-11262 #24494 ⁃ Seach suggestions sometimes include the "Firefox Suggest" section even when there are no suggestions from Suggest
  firefox-ios/Client/Frontend/Browser/Search/SearchViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Added MainActor
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Refactor [Address bar animation] FXIOS-11265 speed up Address bar animation (#24714)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Fixes MTE-4250 - for home button related failures (#24731)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BookmarksTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomeButtonTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareMenuTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/UrlBarTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Replace `pipes` usage with `shlex`
  taskcluster/ffios_taskgraph/job.py
Owners: @mozilla-mobile/fxios-automation-1

Add MTE-4269 - autofill address tests
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest2.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest3.xctestplan
  firefox-ios/firefox-ios-tests/Tests/Smoketest4.xctestplan
  firefox-ios/firefox-ios-tests/Tests/XCUITests/AddressesTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Bugfix FXIOS-8283 ⁃ Siri shortcut opens two new tabs instead of one (#24682)
  firefox-ios/Client/Coordinators/Router/RouteBuilder.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/RouteBuilderTests.swift
Owners: @mozilla-mobile/fxios-eng

improve naming and add docs
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/JumpBackIn/JumpBackInTabState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/HomepageDimensionImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Completed Ticket
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Clean up some error pages code
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/NativeErrorPage/NativeErrorPageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/NativeErrorPage/NativeErrorPageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

make adjustemnets
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix download toast height
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
  firefox-ios/Client/Frontend/Browser/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

Clean up
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
Owners: @mozilla-mobile/fxios-eng

Change layout on bigger font sizes
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
  firefox-ios/Client/Frontend/Browser/DownloadToast.swift
  firefox-ios/Client/Frontend/Browser/Toast.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
Owners: @mozilla-mobile/fxios-eng

Update with review
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
  firefox-ios/Client/Frontend/Browser/DownloadToast.swift
Owners: @mozilla-mobile/fxios-eng

Update updateURLTextFieldLeadingConstraintBasedOnState method
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
Owners: @mozilla-mobile/fxios-eng

update tests
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDiffableDataSourceTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/HomepageDimensionCalculatorTests.swift
Owners: @mozilla-mobile/fxios-eng

snapshot
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/TabManagement/Tab.swift
Owners: @mozilla-mobile/fxios-eng

Restore raw cahnnel names to default
  BrowserKit/Sources/Common/Constants/AppBuildChannel.swift
  firefox-ios/Client/Configuration/Fennec.enterprise.xcconfig
  firefox-ios/Client/Configuration/Fennec.xcconfig
  firefox-ios/Client/Configuration/Firefox.xcconfig
  firefox-ios/Client/Configuration/FirefoxBeta.xcconfig
Owners: @mozilla-mobile/fxios-eng

update bookmarks data source on main thread
  firefox-ios/Client/Frontend/Library/Bookmarks/Legacy/BookmarksPanelViewModel.swift
Owners: @mozilla-mobile/fxios-eng

Refactor [Address bar animation] FXIOS-11265 speed up Address bar animation (#24714)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  BrowserKit/Sources/ToolbarKit/AddressToolbar/LocationView/LocationView.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressToolbarContainer.swift
Owners: @mozilla-mobile/fxios-eng

Clean up remove tab logic in Tab Manager
  BrowserKit/Sources/Shared/NotificationConstants.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+KeyCommands.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
  firefox-ios/Client/Frontend/Browser/TopTabsViewController.swift
  firefox-ios/Client/TabManagement/TabManager.swift
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockTabManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TabManagement/TabManagerTests.swift
Owners: @mozilla-mobile/fxios-eng

call remove tab for removing one tab
  firefox-ios/Client/Frontend/Browser/TopTabDisplayManager.swift
Owners: @mozilla-mobile/fxios-eng

resolve merge conflicts
  firefox-ios/Client/TabManagement/TabManager.swift
Owners: @mozilla-mobile/fxios-eng

move from async remove tab to remove tab with completion
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11337 [Error pages] Clean up some error pages code (#24700)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+WebViewDelegates.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/NativeErrorPage/NativeErrorPageViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/NativeErrorPage/NativeErrorPageStateTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-9450 #20911 [Accessibility] Toast message with bigger font sizes (#24726)
  BrowserKit/Sources/ToolbarKit/AddressToolbar/BrowserAddressToolbar.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/ButtonToast.swift
  firefox-ios/Client/Frontend/Browser/DownloadToast.swift
  firefox-ios/Client/Frontend/Browser/Toast.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11185 [Blueprint Download Manager] Deep Linking for Live Activities & Dynamic Island (#24724)
  firefox-ios/WidgetKit/DownloadManager/DownloadLiveActivity.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [Tab Optimization Phase 1] FXIOS-11339 Make the minimum amount of tabs in a row 2 for small screens (#24678)
  firefox-ios/Client/Frontend/Browser/Tabs/LayoutManager/TabsSectionManager.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
