Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng

Bugfix FXIOS-11849 ⁃ iOS widget to open new tab causes new tab to open every time app opens in multitask (#28479)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12983 [Shake to Summarize] add additional logic check for settings
  firefox-ios/Client/Frontend/Summarizer/SummarizerNimbusUtils.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-13075 [Terms Of Use] Update triggering logic for Terms Of Use (#28478)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseCoordinator.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseMiddleware.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/View/TermsOfUseViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TermsOfUse/TermsOfUseMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12983 [Shake to Summarize] feature enabled logic changes
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Summarizer/SummarizerNimbusUtils.swift
Owners: @mozilla-mobile/fxios-eng

update comment to add to protocol
  firefox-ios/Client/Frontend/Summarizer/SummarizerNimbusUtils.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix FXIOS-12983 [Shake to Summarize] logic check for toolbar entry (#28482)
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/MainMenu/MainMenuConfigurationUtility.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Summarizer/SummarizerNimbusUtils.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4877] - homeapageSettingsUi test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DataManagementTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-12991 [Shake to Summarize] CFR for toolbar entry
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintCopyProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintPrefsKeysProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add transitioning state.
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollHandler.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/TabScrollHandlerTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareMenuTests.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

dismiss when change in layout
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Owners: @mozilla-mobile/fxios-eng

remove extra comemnts
  firefox-ios/Client/Frontend/Summarizer/SummarizerNimbusUtils.swift
Owners: @mozilla-mobile/fxios-eng

Fix [MTE-4877] - homeapageSettingsUi test (#28486)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DataManagementTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
Owners: @mozilla-mobile/fxios-automation-1

Add FXIOS-13067 - shipit support for focus/klar (#28480)
  bitrise.yml
  taskcluster/config.yml
  taskcluster/ffios_taskgraph/release_promotion.py
  taskcluster/ffios_taskgraph/target_tasks.py
  taskcluster/ffios_taskgraph/transforms/mark_as_shipped.py
  taskcluster/ffios_taskgraph/transforms/relpro_push.py
  taskcluster/kinds/github-release/kind.yml
  taskcluster/kinds/mark-as-shipped/kind.yml
  taskcluster/kinds/promote/kind.yml
  taskcluster/kinds/push/kind.yml
  taskcluster/kinds/release-notify-ship/kind.yml
  taskcluster/kinds/version-bump/kind.yml
  taskcluster/test/params/release-promote-beta.yml
  taskcluster/test/params/release-promote-focus.yml
  taskcluster/test/params/release-promote.yml
  taskcluster/test/params/release-push-beta.yml
  taskcluster/test/params/release-push-focus.yml
  taskcluster/test/params/release-push.yml
  taskcluster/test/params/release-ship-focus.yml
  taskcluster/test/params/release-ship.yml
Owners: @mozilla-mobile/fxios-automation-1

fix: comment out foundationmodels streaming code
  BrowserKit/Sources/SummarizeKit/Backend/AppleIntelligence/LanguageModelResponseStreamProtocol.swift
  BrowserKit/Sources/SummarizeKit/Backend/AppleIntelligence/LanguageModelSessionAdapter.swift
Owners: @mozilla-mobile/fxios-eng

Fix swift 6 warnings in AddressBarPanGestureHandler.
  firefox-ios/Client/Configuration/version.xcconfig
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
Owners: @mozilla-mobile/fxios-eng

Bugfix [FXIOS-13090] Disable streaming for FoundationModels summarizer until we get a stable API (#28499)
  BrowserKit/Sources/SummarizeKit/Backend/AppleIntelligence/LanguageModelResponseStreamProtocol.swift
  BrowserKit/Sources/SummarizeKit/Backend/AppleIntelligence/LanguageModelSessionAdapter.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-13093 ToU Feature to use prefs instead of User Defaults
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Application/UITestAppDelegate.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseCoordinator.swift
  firefox-ios/Client/Frontend/Browser/TermsOfUse/TermsOfUseMiddleware.swift
  firefox-ios/Client/Redux/GlobalState/AppState.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TermsOfUse/TermsOfUseMiddlewareTests.swift
Owners: @mozilla-mobile/fxios-eng

Refactor FXIOS-11340 - Disable the function_body_length rule for a legacy function and decreases the threshold (#28471)
  .swiftlint.yml
  firefox-ios/Storage/SQL/BrowserSchema.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-12991 [Shake to Summarize] CFR for toolbar entry (#28448)
  BrowserKit/Sources/Shared/Prefs.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/AddressBarState.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintCopyProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintEligibilityUtility.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintPrefsKeysProvider.swift
  firefox-ios/Client/Frontend/ContextualHint/ContextualHintViewProvider.swift
  firefox-ios/Client/Frontend/Summarizer/SummarizerNimbusUtils.swift
  firefox-ios/Shared/Strings.swift
Owners: @mozilla-mobile/fxios-eng

Add explanation for using consume operator.
  firefox-ios/Client/Frontend/Browser/TabScrollController/TabScrollHandler.swift
Owners: @mozilla-mobile/fxios-eng

Rename segmentedControlMinHeight
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

Add translucency for iPhone
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/Tabs/TabTrayUtils.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Owners: @mozilla-mobile/fxios-eng

feat: implement lifecycle on coordinator
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

fix: conflicts from main
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng

fix: update name to be more specific to summarizer
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/ai.summarizer.yaml
Owners: @mozilla-mobile/fxios-eng

feat: add callback for summary displayed
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
Owners: @mozilla-mobile/fxios-eng

feat: add telemetry error description to error enum
  BrowserKit/Sources/SummarizeKit/Backend/SummarizerError.swift
Owners: @mozilla-mobile/fxios-eng

fix: missed clamping another int
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
Owners: @mozilla-mobile/fxios-eng

fix: typo
  firefox-ios/Client/Glean/probes/ai.summarizer.yaml
Owners: @mozilla-mobile/fxios-eng

feat: run script to create telemetry files
  firefox-ios/Client/Glean/gleanProbes.xcfilelist
  firefox-ios/Client/Glean/glean_index.yaml
  firefox-ios/Client/Glean/probes/ai.yaml
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

fix: lint
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/Client/Glean/probes/ai.yaml
Owners: @mozilla-mobile/fxios-eng

feat: add model name to protocol
  BrowserKit/Sources/SummarizeKit/Backend/AppleIntelligence/FoundationModelsSummarizer.swift
  BrowserKit/Sources/SummarizeKit/Backend/LLM/LiteLLMSummarizer.swift
  BrowserKit/Sources/SummarizeKit/Backend/SummarizerModel.swift
  BrowserKit/Sources/SummarizeKit/Backend/SummarizerProtocol.swift
Owners: @mozilla-mobile/fxios-eng

fix: also trigger display event when erorr is shown
  BrowserKit/Sources/SummarizeKit/SummarizeController.swift
Owners: @mozilla-mobile/fxios-eng

fix: add tag to tags.yaml
  firefox-ios/Client/Glean/probes/ai.summarizer.yaml
  firefox-ios/Client/Glean/tags.yaml
Owners: @mozilla-mobile/fxios-eng

fix: add PR number
  firefox-ios/Client/Glean/probes/ai.yaml
Owners: @mozilla-mobile/fxios-eng

feat: add metric types
  firefox-ios/Client/Glean/probes/ai.yaml
Owners: @mozilla-mobile/fxios-eng

feat: add trigger
  BrowserKit/Sources/SummarizeKit/Backend/SummarizerTrigger.swift
  firefox-ios/Client/Coordinators/Browser/BrowserCoordinator.swift
  firefox-ios/Client/Coordinators/Browser/BrowserNavigationHandler.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/Mocks/MockBrowserCoordinator.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SummarizeCoordinatorTests.swift
Owners: @mozilla-mobile/fxios-eng

feat: add events to yaml file
  firefox-ios/Client/Glean/probes/ai.yaml
Owners: @mozilla-mobile/fxios-eng

fix: update extra name to error_type
  firefox-ios/Client/Coordinators/SummarizeCoordinator.swift
  firefox-ios/Client/Frontend/Summarizer/SummarizerTelemetry.swift
  firefox-ios/Client/Glean/probes/ai.summarizer.yaml
Owners: @mozilla-mobile/fxios-eng

feat: record user preferences in background
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Owners: @mozilla-mobile/fxios-eng
