Repository mozilla-mobile/firefox-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mozilla-mobile/fxios-eng, @afurlan-firefox, @nbhasin2, @issammani, @mattreaganmozilla, @mozilla-mobile/fxios-automation-1

Create and setup webserver
  BrowserKit/Sources/Common/Constants/AppConstants.swift
  BrowserKit/Sources/Common/Constants/LaunchArguments.swift
  BrowserKit/Sources/Shared/AppConstants.swift
  BrowserKit/Sources/WebEngine/Engine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKEngineWebServer.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

import common
  focus-ios/Blockzilla/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  SampleBrowser/SampleBrowser/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Add import to fix Focus
  focus-ios/Blockzilla/GleanUsageReportingMetricsService.swift
Owners: @mozilla-mobile/fxios-eng

Resolve comments + fix SampleBrowser build
  BrowserKit/Sources/Shared/AppName.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKEngineWebServer.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Integrate in SampleBrowser
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
Owners: @mozilla-mobile/fxios-eng

Fix tests again
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DatabaseFixtureTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DomainAutocompleteTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PerformanceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add import
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DatabaseFixtureTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add logger
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  firefox-ios/Client/Application/AppDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Write tests
  BrowserKit/Sources/Common/Utilities/DispatchSourceInterface.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockDispatchSourceTimerFactory.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWebServer.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  BrowserKit/Tests/WebEngineTests/WKWebServerUtilTests.swift
Owners: @mozilla-mobile/fxios-eng

Swiftlint
  BrowserKit/Tests/WebEngineTests/Mock/MockDispatchSourceTimerFactory.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWebServer.swift
Owners: @mozilla-mobile/fxios-eng

fix imports
  firefox-ios/Client/Application/main.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Telemetry/GleanUsageReporting.swift
Owners: @mozilla-mobile/fxios-eng

Adjust border width
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Add shadow on Experiment tab cell
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Remove dispatch queue, turns out it wasn't needed :facepalm:
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Fix import
  firefox-ios/Client/Application/WebServerUtil.swift
  firefox-ios/Client/NotificationManager.swift
  firefox-ios/firefox-ios-tests/Tests/SharedTests/FeatureSwitchTests.swift
Owners: @mozilla-mobile/fxios-eng

Remove repeated "selected" callout on the selected app icon row.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-11598 [Tab tray UI experiment] Shadow on Experiment tab cell (#25273)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11602 [Tab tray UI experiment] No more toasts on tab tray (#25269)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add FXIOS-11598 [Tab tray UI experiment] Shadow on Experiment tab cell (#25273)
  firefox-ios/Client/Frontend/Browser/Tabs/Views/ExperimentTabCell.swift
Owners: @mozilla-mobile/fxios-eng

Remove FXIOS-11602 [Tab tray UI experiment] No more toasts on tab tray (#25269)
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Improve regex readability, add tests
  firefox-ios/Client/Frontend/Browser/URIFixup.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchTests.swift
Owners: @mozilla-mobile/fxios-eng

feat: implement live activity download progress update
  firefox-ios/Client/Frontend/Browser/DownloadHelper/DownloadLiveActivityWrapper.swift
Owners: @mozilla-mobile/fxios-eng

Cleanup, refactors. WIP
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASRemoteSettingsCollection.swift
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

Can we use 18.0 devices?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Fix import
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReportSiteTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Fix conflict
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Owners: @mozilla-mobile/fxios-eng

Fix for iOS 18 devices to properly show transparent app backgrounds based on color scheme.
  firefox-ios/Client/Frontend/Settings/AppIconSelection/AppIconView.swift
Owners: @mozilla-mobile/fxios-eng

Argh, iOS 18.0 is available on iPhone 14 instead
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Even simpler approach: let URL() handle it
  firefox-ios/Client/Frontend/Browser/URIFixup.swift
Owners: @mozilla-mobile/fxios-eng

All cells now contains bookmarks
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PerformanceTests.swift
Owners: @mozilla-mobile/fxios-automation-1

Add test case
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Browser/SearchEngines/SearchTests.swift
Owners: @mozilla-mobile/fxios-eng

Add FXIOS-7894 #17639 [WebEngine] Migrate web server utilities (#24946)
  BrowserKit/Sources/Common/Constants/AppConstants.swift
  BrowserKit/Sources/Common/Constants/LaunchArguments.swift
  BrowserKit/Sources/Common/Utilities/DispatchSourceInterface.swift
  BrowserKit/Sources/Shared/AppName.swift
  BrowserKit/Sources/WebEngine/Engine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngine.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKEngineWebServer.swift
  BrowserKit/Sources/WebEngine/WKWebview/WebServer/WKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockDispatchSourceTimerFactory.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWKWebServerUtil.swift
  BrowserKit/Tests/WebEngineTests/Mock/MockWebServer.swift
  BrowserKit/Tests/WebEngineTests/WKEngineTests.swift
  BrowserKit/Tests/WebEngineTests/WKWebServerUtilTests.swift
  SampleBrowser/SampleBrowser/AppDelegate.swift
  SampleBrowser/SampleBrowser/Engine/EngineProvider.swift
  SampleBrowser/SampleBrowser/UI/Components/AddressToolbarContainerModel.swift
  firefox-ios/Client/Application/WebServerUtil.swift
  firefox-ios/Client/Application/main.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/NotificationManager.swift
  firefox-ios/Client/Telemetry/GleanUsageReporting.swift
  firefox-ios/firefox-ios-tests/Tests/SharedTests/FeatureSwitchTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/A11yOnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ActivityStreamTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/BaseTestCase.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DatabaseFixtureTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DomainAutocompleteTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DragAndDropTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/HomePageSettingsUITest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/InactiveTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/IntegrationTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/MicrosurveyTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PerformanceTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ReportSiteTests.swift
  focus-ios/Blockzilla/AppDelegate.swift
  focus-ios/Blockzilla/GleanUsageReportingMetricsService.swift
Owners: @mozilla-mobile/fxios-eng, @mozilla-mobile/fxios-automation-1

Add URLFormatter space-in-path support and tests
  BrowserKit/Sources/WebEngine/Utilities/URLFormatter.swift
  BrowserKit/Tests/WebEngineTests/Utilities/URLFormatterTests.swift
Owners: @mozilla-mobile/fxios-eng

Can we build for iPhone 15 Pro?
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Heh there's no iPhone 15 with iOS 18 on Bitrise
  bitrise.yml
Owners: @mozilla-mobile/fxios-automation-1

Early work on supporting legacy or AS search preferences. Migration forthcoming.
  firefox-ios/Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
  firefox-ios/Client/Frontend/Settings/CustomSearchViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fix metrics for custom engine
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
Owners: @mozilla-mobile/fxios-eng

Telemetry fix
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
Owners: @mozilla-mobile/fxios-eng

Fixes
  firefox-ios/Client/Application/RemoteSettings/Application Services/ASSearchEngineProvider.swift
  firefox-ios/Client/Frontend/Browser/SearchEngines/SearchEnginesManager.swift
Owners: @mozilla-mobile/fxios-eng

.github/CODEOWNERS:

# Global owners, PRs needs an approval from a team member from fxios-eng by default
* @mozilla-mobile/fxios-eng

# Order is important; the last matching pattern takes the most
# precedence. 

# When someone opens a pull request that only modifies those folders / files,
# those specific persons will be asked for review and not the global owners.
/firefox-ios/Client/Experiments/initial_experiments.json @afurlan-firefox
/firefox-ios/Client/Assets/CC_Script @nbhasin2 @issammani
/firefox-ios/Client/Assets/RemoteSettingsData/ @nbhasin2 @issammani @mattreaganmozilla

# When someone opens a pull request that only modifies those folders / files, 
# only @mozilla-mobile/fxios-automation and not the global
# owners will be requested for a review.
/firefox-ios/firefox-ios-tests/Tests/UITests @mozilla-mobile/fxios-automation-1
/firefox-ios/firefox-ios-tests/Tests/XCUITests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests @mozilla-mobile/fxios-automation-1
/focus-ios/focus-ios-tests/ClientTests @mozilla-mobile/fxios-eng
bitrise.yml @mozilla-mobile/fxios-automation-1
.taskcluster.yml @mozilla-mobile/fxios-automation-1
/taskcluster @mozilla-mobile/fxios-automation-1
.github/workflows @mozilla-mobile/fxios-automation-1
/test-fixtures @mozilla-mobile/fxios-automation-1
/test-fixtures/generate-metrics.sh @mozilla-mobile/fxios-eng
