Repository mozilla-mobile/firefox-ios, pull requests merged in 2020-07, with the labels that each got.

#6906 [Today Widget] added strings to Strings.swift
  Client/Frontend/Strings.swift
Labels: String Update

#6905 iOS 14 Beta Support
  Cartfile
  Cartfile.resolved
  Sync/CleartextPayloadJSON.swift
Labels: iOS14

#6919 [String Update] - Updated string formatting at various places in the app
  Client/Frontend/Settings/AppSettingsOptions.swift
  Client/Frontend/Strings.swift
Labels: String Update

#6869 Wrap long text in ETP message in action sheet popup
  Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetCell.swift
Labels: 2

#6988 Add breach alerts strings
  Client/Frontend/Strings.swift
Labels: String Update

#6992 Add breach alert icon to Logins List cells and display if item is breached
  Client.xcodeproj/project.pbxproj
  Client.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Client/Assets/Images.xcassets/Breached Website.imageset/Breached Website - Medium.pdf
  Client/Assets/Images.xcassets/Breached Website.imageset/Breached Website.pdf
  Client/Assets/Images.xcassets/Breached Website.imageset/Contents.json
  Client/Frontend/Login Management/BreachAlertsManager.swift
  Client/Frontend/Login Management/LoginDataSource.swift
  Client/Frontend/Login Management/LoginDetailTableViewCell.swift
  Client/Frontend/Login Management/LoginListTableViewCell.swift
  Client/Frontend/Login Management/LoginListViewController.swift
  Client/Frontend/Login Management/LoginListViewModel.swift
  Client/Frontend/Settings/LoginDetailViewController.swift
  ClientTests/BreachAlertsTests.swift
  ClientTests/LoginsListViewModelTests.swift
Labels: Feature 🎁

#6956 Fix #6935 : [Today Widget] Go to copied link
  Client/Frontend/Strings.swift
  Extensions/Today/ImageButtonWithLabel.swift
  Extensions/Today/Images.xcassets/go-to-copied-link.imageset/Contents.json
  Extensions/Today/Images.xcassets/go-to-copied-link.imageset/go-to-copied-link-1.pdf
  Extensions/Today/Images.xcassets/go-to-copied-link.imageset/go-to-copied-link-dark.pdf
  Extensions/Today/Images.xcassets/go-to-copied-link.imageset/go-to-copied-link.pdf
  Extensions/Today/Images.xcassets/search-button.imageset/Contents.json
  Extensions/Today/Images.xcassets/search-button.imageset/search-1.pdf
  Extensions/Today/Images.xcassets/search-button.imageset/search-dark.pdf
  Extensions/Today/TodayModel.swift
  Extensions/Today/TodayUX.swift
  Extensions/Today/TodayViewController.swift
  Extensions/Today/TodayViewModel.swift
Labels: Feature 🎁, String Update

#7017 Fix #6465: Add UI test case for a BLOB download
  XCUITests/DownloadFilesTests.swift
Labels: Test-Automation
