Repository mozilla-mobile/firefox-ios, pull requests merged in 2020-04, with the labels that each got.

#6349 Fix #6348: Correctly process engine enablements on first sync.
  Sync/SyncStateMachine.swift
Labels: Needs QA 🔎

#6412 Fix #6380: crash due to login prompt string format having extra placeholder
  Client/Frontend/Strings.swift
Labels: String Update

#6456 Bug #6380: Change L10N string ID to ensure it gets updated
  Client/Frontend/Strings.swift
Labels: String Update

#6420 Test to run snapshots tests faster
  Client.xcodeproj/project.pbxproj
  Client.xcodeproj/xcshareddata/xcschemes/L10nSnapshotTests.xcscheme
  L10nSnapshotTests/L10nIntroSnapshotTests.swift
  L10nSnapshotTests/L10nSnapshotTests.swift
  L10nSnapshotTests/L10nSuite1SnapshotTests.swift
  L10nSnapshotTests/L10nSuite2SnapshotTests.swift
Labels: Do Not Merge ⛔️

#6306 Issue #6253 - add undo button on toast when removing bookmark from ph…
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Strings.swift
  Client/Frontend/Widgets/PhotonActionSheet/PageActionMenu.swift
  Storage/Rust/RustPlaces.swift
Labels: 2, Needs UX Feedback 🎨

#6509 Fix #6433 - Landing strings for onboarding screen
  Client/Frontend/Strings.swift
Labels: String Update
