Repository mozilla-mobile/firefox-ios, pull requests merged in 2021-09, with the labels that each got.

#9088 For #9072: Add new test for Home button
  Client.xcodeproj/project.pbxproj
  XCUITests/HomeButtonTests.swift
  XCUITests/PerformanceTestPlan.xctestplan
  XCUITests/SmokeXCUITests.xctestplan
  XCUITests/SyncIntegrationTestPlan.xctestplan
Labels: eng:ui-test

#9136 FXIOS-3166: Pull to refresh pages
  Client/FeatureFlags/FeatureFlagsManager.swift
  Client/FeatureFlags/FlaggableFeature.swift
  Client/Frontend/Browser/Tab.swift
  Client/Frontend/Browser/TabScrollController.swift
  Client/Frontend/Settings/AppSettingsOptions.swift
  Client/Frontend/Settings/AppSettingsTableViewController.swift
  Client/Telemetry/TelemetryWrapper.swift
  Client/metrics.yaml
  Shared/Prefs.swift
Labels: Needs-UX

#9142 Closes #8962: Add Tab Counter tests
  Client.xcodeproj/project.pbxproj
  XCUITests/PerformanceTestPlan.xctestplan
  XCUITests/SmokeXCUITests.xctestplan
  XCUITests/SyncIntegrationTestPlan.xctestplan
  XCUITests/TabCounterTests.swift
Labels: eng:automation, eng:ui-test
